[2019-01-10 23:25] LefterisJP commented on #3249
note: This is on `v0.100.2-rc1`. Wonder why it says `0.100.2rc2` @kelsos

[2019-01-11 07:16] kelsos commented on #3249
@LefterisJP I went through the databases, just to be sure. All nodes seems to started all times with the `rc2` but and there is something really weird going on with `B`. The last log is at 14:00:42 utc, it says it started with `0.100.2rc2.dev2+gea7a7387` and I can see that there is a line in the database that it run on 14:00:47 with the same version.

I stopped all my nodes at 14:01 to write the i

[2019-01-11 10:49] kelsos commented on #3249
So I did another run and the same thing happened again. this time there were no weird values in the database for sure.

[2019-01-11 11:12] andrevmatos commented on #3254
On last bullet point, about `RefundTransfer`, maybe we can rely on the `SecretReveal` => `Secret/Unlock` from a mediator/initiator to next mediator on the failed routes with refunded transfers to stop retrying, removing the need for `Processed` on it too (same logic for normal reveal/unlock apply then. To investigate.

[2019-01-11 12:43] LefterisJP opened #3257 "Querying the API for channel list with a token address but not a partner address causes 500 error"
## Problem Definition

This was [reported](https://gitter.im/raiden-network/raiden?at=5c385888e7832c7aa8aa0edc) by a user in gitter. Logs and db can be fetched from there.

Important part is this stack trace:

[code]

coming right after a call to events of a token network without specifying a partner address:

[code]

The problem is rather simple. The assertion for the result being a `list` fails

[2019-01-11 14:38] karlb opened #3260 "Monorepo config for CircleCI"
After the discussion in https://github.com/raiden-network/team/issues/227, I tried to move towards to monorepo approach in https://github.com/raiden-network/raiden/pull/3255. For a monorepo to be realistic we need an appropriate CI configuration which does not execute all jobs/workflows on every commit but instead checks which projects are affected by the change.

CircleCI has no official support

[2019-01-11 16:38] #3257 closed

[2019-01-11 16:50] LefterisJP commented on #3249
Hmm that sucks. We should look at this asap then.

We should make a reproducible scenario in a test and find the root cause of the problem.

[2019-01-12 23:20] LefterisJP commented on #3252
I like the idea of decoupling transport from Raiden Service. Thank you for the detailed issue on how this can be achieved.

So apart from the easy ones like the `address` change it seems you suggest to achieve this by changing composition to callback based relationship.

[2019-01-12 23:49] andrevmatos commented on #3252
Yes, at least for the "events" _coming_ from the transport. Another similar (callback-based) approach is some pattern like [EventEmitter](https://pypi.org/project/gevent-eventemitter/), but as the normal callback pattern is already present in `AlarmTask` and `MatrixClient`, I think it'd be better for now

[2019-01-14 03:06] hackaugusto commented on #3254
We have discussed this in the past multiple times, in my opinion is that this is a bad idea. My comments on the proposal:

#### Regarding the abstract

I believe the claim about *latency* here is wrong (I agree with the load though).

From the perspective of a single transfer: There is no waiting involved with either Delivered or Processed messages. These messages do not contain a balance proof, a

[2019-01-14 03:43] hackaugusto commented on #3132
Just a note, the name used in the [`type` for the Secret message](https://github.com/raiden-network/raiden/blob/1466689bd21bf7a4e285784bc502b3620fdc44ba/raiden/messages.py#L674) can be a hard coded string, the class and it's usage in the code base can be renamed.

[2019-01-14 03:54] hackaugusto opened #3262 "Matrix transport must leave unused rooms"
The logic to leave rooms was disabled as part of a bug fix and needs to be re-enabled. [reference](https://github.com/raiden-network/raiden/pull/3123/files#r239117232)

[2019-01-14 04:07] hackaugusto opened #3263 "Handle parity's imported error by txhash"
## Abstract

If parity returns the error "Transaction with the same hash was already imported" when sending a transaction, the corresponding transaction by hash must be searched in the pool, if present the error should be ignored.

## Related

Parity "Transaction with the same hash was already imported" error #3211

## Motivation

PR https://github.com/raiden-network/raiden/pull/3212/ fixed the re

[2019-01-14 04:44] hackaugusto commented on #3096
This is a duplicate of https://github.com/raiden-network/raiden/issues/1202

[2019-01-14 04:44] #3096 closed

[2019-01-14 12:21] LefterisJP commented on #3233
A user in gitter also got the same with the exchange union matrix server: https://gitter.im/raiden-network/raiden?at=5c3be3899fa58135b55fb063

How can we determine if it is indeed a problem of that server?

[2019-01-14 13:03] andrevmatos commented on #3254
Thank you, @hackaugusto for your thoughts. But I think some misunderstandings happened, and would like to get your position on the clarifications below:

That's true for UDP, but on matrix you need to consider each event incurrs in ramp-up-down times for `/sync` requests on receiver and on sender (sender receives its own messages too, even if they're ignored) which, for a relatively slow method li

[2019-01-14 13:31] CosminNechifor commented on #3249
Experienced the same thing on mainnet. Running the ``raiden-v0.100.2rc3.dev2+g04356e2c-linux`` binary.

### Nodes:
1. ``0xD6e68536eCe0Eac02b39317FdCE814087Bae6118``
2. ``0xB2C94bBaf307C6DfBf70Cc2537385553385a345b`` <- closing party

### Settle transactions for:

- ``0xD6e68536eCe0Eac02b39317FdCE814087Bae6118`` can be found [here](https://etherscan.io/tx/0x0f0fd65769e5f7f97651aaab658e41bb422a2c7a92

[2019-01-14 14:08] ulope commented on #3262
This can only be fixed after we increase test coverage on the transport and have a reliable test that can tell us if we re-introduce hanging transfers.

[2019-01-14 14:11] rakanalh commented on #3071
Edited the issue to integrate codecov instead of coversall.

[2019-01-14 14:12] LefterisJP commented on #3071
I changed the assignment since it's @jomuel handling circle stuff.

[2019-01-14 14:14] rakanalh opened #3266 "CircleCI build deployment"
## Abstract

Previously, TravisCI was used to perform nightly and release builds which are then deployed on github & the AWS nightly bucket. Since the move to CircleCI, these haven't been ported along with the rest of the CI tasks.

## Specification

1. A nightly build should be triggered on TravisCI and the build artifacts should be deployed on the nightly AWS bucket.
2. Tagging a release on gith

[2019-01-14 14:15] jomuel commented on #2649
Closing this as we have settled for an approach to fuzz testing now and started implementing it. Current issues tracking fuzz testing (split into the different parts of the state machine) are #1155, #1156, #1157 and #3246.

[2019-01-14 14:15] #2649 closed

[2019-01-14 14:17] andrevmatos commented on #3080
Probably fixed by raiden-transport changes and #3180 on client side

[2019-01-14 14:19] ulope commented on #2505
Superseeded by: #3254

[2019-01-14 14:21] ulope commented on #2234
Needs to be verified if the bug is fixed.

[2019-01-14 15:15] LefterisJP commented on #3080
Shouldn't this be easy to test? I would rather have a test to say that this is fixed or not.

[2019-01-14 15:19] jomuel commented on #3260
Another idea that came up in the discussion was to use commit tags like `[ci contracts]`, `[ci pathfinding]` etc. to mark which part of the monorepo build should be triggered. However, since CircleCI does not support these tags well, so we would probably end up manually parsing commit messages and then again skipping single jobs.

On top of that, the tag approach would be errorprone. If we avoid a

[2019-01-14 15:55] hackaugusto commented on #3254
This is not specific to the delivered and processes messages, how does this implies *these messages* incur **latency**?

The above assumes that only the nth-first messages of the queue are sent.

That was the point, implicit meaning is not a good thing.

This is not a sufficient condition, what if the recipient is offline while the lock expires? The locked transfer retries stop and the remove expi

[2019-01-14 16:24] andrevmatos commented on #3254
incur latency because they're unneeded. any unneeded message incur latency, given matrix internals

All messages are always retried, until we're certain they can be cleared. If an out-of-order message is rejected, they previous message will be retried, and eventually they'll be accepted. "queue" won't be halted by non-confirmed messages.

IMHO **it is**, if it's inherent from the protocol. e.g. `L

[2019-01-14 17:01] hackaugusto commented on #3262
should we have another issue for the test?

[2019-01-14 17:59] hackaugusto commented on #3217
I wonder if this only happened because we processed the send unlock twice (once for the `alarm.first_run` and another from `_initialize_transactions_queues`), or if we *also* have a problem with the clearing of the queue.

[2019-01-14 18:09] hackaugusto commented on #1966
Interesting, we have an bullet point for ` An unlock fails because that participant channel state is already unlocked` which was not implemented and resulted in the problem https://github.com/raiden-network/raiden/issues/3217 . @rakanalh I believe we discussed about this, but I do not recall why we didn't implement it, do you remember?

[2019-01-14 20:13] hackaugusto opened #3268 "Model smart contract function calls as commands"
## Abstract

To support `Cancel in-flight transactions` #2801 and `Transaction prioritization` #2802 it's necessary an object to represent transactions, much like the `ContractSend*` state changes, but that can be manipulated by a transaction manager.

Additionally, the current implementation of the proxies are cumbersome, as of 1466689bd21bf7a4e285784bc502b3620fdc44ba [the token network proxy](ht

[2019-01-14 20:45] LefterisJP commented on #3262
There is a meta one. Perhaps it can be added there: https://github.com/raiden-network/raiden/issues/3124

[2019-01-14 21:01] hackaugusto commented on #3124
We also need tests for hanging transfers, issue #2779 . From what I gathered the tests is for concurrent updates to account data

- [ ] Test that a *single* update to account data are stored in the matrix server
- [ ] Test the *single* update is recovered on restarts
- [ ] Test that concurrent updates don't race, and that the latest one will be respected and loaded on the following restart (we nee

[2019-01-14 22:21] hackaugusto commented on #3185
Anything else for this issue? [retries are literally](https://github.com/raiden-network/raiden/blob/621963ec483cb6ef29d501b3bce8515da254c280/raiden/network/transport/udp/udp_transport.py#L130-L139) the only way UDP sends messages (however this does not mean there are no bugs)

[2019-01-14 23:09] LefterisJP commented on #3185
@hackaugusto yes. I updated the description to give proper context.

[2019-01-15 08:16] karlb commented on #3260
I asked the support for suggestions on this issue to make sure that we're not missing anything. Here's the response:

[2019-01-15 09:31] rakanalh commented on #3196
I'll double check my investigation from above and see if we missed anything

[2019-01-15 10:31] Dominik1999 opened #3273 "Monitor Requests (blinded balance proofs) must be published into a global matrix room"
## Monitor Requests must be published to be picked up by Monitoring services

As described in the [Raiden Spec](https://raiden-network-specification.readthedocs.io/en/latest/monitoring_service.html) Monitor Requests will be published into a global Matrix room, see [here](https://github.com/raiden-network/raiden/issues/3243) for Monitoring services to be picked up. Therefore, the Raiden client need

[2019-01-15 10:33] Dominik1999 commented on #3273
@palango anything to add?

[2019-01-15 12:52] rakanalh commented on #3273
Tagging @ulope for the transport team to plan accordingly.

[2019-01-15 12:58] andrevmatos commented on #3185
4th point of #3252 proposes a specific interface for that, with an interface equivalent to `send_async(queue, message)`: `stop_retry(queue, message)`. It should be synchronous, and called when the message is removed from the queue (so core should know when to give up retrying any message)

[2019-01-15 15:08] rakanalh opened #3275 "Discussion of DB migrations solutions"
## Abstract

Having released Red Eyes, users who run Raiden will have a database setup for them in the current version which is 16. This database contains:
1. Snapshots of the chain state
2. state changes
3. events

Some bug fixes / features that are planned to be fixed / implemented might need to do one of 2 things:
1. Change the structure of the database (new columns, rename a column, create a t

[2019-01-15 16:01] konradkonrad commented on #3151
pingback #1722

[2019-01-15 17:24] #3235 closed

[2019-01-15 17:37] konradkonrad commented on #1722
That's one option, another one would be a (probably) user configurable policy, that takes _gas prices_ vs _unlock gains_ into account.

One possible way to achieve that:

`ContractSendChannelBatchUnlock` event has the expected received token amount, and a gas estimation attached.
Instead of creating a transaction right away, it will be held in a pool of potential transactions.

A "pool watcher" wi

[2019-01-15 22:12] rakanalh commented on #3196
I looked at the databases again and here are my findings:

Going back to Kelsos being Node A and Cosmin being Node B (if you want to think about them in our usual A->B topology, this is actually reversed as Cosmin was the initiator. Sorry for the confusion, if any):

1. (B) sends (A) a transfer
2. (A) Sends (B) a refund
3. Up until now they both have the same locksroot since both transfers are exa

[2019-01-16 05:39] hackaugusto commented on #3196
To clarify: I'm not concerned with the locksroot being equal, this is expected to happen and to this regard I agree with the analysis. I don't agree with the node *search in the events for a balance proof of the partner*.

If the merkle trees differed, **the locksroot would be different**, this is not the reason for the difference in the balance hash. The balance hash **can** be equal *or* differe

[2019-01-16 09:13] rakanalh commented on #3196
I've reconstructed the query based on what we see:
[code]

And the record is found.

To be continued

[2019-01-16 10:08] CosminNechifor commented on #2482
@christianbrb  I've tried to create windows binaries on a win10 VM but ended up failing, always ending up with a different problem.

My question is: Do we really want to provide native windows binaries? I am asking this because I don't see the need. The user could use the linux binary inside WSL or use the docker image. In my opinion we should focus more on improving the tutorials for those.

[2019-01-16 10:47] ulope commented on #2906
Will be obsolete once #3172 is merged.

[2019-01-16 10:47] #2906 closed

[2019-01-16 10:48] ulope commented on #2613
Will probably be obsolete once #3172 is merged.

[2019-01-16 10:50] ulope commented on #2383
We won't be using the room history in the foreseeable future since we can't be sure about the storage retention on the community hosted Matrix servers.

[2019-01-16 10:50] #2383 closed

[2019-01-16 11:05] ulope commented on #3252
In Monday's transport teem meeting we decided on a deadline for discussion on this issue no later than 2019-01-25.

[2019-01-16 11:05] ulope commented on #3253
In Monday's transport teem meeting we decided on a deadline for discussion on this issue no later than 2019-01-25.

[2019-01-16 11:06] ulope commented on #3254
In Monday's transport teem meeting we decided on a deadline for discussion on this issue no later than 2019-01-25.

[2019-01-16 15:37] rakanalh commented on #3236
### Raiden Routing Meeting notes**:

**Participants**: @ulope @palango, @konradkonrad, @LefterisJP and @rakanalh

The purpose of the meeting was to discuss two topics:
1. Using source routing vs querying the PFS for routes at every hop.
2. If the changes from implementing the above are backwards-compatible or not.

#### Source routing vs query-at-every-hop approach

Source routing is an approach w

[2019-01-16 16:09] konradkonrad commented on #3275
I don't see an option for an explicit `raiden updatedb` command, which I think would be preferable over any automatic migration process on start. So basically:

- implement `updatedb` that migrates the complete db (through either of the proposed upgrade manager schemes), and _after_ successful migration replaces the old db (or rollback in case of an error).
- check the db version in the client cod

[2019-01-16 16:50] hackaugusto commented on #3275
@konradkonrad If we have a separate command, to upgrade these steps would have to be done in order:

- upgrade software
- stop raiden
- run migration
- start with the new version

If the step is not done then the new version needs to crash (otherwise weird errors would pop-up). Is that what you are proposing?

[2019-01-16 16:53] konradkonrad commented on #3236
To add to my quote:

I am afraid that using the source provided route is not in the best interest of all mediators:
A) A mediator will need to assess the probability of the provided route to fail/succeed anyway, because this is the probability to gain mediation fees vs having capital locked up.
B) wealthy attackers can use source routes to lock/drain certain parts of the network by providing dead-

[2019-01-16 17:58] hackaugusto commented on #3236
Using "query-at-every-hop approach" doesn't need any new state changes or events. The only thing needed is to change the [get_best_routes](https://github.com/raiden-network/raiden/blob/d6f3bd8d36b6ea63cd20749312a04d2e635914bf/raiden/routing.py#L20) function to query the PFS

[2019-01-16 18:05] hackaugusto commented on #3236
To add to what konrad said: I actually would expect mediators to run the bundle, which includes the PFS, and the mediator can just not fee itself for its own query

[2019-01-16 18:38] palango commented on #3236
This is true, but the request will be a context switch and so has to be taken out of the state machine.

[2019-01-16 18:38] hackaugusto commented on #3253
Please, don't go about refactoring the message without thinking about the rest of the code base. We should avoid using different approaches for the messages/state machines/data transfer object/etc.

[2019-01-16 18:39] hackaugusto commented on #3236
get best routes is outside of the state machine, it's called [by the raiden service](https://github.com/raiden-network/raiden/blob/d6f3bd8d36b6ea63cd20749312a04d2e635914bf/raiden/raiden_service.py#L128-L135) while the state change is being created.

[2019-01-16 18:40] konradkonrad commented on #3236
I guess that depends on the throughput...

[2019-01-16 18:59] jomuel opened #3281 "Possible bug: secret request for settled channel results in uncaught exception"
As turned out during fuzz testing, the following sequence of state changes:

- Initiating a transfer,
- settling the channel it belongs to,
- then getting a secret request for it

makes `initiator_manager.state_transition` raise a `KeyError` that does not seem to be caught anywhere. Could this lead to a crash ?

To reproduce, unskip and run `raiden/tests/unit/fuzz/test_state_changes.py::test_try_s

[2019-01-16 19:32] hackaugusto commented on #3268
First refinement, only changed methods are shown:

[code]

[2019-01-16 19:53] hackaugusto commented on #1722
I would remove this event altogether, and have this pool watcher decide when to queue the transaction (it would have to listen for `ContractReceveiChannelSettled` events)

[2019-01-16 20:17] hackaugusto commented on #3184
One solution is to rely on receipts https://github.com/raiden-network/raiden/issues/368 . If the target provides part of the secret, the initiator and the target must cooperate *before starting the transfer*, this is important because if the target wants to reject it can just not provide it's half of the secret and the transfer is not even started, meaning we don't have to use any of the network c

[2019-01-16 20:30] hackaugusto opened #3282 "Only start payments to targets which the initiator can communicate"
## Abstract

Avoid sending payments to targets which communication would fail (incompatible protocol versions).

## Motivation

`Support for refusing unwanted payments` #3184 can introduce a feature where payments would be outright rejected. This would be a problem for upgradability, since at the moment payments are sent to any target if a route is available, interaction with subsequent releases w

[2019-01-16 20:36] hackaugusto opened #3283 "Introduce protocol handshake"
## Abstract

Nodes must be able to detect if the protocol versions are compatible with each other.

## Motivation

During client upgrades the network will have mixed protocols versions. Having a handshake improves the network health by avoiding communication across incompatible versions.

## Specification

To be done.

Is a monotonic increasing version number sufficient? Are capabilities necessary

[2019-01-16 20:51] hackaugusto commented on #490
I think this is a non-issue. Receiving the same transfer twice could sometimes be a problem, but it does not mean it will always be a problem.

[2019-01-16 20:51] #490 closed

[2019-01-16 20:53] hackaugusto commented on #1206
This is being done gradually, this issue is not really good on its own.

[2019-01-16 20:53] #1206 closed

[2019-01-16 20:53] LefterisJP commented on #3283
This is related: https://github.com/raiden-network/raiden/issues/2161 I guess or even a duplicate?

[2019-01-16 20:53] andrevmatos commented on #3283
One possible approach on this is to, instead of using new messages, a node could _inform_ its protocol version through transport, e.g. matrix's `displayName`, which is already used for other metadata (currently, used only for the _proof-of-keys_ signature of userId, but expansible through added-and-signed custom fields).

[2019-01-16 20:55] hackaugusto commented on #1544
Related #3252

[2019-01-16 20:57] #1628 closed

[2019-01-16 20:58] hackaugusto commented on #1865
we dropped support for tester a while ago.

[2019-01-16 20:58] #1865 closed

[2019-01-16 20:58] hackaugusto commented on #1895
this should be working fine.

[2019-01-16 20:58] #1895 closed

[2019-01-16 20:59] hackaugusto commented on #2012
@andrevmatos @ulope is this still relevant?

[2019-01-16 21:00] hackaugusto commented on #2014
@loredanacirstea @czepluch  is this still relevant?

[2019-01-16 21:01] hackaugusto commented on #2017
The data published with the raiden-contracts packaged should be enough, I guess the addresses from that package can be trusted, everything else not.

[2019-01-16 21:03] hackaugusto commented on #2044
done by 66c04b2eb4046c4f0a2b63c412b15842f7eb1db3

[2019-01-16 21:03] #2044 closed

[2019-01-16 21:04] hackaugusto commented on #2017
related: #2117 https://github.com/raiden-network/raiden-contracts/issues/359

[2019-01-16 21:04] hackaugusto commented on #2120
This doesn't seem to be flaky anymore

[2019-01-16 21:04] #2120 closed

[2019-01-16 21:09] hackaugusto commented on #2129
We introduced a lookahead strategy a while ago, https://github.com/raiden-network/raiden/pull/2031, a node without enough funds will be warned, this is the best we can do.

[2019-01-16 21:09] #2129 closed

[2019-01-16 21:10] hackaugusto commented on #2156
@rakanalh is this still relevant? could you list the tests you have in mind?

[2019-01-16 21:13] hackaugusto commented on #2157
@rakanalh is this still valid? If you think we still need the tests, I would argue it should be limited to the serializers and do the same thing we have for messages:

https://github.com/raiden-network/raiden/blob/9d8feb2f71e45174b86294df822efacdf26020c0/raiden/tests/unit/test_binary_encoding.py#L85-L96

[2019-01-16 21:14] hackaugusto commented on #2161
What could be done as ground work has been done, now we need to make sure that changes to the message format maintain compatibility.

[2019-01-16 21:14] #2161 closed

[2019-01-16 21:15] hackaugusto commented on #3268
related: #2194

[2019-01-16 21:30] LefterisJP commented on #2156
I guess it's implicitly tested through all of our end to end and API tests

[2019-01-16 21:34] hackaugusto commented on #2322
After #1473 Raiden is using web3's strategies, @ulope is that enough?

[2019-01-16 21:36] #2467 closed

[2019-01-16 21:37] hackaugusto commented on #2505
@ulope shouldn't this be closed because of the same reason as https://github.com/raiden-network/raiden/issues/2383#issuecomment-454736011? (and also, this is superseded)

[2019-01-16 21:40] hackaugusto commented on #2661
That is correct behavior in this case, the node lost a race to open the channel as shown by the last line of your logs.

[2019-01-16 21:40] #2661 closed

[2019-01-16 21:40] LefterisJP commented on #2014
@hackaugusto I am closing this since all contract deployment should be on the contracts repo and the linked doc does not even exist.

[2019-01-16 21:40] #2014 closed

[2019-01-16 21:44] hackaugusto commented on #2156
I agree with @LefterisJP

[2019-01-16 21:47] hackaugusto commented on #2161
I see, I was under the impression it was about groundwork because of the other items in the list. So we can just supersede this with #3283

[2019-01-16 21:51] hackaugusto commented on #3283
Yeah, the means which are used to inform the version can be transport dependent. However, we need to first decide on a scheme, what are the minimum requirements for a version scheme which allows us to upgrade so that nodes can decide when communication will work.

[2019-01-16 21:54] hackaugusto commented on #3268
related `Improve transaction error handling` #2719 , this provides a model to implement `is_valid` methods.

[2019-01-16 21:56] hackaugusto commented on #2707
Related #1121

[2019-01-16 21:57] hackaugusto commented on #2957
direct transfers were removed from the code base

[2019-01-16 21:57] #2957 closed

[2019-01-16 22:00] andrevmatos commented on #2012
Yes, this is a backlog related to #2385 and #3199 , not required for now but should eventually be measured and dealt with, if needed.

[2019-01-16 22:02] ulope commented on #2505
We agreed to keep it open until there is a decision on #3254

[2019-01-16 22:04] ulope commented on #2012
Yes, it’s still relevant not at all a priority though.

[2019-01-16 22:04] hackaugusto commented on #3273
related https://github.com/raiden-network/raiden/issues/1432

[2019-01-16 22:16] hackaugusto commented on #3196
If the code changes from the PR are reverted, will the test fail?

[2019-01-16 22:21] LefterisJP commented on #2161
Fine by me

[2019-01-17 08:51] LefterisJP commented on #3275
@rakanalh

For "Loading migrations":

Hey @rakanalh I don't understand this as a PRO of the 2nd solution (upgrade manager) for loading migrations. Can you maybe explain? To me the first solution sounds a lot simpler and I don't see any cons for it.

For applying migrations:

I think option 2 would be the way to go. The bigger the DB gets, the more upgrades we do, the more work the getters would ha

[2019-01-17 10:37] rakanalh commented on #3275
@LefterisJP
Autoloading for the migrations is explained:

So basically, the hardcoded list would be an explicit way to say: here is the migration function you need to run between v1 and v2. But with finding and autoloading the migration would be implicit. Creating the migration script file is the only explicit action you need to take for the manager to know if a migration exists for a certain vers

[2019-01-17 10:43] rakanalh commented on #2157
I think this was implemented at some point in `test_sqlite.py`. Closing issue.

[2019-01-17 10:43] #2157 closed

[2019-01-17 10:44] rakanalh commented on #2156
The problem i see with implicitly testing the service is that not all code paths are properly visited. However, given the needed setup for the tests, i think it's going to be somewhat hard to test this in isolation.

Closing issue.

[2019-01-17 10:44] #2156 closed

[2019-01-17 12:01] LefterisJP commented on #3275
I think I get it. So the question is between one big function with `if elif else` and a list of files each containing a single version update script which would be attempted? So end result is pretty much the same, just the list is more well organized. So we want the same thing.

[2019-01-17 13:49] hackaugusto commented on #3283
Question is: Are there reasons to believe the message format will evolve separately from application compatibility? (At first I thought #3184 would be a reason to change the semantics of the protocol without changing the protocol format, now I'm not so sure.)

I'm asking this because if we believe the semantics are tied to the messages, we can just have an monotonic increasing protocol version num

[2019-01-17 13:51] konradkonrad commented on #3275
@LefterisJP

In the PR discussion, the terms "replay" and "on-demand" were thrown around, and with my proposal I want to clearly firewall (the development of) migrations and client startup procedure.
e.g. https://github.com/raiden-network/raiden/pull/3227#discussion_r247558417

Nothing against trying to auto run the `upgradedb` command in case of a `DBVersionMismatchException` during client start

[2019-01-17 15:42] palango commented on #3236
@rakanalh @hackaugusto I can prepare a PR for this.

[2019-01-17 16:37] LefterisJP commented on #3236
As discussed today @palango I think this is a good idea for you to start on this as it will free others for the other problems we are seeing. Will assign you and if situation changes we can re-discuss.

[2019-01-17 17:24] ulope commented on #3275
We should take a few queues from other db migration implementations.

Basically every tool I've used in the past has had the following properties:

1. **Files are auto-discovered / imported from a well known location**
1. **One file := one version**
1. **Each module exposes functions with well known names (e.g. `upgrade`, `downgrade`).**
1. The database interfacing functionality is either:
    1.

[2019-01-17 17:37] rakanalh commented on #3275
Exactly what's implemented in #3227.

The upgrade manager also takes care of this. The backup file is created and restored in case of an upgrade failure.

They could still be done through this migration mechanism through manually writing an `ALTER TABLE` statement... i excluded them because alembic was brought up at some point in time when discussing this but i agree that we can and should use thi

[2019-01-17 17:41] rakanalh commented on #3275
I disagree... both the "list of migration files" and the list of functions approaches are ways to organize thie migrations. The list approach will make us run ALL migrations regardless of which version you're currently running, by doing this each migration should check if it's upgrading the correct version in that case which is out of it's scope (the caller of the migration should only call the mi

[2019-01-17 17:43] rakanalh commented on #3275
See my comment above. It's easier to implement the list but the added complexity somewhere else is also something to consider.

[2019-01-17 17:51] LefterisJP commented on #3275
Hmm I may not understand correctly then. Can you perhaps quickly show the different with pseudocode? I think in this case it would be much easier to understand.

[2019-01-17 17:56] rakanalh commented on #3275
Example of list migrations would be:
[code]

Example of a migration taken from #3227 which implements the single-file-per-migration approach:

https://github.com/raiden-network/raiden/blob/e2727a58b4862ba21aa5d33a57c204e8e79814ab/raiden/utils/migrations/v16_to_v17.py

The upgrade manager:
https://github.com/raiden-network/raiden/blob/e2727a58b4862ba21aa5d33a57c204e8e79814ab/raiden/utils/upgrades.p

[2019-01-17 17:59] hackaugusto commented on #3275
I don't understand why this argument is brought up, if you want to compare:

list of functions:
- call each function

list of files:
- needs to call the OS
- glob to pattern match against the filenames
- dynamic load the modules

either way, *both are negligible*

[2019-01-17 18:02] rakanalh commented on #3275
:smile: you're right... maybe i am biased.

[2019-01-17 18:03] hackaugusto commented on #3275
This is also true to applying the migration to all elements, it will be proportional to the number of entries.

[2019-01-17 18:06] rakanalh commented on #3275
Alright... let's just vote:

#### Autoloading
:one:: List approach
:two: Dynamic approach

#### Applying migrations:
:three: In getters
:four: During startup

@hackaugusto @konradkonrad @LefterisJP @ulope

[2019-01-17 19:31] hackaugusto opened #3285 "Gracefully handle JSON exception on alarm task"
The stack trace bellow happened when I killed the smoketest locally, I guess geth was killed and the rpc call returned an empty string.

catching the json error and re-raising a `EthNodeCommunicationError` should be sufficient to gracefully handle this.

## Problem Definition

[code]

[2019-01-18 11:15] ulope commented on #3252
Thanks @andrevmatos for the detailed writeup. I agree that this is something we should do. It will also help us get rid of the circular dependency.

Things that come to mind (in no particular order):
- `MatrixTransport._handle_message` uses helpers from `raiden.messages` to turn the incoming bytes / json into `Message` instances. Ideally this should also be decoupled and put into its own helper.
-

[2019-01-18 13:04] ulope opened #3290 "Improve matrix_transports fixture to allow generating an arbitrary number of transports"
## Abstract

As mentioned in [the PR review](https://github.com/raiden-network/raiden/pull/3172#discussion_r249024248) for #3172 it would be a good idea to allow the new `matrix_transports` fixture to generate an arbitrary number of transports independent of the server count.

## Specification

We need to come up with a way to distribute the number of transports across the existing servers. Round

[2019-01-18 13:09] #1590 closed

[2019-01-18 13:59] #3237 closed

[2019-01-18 14:01] rakanalh commented on #3275
Decision:

1. Create a list of migrations that need to be executed. Each migration should check if the passed versions match the ones this migration is upgrading. If that's the case, the migration becomes a no-op.
2. Run migrations on startup.

[2019-01-18 14:01] #3275 closed

[2019-01-18 14:20] rakanalh commented on #3281
The `KeyError` in this case is a crash. This is caused by:

https://github.com/raiden-network/raiden/blob/25d2816f5469d5af8f296024200f25255d5e4ee3/raiden/transfer/mediated_transfer/initiator_manager.py#L302

Should be resolved by #3227

[2019-01-18 15:23] #3071 closed

[2019-01-20 20:50] calinchiper commented on #3244
I get error using a private ethereum node.
What I did:
1) I created my private network using geth
2) Deployed Raiden contracts
3) Started the raiden script and referenced all the deployed contracts
`./raiden --keystore-path ~/blockchain/private/keystore/ --tokennetwork-registry-contract-address 0xeb51da6085659c9cBE2241E32A4C60572af8c6c1 --secret-registry-contract-address 0x0435ae45bc66Df745Ad30C66

[2019-01-21 08:55] ulope opened #3291 "Extract server discovery and shared room discovery / creation into utility function"
## Abstract

Sub-issue from #3243.
In the initial implementation the MS needs to be able to join a fully federated global room to receive balance proofs from Raiden clients.
Extract the server discovery / login mechanism and discovery room creation mechanism from the MatrixTransport into a utility function, this will provide a temporary solution to the MS until #3252 is implemented and the full Ma

[2019-01-21 09:39] rakanalh commented on #3249
Looking at the logs, i can see one log item which says:
[code]

Going through the database for that channel and participants... it seems like i can manage to find the related state change which matches the partner's locksroot:
[code]
[code]

[2019-01-21 12:36] andrevmatos commented on #3291
I think creation of the room should be quite easy, but this issue must also track filter receiving/sending logic for these _special_ rooms, since all send/receive logic holds certain assumptions about p2p architecture (e.g. `send_async` expects a peer address, receiving messages filters by invited-by peers). In this case, raiden transport should only send, not care about receiving, but some care m

[2019-01-21 13:16] ulope commented on #3124
@hackaugusto I pulled your suggested tests into the issue description

[2019-01-21 14:09] ulope commented on #3290
Assign to @err508 after code walkthrough

[2019-01-21 18:46] #2316 closed

[2019-01-22 08:43] pirapira commented on #3040
I'm dropping this while I take over the smart contracts.

[2019-01-22 08:44] pirapira commented on #3051
I'm dropping this while I'm taking over the smart contracts.

[2019-01-22 08:44] pirapira commented on #3120
I'm dropping this while I'm taking over the smart contracts.

[2019-01-22 12:23] rakanalh commented on #3254
My take away from this discussion:

The overall discussion is whether we should remove the dependency on receiving `Processed` when a node sends a balance-proof message because we can depend on other messages being sent as a side effect which eventually tell us that the node received and actually processed/accepted the previous message.
This is somehow related to our `pending_transactions` impleme

[2019-01-22 13:11] andrevmatos commented on #3254
@rakanalh good points. Yes, your understandings are mostly right, only some clarifications:

The second case is actually the current implementation, and the intended one: core/state machine knows when a message was received/processed (through handling of the confirmation messages, and push to the transport the information it can give up retrying that message. The only observation is that it does s

[2019-01-22 13:15] andrevmatos commented on #3254
You're right, currently they're part of the protocol. This proposal is about arguing they aren't strictly needed for it, somehow superfluous, and could be (mostly) taken out of it (at least as a hard requirement of the protocol, could be kept for compatibility for some time). Again, protocol is what we say it is.

Granularity of meaning is meaning, about what we consider different meanings for a g

[2019-01-22 13:24] andrevmatos commented on #3254
If this "side effect instead of Processed" isn't accepted, a **compromise** would be to use this approach at least for getting rid of `Delivered` messages, which already compose 50% of sent messages: `Delivered` is completely superfluous for all messages that require `Processed`, and the cases where it's used for confirmation are simpler than the cases for LockedTransfer raised by Augusto and Raka

[2019-01-22 13:24] jomuel opened #3301 "CircleCI builds fail at long-running test_secret_revealed test"
CircleCI builds are flaky at the moment as one of the tests:

`raiden/tests/integration/long_running/test_integration_events.py::test_secret_revealed[matrix-False-channels_per_node0-3]`

tends to fail with `Too long with no output (exceeded 10m0s)`. The test is not particularly slow when run locally so there seems to be a specific problem (deadlock or something) occurring in CircleCI builds.

Unti

[2019-01-22 13:56] ulope opened #3302 "Event loop is regularly being blocked for longish periods"
## Problem Definition

Using the gevent monitoring thread (enable by setting the env var `GEVENT_MONITOR_THREAD_ENABLE=1`) shows that we're regularly blocking the event loop for longish periods (the max allowed blocking time can be controlled via `GEVENT_MAX_BLOCKING_TIME`, I used `0.1` and `0.5` as an example).

The main blocking culprits seem to be:
- sqlite
- deepcopy calls inside the state mac

[2019-01-22 14:36] palango opened #3303 "Only ask PFS if necessary"
## Abstract

With #3236 Raiden will ask the PFS for a path if the PFS is set. However, this is not necessary for transfers to direct channel partners. In this case the Raiden client shouldn't ask the PFS:

## Motivation

Not doing the request to the PFS will lower costs and increase latency of payments to direct partners.

## Specification

Before asking the PFS the client should check if:
- there

[2019-01-22 15:04] BOR4 commented on #3303
is it possible that due to low capacity in direct channel a payment gets routed via mediated transfer? If yes, is that wanted behaviour?

[2019-01-22 15:14] LefterisJP commented on #33
I am removing "needs discussion" label @hackaugusto. Since the time this was added we have more or less cleared out how they would work. See loredana's comment above.

[2019-01-22 15:20] LefterisJP commented on #3089
@pirapira Do the smart contracts plan to change their behavior for this in Ithaca? If yes we should keep this issue open and adjust the client behavior too. If not then I would say we should close this issue. What do you think?

[2019-01-22 15:21] pirapira commented on #3089
Now I believe, the easiest way is to keep the current behaviors.

[2019-01-22 15:45] narcis2007 commented on #872
I'm getting raiden.exceptions.AddressWithoutCode: [TokenNetworkRegistry]: Address 0x4a6E1fe3dB979e600712E269b26207c49FEe116E does not contain code
when I try to start raiden too

[2019-01-22 16:07] LefterisJP commented on #872
@narcis2007 please make sure that your geth is synced. And perhaps open another issue and attach all relevant logs.

[2019-01-22 19:00] rakanalh commented on #3089
If that's the case, i will remove it from the Ithaca milestone.

[2019-01-22 21:38] LefterisJP commented on #3089
And I will close it. If we need to revisit this then let's open another issue with a better definition.

[2019-01-22 21:38] #3089 closed

[2019-01-22 22:18] #3285 closed

[2019-01-23 08:29] narcis2007 opened #3306 "Can't start raiden, raiden.exceptions.AddressWithoutCode: [TokenNetworkRegistry]: Address 0x4a6E1fe3dB979e600712E269b26207c49FEe116E does not contain code"
- [x] The Ethereum node was always up to date with the chain tip and never stopped running.
- [x] No Ethereum transaction was sent for the account that Raiden manages by another app.
- [ ] The Ethereum account used by Raiden always had sufficient ETH.
- [x] The Raiden DB that exists by default at ~/.raiden was never altered or deleted.
- [ ] The Raiden node was never restarted. If yes please provi

[2019-01-23 08:32] LefterisJP commented on #3306
Can you remove `--no-sync-check`? The most probable cause of what you are seeing is that geth has not synchronized fully. You can also see it if you add `console` at the end of the geth command and when geth starts type: `eth.blockNumber` to see the current blockNumer and compare it to etherscan's highest block for ropsten [here](https://ropsten.etherscan.io/)

[2019-01-23 08:53] LefterisJP commented on #3301
Note: This issue is for fixing the test and not just skipping it, I suppose?

[2019-01-23 09:40] rakanalh commented on #1514
Untagged... the feature is postponed until after Ithaca is released.

[2019-01-23 19:26] #3306 closed, assigned to nobody

[2019-01-23 19:47] rakanalh commented on #2304
For now, we decided that the PFS will request the route at each hop.

[2019-01-23 19:47] #2304 closed

[2019-01-23 20:20] narcis2007 opened #3315 "raiden echonode stopping right away after start"
I try to start the raiden echonode like this and it stops after 2-3 seconds
➜  Raiden ./raiden echonode --token-address 0x7B1Fc0BAA785aBE33e5e601AE2121955C4A6843e
2019-01-23 20:16:34.440333 [info     ] Starting Raiden                [raiden.ui.runners] distribution=bundled python_implementation=CPython python_version=3.6.7 raiden=0.100.1 system=Linux 64bit_ELF 4.15.0-43-generic x86_64
➜  Raiden

I

[2019-01-23 20:33] narcis2007 commented on #3315
https://raiden-network.readthedocs.io/en/stable/api_walkthrough.html#interacting-with-the-raiden-echo-node

"For easy testing of Raiden, there is a specialized Raiden node running, the “Raiden Echo Node”. The Echo Node responds to received payments by sending a payment back to the initiator."

[2019-01-24 09:51] narcis2007 commented on #3315
@LefterisJP Can you tell me how can I test a payment in a channel then?

[2019-01-24 10:09] offerm opened #3317 "Return the secretHash and the Secret as part of payment response"
## Abstract & Motivation

Allow a Raiden payment to be used as part of a larger process were the payment is a step that should succeed based on external dependencies and conditions.

One example of such process is atomic swap of ERC20 and Bitcoin. In such process the ERC20 payment should succeed if and only if a Bitcoin payment succeeded.   A practical use case is described here https://hackmd.io/

[2019-01-24 10:35] offerm opened #3318 "Inject a hash with payment request (API)"
## Abstract & Motivation

Allow a Raiden payment to be used as part of a larger process were the payment is a step that should succeed based on external dependencies and conditions.

One example of such process is atomic swap of ERC20 and Bitcoin. In such process the ERC20 payment should succeed if and only if a Bitcoin payment succeeded.   A practical use case is described here https://hackmd.io/

[2019-01-24 10:58] offerm opened #3319 "Use 3rd party service (resolver) to find the secret for a secret_hash"
## Abstract & Motivation

Allow a Raiden payment to be used as part of a larger process were the payment is a step that should succeed based on external dependencies and conditions.

One example of such process is atomic swap of ERC20 and Bitcoin. In such process the ERC20 payment should succeed if and only if a Bitcoin payment succeeded.   A practical use case is described here https://hackmd.io/

[2019-01-24 11:33] czepluch commented on #3315
Hi @narcis2007!

You can run two nodes yourself and open a channel between them. You can start a second node, by simply giving it a flag that point to another api address `--api-address "http://localhost:5002"` and then open a channel with that node. When you start Raiden you should not provide the "echonode" argument.

[2019-01-24 12:54] rakanalh commented on #3244
@calinchiper I think this is an issue that has been fixed here: https://github.com/raiden-network/raiden/pull/2988/

While we don't recommend using latest master to run Raiden, you're using a private chain which i think should be fine in your case (But don't run latest master on mainnet, please wait for a newer release to include the fixes).

Please report back if the issue is fixed on latest mast

[2019-01-24 12:59] rakanalh commented on #3302
Is there a way to construct a flame graph to support this?

[2019-01-24 13:03] hackaugusto commented on #3302
https://github.com/uber/pyflame

[2019-01-24 13:19] #3301 closed

[2019-01-24 14:12] hackaugusto commented on #3268
Two notes:

- `TransactionManager.poll_transactions` may not be the best idea. The rationale was to only mine for the transaction at points in which it could have executed or not, reducing the number of rpc calls. However, the transaction execution is not the only important thing done by the polling, we also need to check if the transaction is in the transaction pool.
- This is missing a way to re

[2019-01-24 14:59] hackaugusto commented on #3302
Actually, I tried pyflame with py3.7 and py3.6 and it doesn't work with either.

For py3.7 the abi is not supported.
For py3.6 It seems to be a known bug https://github.com/uber/pyflame/issues/129 .
For py3.5 raiden is not compatible

I may reintroduce one of the tools we had for profilling

[2019-01-24 15:07] ulope commented on #3302
Gevent already shows where the blocking occurs when running with the variables I mentioned above.
It just needs someone taking the time to look through the generated output.
To make this a bit easier the [`exception_stream` variable](http://www.gevent.org/monitoring.html#blocking) can be set to a file for example so output isn't intermingled with the raiden logs.

For profiling there is also [py-s

[2019-01-24 19:43] narcis2007 commented on #3315
That worked to start the second node
I have one more question: will we be able to submit transactions through some sort of light client in the future? (not needing to run a node?)

[2019-01-24 19:47] #3236 closed

[2019-01-25 12:17] #3315 closed

[2019-01-28 10:54] kelsos commented on #3249
@rakanalh I will checkout master and go through it

[2019-01-28 11:09] jomuel opened #3335 "Finish unit test refactoring"
To improve readability of the unit tests and make writing/changing them easier, we wrote new factories for test objects. The old factories are still in use in some places, so it remains to use the new ones consistently and remove the old ones.

This is a follow up for issue #3025. The previous refactorings were done in pr #3108 and #3143.

[2019-01-28 11:10] jomuel commented on #3025
Follow-up issue: #3335

[2019-01-28 11:10] #3025 closed

[2019-01-28 11:19] ulope commented on #3253
(This has been talked about before, but just to document it in writing as well)
Related: #3302
When we're taking this on it would be a good opportunity to use [better datastructures](https://pyrsistent.readthedocs.io/en/latest/).

[2019-01-28 13:53] calinchiper commented on #3244
I will look after it this week.

[2019-01-28 14:05] ulope commented on #2613
@hackaugusto Have you seen this in the last week or so?

[2019-01-28 14:16] kelsos opened #3337 "Raiden crashes with parity"
## Problem Definition

When using raiden on the latest master with parity. Raiden will crash with an exception.

The response causing the crash seems to be the following:
[code]
And the full stacktrace is the following:
[code]

### System Description

Here add a detailed description of your system, e.g. output of the following script:

[code]

[2019-01-28 15:01] LefterisJP commented on #216
At minimum we will need user policies for:

- Allow customization of the fee function that is sent to PFS
- Specify for which channels to allow monitoring (aka for which channels to send BPs to the MS). That would probably depend on the value held in the channel. That's where the user defined exchange rate oracles mentioned by @konradkonrad  would also come into play.

[2019-01-28 15:54] #3266 closed

[2019-01-28 18:10] LefterisJP commented on #1926
Temporarily moved it to Ithaca as Red Eyes is done.

[2019-01-28 19:09] hackaugusto commented on #2613
Nope, I haven't seen this particular error in quite some time

[2019-01-28 19:10] ulope commented on #2613
Ok, then I'll close it for now.

[2019-01-28 19:10] #2613 closed

[2019-01-29 13:31] andrevmatos commented on #3253
As @hackaugusto said, we shouldn't do it independently of the rest of dataclasses on Raiden, but as transport's messages has some additional requirements to them (mainly, ability to binary-and-ordered-fields [de]serialize), and also have way more limited scope (they're accessed, serialized and deserialized in very specific places inside transport and messages handlers), I'd like to push for scopin

[2019-01-29 13:58] LefterisJP opened #3340 "Make development setup documentation executable."
## Problem Definition

[Suggested](https://github.com/raiden-network/raiden/tree/test-review/ob-review#suggestion) to us during the review of our tests.

[code]

Essentially instead of documenting the steps needed to setup a raiden development environment like we already do [here](https://github.com/raiden-network/raiden/blob/2e659fc4ee24b13b081de36abb2d05d7311896b3/docs/overview_and_guide.rst#ins

[2019-01-29 14:01] LefterisJP opened #3341 "Convert most makefile targets into tox environments"
## Problem Definition

[Suggested](https://github.com/raiden-network/raiden/tree/test-review/ob-review#organisation-of-testing-activities) to us during our test review. This is probably a nitpick so I also put the "needs discussion" label.

Suggestion is to convert most of the makefile targets into tox environments - at least the ones that use Python tools and need some setup in a virtualenv anywa

[2019-01-29 14:52] LefterisJP opened #3342 "Move tests outside the application directory"
## Problem Definition

[Suggested](https://github.com/raiden-network/raiden/tree/test-review/ob-review#test-layout) to us during our test review. This is probably a nitpick so I also put the "needs discussion" label.

Suggestion is to:

- Move the tests code outside the application directory.
- Organize fixtures as internal plugins rather than a colletion of modules inside the test packages. That

[2019-01-29 15:00] LefterisJP opened #3343 "Speed up the complete mypy integration"
## Problem Definition

[Suggested](https://github.com/raiden-network/raiden/tree/test-review/ob-review#mypy) to us during our test review.

Suggestion is to:

- Prioritize introduction of types to the entire codebase and enforce it in the CI. (@LefterisJP agrees 100% -- we have recently seen at least 1 [instance](https://github.com/raiden-network/raiden/pull/3331#discussion_r251049195) where mypy

[2019-01-29 15:02] LefterisJP opened #3344 "Unify all linting into a pre-commit hook setup"
## Problem Definition

[Suggested](https://github.com/raiden-network/raiden/tree/test-review/ob-review#pylint--flake8) to us during our test review.

Suggestion is to:

- Unify all linting checks (flake8, mypy, pylint) into a common [pre-commit](https://pre-commit.com/) hook setup. Add that to the documentation and contributing guide and ask all developers to be using this. This will make life eas

[2019-01-29 15:06] rakanalh commented on #3072
I believe this is done since #3266 is merged.

[2019-01-29 15:06] #3072 closed

[2019-01-29 15:10] LefterisJP opened #3345 "Add Given-When-Then descriptions in the convoluted integration tests"
## Problem Definition

[Suggested](https://github.com/raiden-network/raiden/tree/test-review/ob-review#suggestion-given-when-then) to us during our test review.

Suggestion is to:

- For the complicated integration tests where a lot is happening we could have a docstring at the start explaining what is happening in a high level manner using [Given-When-Then](https://en.wikipedia.org/wiki/Given-Whe

[2019-01-29 15:19] LefterisJP opened #3346 "Use fixture's name argument to communicate what fixtures inject into the tests"
## Problem Definition

[Suggested](https://github.com/raiden-network/raiden/tree/test-review/ob-review#suggestion-naming-things) to us during our test review. I (@LefterisJP ) am not sure if this would really be useful so I am adding a needs discussion label.

Suggestion is to:

- Utilize the `pytest.fixture()` name argument (check [source](https://docs.pytest.org/en/latest/_modules/_pytest/fixtur

[2019-01-29 15:34] hackaugusto commented on #3344
For reference, this is my current configuration based on @ulope :

[code]

[2019-01-29 15:43] LefterisJP opened #3347 "Simplify the tests fixture system"
## Problem Definition

[Suggested](https://github.com/raiden-network/raiden/tree/test-review/ob-review#simplifying-the-fixture-system) to us during our test review.

Our current fixture system uses fixtures even for constant values that can be parameterized. This leads to a very complicated and deep fixture interdependency tree. The end result is that all fixtures are stuck with the lowest common

[2019-01-29 15:43] hackaugusto commented on #3341
I think this is only a good idea if we remove the other options:

running the tests from setup.py
running the tests from make file
having custom scripts for travis/circleci

[2019-01-29 15:45] hackaugusto commented on #3342
I believe that we have them as a package because of the utils, I don't think the plugin will fix that, and some of these don't really need to live in the raiden code base (e.g. factories)

[2019-01-29 15:54] LefterisJP opened #3348 "Make even smaller unit tests and test important entities in isolation"
## Problem Definition

[Suggested](https://github.com/raiden-network/raiden/tree/test-review/ob-review#looking-at-some-unittests) to us during our test review. This is probably a bit nitpicky so I add the needs discussion label.

Suggestion is to:

- Make sure that a unit test is testing only one small thing in isolation. The reviewer claims that some unit tests like [test_get_events_with_balance_

[2019-01-29 15:58] LefterisJP opened #3349 "Approach for introducing more inside-out tests"
## Problem Definition

[Suggested](https://github.com/raiden-network/raiden/tree/test-review/ob-review#how-to-introduce-more-inside-out-tests) to us during our test review. This is a bit tricky as it's good advice but it's hard to separate into concrete action items.

## Suggestion

If an integration test fails, ask yourself what could have been tested on a lower level to catch that problem earlie

[2019-01-29 16:09] LefterisJP opened #3351 "Suggestions to make integration test runs faster"
## Problem Definition

[Suggested](https://github.com/raiden-network/raiden/tree/test-review/ob-review#longer-term) to us during our test review.

The problem is that integration tests are too slow or take too much time. Some suggestions to improve it were made. Some we have thought of before, some probably not.

## Suggestions

- Consider moving long running tests into a cron job and have only a

[2019-01-29 16:12] LefterisJP opened #3352 "Use `_` for unused names consistently in the codebase."
## Problem Definition

[Suggested](https://github.com/raiden-network/raiden/tree/test-review/ob-review#python-use-_-for-unused-names) to us during our test review.

## Suggestion

We are not consistent through the codebase for the usage of `_` for unused arguments. There are quite a few places where e.g. `**kwargs` are collected in a function head but are not used. The resulting linter warning is

[2019-01-29 16:15] LefterisJP opened #3354 "Keep up to date with latest pytest versions"
## Problem Definition

[Suggested](https://github.com/raiden-network/raiden/tree/test-review/ob-review#pylint--flake8) to us during our test review.

## Suggestion

We use pytest version ` 3.10.1`. Latest version is `4.1.2`.

With pytest 4 deprecation warnings have turned into errors, but the benefits of addressing this may outweigh the hassle.

[2019-01-29 16:19] LefterisJP opened #3355 "Measure code complexity in functions and perhaps enforce a value in the CI"
## Problem Definition

[Suggested](https://github.com/raiden-network/raiden/tree/test-review/ob-review#pylint--flake8) to us during our test review. Added needs discussion as this may be a nitpick and we would need to also discuss the acceptable complexity value.

Suggestion is to:

- Measure the cyclomatic function complexity via `flake8 raiden/ --max-complexity 10` and enforce a particular value

[2019-01-29 16:20] LefterisJP opened #3356 "Use vulture to detect dead code and then remove it"
## Problem Definition

[Suggested](https://github.com/raiden-network/raiden/tree/test-review/ob-review#dead-code) to us during our test review.

Suggestion is to:

- Use the [vulture](https://github.com/jendrikseipp/vulture) tool to detect dead code in the project and remove it.

[2019-01-29 17:43] hackaugusto commented on #3356
I don't think we need an issue for that. Myself and @pirapira  (https://github.com/raiden-network/raiden/pull/3223) have executed the tool a few times. It's useful but full of false positives.

[2019-01-29 17:45] hackaugusto commented on #3349
I don't see the point of this issue. What is the task here?

[2019-01-29 17:45] LefterisJP commented on #3356
Agreed. I also have used it in the past but found false positives to be a bit annoying. I simply made an issue for everything and then we can decide to close anything not relevant to us.

So the bottom line is we can just use vulture from time to time to see if we can find something but nothing actionable to do at the moment so the issue can be closed.

[2019-01-29 17:47] #3356 closed

[2019-01-29 17:48] LefterisJP commented on #3349
@hackaugusto I made the issues as reminders for each of the things that the reviewer comments about.

If something is not directly actionable and is simply good advice, we can see if we want to dedicate time to go through the code and apply it.

If not then perhaps to just add it to the Contributing.MD as general advice for writting tests. I think this issue falls more on this category.

The end r

[2019-01-29 17:52] #3132 closed

[2019-01-29 17:54] hackaugusto commented on #3352
from what I gathered half of these are because of click, I'm not sure if we can remove the kwargs from there:

https://github.com/raiden-network/raiden/blob/ad3d0ad6affa4fab0c7b27fa97fa624eb7dea149/raiden/ui/cli.py#L450-L456

The other half is because the name matters, either we are overwriting a method and the argument name must be kept for compatibility, even if it's not used:

https://github.co

[2019-01-29 17:55] pirapira commented on #3356
Let's start building a whitelist?  I know these false positives >> then add them to the white list!

https://pypi.org/project/vulture/

[2019-01-29 19:22] hackaugusto commented on #3356
@pirapira I was unaware of this feature, yeah, should be nice :)

[2019-01-29 19:44] hackaugusto commented on #3347
I agree that we have a huge number of fixtures and that understanding it at first may be daunting. However, using a configuration object will just move the "dautinguiness" around, from the pytest fixtures to a configuration object with lots of variables. One advantage may be to have all the configurations in a single configuration object, however, I would argue that this is what the [fixtures/vari

[2019-01-29 21:40] #2329 closed

[2019-01-29 23:45] rakanalh commented on #3190
Should be resolved with #3227

[2019-01-29 23:45] #3190 closed

[2019-01-29 23:46] rakanalh commented on #2817
Restoring this from the Ithaca Milestone backlog.

[2019-01-30 08:18] LefterisJP commented on #3349
I thought of adding something to Contributing.MD for this. But then looking at the file we mention the same advice [here](https://github.com/raiden-network/raiden/blob/master/CONTRIBUTING.md#workflow). So I think we can close this issue.

[2019-01-30 08:18] #3349 closed

[2019-01-30 10:31] Dominik1999 opened #3364 "Client publishes balance updates to path finding service"
## Abstract

The path finding service need to know actual channel balances incl. the transferred amounts. Therefore, clients need to publish current balance proofs with any state change into a global matrix room. Similar to the monitor request provided in #3273 we need a new message provided by the client.

## Specification

Every new state of a channel need to be published into a global matrix ro

[2019-01-30 10:59] rakanalh commented on #3364
@Dominik1999 is this different than: https://github.com/raiden-network/raiden/issues/3273 or is it a duplicate?

[2019-01-30 11:11] palango commented on #3364
@rakanalh This are the BP updates for the PFS, which are not blinded

[2019-01-30 11:11] Dominik1999 commented on #3364
@rakanalh this is different.

- #3273 provides the Monitor Request (incl. a fee) for the Monitoring Service
- This requests is about balance updates (incl. reveal_timeout) for the path finding service

The implementation should be pretty similar from what I understand

[2019-01-30 12:43] #3290 closed

[2019-01-30 13:22] konradkonrad commented on #3236
Again: source routing allows for amplified lock/drain attacks:
- Attacker controls Alice and Zulu
- Attacker creates route through the network that touches _as many hops as possible_ from Alice->B->C..Y->Zulu, `A_provided_route` (say B..Y are `H` hops)
- Alice sends `X` tokens with `F` tokens in mediation fee over `A_provided_route`.
- Once/If locked transfer reaches Zulu, the secret will never be

[2019-01-30 13:31] palango commented on #3236
@heikoheiko We just discussed this during lunch again.
While some of the incentivisation issues belong to the discussion of mediation fees there is this one issue with source routing that @konradkonrad laid out above in detail (after mentioning it in https://github.com/raiden-network/raiden/issues/3236#issuecomment-454853988 already).

[2019-01-30 13:55] LefterisJP commented on #3354
Fixed by https://github.com/raiden-network/raiden/pull/3363

[2019-01-30 13:55] #3354 closed

[2019-01-30 14:11] LefterisJP commented on #216
So @Dominik1999 and @rakanalh as we discussed today in the Berlin office. For Ithaca the minimum we would require would be:

1. A configuration value that sets the fee function for the user.
2. As @konradkonrad suggested above a user-configurable Price Oracle. I suppose this can be any of cryptocompare, coinmarketcap, coinpapricka e.t.c.
3. Some user configurable USD value above which channels wou

[2019-01-30 14:24] konradkonrad commented on #3236
I guess there is one reasonable mitigation, that would need to be included in the PFS message spec:
- source route needs to be _signed by the PFS_ [needs to be included]
- all nodes along the path that have the originating PFS in their "trusted services" whitelist [needs to be added] can trust the source provided route.

[2019-01-30 15:45] LefterisJP commented on #3346
Sure :)

[2019-01-30 15:48] Dominik1999 commented on #3273
Additionally, for that issue to be finished, we would need the client to join the matrix room for Monitor Requests. We will be able to create the room next week, when #3291 is finished. Does that make sense to you?

[2019-01-30 23:36] ulope commented on #3352
Those are unnecessary. Mini PR to remove them: #3367

[2019-01-30 23:47] ulope commented on #3351
This is IMO only really relevant for running the tests locally.
Since #3140 a complete build on CircleCI only takes ~10 minutes which is very acceptable .

[2019-01-30 23:51] LefterisJP commented on #3351
Being able to run tests locally is rather important imo.

That is true but how scalable is this? We all know we need to write a lot  more tests for what we currently have, so this will only go up. And with the third party services coming into play we will have a whole new category of integration tests that need to be ran. How far can money thrown at CircleCI scale us? And can't we organize our tes

[2019-01-31 00:11] ulope commented on #3342
We already went through that cycle once (well almost) ;)

#692 removed the `tests` module from the sdist.
#718 re-introduced it

Here is the only part of chat about this I could find: https://chat.brainbot.com/channel/dev-raiden?msg=Q3dk8Y4eGjAFgx8cX

IIRC schmir's argument was that you might want to run the tests after having installed the package with pip.

If we move the tests outside of the so

[2019-01-31 00:16] ulope commented on #3341
Oliver mentioned that tox has gained native parallelism support in the recent past. That alone could be reason enough to re-introduce it.

We can't really use it on circle though since we use a lot of its native features (re-using workspaces between jobs, splitting tests based on previous timing data, etc.) to make it go fast.

[2019-01-31 05:42] heikoheiko commented on #3236
don't think so. this is just one of a bag of possible attacks and malfunctions. mediating nodes will need to do some risk evaluation of transfers in general and then decide on the cost and willingness to mediate a transfer. in above case a quick "is provided path reasonably short" could be one check.
note the default strategy for a healthy network is by nodes monitoring their neighbours. e.g. in a

[2019-01-31 10:10] kelsos opened #3369 "Increased CPU usage when the node is idle."
## Problem Definition

As idle state I consider the state where the node is not actively sending, receiving or mediating transfers. At this state I mostly receives blocks.

![image](https://user-images.githubusercontent.com/2269732/52046144-537ab580-2546-11e9-91b8-f49c849df5e4.png)

At this state the CPU usage is constantly at 70-80% of a single core.
If the same node is started on v0.100.1 instea

[2019-01-31 10:21] LefterisJP commented on #3369
When we discussed together in the morning @kelsos said he bisected and provided the following.

So I looked at the commits in between with
[code]

990a20c0c9fa9b4def07428162ddbe90be5b8bfd
fb2f1c979fbccd3ec5f33f9a3ae6d5a181fa9ceb
567e7818aad2f2cf2e712d10b24b4c70360cf74f
cc7585001360f5070a7f172d54dfc1bf49432a4f
63777fecb8e93c00535d3f9416e660b3d05c8aec
7e6dd0fd11aca00871556e1cdfa926fb2de415fa
ffbfd7c

[2019-01-31 10:31] LefterisJP commented on #3369
And for me in latest master when the node is idle and is running with the following command:

I get a steady 15-17% CPU usage. @kelsos How do you run the client?

[2019-01-31 10:50] kelsos commented on #3369
So I am doing some different tests now to get more information.
Apparently on kovan the CPU usage jumps from 2-3% (v0.100.1) on idle to 16-20% on latest master.

What seems to make matters really bad is the combination of the CPU increase with a private chain setup (the block time doesn't seem to really matter I tried both 5seconds and 15seconds there was no change).

I start the client like this.

[2019-01-31 13:05] Dominik1999 commented on #216
Can we aim to close this discussion at the 14.02.? Then we will have two weeks to implement. The policy can change anyway in case we find better parameters.

[2019-01-31 13:05] #3369 closed

[2019-01-31 13:07] rakanalh commented on #3196
I think we can close this as it's been re-fixed by #3299

[2019-01-31 13:07] #3196 closed

[2019-01-31 13:09] rakanalh commented on #3249
@kelsos confirms he has not seen this problem since RC3. Closing.

[2019-01-31 13:09] #3249 closed

[2019-01-31 13:13] kelsos commented on #3249
Yes I did run a few tests and I was unable to replicate the issue, on either rinkeby or a private chain setup.

[2019-01-31 19:14] marcosmartinez7 opened #3375 "Improve feedback when accounts doesnt have ETH on chain"
When interacting with the REST api with accounts withouth ETHER in the chain (geth, parity, for example) the REST api did not respond anything, even a timeout.

Restarting the REST api but with ether into the Raiden account works ok.

## Issue checklist

To help us more easily debug your issue please check the boxes for which requirements for safe usage or Raiden were followed:

- [x] The Ethereum

[2019-01-31 21:58] LefterisJP commented on #3375
Hmm no I just tried the same in latest master and without enough Ether this is the error I am getting:

[code]

Can you provide logs of this attempt which made connect hang for you?

[2019-01-31 23:49] LefterisJP opened #3380 "Connectionmanager attempt deposit with 0 funds if allocated funds are too low"
## Problem Definition

This was reported by a gitter user [here](https://gitter.im/raiden-network/raiden?at=5c5345faceb5a2264f7171cc).

He essentially gave `funds=1` in the connect endpoint, which resulted in making deposits of `0`.

## Task

- [ ] The connection manager should not attempt to make a deposit if the funds it plans to lock are `0`.
- [ ] Invoking api's set total deposit with `0` fund

[2019-02-01 09:32] #3380 closed

[2019-02-01 14:12] marcosmartinez7 commented on #3375
I have done this using the v100.2-rc2

I will test it using master

[2019-02-01 14:36] #3317 closed

[2019-02-02 13:56] ulope opened #3387 "Investigate Matrix 1.0 / Synapse 0.99, 1.0 changes"
## Problem Definition

As announced during FOSDEM 2019, Matrix has released v1.0 of their spec and also v0.99 of the Synapse homeserver (v1.0 planned for March).

Most notable changes:

- No more self-signed certificates for S-S federation traffic, everything is Letsencrypt now
- Rooms "version 3", room ids will change to a base64 encoded content hash

We need to investigate what impact (if any) t

[2019-02-04 08:56] pirapira commented on #3070
I'll pick this up when I can afford to.

[2019-02-04 14:02] andrevmatos commented on #3254
I'm working on a small PoC for the `Delivered` part I want to address for this limited scope of this issue, to guide me on commenting and better describing this next iteration of this proposal. Will edit the PR as soon as I get a better overview of it, hope this week

[2019-02-04 14:43] andrevmatos opened #3390 "Use Signer to signTransaction"
## Abstract

On #3386 , `Signer` interface was introduced to wrap and handle non-transaction signatures (`eth_sign`/EIP191), used mostly on [message's signing](https://github.com/raiden-network/raiden/blob/d50045c7aec544d225dcddc4fb2ee81f35e1949e/raiden/messages.py#L235-L238) and [some parts of matrix transport](https://github.com/raiden-network/raiden/blob/d50045c7aec544d225dcddc4fb2ee81f35e1949e

[2019-02-04 14:51] andrevmatos commented on #3390
Hint: `Web3.py` has [utilities to sign transactions locally from a private key](https://github.com/ethereum/web3.py/blob/master/docs/web3.eth.account.rst#sign-a-transaction) (for the `LocalSigner`), but would be nice to use it without needing to inject a web3 instance.
When we implement `RemoteSigner`, we will have a web3 instance anyway, and also need to sign the transaction remotely from it.

[2019-02-05 11:35] offerm commented on #3244
@rakanalh I'm still having this issue. Using a private chain as @calinchiper .

[code]

Let me know if you need any other info.

[2019-02-05 14:21] ulope opened #3399 "Maybe use Matrix room upgrade mechanism to get rid of duplicate rooms"
## Problem Definition

Related to #3387

To support room version upgrades Matrix has implemented a mechanism ('tombstones') that allows informing clients that a room has been replaced by another one ([spec](https://github.com/matrix-org/matrix-doc/pull/1502), [Synapse implementation](https://github.com/matrix-org/synapse/pull/4091)).

Investigate if this could be useful to 'redirect' clients in ca

[2019-02-05 14:46] palango commented on #3273
With #3374 and #3393 in review let's plan the next steps (client side) here. From my understanding the following steps are necessary.

- Create/Join the monitoring broadcast room as the client. This seems to be as easy as adding it [here](https://github.com/raiden-network/raiden/pull/3393/files#diff-a4a44a402c47ecdb34a60c44d6c065c0R56). We should probably make this conditional on a command line fl

[2019-02-05 14:49] andrevmatos commented on #3273
@palango I think that should be mostly it. I'd suggest adding a simple `send_global` method to the `MatrixTransport` as a send-and-forget, to send a `Message` to one of the global rooms (received as the suffix string), and then call it from the event handler.

[2019-02-05 15:08] LefterisJP opened #3401 "Generate Arm binaries"
## Abstract

For Raiden usage in IoT (see Raspberry PI) it would be nice to also provide ARM binaries. This has been requested by Raiden users. cc @stefanbenten

## Task

- [ ] Modify the CircleCI deploy jobs to also create ARM binaries and include them as artifacts in the releases.

[2019-02-05 15:24] LefterisJP opened #3402 "Option for 1 to N hub running raiden to update both sides of the channel"
## Abstract

Allow special functionality in the case of a raiden client running in an 1 to `N` hub (hub only sends to `N` clients and receives nothing) that allows to update both sides of the channels. Perhaps combine with user policies. This has been requested by people testing Raiden. cc @stefanbenten

## Motivation

Imagine the following scenario. You have a hub that has many send-only channels

[2019-02-05 15:30] LefterisJP opened #3403 "Option for receiver only node to hold no ETH and perform no on-chain transactions"
## Abstract

Allow special functionality in the case of a raiden client running in an a receiving only channel. Perhaps combine with user policies. This has been requested by people testing Raiden. cc @stefanbenten

## Motivation

If you are running a receiving only node that receives from a hub which you completely trust (https://github.com/raiden-network/raiden/issues/3402) then you can actually

[2019-02-05 16:37] rakanalh opened #3405 "Address shortcomings of existing migration management / execution"
## Introduction

Provided the discussion in #3275, we've implemented the upgrade manager to have a list of migration functions which are executed in order to migrate the database from one version to another.

Given that i already wrote 1 migration and currently writing another, i have began seeing shortcomings that we need to address.

## What are the shortcomings?

Snippet 1:
https://github.com/r

[2019-02-05 16:54] ulope commented on #3401
I made some experiments in that directions a while back.

Brain dump:
- PyInstaller and all dependencies work fine.
- Depending on the hardware and storage the single file bundle can be slowish to start due to having to extract the bundle into a temp folder
- There are multiple popular versions of the ARM architecture, which means we probably will need to provide multiple builds:
  - armv6: 32bit

[2019-02-05 17:00] LefterisJP commented on #3405
So the problem here is what? That it is not nice to (eventuallly) have a huge list of imports?

What's wrong with the logic of just running migrations for all old versions all the time and if a migration is a no-op that's fine? I believe this is the usual approach to DB migration (i.e. django does).

I think this is what you are saying here also:

Essentially just run all previous version migratio

[2019-02-05 18:07] ulope opened #3407 "rc releases break automatic homebrew updating"
## Problem Definition

The automatic homebrew update functionality can't deal with prerelease `-rcX` suffixes and produces invalid formula updates.

## Tasks

- [ ] Fix formula updater
- [ ] Add automatic test to make sure formula is usable before pushing
- [ ] Mark -rc releases as pre-releases in homebrew

[2019-02-05 19:17] hackaugusto commented on #3405
I don't see a problem at all. In fact I prefer this, since we will know at least the code is syntactically valid (Ideally we will have a test for each migration, but who knows).

Yeah, the version upgrade should be done as part of the migration itself inside the open transaction. Perhaps this can be made into a `UpgradeTransaction` context manager.

Why is this a problem?

I think 2. is a good opt

[2019-02-05 21:40] hackaugusto opened #3411 "Decide on the type annotation for non return functions"
The definitions bellow are equivalent:

[code]

We need to pick one to keep the style consistent.

[2019-02-05 21:40] hackaugusto commented on #3411
vote
[code]

[2019-02-05 21:40] hackaugusto commented on #3411
vote
[code]

[2019-02-05 22:55] calinchiper commented on #3244
The error still persists. @offerm  What's your raiden version?

[2019-02-05 23:04] calinchiper commented on #3244
@rakanalh @LefterisJP Is any ways to bypass this error. It's very strange because it worked just one time.

[2019-02-05 23:23] ulope commented on #3411
/polls a b

[2019-02-06 02:09] hackaugusto commented on #3346
okay, one thing that I really think this will help with is this pattern we have:

[code]

And pylint complains that `f2`'s first argument is overwriting `f` (rule `redefined-outer-name`), which is quite annoying to me, because that hinder real errors/warnings from the same file.

[2019-02-06 07:22] offerm commented on #3244
Im using the master.

On Tue, 5 Feb 2019 at 23:04 Calin Chiper <notifications@github.com> wrote:

[2019-02-06 08:13] LefterisJP commented on #3244
@rakanalh This has nothing to do with gas estimation.

It's another case of web3 gas price strategy having a bug. It's in web3.
We had a similar case with Infura at https://github.com/raiden-network/raiden/issues/3201 with a fix done [here](https://github.com/raiden-network/raiden/commit/0360d215ded4627104a6e0616e8e41bf4f4be282).

---

@offerm @calinchiper

Hmm so this seems to be yet another way

[2019-02-06 08:30] LefterisJP commented on #3244
Another workaround is to provide the gas price manually as an argument when you start raiden by adding: `--gas-price 10000000000` for say 10 gwei. This will enforce a fixed gas price across raiden and override the other gas price strategies.

[2019-02-06 09:29] palango commented on #3411
I think I was partly wrong in saying that `-> None` is inferred. Especially when running mypy with the `--disallow-untyped-defs` it complains when functions do not have that annotation.

[2019-02-06 10:04] LefterisJP commented on #3411
Well this argument explicitly asks **all** function defs to be typed ;)

[2019-02-06 10:06] palango commented on #3411
Yes, but I always assumed that no return type annotation implies `-> None`.

[2019-02-06 11:16] palango commented on #3273
@andrevmatos Can you take care of that?

[2019-02-06 11:18] andrevmatos commented on #3273
@palango Yes, I'll add the method and make a PR, and you can take from there to finish the PR with the handler bits

[2019-02-06 11:34] LefterisJP commented on #3405
Note:

I got this explained by @rakanalh in a call and I now understand his suggestion. I also think it's a good option.

Btw @rakanalh you actually linked to the issue #2 in this repo so I was further confused :)

[2019-02-06 11:51] rakanalh commented on #3405
Ahh, sorry i should stop using `#` to refer to bullet points

[2019-02-06 13:43] rakanalh opened #3420 "Update versions between migrations"
## Problem Definition

Given
https://github.com/raiden-network/raiden/blob/d50045c7aec544d225dcddc4fb2ee81f35e1949e/raiden/utils/upgrades.py#L125-L135

And assuming that each migration functions upgrades from one version to another **completely***, the current implementation does not update the version after each iteration which causes a problem when properly checking whether a migration is upgrad

[2019-02-06 15:49] rakanalh opened #3423 "SQLite serialization should be done through a proxy"
## Problem Definition

https://github.com/raiden-network/raiden/blob/d50045c7aec544d225dcddc4fb2ee81f35e1949e/raiden/utils/migrations/v16_to_v17.py#L5-L9

The snippet above is that a migration needed to get the list of snapshots in the database. Another migration i recently added in PR (#2832) required the same thing so i had to duplicate some code. One would argue that we can place these function

[2019-02-06 17:57] #3291 closed

[2019-02-06 20:44] offerm commented on #3244
@LefterisJP `--gas-price 10000000000` is a workaround. Many thanks.

I will try to document how to reproduce the issue with a private chain. Should not be that complicated - just need to find the time.

[2019-02-07 09:36] #3420 closed

[2019-02-07 11:46] Dominik1999 commented on #216
@LefterisJP @rakanalh the User Policy laid out by Lefteris meets our requirements from the PFS / MS side - as discussed with @palango.

However, from a broader perspective including user experience/user friendliness, we might need to think about it again. As I see it,
- every user would also need to hold some RDN tokens for the respective UDC contract. RDN is not easy to get at the moment, so mayb

[2019-02-07 12:51] czepluch opened #3432 "Crash on restart of killing node while doing transfers"
### Problem definition
I was doing some testing on the latest RC (raiden-v0.100.2rc5.dev3+ge83bbd4c.d20190206-linux). I was running a script doing mediated transfers and I killed the initiator node while doing so. Upon restart my node crashed.

See logs here: https://gist.github.com/czepluch/300450d74d0434c40c84024c7e2f0e1a

And console output: https://gist.github.com/czepluch/bfa359b29c9883721b05

[2019-02-07 13:06] LefterisJP commented on #3432
Probably this is related to https://github.com/raiden-network/raiden/issues/3121 and could be the reason why #3121 happened. Not sure if this was a restart.

[2019-02-07 13:08] rakanalh commented on #3432
The `KeyError` seems to happen because the initiator was restarted during a transfer cycle. Once the initiator came back online, it proceeded with completing this cycle and the transfer was completed successfully. However, `raiden.targets_to_identifiers_to_statuses` was empty after restart because it's not re-populated with all the "initiator states" (pending transfers).

[2019-02-07 19:10] #3423 closed

[2019-02-08 08:13] heikoheiko commented on #216
Yes, whoever is working/planning on setting up user deposits please schedule a call with me.

[2019-02-08 10:44] Dominik1999 opened #3442 "Client should inform user about pathfinding service defined when started"
## Abstract

The client should inform the user about the current pathfinding service that is defined and
- show information as defined in the info endpoint
- In case the defined pathfinding service does not exist, the client should stop
- In case there is no pathfinding service defined the user should also be informed

## Motivation

In the current setup, the user does not know whether its pathfin

[2019-02-08 13:12] rakanalh commented on #3405
I'll close this since some PRs were merged that improve things a bit.

[2019-02-08 13:12] #3405 closed

[2019-02-08 13:15] rakanalh commented on #1432
PR: #3374 was merged. I'll create a follow up for unit-testing this one.

[2019-02-08 13:15] #1432 closed

[2019-02-08 13:17] rakanalh opened #3444 "Create unit tests for blinded balance proof message"
This is a follow up issue for #1432 which was closed with PR #3374.

According to the specs, unit tests were missing from the PR. Therefore, this issue is to remind us about doing it at some point.

[2019-02-08 13:29] andrevmatos commented on #3273
Matrix functions and methods ready and merged. You can now use `transport.send_global('monitoring', message)` (or whatever name given in `app.config['matrix']['global_rooms']` list) to send messages to this room.

[2019-02-08 16:12] #2817 closed

[2019-02-08 20:20] #3375 closed

[2019-02-08 20:32] marcosmartinez7 opened #3445 "Cannot create payment channel"
## Intro

Discovered this issue into master branch when block number is arround 100k into GETH private network.

The env is basically one geth minner running alone and 2 nodes of raiden using it

Basically there is a query of etg_getLogs from 0 to latest (in this case from 0 to 100k) that takes more than 10 seconds so the default timeout of web3.py fails (10 seconds)

Making the web3 timeout bigge

[2019-02-08 22:34] marcosmartinez7 commented on #3445
Nevermind, seems more a onchain issue, the ethlogs is too slow, not a Raiden issue.

Could you guys validate that raiden does make eth_getLogs requests from 0 to 'latest' with regularity and it is a normal behaviour?

[2019-02-11 08:40] LefterisJP commented on #3445
the `0` to `latest` will only happen when a token network is initialized. But let me have a look as something looks funny there. We have more data so that we don't need to start from `0`, we can at times start from the token network's deployment block.

[2019-02-11 08:53] LefterisJP opened #3448 "Exception when starting Raiden"
## Problem Definition

Trying to start raiden this morning I got the following traceback:

[code]

This is a clean venv made from scratch. It seems that `gevent` was upgraded somehow to `1.4.0` even though in the constraints we got it pinned to `1.3.6`.

[2019-02-11 09:01] LefterisJP commented on #3448
Duh -.-; my bad

[2019-02-11 09:01] #3448 closed

[2019-02-11 09:32] LefterisJP commented on #3445
@marcosmartinez7 Okay so I refreshed my memory.

Yes indeed we do regurarly query events from `0` to `latest`. For example in the settle timeout query:

https://github.com/raiden-network/raiden/blob/66f15f21a17a7b5080a9f48e4010cf158d7ad089/raiden/network/proxies/payment_channel.py#L80-L100

This can be improved if we keep at least the token network registry's deployment block. We got an issue [her

[2019-02-11 09:45] Dominik1999 commented on #3442
Additionally, we need another check when Raiden starts. At the moment the Pathfinding Service can be set to a totally different blockchain or token network than the client. At the moment I don't know how we can check this ...

[2019-02-11 12:34] ulope commented on #3401
Discussed this with @luehrsFred on Friday who will be working on it.

We've agreed on the simplest and fastest to implement solution:
- Use a remote docker daemon hosted on an ARM VPS / server
- Connect from CircleCI via SSH port forwarding or similar to that docker daemon

Pros:
- No need to modify the build scripts etc.
- Only minimal additional configuration on CircleCI needed

Cons:
- We need

[2019-02-11 13:12] LefterisJP commented on #2885
So block identifier argument was put in all of the proxies after https://github.com/raiden-network/raiden/pull/3391

[2019-02-11 13:13] konradkonrad opened #3454 "Publish Monitoring Requests on Recovery"
After  #3273 the client is able to publish monitoring requests during regular operation, but, if a client is configured with monitoring, it should also publish the latest balance proofs after recovery.

After recovery, the client should publish the latest received balance proof of all (configured, #3462) channels to the monitoring service.

[2019-02-11 13:20] LefterisJP commented on #2885
Next task in order to probably go in smaller steps would be a PR to:

- Add blockhash to all `ContractReceiveStateChange` state changes ... and perhaps other state changes/events that need it.
- Make a DB migration for the above

[2019-02-11 13:39] ulope commented on #3399
Talked with Matthew from Matrix about this. Currently the upgrade mechanism is not intended for anything but to upgrade room versions (and also probably can't be abused by 'upgrading' to the same version).

They will think about a way to merge rooms after the 1.0 release is out (scheduled for March)

[2019-02-11 14:25] konradkonrad commented on #216
I'm sorry, if my example went too much into detail with the fx oracles -- what I meant to lay out is, that user policies will need to be able to act dynamically. From my line of thinking, I would prefer some plugin mechanism, where we provide an API for such dynamic values, and allow (and encourage) third party integrations. I would rather avoid having e.g. the oracle integration in the client (co

[2019-02-11 14:26] marcosmartinez7 commented on #3445
Yes, thats exactly the situation of the issue, when creating a `PaymentChannel `it happens to, since it invokes
`get_filter_args_for_specific_event_from_channel` on the `PaymentChannel` constructor.

Thanks for the response.

[2019-02-11 14:26] #3445 closed

[2019-02-11 14:52] palango opened #3457 "Update dependencies"
## Abstract

When setting raiden as a dependency in the services repository I ran into the following dependency conflicts. I will solve this by not pinning versions on the services side now, but these shoul be updated on Raiden anyways.
[code]

## Motivation

Use the latest versions for security and bug fixes.

## Backwards Compatibility

Should be, but has to be checked for every package.

[2019-02-11 16:08] palango opened #3460 "Constraints file not used during pip install"
The raiden-services will use Raiden as a dependency for accessing code like messages and matrix integration.

While adding this dependency a lot of warnings about incompatible package versions are shown (on a fresh venv):
[code]

It seems like the constrains from `constraints.txt` are not used when installing raiden via `pip`.

[2019-02-11 16:12] palango commented on #3460
@ulope Do you have an idea on how to fix this?

[2019-02-11 16:16] hackaugusto commented on #3454
@konradkonrad can you clarify what is the difference from the normal operation and recovery code paths?

[2019-02-11 16:23] rakanalh opened #3461 "Pay PFS for route"
## Introduction

The PFS will have to be paid to provide a route for a certain transfer.

## Requirements

- [x] Introduce a policy variable where the user can set the maximum amount required to be paid by client to the PFS.
- [x] Query the PFS for the latest IOU
- [x] Include the specified IOU structure that the PFS will accept as payment. More details on this can be [found here](https://raiden-n

[2019-02-11 16:30] rakanalh opened #3462 "Reward monitoring service"
## Introduction

A flag `--enable-monitoring` was introduced into Raiden for the user to specify the intent of whether a monitoring service should be used or not. If monitoring is enabled, when a channel has more than X tokens (capacity) deposited, Raiden automatically sends the latest balance proof to the monitoring service.

## Requirements
- The user needs to set the minimum capacity at which a

[2019-02-11 16:33] rakanalh opened #3463 "Document available settings and their different possible values"
## Abstract

raiden/settings.py

[2019-02-11 16:37] rakanalh opened #3464 "Notify user about insufficient RDN funds"
## Requirements

- [x] Introduce a `MIN_RDN_THRESHOLD`
- [x] Log an error message when the user is running out of RDN tokens to pay for the services.

## Open Questions
- What would insufficient be? < 1 RDN or < 10?

Expected: End of Feb, 2019.

[2019-02-11 16:42] rakanalh opened #3465 "User Policy - Raiden needs to deposit RDN tokens in UDC"
To be able to pay services.

The client also needs to have a user policy to define the minimum threshold to reach before invoking a new deposit.

Expected: End of Feb, 2019.

[2019-02-11 16:46] rakanalh opened #3466 "Client should have a default payment for requesting a route"
@palango needs to define how this will work.

The idea is to include IOU information of the payment.

If the user doesn't have enough funds to pay the PFS, either:
1. Fallback to basic routing
2. inform the user to deposit more in UDC

Expected: End of Feb, 2019.

[2019-02-11 16:48] rakanalh opened #3467 "User Policy - Raiden needs to choose a pathfinding service from ServiceRegistry"
## Introduction

Right now, Raiden will start using PFS once the `--path-finding-service` flag is provided. However, the PFS should be (for now) randomly selected from the user registry

## Tasks
- [ ] Remove the flag
- [ ] Query the service registry contract for the list PF service providers
- [ ] Randomly select a PF service provider and use it

Depends on #3581

Expected: End of Feb, 2019.

[2019-02-11 21:41] LefterisJP commented on #3465
Hmmm should that be part of the client functionality?

Can't this also happen outside of the client?
Before the user starts to operate Raiden they can do a deposit to the UDC manually.

I would rather not have to perform automatic deposits to the UDC (which should not be frequent anyway) from the Raiden client.

### Why I don't think this is a good idea

- UDC deposits would be big and not frequen

[2019-02-11 21:44] LefterisJP commented on #3467
I don't remember where we last discussed this but I remember discussing that once we get the RSB list on-chain then this task should just be a random choice out of that list each time. User choice can be offered but makes no sense by default. The default should be a random selection out of the available pool of MSes.

[2019-02-11 21:47] LefterisJP commented on #3466
The arguments that need to be included with each PFS request are in the [spec](https://raiden-network-specification.readthedocs.io/en/latest/pathfinding_service.html#arguments).

Relevant PFS [issue](https://github.com/raiden-network/raiden-services/issues/38). Important section: "Communication between client and PFS"

[2019-02-11 22:08] LefterisJP commented on #3464
### Comments

I would also add that this should be **only** enabled if the user uses a PFS or MS.

We can use the same check as the `gas_reserve` [here](https://github.com/raiden-network/raiden/blob/8ab370536b59b474049dab23d2683d29364dd797/raiden/tasks.py#L71) for this warning.

The only problem with this is the same as the gas reserve. A warning in the console is very very easy to miss. In normal

[2019-02-11 22:27] LefterisJP commented on #3462
Part of #216. As defined here: https://github.com/raiden-network/raiden/issues/216#issuecomment-458957535

Since the price of the underlying token can vary with time see ideas for a price oracle show in the parent issue: [here](https://github.com/raiden-network/raiden/issues/216#issuecomment-458163513) and [here](https://github.com/raiden-network/raiden/issues/216#issuecomment-458957535)

I am not

[2019-02-11 22:32] LefterisJP commented on #3461
I understand policies as dynamic settings that can be dynamically changed in runtime. All values in `settings.py` are currently only set at the program's startup.

I guess maximum value per single PFS request.

I don't see why it should. They both are requests to the PFS, and since they both ask the same thing, using the same endpoint they should be identical.

Good question. @palango ? I asked th

[2019-02-11 22:35] LefterisJP commented on #3463
@rakanalh Can you explain what this issue is about? Are you asking for a comment on top of each variable in `settings.py`?

[2019-02-12 09:01] rakanalh commented on #3463
@LefterisJP updated the issue for more details.

[2019-02-12 09:50] stefanbenten commented on #3401
That sounds awesome! Looking forward to the release builds!

[2019-02-12 09:54] palango commented on #3461
We can set it arbitrarily for testing, one idea is to make the price query-able from the `/info` endpoint in the PFS.

[2019-02-12 09:57] palango commented on #3464
In general we don't know the price of a PFS request yet, and it should be dynamic in the future.

Also for the UDC deposits the services will probably require some margin on the user side, because double spending is possible in theory.

[2019-02-12 09:59] palango commented on #3465
For me this depends about which time frames we're talking.
- If we're talking short term and mostly us testing I agree that one can deposit by hand.
- If we're looking at the bigger picture, then I think this should be (semi-)automatic to make it more user friendly. But the whole onboarding story needs more work.

[2019-02-12 10:00] palango commented on #3467
A preliminary API has been implemented (https://github.com/raiden-network/raiden-contracts/pull/541) and will be available after the next contracts release.

[2019-02-12 10:44] konradkonrad commented on #3454
The difference will depend on what comes out of #3452 -- the way I imagine it:
- normal operation: if a state change leads to a _new_ received balance proof (and meets policy #3462) ==> publish to MS
- recovery: during replay: don't publish to MS, after replay: collect _latest_ balance proofs for all channels and (if the respective channel-monitoring-policy #3462 matches) ==> publish to MS

[2019-02-12 12:44] Dominik1999 commented on #3442
closed by #3450

[2019-02-12 12:44] #3442 closed

[2019-02-12 14:16] andrevmatos opened #3469 "Split matrix room name composition on separate function"
Needed for https://github.com/raiden-network/raiden-services/pull/95, and to keep this naming scheme in a single place to avoid breakages

[2019-02-12 15:26] offerm commented on #3244
@LefterisJP  So here is how to reproduce (you may need to make local changes....) :
- install geth
- install raiden-contracts (I'm using commit 7176ceec2e05f359964b89e8d4a9564f7f54b4c4 of master)
- install raiden
- create a directory xud-eth under your home

In shell 1:
- create genesis.json file in xud-eth (take from the attached zip)
- generate init by `geth --datadir blkchain1 init genesis.json

[2019-02-12 15:47] #3469 closed

[2019-02-12 16:16] err508 opened #3472 "Timeouts with multiple synapse servers"
## Problem Definition

Found during #3385.

There are some problems when different clients use different synapse servers.
- UserPresence updates when a client goes offline are propagated slowly and if the client was sending messages before that, the greenlet handling the UserPresence update caused by the client going offline might be processed before the UserPresence update caused by the message,

[2019-02-12 17:12] ulope commented on #3243
This is solved for now via #3291.

[2019-02-12 17:12] #3243 closed

[2019-02-13 00:32] LefterisJP commented on #3465
As I said in my response above I don't think this should happen in the logic of the raiden client side for the reasons stated there.

But yes I would say let's just go manually now -- and if/when we target easier on-boarding spend some time thinking on this.

[2019-02-13 08:30] LefterisJP opened #3475 "Improper use of async_result in rest api payments"
## Problem Definition

This was found by @offerm in https://github.com/raiden-network/raiden/pull/3473.

The code was not checking the async result object properly to get its result so it would never get into the "Payment could not be completed error".

[2019-02-13 10:39] rakanalh commented on #3465
I'll scope this out since we go for the manual approach for now.

[2019-02-13 11:13] konradkonrad commented on #3364
talked to @rakanalh, he suggested
- this needs to only send "copies" of the balance proofs that we **send** to our partner -- @palango can you confirm?
- we can intercept the to-be-send balance proof in the event handler on `Send*` events

[2019-02-13 11:16] ulope commented on #3460
Hm ok, so the problem is that raiden _**is**_ using `constraints.txt` as the source for it's `setup.py` `install_requires`. This means that if the dependee (is that a word?) is using any of the same packages as raiden does it will most likely cause a conflict since pip has no dependency resolution ahead of install time. It just checks the constraints afterwards which is where those messages come f

[2019-02-13 11:24] err508 commented on #3364
@konradkonrad Please have a look [here](https://github.com/raiden-network/team/issues/326), especially second case, there's a call scheduled for Monday to evaluate this with RSB team.

[2019-02-13 11:31] ulope commented on #3411
No, no annotation implies `-> Any`.
The only exception are `__init__` methods **with parameters** that are annotated, those automatically default to `-> None` ([long issue discussion about that 'feature'](https://github.com/python/mypy/issues/604))

[2019-02-13 11:32] palango commented on #3462
Yes, this is right. Short term there is no way of knowing the current price for a monitor request. Longer term the plan is to add a broadcasted channel in which the MS show their current price, which then can be used by the client to get a better picture.

[2019-02-13 14:52] palango commented on #3460
Maybe it would already help to pin the direct dependencies in `requirements.txt` and leave all other stuff to `constraints.txt`?

[2019-02-13 14:54] LefterisJP commented on #3460
I also think this is a good idea for the moment. And I guess it would immediately help your use-case paul.

[2019-02-13 15:01] #2436 closed

[2019-02-13 17:39] err508 opened #3478 "Hanging transfers regression tests"
As a sub Issue of  #3124, the following is tested via #3385:

- Hanging transfers (#3123)
  - [x] Test the invite works on the happy path (both users online):
  - [x] Test the invite works on the unhappy paths:
    - [x] Both nodes open an invite at the same time
    - [x] The node which is being invited is offline at the time of the invite
    - [x] The node which does the invite goes offline and

[2019-02-13 17:43] err508 opened #3479 "test matrix supports user roaming"
- User roaming
  - [x] Write test that ensures users switching servers are handled correctly
    - [x] User A uses server X and performs a transfer with User B.
    - [x] User A uses server Y and performs a transfer with User B.
    - [x] User A comes back to server X  and performs a transfer with User B.
    - [x] Repeat for both users roaming across servers

[2019-02-13 19:40] #3318 closed

[2019-02-14 14:40] konradkonrad commented on #3444
From my opinion this can be fixed from #3455

[2019-02-14 16:02] #3411 closed

[2019-02-14 19:41] #3432 closed

[2019-02-15 09:22] rakanalh commented on #3475
Should this be closed? The PR fixing this was merged, no? unless you're referring to a different issue?

[2019-02-15 10:34] offerm commented on #3475
Yes, can be closed. Thanks.

On Fri, 15 Feb 2019 at 11:22 Rakan Alhneiti <notifications@github.com>
wrote:

[2019-02-15 10:35] rakanalh commented on #3273
Closing issue as #3452 was done. Follow up issues will be created if needed.

[2019-02-15 10:35] #3273 closed

[2019-02-15 10:47] rakanalh commented on #3461
Updated the issue to be about paying PFS

[2019-02-15 11:32] LefterisJP commented on #3462
@palango @rakanalh We discussed this in the OKR meeting yesterday but for the short term the easiest solution would be constant prices for monitoring so that there is no need for the client to learn the price. We know it by default since it will be constant.

Is my understanding of the consensus on the meeting on this correct?

[2019-02-15 11:34] rakanalh commented on #3462
Correct, we should use a constant value until MS implements price publishing.

[2019-02-15 11:35] LefterisJP commented on #3462
@rakanalh So can you edit the issue's open question? My comment should answer both.

[2019-02-15 11:38] rakanalh commented on #3466
Closing this one in favor of #3461 and #3464

[2019-02-15 11:38] #3466 closed

[2019-02-15 12:02] err508 opened #3488 "Improve Error Message when a user starts multiple transports"
When a client starts two transports on different home servers, this raises

[code]
This exception could be more explicit

[2019-02-15 12:03] rakanalh commented on #216
For Ithaca, we agree that we'll use pre-defined constant values for behavior-changing settings. Scoping this out of Ithaca until it is required to implement this.

[2019-02-15 15:18] ulope commented on #3488
How can that happen?

[2019-02-15 16:05] err508 commented on #3488
Bad user behaviour, when a user starts nodes with the same address on different home servers.
You can close this if you think its unreasonable though, just found it during testing and agree its not very likely/not the worst part that will break than.

[2019-02-15 16:08] ulope commented on #3488
Ah! Ok, the wording was just confusing to me (maybe change the description to `... when a user user ...`, `client` is what confused me).

No I think it's fine to at least have an issue about this even if we decide not to do anything about it in the short time.

[2019-02-15 16:09] err508 commented on #3488
Aight, will do!

[2019-02-15 19:10] marcosmartinez7 commented on #114
+1

Im available to contribute.

[2019-02-16 11:44] #3475 closed

[2019-02-18 10:23] konradkonrad opened #3493 "Resolve unclarity about identifiers"
## What is wrong?
We currently have a pretty mixed bag of ways to identify a channel:
- `channel_identifier`: the channels `(participant1, participant2)` "nonce" for a token network (increased with every new channel opened between the two per token network). Unfortunately this "identifier" is not unique, so we add some other fields for unique identification:
- `chain_id`: the chain identifier
- `r

[2019-02-18 13:07] #3401 closed

[2019-02-18 13:13] hackaugusto commented on #3493
IMO this is useful through out the whole code base, to have a single way of referencing channels.

One of the reasons to have this types is to reduce the number of arguments we have to pass around. The views make for a good example:

https://github.com/raiden-network/raiden/blob/eb62016ec8415dd0538f9781eb76a1ab1dd9c877/raiden/transfer/views.py#L61-L65

Another is to have a canonical way of identif

[2019-02-18 13:49] stefanbenten commented on #3401
Thanks for getting that done that quickly!
Will test the latest arm builds shortly!

[2019-02-18 13:55] andrevmatos commented on #3493
Previosus try to get it done, it became bigger than expected and is frozen for now, may be base for implementation or at least give some hints: #2537

[2019-02-18 16:28] andrevmatos commented on #3254
On the workshop, it was decided on the following approach for now:
- [ ] Remove requirement for signature in the `Delivered` message; the signature can be kept being done by the nodes for now, for backward compatibility, but they `sender` will be set by matrix transport from the `displayname` transport recovering instead of internal signature, so `Delivered` messages without signature (like we're

[2019-02-19 09:24] imhari213 opened #3506 "Do in need to maintain multiple raiden nodes each time to connect a new account"
i setup-ed two raiden nodes and i can able to create channels .transfer token from that channels but i can able to do it between the two accounts only.
what if i want to create a state channel to another from existing account do i need to setup another raiden node or is there any other way.

[2019-02-19 10:22] czepluch commented on #3506
Hi @imhari213 .
If you've opened channels with other nodes in a token network you should be able to transfer to all other nodes that you have a path to with enough capacity. For instance, you can take a look at the graph on the [Raiden Explorer](https://explorer.raiden.network/tokens/0xC02aaA39b223FE8D0A0e5C4F27eAD9083C756Cc2) page. This will give you an idea of how the network looks like, and the

[2019-02-19 11:04] konradkonrad commented on #3364
closed by #3477

[2019-02-19 11:04] #3364 closed

[2019-02-19 11:25] imhari213 commented on #3506
**If it is like that for every Account i need to maintain individual node**

[2019-02-19 11:48] palango opened #3507 "[SP] Add PFS route assertion"
Add an assertion to check the output of the [PFS `route` endpoint](https://raiden-network-specification.readthedocs.io/en/latest/pathfinding_service.html#api-v1-token-network-address-paths).

[2019-02-19 11:49] palango opened #3508 "[SP] Add PFS setting in scenario"
Add a general setting for scenarios to define the PFS to use.

[2019-02-19 11:51] palango opened #3509 "[SP] Add assertion to check blockchain events"
Add an assertion to the scenario player that makes it possible to check for events on the blockchain.
At the beginning events from the core contracts should be enough, later an extension for the service contracts might be helpful.

[2019-02-19 13:18] rakanalh commented on #3461
@palango The spec says this about client / PFS communication.

[code]
However, the link to the [endpoint](https://raiden-network-specification.readthedocs.io/en/latest/pathfinding_service.html#arguments) does not show how we can send the above to the endpoint. Is there a missing parameter from the endpoint?

[2019-02-19 14:21] ulope opened #3512 "Respect max event size when sending batched Matrix messages"
## Problem definition

@agatsoh experienced the following exception when (re-)starting Raiden:
[code]

The reason is most likely the message batching inside the `_RetryQueue`.
According to the [Matrix Spec](https://matrix.org/docs/spec/client_server/r0.4.0.html#size-limits) events may not exceed 65,536 bytes when encoded in canonical-json.

## Tasks

- [ ] Implement size limit on batched messages,

[2019-02-19 14:28] andrevmatos commented on #3254
Issue was edited to include current proposal, after talks with @hackaugusto . This shouldn't take too long, but could break compatibility (it can be kept with a little more work though, although we could skip keeping it for now and just asking clients to upgrade).

[2019-02-19 15:07] andrevmatos opened #3513 "Remove signature of SecretReveal"
## Abstract

Currently, [`RevealSecret` is a `SignedMessage`](https://github.com/raiden-network/raiden/blob/5b67eb46a7c7bb12f29f5dccce958ee33ec4951b/raiden/messages.py#L722-L787), which requires a signature and [it's recovered and validated as soon as it gets to the transport](https://github.com/raiden-network/raiden/blob/5b67eb46a7c7bb12f29f5dccce958ee33ec4951b/raiden/network/transport/matrix/tra

[2019-02-19 15:15] czepluch commented on #3506
Sorry, I am no sure what you mean.

As [per the documentation](https://raiden-network.readthedocs.io/en/stable/overview_and_guide.html#requirements-for-safe-usage), at the moment your node(s) need to be always online.

[2019-02-19 15:46] hackaugusto commented on #3254
Just to be clear, IMO:

- Sending a delivered in response to a processed is a bug
- Sending a delivered and a processed for the same message is a bug

And the bugs above should be fixed. We have two ways to fix this:

- Upgrade the software and just fix the above issues. This however, requires a client upgrade, because the current version expects a delivered in response to a processed, otherwise t

[2019-02-19 18:33] marcosmartinez7 opened #3516 "Recoverable and Unrecoverable errors"
There are some situations that i think that the Raiden node must be recoverable and the API should not crash.

Those are, for example, when openning a channel:

- The transferFrom function of the ERC20 token has some access modifier and the transaction fails. For this situation, raiden fails with this message:

[code]

Is there any reason of why the API should take those errors as unrecoverable an

[2019-02-19 21:33] offerm opened #3518 "2 payments from the same payer to to same payee fails"
I'm trying to use payment API to make 2 payments one after the other to the same payee.

The second payment fails.

There is an warning `Message already in queue - ignoring`

I created a PR with a test that IMHO should pass #3517

Let me know if I missed anything

[2019-02-19 22:03] LefterisJP commented on #3518
I commented in the PR explaining why the test is wrong. Comment is [here](https://github.com/raiden-network/raiden/pull/3517#issuecomment-465329130)

[2019-02-19 22:15] offerm commented on #3518
Many thanks. Closing

[2019-02-19 22:15] #3518 closed

[2019-02-20 07:18] agatsoh commented on #3506
@imhari213 At this stage you need to maintain one node for each account(each ethereum address). All the nodes need to be online if you want to send and receive payments. If any node by some reason gets offline due any problem like network issues, the nodes are quite fault tolerant that if you bring them online immediately  the transfer will still get completed. If you have any more doubts I have a

[2019-02-20 09:08] imhari213 commented on #3506
Thanks for your help @czepluch @agatsoh  :)

[2019-02-20 14:38] EvertonMelo opened #3519 "https://github.com/raiden-network/raiden/wiki/Raiden-PoC%E2%80%900 links 404"
## Problem Definition

links broken
[code]

[2019-02-20 14:47] LefterisJP commented on #3519
That wiki is severely outdated and not maintained. I will have it deleted. Thank you for the heads up. Please check our [documentation](https://raiden-network.readthedocs.io/en/latest/) instead.

[2019-02-20 14:47] #3519 closed

[2019-02-20 15:17] EvertonMelo commented on #3519
@LefterisJP

Your documentation not has the links tesnet.
yes 2017 -> so far.

removing the issue will not eliminate the problem.

Thanks for reporting the policy.

Play under a rug, which no one will see.

I leave the links to posterity.
after all where there is hypocrisy there is no ethics.

https://web.archive.org/web/20170601011653/https://github.com/raiden-network/raiden/wiki/Raiden-PoC%E2%80

[2019-02-20 16:11] hackaugusto commented on #3268
Note: with the work done on the consistent blockchain view we changed the definition of the `preconditions` method. Instead of:

[code]

This will now:

[code]

The previous definition tried to handle lock errors **and** unnecessary transactions, while the new one only handles logic errors. Invalidated transactions are now handled exclusively by the `estimate_gas` call, and race conditions by the

[2019-02-20 17:52] Dominik1999 opened #3520 "Splitting transactions / payments to allow for retail use cases"
## Abstract

Channels in the Raiden Network tend to be imbalanced in almost any retail use case (where somebody buys something). This is because money tends to flow uni-directionally from a payer to a payee but never into the other direction. Money is then allocated at the payee (the business entity) and spent in large single transactions to buy many units of that good for a cheaper price. As long

[2019-02-21 09:20] hackaugusto commented on #3509
@palango could you clarify a bit? Do you mean an additional directive for the yaml file?

[2019-02-21 09:30] hackaugusto commented on #3513
No, no, the secret is not enough, we need to know who sent the `SecretReveal` message, IOW this message has to be authenticated, the means which authentication happens can be something other then a signature.

[2019-02-21 09:32] hackaugusto commented on #3513
To clarify, this is **not** backwards compatible. The change is *remove the signature*, if we do, this will break backwards compatibility. This either requires a breaking change or a protocol upgrade.

[2019-02-21 10:10] hackaugusto commented on #3516
Hi @marcosmartinez7 , I think the best definition for the recoverable/unrecoverable errors is on the issue https://github.com/raiden-network/raiden/issues/2719 . In short, it's unrecoverable if Raiden has a programming error in *its code*, meaning something unexpected happened and as a consequence the node's state is unknown.

I assume that by API you are talking about the REST API.

It's the REST

[2019-02-21 11:04] palango commented on #3509
Sure: the problem we're trying to solve is to test the happy path of the monitoring service. For this to be possible (and as the MS doesn't have a public interface right now) we need to be able to check that certain events were emitted (in this case the `UpdatedNonClosingBalanceProof`).

So there should be an assertion usable in the yaml scenario definition that allows to check that certain events

[2019-02-21 11:29] christianbrb opened #3525 "One-click-installer"
## Abstract

Installing Raiden is already quite easy, but we would like to simplify the installation of the full stack needed to run Raiden even further for MacOS and Linux (including ETH client, RPC or Infura)

## Motivation

There are still users who have got difficulties or which do not have time to set up and configure Raiden and the Ethereum client.

## Current Solutions and Descriptions
1. N

[2019-02-21 11:34] stefante commented on #3525
Under 5: for the test net I would use faucets only not the mining process....

[2019-02-21 12:56] hackaugusto commented on #3506
It looks like the question was answered, so I'm closing this for now. @imhari213 if you have more question feel free to reopen or create a new issue.

[2019-02-21 12:56] #3506 closed

[2019-02-21 14:10] hackaugusto commented on #3520
I really liked the stick figures :).

Yeah, this is a feature that we need to re-introduce, this is why we have the concepts `transfer` and `payment` in the protocol. A payment can be made out of multiple transfers, all using the same secrethash, allowing channels of smaller capacity to be used for larger payments.

[2019-02-21 14:10] marcosmartinez7 commented on #3516
I think is too restrictive too, as i said, the entire node going down because 1 of the N ERC20 Tokens that is joined retrieves an error with

- allowance
- balanceOf
- transferFrom access modifiers

I mean, those situations can be handled just as an exception but i think it must not affect the rest of the networks that the node is part.

Thanks for the response !

[2019-02-21 14:15] LefterisJP commented on #3520
@hackaugusto We don't have an issue for this do we? So perhaps we can use this one with the awesome stick figures?

We had discussed in the past that we should at some point introduce this, as it's the same as Lightning does with their [AMPs](https://lists.linuxfoundation.org/pipermail/lightning-dev/2018-February/000993.html) (Atomic Multi-path Payments) but can't find traces of that discussion in

[2019-02-21 14:44] #2974 closed

[2019-02-21 17:54] LefterisJP commented on #3525
@christianbrb Let me see if I understand this issue correctly. You don't want an one-click installer for Raiden as it's already one-click. The raiden executable is just a binary anyone can run with one click.

But what you want is a bundle of raiden + ethereum client + onboarding of an account with ETH/Tokens?

[2019-02-21 19:58] andrevmatos commented on #3513
As I said, of course the sender would still be set, but this proposal is about not **requiring** it to be done through the overhead of a full signature, can be done e.g. on matrix by explicitly setting `sender` from the user signature (done once, not per message). Nonetheless, I don't see why we actually require the sender on the message, we could to the same effect verify all pending secrethashes

[2019-02-21 22:04] LefterisJP opened #3528 "Potential critical issue: LockExpired message for initiator"
## Problem Definition

While working on https://github.com/raiden-network/raiden/pull/3218 I experimented a lot and ended up getting the following stack trace:

[code]

The test involves a refund transfer and the mediator was offline for a very long time during that run and sent the LockExpired message for the refund transfer to the initiator very very late. So late in fact that the channel was cl

[2019-02-21 22:04] #3528 closed

[2019-02-21 22:05] jomuel opened #3529 "Possible bug: secret request for settled channel results in uncaught exception"
As turned out during fuzz testing, the following sequence of state changes:

- Initiating a transfer,
- settling the channel it belongs to,
- then getting a secret request for it

makes `initiator_manager.state_transition` raise a `KeyError` that does not seem to be caught anywhere. Could this lead to a crash ?

To reproduce, unskip and run `raiden/tests/unit/fuzz/test_state_changes.py::test_try_s

[2019-02-21 22:05] #3529 closed

[2019-02-22 07:07] pirapira commented on #473
I heard from our advisors that the same keypair should not be used for different primitives (signature & encryption).  And one of them started talking about deriving child keypairs.

@err508

[2019-02-22 09:47] mat7ias opened #3531 "Pluto release linux binary reports different version number"
## Problem Definition
I downloaded raiden-v0.100.2-linux-x86_64 from the nightlies. When I run it instead of saying it's version 0.100.2 it says 0.100.3.dev0+g32c1f504.d20190221 ![picture](https://user-images.githubusercontent.com/35585644/53233760-40d94380-36e2-11e9-993a-67f66382fddd.jpg)

[2019-02-22 09:59] LefterisJP commented on #3531
Hmmm thanks @mat7ias. This applies to the binary from the release page too. We will have a look.

[2019-02-22 10:50] ulope commented on #3531
This version number style means there were some untracked (by git) files in the working tree. Probably something left over from one of the previous steps.

I’ll take a look.

[2019-02-24 10:57] BOR4 opened #3534 "Update documentation affected by #3317 change in API"
https://github.com/raiden-network/raiden/issues/3317 introduced "secret" and "secret_hash" in the API response and I don't think documentation of the endpoint has been properly updated.

[2019-02-24 11:17] BOR4 opened #3535 "Description of Raiden image on docker hub is broken"
Description looks like this:

.. image:: https://img.shields.io/pypi/pyversions/raiden.svg :target: https://raiden-network.readthedocs.io/en/stable/) :alt: Python 3.7 .. image:: https://badges.gitter.im/Join%20Chat.svg :target: https://gitter.im/raiden-network/raiden?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge :alt: Chat on Gitter

Raiden Network documentation_

.. _Raiden Network docu

[2019-02-24 14:57] ulope commented on #3535
By default docker hub pulls the project’s readme but is apparently not able to render ReST.

We should add a docker specific description there.

[2019-02-25 13:59] rakanalh opened #3542 "Dynamic fees"
Issue #33 added support for constant mediation fees charged by the mediators. The PFS changes fee handling in https://github.com/raiden-network/raiden-services/issues/368, using a separate fee message and allowing a wide range of fee calculation options.

- [x] Use new fee message as decided in https://github.com/raiden-network/raiden-services/blob/master/adr/003-mediation-fees.md
- [x] Prevent re

[2019-02-25 14:21] palango opened #3544 "Token registration endpoints return before token network exists in internal state"
The endpoint to register a new token return really fast, and before the state changes have been done to the internal raiden state.

In #3543 this leads to the testing code requiring a long wait (https://github.com/raiden-network/raiden/pull/3543/files#diff-00c4c05ef0fac830fbdcfcb586861a27R1374)  before the raiden node itself knows about the new token network.

The endpoint should only return after

[2019-02-25 14:45] ulope opened #3546 "Default non-release builds to development mode"
## Problem Definition

All our releases as well as the source tree in `master` currently default to the `production` `environment-type`.
IMO this is a problem since we want our users to only use actual version tagged releases on mainnet.

## Suggested Solution

Change the default `environment-type` to be dependent on the release type. E.g. (slightly pseudo code):
[code]

## Open questions

- Shoul

[2019-02-26 11:12] hackaugusto opened #3552 "Simplify and improve the Secret Registry proxy"
## Tasks

1. Fix the unit tests
1. Handle race conditions for parallel secret registration
1. Make all greenlets wait the secret registration transaction of interest
1. Replace unrecoverable for recoverable errors

[2019-02-26 19:47] offerm opened #3555 "Error: missing trie node on startup"
With latest master, after erasing the `datadir`, I'm getting this:

[code]

[2019-02-27 11:15] palango opened #3558 "Crash during startup on mainnet"
## Problem Definition

I was able to reproduce a problem forwarded to us. I only see this problem on mainnet, but I'm currently not sure if it's related to the `production` flag (that one works fine on rinkeby testnet) or somehow related to the matrix server (@ulope guess)  or that we try to sync to big intervals (I had the problem of web3 requests timing out for the MS).

[code]

### System Descr

[2019-02-27 11:19] ulope commented on #3555
Hi @offerm, that isn't actually a Raiden error. The actual error message

`{'code': -32000, 'message': 'missing trie node d74423b54378a6d49546847401bb01798f2ac01f8f0a9ba47ed8a5b26c20ef4c (path )'}`

is produced by your Ethereum node.

From a bit of googling this is most likely caused by fast-syncing your Eth node: https://github.com/ethereum/go-ethereum/issues/16123

[2019-02-27 11:27] ulope commented on #3558
@palango Actually you're correct, it's not matrix related. I misread the traceback that was posted in Gitter.

The most likely cause of a read timeout is that the node takes too long to generate a response to whatever was requested (likely a filter in this case).

[2019-02-27 12:45] ulope opened #3559 "Fix filelock usage, it must not try to log from `__del__`"
## Problem Definition

In recent user reports we've seen a lot of exception shutdowns contain an additional logging error at the end.

Example:
[code]

The superficial cause seems to be related to `filelock` perfoming a logging call from within its `__del__` method (which isn't a good idea). However we didn't used to have this error in the past.

Investigation needed.

[2019-02-27 13:15] offerm commented on #3555
@ulope thanks. I'm using a private ETH chain running locally. The `geth` process is not mining so there are not additional blocks.
When I start the `master` I constantly get this error. However, when I start an older branch there is no error.

How can this be related to Eth node if I'm using the same node for both branches?

[2019-02-27 13:21] #3509 closed

[2019-02-27 13:28] palango commented on #3558
And the cause of this is probably that the whole blockrange from `last_known_block`  to `'latest'` is queried at once, whgich can get quite big on the first node start and leads to the timeout of the connection.

[2019-02-27 13:49] ulope commented on #3544
Somewhat related: #2523

[2019-02-27 13:59] mat7ias opened #3562 "Onboarder compatible with ARM"
Currently, the onboarder won't run on a Raspberry Pi (ARM).

"-bash: ./onboarder: cannot execute binary file: Exec format error"

There was some community interest to try out Raiden on a Pi, could be beneficial to make the onboarder compatible to get testing quicker. Or even a Pi tutorial similar to with [MicroRaiden](https://github.com/raiden-network/microraiden/blob/master/docs/tutorials/raspi-t

[2019-02-27 15:26] #3531 closed

[2019-02-27 21:32] jomuel opened #3565 "Parity integration test failures: Unmatched assumptions"
Parity apparently does not fully match Raiden's assumptions, so the Parity versions of 18 integration tests, including 4 assumption tests (in `integration/rpc/test_assumptions.py`), fail. Afaik, there is no way to configure these aspects of Parity's beavior. The 18 tests are skipped since pr #3483 (Parity versions only), until we decide what do do about it.

The problems are:

- In two assumption

[2019-02-27 22:08] offerm commented on #3555
@ulope more information:

If I change `raiden/blockchain/state.py:26` from

to

everything works.

This line was changed (from `latest` to `opened_block_hash`) by @LefterisJP  on 2019-02-18.

My concern is that the `open_block_hash` is wrong.

Let me know if you need any other information.

[2019-02-27 22:17] offerm commented on #3555
Note that now, after I started raiden with `channel_details = payment_channel_proxy.detail('latest')` I don't see the problem any more even after changing the line back to `channel_details = payment_channel_proxy.detail(opened_block_hash)`

I guess that once the blockchain event was handled there is no need to handle it again.

To recreate the problem I remove the `datadir` and restart.

[2019-02-27 22:25] LefterisJP commented on #3555
Can you add a breakpoint to `/Users/admin/raiden/raiden/blockchain_events_handler.py:89` before the call of `get_channel_state()` and inspect the value of the blockhash? The data is retrieved from the ethereum event.

[2019-02-27 22:43] offerm commented on #3555
Sure.

I see there `blockNumber` : 6414 and `block_hash`: '0xb3e09a099579b2ea8b5fa8f872e2c559514b787ec8f53650ded440ab6f89611b'

Information looks consistent. Not sure that the channel created in that block.
[code]

[2019-02-27 22:47] LefterisJP commented on #3555
Hmm okay this looks wrong. Is the `block_hash` a hexadecimal string at the point I asked you to put the breakpoint? It should be `bytes` after [this](https://github.com/raiden-network/raiden/pull/3515/files#diff-62070ecf9e8fed09dea509b5b3957664R164) change. Are you sure you are properly rebased on master?

I tried it on Kovan by putting a breakpoint on latest master while it processes blockchain e

[2019-02-27 22:48] offerm commented on #3555
Sorry. Yes, it is bytes there. I used `event.event_data['block_hash'].hex()`

@LefterisJP  note that the error is
[code]

the hex string `d74423b54378a6d49546847401bb01798f2ac01f8f0a9ba47ed8a5b26c20ef4c` is probably taken from **`stateRoot`** of block 6414. (see above)

[2019-02-27 23:35] offerm commented on #3555
From what I read, geth 1.8.0 is using state pruning and only keeping the last 128 states.
This is probably the reason why we see this error when asking for block 6416 and the chain is at 7542.

Is it safe to use the historical block without checking that the state is available? Maybe use 'latest' in case of a too old block?

[2019-02-28 00:02] LefterisJP opened #3566 "Don't query chain state for blocks 128 block numbers in the past and more"
## Problem Definition

As pointed out by @offerm [here](https://github.com/raiden-network/raiden/issues/3555#issuecomment-468074337) since we now started to query old state in the proxies we can have a problem with older blocks.

If we query the chain state at a block 128 blocks older than the current one then an ethereum client with state pruning activated (should be both geth and parity by defau

[2019-02-28 00:04] LefterisJP commented on #3555
@offerm indeed that must be it. I ran some tests. Made an issue for this: https://github.com/raiden-network/raiden/issues/3566

[2019-02-28 11:26] hackaugusto opened #3567 "Partner network state must be taken into account while choosing a route"
## Problem Definition

https://github.com/raiden-network/raiden/blob/a6e95b986892fb8185a14ca91a093eb847b71b0d/raiden/transfer/mediated_transfer/mediator.py#L1065-L1072

The code above should be:

[code]

[2019-02-28 12:26] ulope opened #3570 "Mark rc releases as prerelease in homebrew"
## Problem Definition

Currently when we produce release candidates they get uploaded to our homebrew tap as the newest 'final' version.

We need to update the formula to mark those as RCs so people don't accidentally install them.

[2019-02-28 16:14] #453 closed

[2019-02-28 17:30] konradkonrad opened #3574 "`raiden/tests/unit/test_upgrade.py` throws logging errors"
Haven't researched it yet

Note, that it does not occur when calling the test directly.
[code]

[2019-03-01 12:28] ulope opened #3575 "macOS dev installation docs still mention Python 3.6"
## Problem Definition

The [macOS development setup instructions](https://raiden-network.readthedocs.io/en/stable/macos_install_guide.html#macos-development-setup) sill instruct users to use Python 3.6

[2019-03-01 12:31] czepluch commented on #3575
Are you fixing this? Otherwise I can do it, I am editing some of the docs right now anyway.

[2019-03-05 10:08] karlb opened #3582 "Scenario player fails to download raiden release"
When running the scenario player it tries to download a raiden release and fails at that, because https://raiden-nightlies.ams3.digitaloceanspaces.com/raiden-v/home/pirate/raiden/venv/RaidenClient/bin/raiden-linux.tar.gz does not exist. Is the path wrong, or is the nightly missing due to some problem?

Traceback:
[code]

I'm running the current master on debian stretch.

[2019-03-05 10:50] ulope commented on #3582
This is being caused by the naming change of the download archives we had recently due to adding arm binaries.

Needs to be fixed in `tools/scenario-players/cenario_player/node_support.py`.

In the meantime @karlb you can also give an absolute path to a raiden executable (e.g. the one in your virtualenv's `bin` directory) in the `raiden_version` key of the scenario. e.g.:
`  raiden_version: /somew

[2019-03-05 11:35] konradkonrad commented on #3512
Ah, this also applies to the `send_global` queue worker, as it batches messages. On startup/recovery, this can potentially lead to a largish number of monitoring requests being sent.

[2019-03-06 15:48] err508 opened #3588 "send_async / _handle_invite race"
## Problem Definition

 There is a race condition with `send_async / _handle_invite`. Triggered if:
- Client A invites
- The invite triggers _handle_invite in Client B's transport
- Client A starts sending messages to Client B
- Messages are lost, as the invite was not processed yet

Appeared during #3124 as seen [here](https://github.com/raiden-network/raiden/pull/3385/files#diff-620b4fcbc4c15ae7

[2019-03-06 16:06] andrevmatos commented on #3588
This is expected. Retry logic should handle this. How this was not the case?

[2019-03-06 17:14] err508 commented on #3588
`_handle_invite` is (timewise) expensive for private rooms, the `send_async` retries go through before `_handle_invite` is completed.

[2019-03-07 09:29] palango commented on #3558
This happened again to some people on the EthCC booth. Can someone on linux try to reproduce this?

[2019-03-07 17:55] #3552 closed

[2019-03-07 23:58] LefterisJP opened #3600 "Sending insufficient fund payment via WebUI returns success"
## Problem Definition

While using the WebUI in the EthCC demo, we tried to send an impossible payment (one for which we would not have sufficient funds). Instead of getting an insufficient funds errors, a green popup saying that payment succeeded appeared.

## Task

Investigate where the problem lies and fix it.

[2019-03-08 06:16] kelsos commented on #3600
@LefterisJP I encountered the same situation yesterday with the last tested RC.

I tried to send to my offline nodes and the rest API responded with 200. On the logs I could see that the partner was unreachable.

[2019-03-08 11:20] christianbrb opened #3601 "Stable documentation is pointing to v0.100.1"
The stable documentation (https://raiden-network.readthedocs.io/en/stable/) seems to point to v0.100.1 instead of v0.100.2 (at least it looks like this). v0.100.2 does not open when clicking on the link (https://readthedocs.org/projects/raiden-network/). Only when I click on https://raiden-network.readthedocs.io/en/latest/ it shows v0.100.2

[2019-03-08 11:56] LefterisJP commented on #3601
That's funny!

Hey @ulope I remember you mentioned something about not detecting that it's an actual release for v0.100.2. Could the check if nightly have problems for this release?

https://github.com/raiden-network/raiden/blob/15d636061df4852df5d0e77700a1eec6513db50d/docs/conf.py#L32-L51

[2019-03-08 14:26] ulope opened #3602 "Add asserting on delivered PFS routes"
## Specification

Requires: #3507, #3508

The SP should be able to assert on the routes the PFS delivered to a specific node.

This requires a debug endpoint in the PFS' API that can deliver that information.

[2019-03-08 15:11] #2739 closed

[2019-03-08 15:11] #3582 closed

[2019-03-11 13:23] hackaugusto opened #3606 "Don't add duplicated ContractSend into the transaction queue"
The current version of the code adds a transaction to the queue regardless:

https://github.com/raiden-network/raiden/blob/ceff49d7d7dec9b2ded273aacbfd7882a7fd73e3/raiden/transfer/node.py#L1205-L1206

Which does get properly cleaned:

https://github.com/raiden-network/raiden/blob/ceff49d7d7dec9b2ded273aacbfd7882a7fd73e3/raiden/transfer/node.py#L1192-L1198

But may result in the same transaction be

[2019-03-11 13:58] rakanalh opened #3607 "Add docs for PFS / MS"
## Introduction

Current documentation provides a step by step tutorial on how to run Raiden on mainnet. However, with the upcoming integration with PFS / MS, the documentation should also describe how to run/activate those services so that a Raiden could make use of those services.

[2019-03-11 15:12] #3465 closed

[2019-03-12 11:33] hackaugusto opened #3613 "Write additional assumption tests"
## Abstract

During https://github.com/raiden-network/raiden/pull/3556 some additional assumptions were formalized. These need to be written into tests otherwise the code does not work in its current form.

## Motivation

Make sure all assumptions baked in the code of the proxies correspond to the client's behavior.

## Specification

- [ ] Estimate gas fails
  - [x] A revert would be hit [here](h

[2019-03-12 11:54] LefterisJP commented on #3565
As discussed during standup I will give this one a try

[2019-03-12 13:14] LefterisJP commented on #2885
This should be done after

https://github.com/raiden-network/raiden/pull/3515
https://github.com/raiden-network/raiden/pull/3505
https://github.com/raiden-network/raiden/pull/3550

[2019-03-12 13:14] #2885 closed

[2019-03-12 13:27] LefterisJP commented on #3558
I will pick this up and fix asap.

[2019-03-12 14:58] palango opened #3614 "Check dict serialization of messages"
While working on #3612 @konradkonrad found some fields (token amounts in this case) that were serialized as integers but should have been strings for accuracy reasons (see https://github.com/raiden-network/raiden/pull/3612/commits/acbb896ee20481cebfb6e4a0eb14a5ee67d94b4b)

I fixed on other occurrence of this issue (where only one conversion was done) but all messages should be checked for this.

A

[2019-03-13 10:16] rakanalh opened #3619 "Use an actual blockhash instead of `latest`"
## Introduction

After having merged https://github.com/raiden-network/raiden/issues/2885, some tests still pass the `block_identifier` parameter as `latest` which might cause flakiness in some tests and/or other synchronization issues.

https://github.com/raiden-network/raiden/blob/2dd6224baa9e40b63703acfb04dd62f0376e247d/raiden/tests/integration/fixtures/smartcontracts.py#L59-L69

## TODO
- [ ]

[2019-03-13 15:11] #3558 closed

[2019-03-13 15:45] rakanalh commented on #3600
@kelsos are you sure it was returning 200? in my PR above #3623, i have written a test that checks whether there's a proper response and there is. The client returns 409 when you try to send a payment larger than balance. How do i proceed from here?

[2019-03-13 15:49] kelsos commented on #3600
@rakanalh In my case, I sent to an offline node. I am pretty confident there was a 200 response in the logs, which was really weird because in the logs there where the expected messages (partner unreachable etc). I was using the last rc version before `pluto` when this happened to me.

[2019-03-13 15:59] rakanalh commented on #3600
Added one more test case and it does not reproduce the issue. Could you please try to re-produce it if you have the time?

[2019-03-13 16:05] kelsos commented on #3600
So I did try this and the following happened.
[code]

[2019-03-14 14:11] mbenke opened #3630 "Raiden node crashes after adding a token"
## Problem Definition

The Raiden node spit errors after adding token, then died some time later
seemingly without external causes

Expected behaviour: node does not die.

### Details

Invocation:

[code]

Interaction:

[code]
Console output:

[code]
Debug log:

[raiden-debug_2019-03-13T16:50:30.941331.log](https://github.com/raiden-network/raiden/files/2966732/raiden-debug_2019-03-13T16.50.30.941

[2019-03-14 14:35] LefterisJP commented on #3630
Hey @mbenke! Thanks for trying out Raiden. You tried with the latest release I see, right?

Can you also try with latest master and see if this happens? There is a known timeout error which we have fixed in master: https://github.com/raiden-network/raiden/pull/3617

[2019-03-14 17:31] rakanalh opened #3631 "Warnings API endpoint"
## Abstract

Raiden at the moment logs several warnings including:
1. When the ether balance is less than a certain threshold to be able to pay the gas costs of future transactions.
2. Once #3511 is merged, a warning about the insufficient RDN balance to pay for Raiden services.

These warnings could be easily missed by the user and when things go wrong, it'll already be too late to act.

## Motiv

[2019-03-14 18:36] #3588 closed

[2019-03-14 19:38] rakanalh opened #3632 "Flakiness in `test_crash_on_unhandled_exception`"
The following build and many other failed:
https://circleci.com/gh/raiden-network/raiden/31039#tests/containers/23

As far as i can see, geth/parity execution seem to fail:

[code]

[2019-03-15 09:23] mbenke commented on #3630
With the latest master, I was able to add a token, but nonetheless, the node died some time later:

[code]
[raiden-exception-2019-03-14T23-00_g9mvat1.txt](https://github.com/raiden-network/raiden/files/2970283/raiden-exception-2019-03-14T23-00_g9mvat1.txt)

[2019-03-15 09:43] LefterisJP commented on #3630
Hello @mbenke thanks for the report. I could not reproduce this is other testnets, so I will also try rinkeby to see if it's specific to there.

[2019-03-15 10:49] mbenke commented on #3630
@LefterisJP when using local geth instead of Infura, Raiden also crashes on me, albeit differently:

[code]

[2019-03-15 11:56] hackaugusto commented on #3632
It's because of the port being unavailable:

[code]

https://31039-50646767-gh.circle-artifacts.com/23/geth-logs/test_crash_on_unhandled_exception%5Bmatrix-False-0-1%5D/55201a18

ref: https://github.com/raiden-network/raiden/pull/3339#discussion_r251798427

[2019-03-15 12:00] LefterisJP commented on #3631
Note: Does not need to only be warnings. Can be any kind of messages that need to be seen by the user.

[2019-03-15 12:49] #3464 closed

[2019-03-15 13:14] err508 opened #3636 "Flakiness in `test_refund_transfer`"
We had a [build]( https://circleci.com/gh/raiden-network/raiden/31024#artifacts/containers/0) failing with an assertion error in `test_refund_transfer`, here's the [log](https://31024-50646767-gh.circle-artifacts.com/0/test-reports/test-integration-matrix-3.7/results.xml) from the run :

[code]

[2019-03-15 18:54] marcosmartinez7 commented on #3600
Happened to me too.

The situation was when doing a mediated payment.

A -> B -> C

The A->B payment mediated payment works, then the B->C payment failed.

The logs were exactly the same as @kelsos last comment.

[2019-03-18 08:01] christianbrb commented on #3525
Development has started here: https://github.com/raiden-network/raiden-installer

[2019-03-18 13:40] err508 commented on #3636
After going through the logs, I'm pretty sure the AssertionError was caused by the impatient `gevent.sleep()` [here](https://github.com/raiden-network/raiden/blob/56e5e257fa1577b8fc8e7da5e4d352568f2cd017/raiden/tests/integration/transfer/test_refundtransfer.py#L181). In the logs it's visible how the clients are being shut down due to the failed assertion, while the final `Processed` Messages are s

[2019-03-19 13:55] #3636 closed

[2019-03-19 14:25] hackaugusto commented on #3567
This was fixed by https://github.com/raiden-network/raiden/pull/3568

[2019-03-19 14:25] #3567 closed

[2019-03-19 14:37] hackaugusto opened #3645 "Clarify UnrecoverableErrors"
## Abstract

During discussions for https://github.com/raiden-network/raiden/issues/3268 , https://github.com/raiden-network/raiden/issues/2885 , and https://github.com/raiden-network/raiden/issues/3516 it became clear there are two overlapping concepts at play:

- Programming errors that should be detected and crash our test system, but not necessarily the client (currently done with the `--envir

[2019-03-21 11:42] pirapira opened #3651 "synapse.app.homeserver exists with 1"
## Problem Definition

On the master branch on 202e5cae4b3b083b343235c218fdf63771d894f9, `% pytest -x raiden/tests/integration/test_balance_proof_check.py` fails with
[code]

My expectation is that the test should succeed.

More outputs:
[code]

### System Description

Here add a detailed description of your system, e.g. output of the following script:

[code]

[code]

[2019-03-21 11:57] pirapira commented on #3651
I don't see this problem after running
[code]

Just running
[code]
was not enough.

[2019-03-21 13:10] #3651 closed

[2019-03-21 13:23] karlb commented on #3253
To throw in one more option: dataclasses could be used with https://pypi.org/project/marshmallow-dataclass/ for (de)serialization

[2019-03-21 16:23] karlb opened #3656 "Raiden crashes on startup in "Received new balance proof, creating message for Monitoring Service.""
The Raiden client reproducably crashes on startup with the error
[code]

This happens with the current Raiden master branch. The account was out of funds shortly before, which might have helped bringing it into a bad state.

The client has been started with
[code]

[2019-03-21 16:41] hackaugusto commented on #3656
Huuumm, we need a test that:

- Has monitoring service enabled
- A node *receives a transfer* and is **restarted**

Now, the bug is that `_initialize_monitoring_services_queue` expected the transport *to not be started*:

Original: https://github.com/raiden-network/raiden/commit/ab7abab8bb09066f767ca4479fa36d600180a6c9#diff-72b8041548bf416a299ac073c02e24e5R403

However the transport expects itself

[2019-03-21 17:12] hackaugusto opened #3658 "Fix confirmed block regression test."
The test bellow:

https://github.com/raiden-network/raiden/blob/202e5cae4b3b083b343235c218fdf63771d894f9/raiden/tests/integration/test_raidenservice.py#L11-L17

Is not restarting the app to check at which block the filters are being installed. To fix it one has to:

- stop the app (done)
- do some blockchain operation (e.g. open a new channel), and wait for it to be mined+confirmed
- start the app

[2019-03-21 17:54] #3467 closed

[2019-03-21 21:33] marcosmartinez7 commented on #3512
Having the same problem here.

[2019-03-22 09:34] #3462 closed

[2019-03-22 09:51] rakanalh opened #3660 "initiator_init and mediator_init not passing privkey param"
## Problem

The functions `initiator_init` and `mediator_init` are not passing `routing.get_best_routes` the required private key. Which means that in case PFS was enabled, these two functions will always fall back to internal routing and skipping PFS altogether.

## Proposed Solutions
Either:
1. Pass privkey from the `initiator_init` and `mediator_init` to the routing module call.
2. Or, move the

[2019-03-22 09:55] karlb commented on #3660
Related to this, I would like to ask why this has not been caught by a test. Generally not contacting the PFS should be a rather obvious failure mode.

[2019-03-22 10:12] rakanalh opened #3661 "Generated port already used causes Geth / Parity launch failure"
## Intro

The test framework tries to launch a Geth or a Parity process at the beginning of integration tests. Ports on which these processes run is generated and passed to the blockchain client to use.
However, in some instances, the port generated is already used by a different process which means that launching a blockchain client (Geth or Parity) will fail and this causes flakiness in our test

[2019-03-22 11:55] palango opened #3663 "Flaky test: test_settled_lock"
[code]

[2019-03-22 15:10] hackaugusto opened #3666 "Processing of the Raiden events require the corresponding chain state"
## Abstract

Some methods from `RaidenEventHandler` have to query additional data from the node's state, because these handler can execute io operations they are susceptible to race conditions, as exemplified by [this case](https://github.com/raiden-network/raiden/pull/3553/files#r266910123). To avoid these races, and potential bugs, the state which was generate *with* the event should be passed a

[2019-03-22 17:13] #3660 closed

[2019-03-22 17:51] palango commented on #3663
Build is here: https://circleci.com/gh/raiden-network/raiden/33087#tests/containers/7

[2019-03-25 13:48] karlb opened #3668 "Raiden fails to connect to Matrix on startup"
Using the current Raiden master I get
[code]

This does not happen for @Dominik1999.
@ulope says it might be related to https://github.com/raiden-network/raiden/issues/3656.

[2019-03-25 16:42] karlb opened #3670 "Raiden fails to get address for `ServiceRegistry` contract"
When starting Raiden with `--pathfinding-service-address` and `--routing-mode pfs` it causes the following traceback:
[code]

`ServiceRegistry` is missing from that dict because it's only included when `get_contracts_deployed(..., services=True)` is called. Then only the service contracts data is included, so `get_contracts_deployed` has to be called twice.

[2019-03-25 16:44] karlb opened #3671 "Token network address not hex encoded in call to PFS"
The raiden client submits requests like
[code]
to the PFS. The token network address must be hex encoded to form the correct URL, but this looks like `repr(bytes(...))`.

[2019-03-25 18:04] #3671 closed

[2019-03-25 21:32] LefterisJP commented on #3670
I will take this.

[2019-03-25 21:52] offerm opened #3673 "Crash when starting with empty datadir"
I'm using latest `master` **with an empty datadir**.

When starting raiden I'm getting an exception:

[code]

changing `FILTER_MAX_BLOCK_RANGE` at raiden.utils.filters.py from 100,000 to 800 solves the problem. 900 still gives that error.

[2019-03-25 21:54] LefterisJP commented on #3670
@karlb @pirapira The interface of the function appears to be broken. We always assume that `get_contracts_deployed()` will always return all the deployed contract addresses. It makes no sense to have to call this function twice.

Why not just return all deployed contracts in a dict and let the user/caller decide which one to use? You just need to populate the dict, nothing more.

Even the docstrin

[2019-03-25 21:55] offerm commented on #3673
@LefterisJP This looks to be related to https://github.com/raiden-network/raiden/pull/3617

[2019-03-25 22:04] LefterisJP commented on #3670
Until the proper fix comes in made a temporary fix: https://github.com/raiden-network/raiden/pull/3674

[2019-03-25 22:08] LefterisJP commented on #3673
@offerm That's very strange.

What do you mean empty dir? Empty raiden directory I guess?

Can you give the exact command you start raiden with? What's the ethereum client and how has it started? What system is this, e.t.c.?

The error is this:

Your ethereum client can't find its database.

[2019-03-25 22:14] offerm commented on #3673
Sorry, looks like the problem is still here even with 800.

[2019-03-25 22:43] offerm commented on #3673
@LefterisJP can this be related to **pruning**?

I can `get_new_entries (getLogs)` for blocks 0-4095 and for the last 1005 blocks. But if I try to query on any block in between I get the error `ValueError: {'code': -32000, 'message': 'leveldb: not found'}`

[2019-03-25 22:46] LefterisJP commented on #3673
I can't say for sure. Can you please answer the question I asked above:

With a focus on the ethereum client command and settings.

[2019-03-25 22:52] offerm commented on #3673
Sure:
Darwin admins-MacBook-Pro-2.local 18.0.0 Darwin Kernel Version 18.0.0: Wed Aug 22 20:13:40 PDT 2018; root:xnu-4903.201.2~1/RELEASE_X86_64 x86_64

geth:
[code]

geth start command:
[code]

raiden start command:
[code]

[2019-03-25 23:25] offerm commented on #3673
Managed to simulate the problem with curl:
can query block 0 - 4095
[code]
can't query any block between 4096 - 8191
[code]
can query blocks > 8192
[code]

Should I open an Issue with go ethereum?

[2019-03-26 08:32] karlb commented on #3670
I see no harm in returning all contracts in a single function call. It would certainly make using that function easier for the use cases I know.

[2019-03-26 08:52] karlb opened #3676 "`KeyError: 'pathfinding_eth_address'` when using PFS with payments"
When running Raiden with
[code]
and I initiate a payment, I get the following traceback:
[code]

With multiple bugs in the happy case implementation, it looks the me like the Raiden client PFS payment implementation is insufficiently tested.

[2019-03-26 09:13] #3151 closed

[2019-03-26 09:18] LefterisJP commented on #3673
@offerm Probably. I really don't know why this would happen with geth.

[2019-03-26 09:25] LefterisJP opened #3677 "Break app/ui.py into smaller unit testable components"
## Problem Definition

A lot of bugs are seen in the startup of Raiden with different arguments combinations. Smoke tests can't cover all the cases.

## Task

Break the startup of Raiden into different unit testable components and make unit tests for them.

[2019-03-26 09:37] LefterisJP commented on #3676
@jomuel This also needs unit tests. It seems that there is no`pathfinding_eth_address`. Did you mean to write `pathfinding_service_address` ?

[2019-03-26 10:36] #3566 closed

[2019-03-26 12:29] err508 opened #3680 "Unify matrix room names across servers"
## Intro

During work on #3124  and #3262, many problems arose due to our usage one room_id per homeserver. In particular, if transport.leave_unused_rooms method is enabled for #3262, nodes can end up in a deadlock between joining and leaving reciprocal rooms.

## Proposed solution

We have a [utility](https://github.com/raiden-network/raiden/blob/9edd2ab3cdd5ba472dcf295900793fb39a7c0bb1/raiden/ne

[2019-03-26 14:00] palango opened #3681 "Crash in DB update v18_to_v19"
## Problem Definition

I was running tests with the scenario player when nodes stopped starting (with reusing the token enabled).

During investigating I found the following log:
[code]

And the logs:
[code]

### System Description

[code]

[2019-03-26 14:02] pirapira opened #3682 "Create a guide for deployment on private networks"
## Abstract

This issue keeps track of creating a guide for using Raiden on a private network.

## Motivation

Some people are trying to use Raiden on private networks but reporting problems and crashes.

For them to prepare pull-requests, the guide should work with the `master` branch of `raiden`.

[2019-03-26 14:18] offerm commented on #3673
Looks like geth related issue.

Open an issue at https://github.com/ethereum/go-ethereum/issues/19336

Thanks

[2019-03-26 14:30] pirapira commented on #3682
Resources:

* https://github.com/kelsos/test-environment-scripts
* https://github.com/raiden-network/raiden/issues/3244#issuecomment-462803015

[2019-03-26 14:58] LefterisJP commented on #3681
@palango Were you running those tests also earlier this week? And also last week and it was all fine with master?

[2019-03-26 15:02] palango commented on #3681
The DB was created yesterday evening with version 19, so it's strange that the `v18_to_v19`  gets run at all.

[2019-03-26 15:03] LefterisJP commented on #3681
@palango Thanks man. So it has to be something wrong with the v19 to v20 DB upgrades changes that happened in the PR merged today.

[2019-03-26 15:21] offerm opened #3685 "Create channel on private network - zero balance"
Using `master`, private eth network, contracts 0.10.1:

Created with a balance of 5500:
[code]

checking with `channels` also shows a balance of zero

[code]

[2019-03-26 15:42] pirapira commented on #3682
I'm trying to follow Kelsos's script. Currently on https://github.com/kelsos/test-environment-scripts/issues/4 .

[2019-03-26 15:58] offerm commented on #3566
@LefterisJP This is not solved. #3555 is still with us.

[2019-03-26 16:02] LefterisJP commented on #3566
@offerm What do you mean? Where did you get the error again? Can be a part we missed. Can you give more info?

[2019-03-26 16:09] offerm commented on #3566
@LefterisJP
With latest master (just rebased) and an empty raiden dir

[code]

If I change raiden.blockchain.state.py:26 from opened_block_hash to `latest` it is working.

[2019-03-26 16:16] pirapira commented on #3682
I'm trying to follow https://github.com/raiden-network/raiden/issues/3244#issuecomment-462803015.  Currently on https://github.com/raiden-network/raiden-contracts/issues/777 .  The problem seems to be raiden-contracts is too old.

[2019-03-26 16:17] pirapira commented on #3682
raiden-contracts package is old because raiden 0.100.2 specifies so.

[2019-03-26 16:18] LefterisJP commented on #3566
@offerm The stack trace looks wrong. You are not on latest master. You have probably not rebased properly.

The lines and functions they point to look wrong. Especially the offending one:

[code]

[Here](https://github.com/raiden-network/raiden/blob/9edd2ab3cdd5ba472dcf295900793fb39a7c0bb1/raiden/blockchain/state.py#L27) is a link to the same place in latest master.

There we use latest hash:

[co

[2019-03-26 16:18] pirapira commented on #3682
So I should not have said `pip install raiden` but I had to install `raiden` from `master`.

[2019-03-26 16:22] offerm opened #3687 "Startup crash with private chain"
Using a private chain (ID 4321) and starting raiden (master) I get the flow crash:

[code]

[2019-03-26 16:31] palango commented on #3681
The database(s) in questions [network_57e670be.zip](https://github.com/raiden-network/raiden/files/3009153/network_57e670be.zip)

[2019-03-26 16:43] LefterisJP commented on #3687
@offerm Apologies. We currently don't have too many tests for the startup and definitely 0 tests for private nets. I made a quick PR to fix this key error. Can you also try out if the fix works for you? #3688

[2019-03-26 16:47] LefterisJP commented on #3677
Things that can be found when we properly break the module up: https://github.com/raiden-network/raiden/pull/3688

[2019-03-26 16:48] offerm commented on #3566
yes you are right. Thanks.

Will be happy to check and confirm but blocked by #3687

[2019-03-27 10:05] pirapira commented on #3682
I hit https://github.com/raiden-network/raiden-contracts/issues/784 right now.

[2019-03-27 10:12] pirapira commented on #3682
This means `raiden` should also use `click-7.0`.

[2019-03-27 10:15] pirapira commented on #3682
I'm also seeing a "No such file or directory".  Perhaps I should install `raiden-contracts` from under `xud-eth`.
[code]

[2019-03-27 10:35] pirapira commented on #3682
Now I hit https://github.com/raiden-network/raiden-contracts/issues/787 .  I think this fix should be worth a new release.

[2019-03-27 11:25] konradkonrad commented on #3600
I tried to reproduce with yet another variation of integration tests, but I could not. Waiting for @kelsos for a manual reproduction based on `master`.

[2019-03-27 12:03] #3681 closed

[2019-03-27 12:09] LefterisJP commented on #3670
Should be fixed by https://github.com/raiden-network/raiden/pull/3674

[2019-03-27 12:09] #3670 closed

[2019-03-27 12:09] LefterisJP commented on #3121
I am not working on this, so I am unassigning myself.

[2019-03-27 12:10] LefterisJP commented on #2017
I am not working on this so I am unassigning myself.

[2019-03-27 12:10] LefterisJP commented on #1142
I am not working on this so I am unassigning myself.

[2019-03-27 16:36] #3478 closed

[2019-03-27 17:17] LefterisJP opened #3693 "With solidity v >= 0.5.5 rpc gas estimation fails"
While working on making raiden properly work with parity (https://github.com/raiden-network/raiden/issues/3565) I noticed that locally one of the assumptions tests was failing [here](https://github.com/raiden-network/raiden/blob/master/raiden/tests/integration/rpc/test_assumptions.py#L137) also with geth.

I then tried it out with master and it also fails there. The failures seem to happen with `s

[2019-03-28 11:03] err508 opened #3696 "Transport has to incorperate invited peers private_room setting upon room creation"
If two clients have for some reason different `_private_room` settings, the one which uses public rooms sends messages that are ignored by the other client.
A client should have means to learn the `_private_room` setting of the channel partner and adapt to it.

[2019-03-28 11:34] rakanalh commented on #3630
Hello @mbenke,

I was able to reproduce the issue on my local Raiden node with Rinkeby.

The problem you're seeing is because you're trying to register a [non-ERC-20 token](https://rinkeby.etherscan.io/address/0x9bc14c55139501643b62d49c9e8def17029ad418#code) into the [TokenRegistry](https://rinkeby.etherscan.io/address/0x57E670BEFcF15D6b39026fA1Ed2B1c4deCaf1e07#code) contract.

The reason why this

[2019-03-28 11:34] #3630 closed

[2019-03-28 11:53] LefterisJP opened #3697 "Check the to be registered token contract has totalSupply() function implemented"
## Problem Definition

As seen [here](https://github.com/raiden-network/raiden/issues/3630#issuecomment-477558306) the way Raiden fails at token registration if the token does not follow the ERC20 token standard leaves a lot to be desired.

We can definitely provide a better error if the token does not follow the ERC20 interface.

## Task

The way that the contracts check that a "to-be-registered"

[2019-03-28 11:54] LefterisJP commented on #3630
And to provide better errors in the future we now got this issue: https://github.com/raiden-network/raiden/issues/3697

[2019-03-28 13:09] andrevmatos commented on #3696
This was intentional. The idea is that `_private_room` is the same for all clients on a given blockchain: e.g. mainnet always require private rooms, while the testnets default to public rooms. If a user falls out of sync on this, it's only by setting the parameter by hand, and he knows what's doing (e.g. testing a self-hosted network).

[2019-03-28 13:13] andrevmatos commented on #3680
This was done in the past, and this invite mechanism was created exactly to prevent a DoS which could arise if the name/alias of the rooms were known, as a 3rd party could pre-create the rooms for a given pair and ban them from it, or join early and listen to the messages on it.
As we require private rooms, and for the private rooms there **must** be invites going between the parts, it was choosen

[2019-03-28 13:16] err508 commented on #3680
I'm aware of the squatting vector. I'm currently implementing it public rooms, where the room name is know anyway. We might implement secure and consistent private aliases in the future .

[2019-03-28 14:59] palango commented on #3607
Documentation for the services is tracked here: https://github.com/raiden-network/raiden-services/issues/193

[2019-03-28 16:33] pirapira commented on #3244
@offerm on `raiden:master` == 23114972c922fa08ebdecfc506941c417895c03d I tried your `deploy.sh` and `raiden-a.bash`.  I didn't see the `FATAL` error anymore.  Will you try?

[2019-03-28 16:34] pirapira commented on #3244
[code]

[2019-03-28 16:36] pirapira commented on #3244
The saved traceback contains:

[code]

[2019-03-28 16:38] pirapira commented on #3244
I'm more or less sure that the issue is https://github.com/ethereum/web3.py/issues/1149 .   The chain contains no transactions.

[2019-03-28 16:39] pirapira commented on #3244
Web3.py [doesn't seem to](https://github.com/ethereum/web3.py/issues/1149#issuecomment-446349451) fix this soon.  So `raiden` has to do something about it.

[2019-03-28 16:41] pirapira commented on #3244
I'll file a PR and ask @LefterisJP to review it.

[2019-03-28 16:58] LefterisJP commented on #3244
I am here for a review @pirapira whenever you need :heart:

[2019-03-28 17:20] pirapira commented on #3687
I was able to reproduce the issue, and I don't see the problem after switching to this PR.

[2019-03-28 17:37] pirapira commented on #3244
I was testing an older version not `master`.  So I don't know if the issue is still there.

[2019-03-28 17:41] pirapira commented on #3244
On `master` I see #3687 so I cannot test this issue.

[2019-03-28 18:49] #3687 closed

[2019-03-28 20:14] offerm opened #3705 "Master does not compile"
master does not compile as of
[code]

looks like

    services_contracts = dict()

is missing at line 298 of ui/app.py

@LefterisJP

[2019-03-28 20:27] LefterisJP commented on #3705
Argh that does it. Can't be touching this code without it being covered by proper tests.
Moved https://github.com/raiden-network/raiden/issues/3677 to top priority and will pick it up myself.

 I opened a PR for a fix for this for now: https://github.com/raiden-network/raiden/pull/3706

[2019-03-28 20:35] offerm commented on #3705
Just for my curiosity, why didn't merged your  PR workon_3678? It was OK
there.

On Thu, Mar 28, 2019 at 10:27 PM Lefteris Karapetsas <
notifications@github.com> wrote:

[2019-03-28 20:42] #3705 closed

[2019-03-28 20:43] offerm opened #3707 "Crash with latest master"
When running without services
As of commit:
[code]

after making a payment:
[code]

restarting the payee causes a crash:

[code]

the `start` method is doing (raiden_services.py:526)

which leads to asset error in "/Users/admin/raiden/raiden/network/transport/matrix/transport.py", line 606

[2019-03-28 22:48] LefterisJP commented on #3705
I don't know which PR you are referring to.

[2019-03-29 08:26] rakanalh commented on #3707
Duplicate of https://github.com/raiden-network/raiden/issues/3656

[2019-03-29 08:27] LefterisJP commented on #3707
@offerm Even though what I did in PR #3709 solves the problem for you, it does not solve the underling problem which is described in #3656. A proper solution for that will come asap. In the meantime you can use the code of #3709 to at least go ahead with your work.

[2019-03-29 09:29] karlb opened #3710 "Raiden fails to upgrade database"
[code]

The node's raiden directory:
[node_062c12c0.zip](https://github.com/raiden-network/raiden/files/3021949/node_062c12c0.zip)

[2019-03-29 13:06] #3710 closed

[2019-03-29 14:10] #3555 closed

[2019-03-29 16:45] #3565 closed

[2019-03-29 17:38] #3656 closed

[2019-03-29 18:09] rakanalh commented on #3707
Should be resolved by https://github.com/raiden-network/raiden/pull/3702

[2019-03-29 18:09] #3707 closed

[2019-03-29 21:03] LefterisJP opened #3714 "Flaky test: test_regression_transport_global_queues_are_initialized_on_restart_for_services"
The newly introduced test for the fix of https://github.com/raiden-network/raiden/issues/3656 seems to be flaky. Already failed once in Circle but passes locally and on the second run in Circle.

[code]

[2019-04-01 07:54] pirapira commented on #3244
I'll try to reproduce this again (#3687 should be already fixed).

[2019-04-01 08:37] pirapira commented on #3244
On `master` I see https://github.com/raiden-network/raiden-contracts/issues/795 so I cannot test this issue.

[2019-04-01 09:00] pirapira commented on #3244
@offerm On `raiden:master` I was able to start the Raiden client on a private chain.  I was not able to see `tuple index out of rande`.  Can you reproduce the `tuple index out of range` on `raiden:master`?

[2019-04-01 09:02] pirapira commented on #3682
At least I can start the Raiden client on a private network.  I should turn this into a guide already.

[2019-04-01 14:06] pirapira opened #3717 "How does Raiden client check success/failure of an Ethereum transaction?"
Sometimes, `transact()` does not throw any exceptions even when the transaction fails (for example for failing `require()`).  Can there be a piece of code in Raiden that sends a transaction but misses failures of transactions?

(A possible answer is: we always check events so we're fine.)

[2019-04-01 14:12] andrevmatos commented on #3717
IIRC, transactions have a `status` field which is `0` if transaction failed and `1` otherwise, which is checked while we're waiting for the tx to be mined, it should throw there if a `require` failed

[2019-04-01 14:14] pirapira commented on #3717
I see.

This came to my mind when a `transact()` didn't fire an exception in a test https://github.com/raiden-network/raiden-contracts/pull/794, suddenly when we specified `gas`.

[2019-04-01 14:14] #3717 closed

[2019-04-01 14:16] LefterisJP commented on #3717
Pretty much this. This is done here: https://github.com/raiden-network/raiden/blob/c690de8cc4d73e4b18525c2e61b63e635ca06aa3/raiden/network/rpc/transactions.py#L4

[2019-04-01 14:20] kelsos commented on #3600
I attempted to run the simplest scenario of sending to a channel with an offline node.
The latest master behaves as it was before the issue appeared. There is no 200 response at least until the client timeout's the request. Usually, the 200 would return quite fast.

I am closing the issue since this doesn't seem to be valid anymore.

[2019-04-01 14:20] #3600 closed

[2019-04-01 14:21] LefterisJP commented on #3600
Now I am curious how the hell we fixed this ...

[2019-04-01 15:38] ulope opened #3720 "Provide node reachability handling utilities to PFS"
## Abstract

To calculate usable routes the PFS needs to know the network reachability state of Raiden nodes.

## Specification

The Raiden MatrixTransport implements reachability state handling via Matrix presence updates.
This functionality needs to be extracted into a reusable utility function that is compatible with the existing Matrix client usage in the PFS.

[2019-04-01 15:55] palango opened #3721 "wait_for_event_with_timeout task"
## Abstract

In some scenarios it makes sense to wait for an event to happen in the SCs. This can be made more efficient by combining the `assert_event` task with the `wait[_block]` task.

## Specification

Add a new `wait_for_event_with_timeout` task to the SP that listens for a given event with a defined timeout (probably blocks make the most sense here).

[2019-04-01 15:57] palango opened #3722 "assert_regex_in_logs task"
## Abstract

In some scenarios it makes sense to check the log files for certain output (e.g. the PFS support is enabled). Currently this can only be checked implicitely.

## Specification

Add a new `assert_regex_in_logs` task to the SP that can match a certain regex on the log output of a certain or all nodes.

[2019-04-01 15:58] eorituz opened #3723 "v.100-3-rc1 crashes in production mode"
## Problem Definition

Node crashes on startup (I missed setting the environment to development):
`raiden-v0.100.3-rc1-linux-x86_64 --eth-rpc-endpoint X/X/X:8545 --keystore-path /X/X/X --network-id 42`
But nontheless I expect a propper error message

[code]

As soon as I set the development environment everything works fine:
`raiden-v0.100.3-rc1-linux-x86_64 --eth-rpc-endpoint X/X/X:8545 --keystor

[2019-04-01 17:10] ulope commented on #3723
The reason is that there were no services contracts for contracts version 0.4.0.
This should probably be handled in `get_contracts_deployment_info()`.

Ping @pirapira

[2019-04-01 21:08] LefterisJP commented on #3723
@pirapira This is not about an error message. There must be no error in that function. It should simply not return the services contracts. 0.4.0 is the red eyes version. At the moment master is broken for red eyes / production.

[2019-04-02 07:53] pirapira commented on #3723
@LefterisJP I don't know.  "If you ask for a non-existent thing, you get an error."  "No, I just asked for everything that there is."  "Well, you asked for both RAIDEN and SERVICES."  "No, ALL doesn't mean RAIDEN+SERVICES, ALL means everything that there are".  "ALL does mean RAIDEN+SERVICES, and you asked for SERVICES as well".

[2019-04-02 07:59] pirapira commented on #3723
@LefterisJP I think it's difficult because a single function `get_contracts_deployment_info()` does many different kinds of things.  It's simpler when `get_raiden_contracts_deployment_info()` and `get_service_contracts_deployment_info()` are two separate functions.

[2019-04-02 08:03] ulope commented on #3723
Is maybe that why there was the `services` parameter previously?

[2019-04-02 08:07] pirapira commented on #3723
@ulope yes, that approach gets messier when there are more than three modules.

[2019-04-02 08:12] LefterisJP commented on #3723
So the function has the following signature:

[code]

To me `ALL` means simply ALL modules you can find info about. And then the consumer of the function can check the returned dictionary to see what was found and act accordingly. This is exactly what I said in [this](https://github.com/raiden-network/raiden-contracts/issues/774#issuecomment-476547617) issue too.

No this is not gonna be simpler,

[2019-04-02 08:19] pirapira commented on #3723
Right.  I was thinking about "It is more important for the implementation to be simple than the interface" https://en.wikipedia.org/wiki/Worse_is_better but meh.   `ALL` will mean whatever there are.

[2019-04-02 08:48] pirapira commented on #3723
A fix is coming: https://github.com/raiden-network/raiden-contracts/pull/809  and then a `raiden-contracts` release.

[2019-04-02 12:35] palango commented on #3722
When thinking about it it might be enough to add a `parallel_any` task, which would return whenever any of its subtasks finishes successfully. That would make all tasks more composable.

[2019-04-02 13:52] ulope opened #3727 "Fix test suite deprecation warnings"
## Problem description

We've accumulated quite a few deprecation warnings when running the test suite.
These become a bit annoying since they are noise one has to filter out when looking for the actual errors.

We should fix those.

Example warnings section of a recent run:
[code]

[2019-04-02 14:19] czepluch commented on #3607
@palango Can you link the docs just created for the MS/PFS to the raiden read the docs?

[2019-04-02 14:19] czepluch commented on #3607
Maybe we shouldn't do it yet though.

[2019-04-02 14:40] palango opened #3729 "Crash when opening new channel"
## Problem Definition

When testing the PFS I created a new token and registered it. Afterwards I tried to open a new channel, which failed with the following stacktrace.
[code]

### System Description

Here add a detailed description of your system, e.g. output of the following script:

[code]

[2019-04-02 14:42] LefterisJP commented on #3729
you mention rinkeby so I suppose it's geth. Since this is an ethereum client error can you also include the version of geth you tried with?

[2019-04-02 14:46] palango commented on #3607
Yesah, I guess it's not ready for prime time. But foir reference: the docs can be found here: https://raiden-services.readthedocs.io/en/latest/

[2019-04-02 14:49] czepluch commented on #3729
Did you perform any onchain transactions outside of Raiden after you started your node?

[2019-04-02 15:03] pirapira opened #3730 "Upgrade DEVELOPMENT_CONTRACT_VERSION to 0.11.0"
where `setTotalWithdraw()` is available.

Also I saw a [test failure](https://circleci.com/gh/raiden-network/raiden/36188#tests/containers/10) when I did update to `0.11.0`. The cause of the failure should be investigated.

[2019-04-02 15:04] palango opened #3731 "raiden.user_deposit is `None`"
## Problem Definition

I'm testing the PFS integration. I have an open channel and sent a payment from node A to node B. When B received the payment, the nodes crashed with the traceback below.

It seems like the `user_deposit` is not properly initialized.

[code]

### System Description

Here add a detailed description of your system, e.g. output of the following script:

- Raiden git commit e8cb

[2019-04-02 15:08] palango commented on #3729
Yes, seems like it. I thought I used the same node for registering the token I deployed before, but it seems it was another one. Sorry for the noise 🙈

[2019-04-02 15:08] #3729 closed

[2019-04-02 15:10] LefterisJP commented on #3729
@palango This reminds me we should probably somehow handle this error better since the only reason this can happen is using the same account that manages Raiden outside of the Raiden app.

[2019-04-02 15:12] LefterisJP commented on #3731
I believe this is one of these errors during the startup of the raiden application which https://github.com/raiden-network/raiden/issues/3677 is going to try to improve.

I will probably address this issue as part of my work on 3677.

[2019-04-02 15:14] LefterisJP commented on #3731
Yes it is. This line is the offender: https://github.com/raiden-network/raiden/blob/e8cb79007622319dec593966b502529b888b02be/raiden/ui/app.py#L406

Mixup between `contracts` and `services_contracts` dictionary. With raiden-contracts v0.17.1 and the work I am doing for 3677 this will be fixed.

[2019-04-03 08:58] palango commented on #3729
Yeah, seems like we can catch this and shutdown properly.

[2019-04-03 12:38] #3676 closed

[2019-04-03 13:03] ulope opened #3733 "Add chat notification support to SP"
## Abstract

Once the Scenario Player is running automated (#2647) it would be useful to get notifications in a dedicated RC channel about success / failure of builds.

## Specification

TBD

[2019-04-03 13:43] jomuel commented on #3461
The pfs might report several errors after requests to the `/paths` endpoint. Proposal to treat them:

In general, make one more try and raise a `ServiceRequestFailed` if that fails again. The following errors will just immediately raise a `ServiceRequestFailed`:
2107 DEPOSIT_TOO_LOW, 2102 WRONG_IOU_RECIPIENT as we have currently have no way to fix them when we happen
20xx as they are not IOU-relat

[2019-04-03 14:08] palango commented on #3575
That is already fixed in master, just not updated on readthedocs yet.

[2019-04-03 14:19] LefterisJP opened #3735 "Adjust routing-mode argument to specify if client publishes PFS updates when not using PFS"
## Problem Definition

We discussed this in person an in a private issue and we came up with the following suggestion for a not so confusing argument that with a proper help text will allow people to set their client properly to publish updates to the PFS or not. thanks @konradkonrad

## Specification

`--routing-mode pfs|local|private` where

- `pfs` simply uses the PFS [**default**]
- `local` us

[2019-04-03 14:29] LefterisJP commented on #3575
Closing this as it's already fixed: https://raiden-network.readthedocs.io/en/latest/macos_install_guide.html#macos-development-setup

[2019-04-03 14:29] #3575 closed

[2019-04-03 15:02] LefterisJP opened #3736 "Smoketest should show stdout"
## Problem definition

At the moment working with the smoketest is really difficult. After some point in the startup of the test going in with `pdb` does not work and also printing out information to the stdout like the normal client does is not supported.

This leads to many problems, where in the startup, something probably does `sys.exit(1)` due to a precondition check failing but when running

[2019-04-03 15:34] LefterisJP opened #3738 "Utilize black tool for styling issues"
## Problem Definition

As discussed in person and in the private Technical Debt issues, we should strive for automation of anything that can be automated and also for consistency across repositories in the tooling that we use.

Using black will handle the styling part of the consistency.

**Important**: Prioritization of this task should happen at a point when not too many big PRs are open to redu

[2019-04-04 07:18] LefterisJP commented on #3730
This should only happen when we actually support withdraw in the client.

[2019-04-04 07:23] LefterisJP commented on #3727
This blew up with the latest web3.py upgrade due to the chain id warnings.

[2019-04-04 08:20] konradkonrad commented on #3735
Thanks for promoting this to a feature issue @LefterisJP :)
From my point of view, a benefit of this approach is, that it allows for meaningful startup configuration checks and helpful error messages. I.e:
- `--routing-mode=pfs` triggers the checks that all other PFS related configuration constraints are fulfilled, and outputs corresponding error messages
- `--routing-mode=local` would error if `-

[2019-04-04 10:24] pirapira commented on #3730
I'll ask @rakanalh when he wants it, then.

[2019-04-04 11:42] pirapira commented on #3730
@LefterisJP but 0.11.0 is not deployed on the mainnet, so we'll find only interesting problems, not devastating problems.

[2019-04-04 11:44] pirapira commented on #3730
The mainnet-sync will be kept track in https://github.com/raiden-network/team/issues/377.

[2019-04-04 12:02] karlb opened #3740 "ServiceRegistry required despite passing PFS on cli"
When telling Raiden to use a specific PFS, it demands a service registry, although there is no need for it.
[code]

[2019-04-04 12:11] hackaugusto opened #3742 "Version smart contract proxies"
## Abstract

The smart contracts have been improved multiple times, each iteration may change the contracts's interface. When this happens the code that interacts with the smart contracts has to be kept in sync, and sometimes backwards compatibility has to be maintained.

Versioning can be used in order to make the necessity of upgrades obvious, and to support multiple versions of the smart contra

[2019-04-04 12:21] karlb opened #3743 "AttributeError: 'NoneType' object has no attribute 'channelidentifiers_to_channels' during transfer"
When running the Raiden client with
[code]
and doing a transfer, I get the following traceback:
[code]

[2019-04-04 13:00] hackaugusto opened #3744 "Validate ABI of non-official deployments"
## Abstract

Currently the proxies only check if the given address contains code [1], but it does not verify that the code in the address matches the expected ABI, this is the case because we assume the configuration is correct by default.

For **our** smart contracts we can check the address bytecode against the ABI's runtime bytecode, as long the deployment use our tools and the corresponding JS

[2019-04-04 13:09] hackaugusto commented on #3744
So, I opened this issue with our fixture setup in mind, the goal was to detect bad deployments in the tests early on, and save the time debugging a bad configuration. However, for our tests this issue is not sufficient, if we have bad interfaces (function wise) that allows us to deploy a smart contract and mix it with the wrong ABI, errors can still popup. However, this may make life easier for cu

[2019-04-04 13:39] hackaugusto commented on #3744
Another simpler alternative, is to just call a `view` function that we know does not return empty, e.g. like how it was done in the registry:

https://github.com/raiden-network/raiden/blob/adb2ac86d6563aff0ddaa82dbd5c3d2ce4ed0ec6/raiden/smart_contracts/Registry.sol#L18-L25

Token: totalSupply
EndpointRegistry: `None`
SecretRegistry: `None`
TokenNetworkRegistry: secret_registry_address
TokenNetwork

[2019-04-04 13:58] pirapira opened #3745 "pip install -r requirments.txt -e . fails on a fresh clone"
On a fresh virtualenv (Python 3.7), when I try `pip install -r requirements.txt -e .` it fails.

[code]

[code]

[2019-04-04 13:59] pirapira commented on #3682
Now I hit https://github.com/raiden-network/raiden/issues/3745

[2019-04-04 14:04] hackaugusto commented on #3745
It looks like you're missing a dependency, postgresql. Also please add `-c constraints.txt` to your command line `pip install -r requirements.txt -c constraints.txt -e .`

[2019-04-04 14:05] ulope commented on #3745
That looks related to the synapse requirements.

I remember that psycopg2 had some plans to change the way they distribute binary packages.

I’ll take a look at this.

[2019-04-04 14:20] pirapira commented on #3745
I started from scratch and added `-c constraints.txt` but I still see the same error.

[2019-04-04 14:22] hackaugusto opened #3746 "Whitelist external smart contract"
## Abstract

To safe guard users against dangerous smart contracts a whitelist approach is necessary. This is only necessary for external smart contracts since for Raiden smart contracts we can rely on #3744

## Motivation

This is just an additional measure to safe guard users.

## Specification

- [ ] Define we want to have a default list.
- [ ] If we do, who is going to curate the list.
- [ ] O

[2019-04-04 14:23] hackaugusto commented on #344
I'm closing. It had two objectives:

1. Detect if a buggy compiler version is being used and reject it.
2. Detect if the smart contract is unknown, reject it because we cannot prove safety.

For *1* we have implemented https://github.com/raiden-network/team/issues/31 , which should be sufficient.

For *2* is superseded by https://github.com/raiden-network/raiden/issues/3744 and https://github.com/

[2019-04-04 14:23] #344 closed

[2019-04-04 14:28] hackaugusto commented on #2017
My bad this is the same issue as #3744 , I did not remember about it. Because I have updated the other issues to point to #3744 I'm closing this one.

[2019-04-04 14:28] #2017 closed

[2019-04-04 15:42] konradkonrad opened #3748 "`QueueIdentifier` is underspecified and allows for potential collisions"
### Problem
Currently a `QueueIdentifier` is specified by only
[code]
If a node has channels with the same `participant` in several token networks (i.e. for token `A` and token `B`, that happen to have the same `channel_identifier` (i.e. channel counter per partner per token network), this can lead to collisions in the queue identifier.

Since messages are ordered per queue, this can lead to unwan

[2019-04-04 15:58] andrevmatos commented on #3748
First point doens't happen, matrix has a very loose concept of queues, as all the queued (and available after exponential timeout) are sent on every retry loop, and as well processed by the receiver (in order, but despite processing failures), so one channel stuck shouldn't affect any other message in the same queue.
Second point though can be very real: https://github.com/raiden-network/raiden/bl

[2019-04-04 17:06] LefterisJP opened #3750 "Fix `test_echo_node_lottery` test"
## Problem Definition

It seems that the following tests are flaky/failing often on Circle and sometimes even locally on master.

`raiden/tests/integration/test_echo_node.py::test_event_transfer_received_success`
`raiden/tests/integration/test_echo_node.py::test_echo_node_response`

Update: `raiden/tests/integration/test_echo_node.py::test_echo_node_response()` also times out locally in master at

[2019-04-04 17:09] LefterisJP commented on #3677
As a first step I simply opted for breaking parts of the startup into smaller function and unit testing them, since that code is simply not covered at all.

That alone uncovered numerous problems: https://github.com/raiden-network/raiden/pull/3732

[2019-04-04 23:13] LefterisJP commented on #3746
I have some experience with this. There are multiple ways to acquire this data, and none of them is totally correct, complete or agrees with each other. All sources have different amount of tokens in their APIs, different symbols for same tokens or plain old simply wrong data entries.

### Possible Approaches

- [eth_tokens.json](https://github.com/rotkehlchenio/rotkehlchen/blob/0cd4608548f31a2e2c

[2019-04-05 06:48] LefterisJP commented on #3730
Yes sure I am only talking about "interesting" problems. We got our hands full with problems at the moment and they kind of slow down the integration testing (every time we break the services guys have to wait) so I would like to keep the problem search space small.

[2019-04-05 08:02] offerm opened #3752 "Question: Can the "production" contracts (0.4.0) be used with latest Raiden"
Should I be able to use the "production" contracts (0.4.0) when using the latest raiden (master) on  a private chain?

If I face problems - should I report?

[2019-04-05 08:09] LefterisJP commented on #3752
Yes they should be, when putting `--environment-type production`. At the moment there are problems with latest master though which https://github.com/raiden-network/raiden/pull/3732 should be solving.

[2019-04-05 09:04] offerm commented on #3752
So, I deployed contract version 0.4.0 and started raiden with `--environment-type production`

All looks as expected.

Yet, I don't see the token I created and registered:

[code]

Any idea?

[2019-04-05 11:58] offerm commented on #3752
@LefterisJP I managed to solve it (I hope). Let me explain.

I'm using 2 machines. first machine is running geth, second machine is running raiden.
I created the contracts on the first machine.

To solve the problem I had to copy the file `/home/xud/raiden-contracts/raiden_contracts/data_0.4.0/deployment_private_net.json`

to `~/.virtualenvs/raiden/lib/python3.7/site-packages/raiden_contracts/data

[2019-04-05 14:32] ulope commented on #3745
Ok, this has a pretty nice chain of causes leading to the problem:
- We include `synapse` as a test dependency
  - Before `0.99` (we still use `0.33.9`, see #3387) it unconditionally depended on `psycopg2>=2.6`
    - Yesterday [psycopg2 `2.8` was released](http://initd.org/psycopg/articles/2019/04/04/psycopg-28-released/)
    - psycopg2 `2.8` no longer includes precompiled wheels [because](https:/

[2019-04-05 15:27] palango opened #3754 "Publish mediation fee infos to PFS"
## Abstract

The PFS needs to know about the mediation fees for channels in the network. SO the client needs to broadcast them.

## Specification

- [ ] Define message format
- [ ] Define when/how often the messages should be send

## Backwards Compatibility

No problems with backwards compatibility.

[2019-04-05 16:26] LefterisJP commented on #3752
It should not be needed to copy any files. Note: Production contracts allow only 1 token to ever be registered in a token network.

[2019-04-07 07:17] calinchiper opened #3756 "[ARM] Provided address 0x... for token network registry contract does not contain expected code."
I'm using a private network that was initially bootstrapped on my laptop[Ubuntu].  I've deployed Raiden contracts using Raiden deployer. On my laptop it works fine.

I've also connected a Raiden Rasperry PI node but when I start Raiden it shows me the next error:
`Error: Provided address 0x9bb81a9dDeF8bCFA7b19A256c4F04A11C5556E46 for token network registry contract does not contain expected code.`

[2019-04-08 06:43] LefterisJP commented on #3756
Hello @calinchiper. How are you running Raiden?

[2019-04-08 06:53] #3723 closed

[2019-04-08 06:53] #3731 closed

[2019-04-08 06:53] #3740 closed

[2019-04-08 08:18] #3745 closed

[2019-04-08 08:33] hackaugusto opened #3757 "`get_random_service` is not using a confirmed block"
## Abstract

The function [`get_random_service`](https://github.com/raiden-network/raiden/blob/1ecea15cd4f8b178f1500f151373e7f027703b31/raiden/network/pathfinding.py#L37-L39) is querying the registry on the latest block, which is not confirmed yet and is thus susceptible to reorgs.

## Motivation

Reorgs can change the state of a given smart contract, meaning that a service may disappear if a conf

[2019-04-08 08:40] LefterisJP commented on #3677
I did what I was planning to do for this issue in https://github.com/raiden-network/raiden/pull/3732

I will not work on it any further.

@hackaugusto we can either keep it open for someone to implement your suggestions or move them to a new issue and close this one.

[2019-04-08 08:48] pirapira opened #3758 "Wormhole attack"
I attended Matteo Maffei's talk in Darmstadt on 2019-04-05.  He talked about an attack on Raiden called ["the wormhole attack"](https://eprint.iacr.org/2018/472.pdf).

## Summary

In a mediated transfer involving more than three hops, two mediators can steal the mediation fee from the other mediators in between.

## How the attack works (short version)

In a mediated transfer involving five nodes,

[2019-04-08 09:13] pirapira commented on #3730
I see.  If you have many problems, fix them without changing anything.

[2019-04-08 09:13] #3730 closed

[2019-04-08 09:37] pirapira commented on #3758
I'll read [Matteo's paper](https://eprint.iacr.org/2018/472.pdf).

[2019-04-08 09:39] pirapira commented on #3745
@ulope that's a wonderful diagnosis.  Thank you.

[2019-04-08 09:49] hackaugusto opened #3759 "Cache the last `CONFIRMATION_BLOCKS + 1`"
## Abstract

Currently Raiden does at least two `eth_getBlockByNumber` calls per new block, one at the `AlarmTask` and another at the `RaidenService`.

AlarmTask, this is a polling loop, it will be called at least once until a new block is seen:

https://github.com/raiden-network/raiden/blob/1ecea15cd4f8b178f1500f151373e7f027703b31/raiden/tasks.py#L199-L202

RaidenService, this is the callback for

[2019-04-08 09:59] rakanalh commented on #3743
@karlb the stacktrace here only shows the failure but doesn't really show where it happened. The above is basically the stacktrace of the gevent task from which the exception occured. Could you please try to reproduce this issue and maybe see if there is any stacktrace above the one you pasted?

[2019-04-08 10:04] rakanalh commented on #3743
More questions:
1. Did you upgrade your client to a newer version before creating the channe / initiating the transfer? Somehow a problem with migrations could have broken the snapshot restoration and could cause this.
2. Was the node that crashed an initiator or mediator or target?

[2019-04-08 10:22] hackaugusto opened #3761 "Add `poll_receipt` to `JSONRPCClient`"
## Abstract

After we a sent transaction is mined and confirmed the receipt is necessary to check the execution status.

## Motivation

All proxy with calls to `poll` are followed by a call to `get_transaction_receipt`, this can be merged into a single function call.

## Specification

- Add a new method to the `JSONRPCClient` named `poll_receipt` which does the polling and returns `get_transactio

[2019-04-08 10:39] karlb commented on #3743
I'm using a channel that I've created with an older Raiden client version. The error crashes the initiator when trying to do a payment. Right now I can reproduce the traceback just by trying to start the node. The traceback is the only one, no other traceback above.

[2019-04-08 10:42] karlb commented on #3743
I've also added the "missing" traceback to the original message where I only posted the useless gevent traceback.

[2019-04-08 12:03] pirapira commented on #3758
I had some discussions with @hackaugusto @rakanalh and @konradkonrad

* opening many small nodes costs more than creating a big hub
* this attack can minimize the latency of payment
* as a mediator you always have the possibility that the payment doesn't succeed

[2019-04-08 12:06] hackaugusto commented on #3697
Related: Validate the ABI for non-official deployments of the Raiden contracts #3744

[2019-04-08 12:12] ulope commented on #3668
@karlb This should have been fixed by #3702.
Can you check if this is still an issue?

[2019-04-08 12:26] hackaugusto commented on #3619
To prevent future errors we should change the proxies to **reject** `latest` as a value for `given_block_identifier`, this will make the offending tests fail and we can then fix them.

[2019-04-08 12:36] hackaugusto commented on #3759
@palango or @karlb maybe you guys want to give some input on how do you do handle this within the services

[2019-04-08 12:37] palango opened #3765 "Strange matrix behaviour"
This is a grab bag of strange behavior I see in the PFS integration tests after https://github.com/raiden-network/raiden/pull/3732 has been merged.

### Raiden client received `UpdatePFS` messages

Suddenly I get warnings in the client about received `UpdatePFS` messages that it cannot decode:
[code]

### `Processed` and `Delivered` messages in PFS

In the PFS I suddenly get `Processed` and `Deliv

[2019-04-08 12:39] pirapira opened #3766 "make docs shows warnings in onboarding.rst"
I see warnings in `onboarding.rst` when I run `make docs`.

[code]

[2019-04-08 12:52] pirapira opened #3767 "Enable invoicing"
## Abstract

In many cases merchants send bills and then customers pay.  This issue keeps track of supporting this use case in Raiden.

## Motivation

@LefterisJP wondered whether this is kept track of.

[2019-04-08 12:53] rakanalh commented on #3677
Closing issue as this has been improved. We can create further more detailed issues if needed.

[2019-04-08 12:53] #3677 closed

[2019-04-08 12:56] rakanalh commented on #3685
Hello @offerm,

Thanks for reporting this issue.

Could you please provide more information:
1. How to reproduce this issue
2. Were you using a private chain / a testnet or mainnet?
3. In case of 2 being a testnet or mainnet... were you using our already-deployed contracts? or did you deploy your own?

[2019-04-08 13:04] karlb commented on #3743
Here's the failing db:
[v21_log.zip](https://github.com/raiden-network/raiden/files/3054378/v21_log.zip)

[2019-04-08 13:29] calinchiper commented on #3756
@LefterisJP
I'm using a shell file:

`./raiden --keystore-path $KEY_STORE_PATH --network-id 4224 --accept-disclaimer --rpc --api-address $API_ADDRESS --web-ui --environment-type development --console --no-sync-check --tokennetwork-registry-contract-address $TokenNetworkRegistry --secret-registry-contract-address $SecretRegistry --endpoint-registry-contract-address $EndpointRegistry --gas-price 100

[2019-04-08 14:29] karlb commented on #3743
Backup of previous db:
[v20_log.zip](https://github.com/raiden-network/raiden/files/3054766/v20_log.zip)

[2019-04-08 14:54] LefterisJP commented on #3756
So some questions:

- Why are you using the udp transport?
- Why are you providing the `--console` argument?
- You are also providing the `--no-sync-check`. Are you sure that the contracts are deployed at the ehtereum addresses you are giving as arguments and that the ethereum client you are connecting to locally is synced? The reason I am asking is that the error you are getting is pretty much sa

[2019-04-08 15:35] hackaugusto commented on #3758
Here are some extend comments which came out from our discussion. I don't see why this would be exploited.

#### For a rational attacker, one that wants to make profit from the attack

Assuming normal operation and a honest operator: She may operate a hub and open as many channels with a single address as viable, increasing the node's connectivity. A transfer routed through this hub will be shorte

[2019-04-08 16:17] #3754 closed

[2019-04-08 16:43] pirapira opened #3769 "An attacker can a payment and never reveal the secret"
and so locks the fund on the path for a while.

Does [Matteo's protocol](https://eprint.iacr.org/2018/472.pdf) solve prevent this scenario?

[2019-04-08 16:45] pirapira commented on #3758
I see. The attack is a problem for a rational hop that thinks it might be surrounded by irrational attackers.  But irrational attackers can do worse things with a single node already [An attacker can make a payment and never reveal the secret](https://github.com/raiden-network/raiden/issues/3769).