[2018-08-23 10:34] CosminNechifor opened #2233 "MatrixTransport raises an exception when fetching an invalid user displayname"
## Problem Definition

When I try to open my raiden node I get the following error which causes the node to crash:

[code]
### System Description

[code]

[2018-08-23 11:08] czepluch commented on #2233
Can verify that I get the same on latest master. Also after removing `.raiden`.
Here's my log just in case. I only get the `Greenlet` errors though.
https://gist.github.com/czepluch/26826e8fc84f32da244cdb52c9959ec0

[2018-08-23 11:26] jomuel commented on #2213
Thanks. I still cannot reproduce the bug but this should be enough to create a failing test instead, if your changes in #2208 didn't fix it.

[2018-08-23 12:27] pkafei opened #2234 "Matrix Request Error when Raiden is booted"
## Problem

When I run raiden I get this trace-back error in the terminal. I'm able to initially start raiden and I can choose an account and enter my password. After 2 or 3 minutes though raiden hangs or I get this error message as the output.

[code]
## Information about my system

``
Darwin Kernel Version 17.7.0: Thu Jun 21 22:59:54 PDT 2018; root:xnu-4570.71.2~2/RELEASE_X86_64 x86_64
alias get

[2018-08-23 13:12] palango commented on #2234
I get the same:
[code]

[2018-08-23 13:28] LefterisJP commented on #862
As discussed let's go with the JSON format. Will need some work but it's nothing complicated. Pushed it to the next milestone.

[2018-08-23 13:37] ulope commented on #2234
@CosminNechifor @palango Please try again. Seems the `transport01` server got stuck somehow (the services were stopped but I couldn't restart the containers). A reboot seems to have fixed the problem.

[2018-08-23 13:38] #2233 closed

[2018-08-23 13:38] palango commented on #2234
@ulope Works now for me

[2018-08-23 13:45] LefterisJP opened #2236 "Check if update transfer has been called inside `verify_settle_state()`"
As @hackaugusto commented [here](https://github.com/raiden-network/raiden/commit/899143abeb0000b3d7c89d0c063435ca00b18914#r30102304) we have a bug in the `verify_settle_state()` function.

We assume that both our node and the partner node has called successfully updated their version of the channel on-chain when we verify the settle state.

That may not have happened and as such this check needs t

[2018-08-23 14:20] czepluch opened #2239 "WebUI generated tx amount is 1 lower than specified"
## Problem Definition

In the UI, I typed in to make a payment of value `0.0000042`, but in the console and the events afterwards I see the value to be:
[code]

[2018-08-23 14:35] err508 opened #2240 "Remove partner argument from setTotalWithdraw."
# Problem Definition

The `partner` argument for `setTotalWithdraw` was [removed](https://github.com/raiden-network/raiden-contracts/pull/251), this needs to be done in the client as well.

[2018-08-23 15:14] LefterisJP commented on #2240
Contract breaking changes are moved to Testnet 7

[2018-08-23 15:17] hackaugusto commented on #2233
[code]

This will be fixed by https://github.com/raiden-network/raiden/pull/2237

[2018-08-23 15:25] hackaugusto commented on #2234
@ulope shouldn' the server selection have handled this?

[2018-08-23 15:39] hackaugusto commented on #2239
@czepluch what is the problem?

[2018-08-23 15:42] czepluch commented on #2239
A rounding error. Will be fixed here https://github.com/raiden-network/raiden/pull/2242

[2018-08-23 15:43] #2239 closed

[2018-08-23 15:55] CosminNechifor commented on #2234
@ulope works

[2018-08-23 16:00] CosminNechifor commented on #2234
@ulope This is a duplicate of: #2231

[2018-08-23 17:10] ulope commented on #2234
@hackaugusto

[2018-08-24 06:19] #2176 closed, assigned to LefterisJP, kelsos

[2018-08-24 06:26] LefterisJP commented on #1818
Added your log to a gist as opening a file in a text editor is a bit annoying. First wanna read it in the browser: https://gist.github.com/LefterisJP/e416b2642828f8e6f2233034623b5426

[2018-08-24 06:28] LefterisJP commented on #1818
Also @andrevmatos I think we can close the issue. Looking at Andre's traceback the exception raised is the same I saw when I worked on: https://github.com/raiden-network/raiden/pull/2245 and I fixed it there but also @hackaugusto fixed it at https://github.com/raiden-network/raiden/pull/2244.

It's due to the exception not being logged as a string.

If you agree then please close the issue.

[2018-08-24 08:13] #2232 closed

[2018-08-24 08:52] CosminNechifor opened #2247 "Increase snapshot frequency to speed up node restart"
## Problem Definition

Currently restoring 12k state changes is taking roughly 5min.

[code]

[2018-08-24 09:45] hackaugusto commented on #438
Starting with #1990 the max is 40% of pi thousand.

[2018-08-24 09:45] #438 closed

[2018-08-24 10:11] kelsos opened #2249 "Fix display of numbers on notifications"
Currently the notifications of payment are displayed in scientific notation.
Change it so that it displays the proper decimal format.

[2018-08-24 10:24] kelsos opened #2251 "Improve amount input experience for the webui dialogs"
As the number of decimals increases it can be a hustle for the user to insert the precise amount.

@czepluch suggested to give the user the option to either use the exact decimal value or have the option to insert the lowest denominator when inserting the amount for payment or deposit.

[2018-08-24 10:34] kelsos opened #2252 "Add to the webui the ability to view payment history with partner on token network."
The rest API already provides endpoints for the payment history. This should be included on the webui so that the user can see the payment history with a partner on a token network.

[2018-08-24 10:37] palango commented on #2252
https://raiden-network.readthedocs.io/en/stable/rest_api.html#get--api-1-payments-(token_address)-(target_address) is not bound to a particular channel. So we need to find a proper place for it.

[2018-08-24 10:43] LefterisJP opened #2253 "Make addresses in Rest API logging readable"
## Problem Definition

Addresses during the Rest API logging were not readable as they were binary. Make them readably by outputting them in their hex format.

[2018-08-24 10:57] CosminNechifor opened #2256 "Remove the logs from the web console"
## Problem Definition

If you open the browser console while playing with the UI, you can see the log messages containing channel information being displayed. This should be removed.
[code]

[2018-08-24 10:58] kelsos commented on #2252
@palango so there is no way currently to filter for a specific channel?

[2018-08-24 11:02] hackaugusto commented on #505
related: #451

[2018-08-24 11:04] hackaugusto commented on #918
related #505

[2018-08-24 11:13] palango commented on #2252
No, because payments are not bound to channels, only to the token and the target.

[2018-08-24 11:17] palango commented on #2253
Fixed by #2238

[2018-08-24 11:17] #2253 closed

[2018-08-24 11:27] #2249 closed

[2018-08-24 12:14] CosminNechifor commented on #2231
Closing this, because in #2234 we have more people implicated, the information seems more explicit.

[2018-08-24 12:14] #2231 closed

[2018-08-24 12:36] andrevmatos opened #2259 "Matrix unhandled 404 on start_health_check when user hasn't set a presence"
## Problem Definition

[code]

Master on 8ef46e5ee8bb5b82fbce1c2dbfad7e9502314236

[2018-08-24 12:40] CosminNechifor commented on #2234
Still happening. And my node is unusable because of this/
[code]

[2018-08-24 12:41] kelsos opened #2260 "Add identicon caching to the webui"
Identicon generation can have a performance impact. This is visible when trying to open the Pay dialog from the channels page. Generating the identicon while the dialog is opening creates a frame rate drop and a freezing of the animations.

[2018-08-24 12:50] hackaugusto commented on #473
Having a constant lock expiration is sufficient **only** if the secret is revealed on-chain, if the secret is revealed off-chain then the constant expiration is not sufficient.

[2018-08-24 12:52] #2174 closed

[2018-08-24 12:57] CosminNechifor opened #2263 "Exception raised when trying to make a deposit"
## Problem Definition

After joining the token network I have opened a channel, but when trying to make a deposit, I get an internal server error and the following exception:
[code]

Log:
[raiden-debug.log](https://github.com/raiden-network/raiden/files/2318388/raiden-debug.log)

### System Description
[code]

[2018-08-24 13:01] hackaugusto commented on #1134
This was fixed by #2009

[2018-08-24 13:01] #1134 closed

[2018-08-24 13:06] #2259 closed

[2018-08-24 13:08] palango commented on #1149
@hackaugusto The original cause of this issue is gone, but there is still a timeout: https://github.com/raiden-network/raiden/blob/d68f002c0b640783d49fe9e42bea17b13dd9915f/raiden/raiden_service.py#L337-L341

[2018-08-24 13:11] andrevmatos commented on #1149
@palango I should be removing that one in #2208, then the only stop/shutdown timeout left should be the one in `cli`'s `_run_app`

[2018-08-24 13:12] kelsos commented on #2252
Since the wording doesn't make any sense I changed it.
So it would not make sense making the payment history expand out of a specific channel, instead it would be better to open an entirely new page with the payment history for a token network/partner

[2018-08-24 13:14] palango commented on #1149
Nice, then just add this as a fixed issue there.

[2018-08-24 13:19] palango opened #2264 "Styling of error notification is off"
## Problem Definition

The font in the error notification popup doesn't fit the rest of the page.
![screen shot 2018-08-24 at 15 17 39](https://user-images.githubusercontent.com/90851/44586732-09c8ba80-a7b1-11e8-9eac-1b49cf0a11b4.png)

[2018-08-24 14:36] hackaugusto commented on #1006
duplicated #1142

[2018-08-24 14:36] #1006 closed

[2018-08-24 14:40] hackaugusto commented on #1223
This is fixed.

A duplicate transaction could mean a few things:

1. A nonce is reused
2. The transaction for the same side-effect is used twice

The first case is considered an usage error. It's assumed that Raiden is the only application controlling the account, if there are two transactions with the same nonce either another app is using the same account, which is not supported (#1400), there i

[2018-08-24 14:40] #1223 closed

[2018-08-24 14:43] #1381 closed

[2018-08-24 14:44] #1403 closed

[2018-08-24 14:48] #1502 closed

[2018-08-24 14:56] hackaugusto opened #2267 "Check the smart contract events are available"
## Problem Definition

Depending on the flags used to execute the ethereum client the events may not be available. This is a problem because Raiden depends on the events to reconstruct the smart contract state, the node should not start if the events are not available.

To detect if the events are available, after deploying the token network registry a token should be registered and the block heig

[2018-08-24 14:57] hackaugusto commented on #1603
The handling of the lock expiration was changed as part of #2225

[2018-08-24 14:57] #1603 closed

[2018-08-24 15:26] CosminNechifor commented on #1585
fixed by: #1982 and #2038

[2018-08-24 15:26] #1585 closed

[2018-08-24 15:31] hackaugusto commented on #1623
duplicated #2214

[2018-08-24 15:31] #1623 closed

[2018-08-24 15:33] andrevmatos commented on #2221
Fixed by #2244

[2018-08-24 15:33] #2221 closed

[2018-08-24 15:35] hackaugusto commented on #1624
This was done by 2e3d3f7a43f951cf11c58a76bea158a93f3840cf

[2018-08-24 15:35] #1624 closed

[2018-08-24 16:36] #2263 closed

[2018-08-24 17:51] LefterisJP commented on #2263
@CosminNechifor  When closing an issue can you please say why this is closed?

[2018-08-24 22:38] LefterisJP commented on #2206
@kelsos any progress on this one?

[2018-08-24 23:15] LefterisJP commented on #2227
Can you please be adding the debug logs as gists so that they are easy to read?

[2018-08-24 23:53] kelsos commented on #2206
I didn't try to use the account again, but I gave the address to Paul

[2018-08-25 12:38] LefterisJP commented on #1426
Hi @vs77bb and @YanishR.

This issue is something we would like to have done, yes.

@YanishR you would have to study the code and see where you would need to make changes to achieve what is described in the initial issue description. Also relevant would be the comments by @cpurta.

@vs77bb If nobody can do it within a month from now, then perhaps it's too complicated a task and then we can put the

[2018-08-25 13:54] LefterisJP commented on #2234
So @ulope what needs to be done now for this issue? If I understand correctly it sounds as if it was a matrix server problem.

[2018-08-25 15:47] BCsRock commented on #1585
Awesome, will test it within the next few days! Great work, thank you!

[2018-08-26 10:26] CosminNechifor commented on #2227
https://gist.github.com/CosminNechifor/55293f30fb72d1177378810b96540dd8

[2018-08-26 14:37] #2264 closed

[2018-08-27 08:27] christianbrb commented on #1907
All referenced issues are closed. Can we close this?

[2018-08-27 09:17] kelsos opened #2274 "Raiden client crashes when replaying state changes"
## Problem Definition

[code]
### System Description

Here add a detailed description of your system, e.g. output of the following script:

[code]

[2018-08-27 09:18] CosminNechifor opened #2275 "UI representation of token amount might be misleading"
## Problem Definition

After I opened a channel and deposited 80 tokens I had the vague impression that I only deposited 8, because in the UI the amount was shown as ``0.0000008`` instead of ``0.00000080``.

[2018-08-27 09:36] kelsos opened #2277 "Sorting in the webui doesn't consider actual decimal values"
## Problem Definition
Sorting by balance currently happens on the original wei values before the conversion to decimal.

[2018-08-27 09:38] palango commented on #2124
@zhouzhou84 I didn't hear back so I assume the issue is fixed. If if still occurs please re-open this issue.

[2018-08-27 09:38] #2124 closed

[2018-08-27 09:42] palango commented on #2206
Should be fixed with #2246 , @kelsos can you test this again?

[2018-08-27 09:49] CosminNechifor opened #2278 "Leave token network button does not work"
## Problem Definition

The button for leave token network does not work. I receive the following response:
``` {errors: ["invalid endpoint", "Not a valid hex address, 0x prefix missing."]} ``` I think this is happening because when we make the delete request [here](https://github.com/raiden-network/raiden/blob/master/raiden/ui/web/src/app/services/raiden.service.ts#L263) we use the object ``userTo

[2018-08-27 09:54] kelsos commented on #2197
@LefterisJP I decided to deploy a test token and I just replaced `uint8 public decimals = 18;` with     `uint8 public decimals`; This returns a 0, but zero can be a valid value for a non divisible token. Is that what you meant by missing or did I misunderstood something?

[2018-08-27 09:56] LefterisJP commented on #2227
There are 3 logs in the above gist. Can you say which one is doing what? You mentioned it was you and Jacob, so I expect 2 logs.

[2018-08-27 09:58] kelsos commented on #2206
@palango I am on the latest master with the account and there are no crashes so I will proceed and close the issue.

[2018-08-27 09:58] #2206 closed

[2018-08-27 10:02] CosminNechifor commented on #2227
The 3 logs above are only mine. If I remember correctly @czepluch  gave me a gist with his log, and I think is this one [here](https://gist.github.com/czepluch/95de2dd8ea5ceb19c50b7dff0919c29d).

[2018-08-27 10:04] LefterisJP commented on #2225
Isn't this fixed via https://github.com/raiden-network/raiden/pull/2224  ?

[2018-08-27 10:06] palango commented on #2225
Yes, think so.

[2018-08-27 10:06] #2225 closed

[2018-08-27 10:06] LefterisJP commented on #2213
So the task now @jomuel is to create a test for this issue? And then we can fix and close?

[2018-08-27 10:09] jomuel commented on #2213
Yes that's what I'd suggest...

[2018-08-27 10:13] CosminNechifor commented on #2227
@LefterisJP I will try to reproduce this. On a clean install with a new account.

[2018-08-27 10:29] LefterisJP commented on #2081
@andrevmatos Is this **really**, **really** required for Red Eyes? It seems like just an enhancement? Can we scope it out of Red Eyes?

[2018-08-27 10:30] andrevmatos commented on #2081
@LefterisJP no, it's not **really, really** required. #2268 should improve a bit the current behavior, so we can put this one on backlog

[2018-08-27 10:31] LefterisJP commented on #2059
This is not needed for Red Eyes. Scoping it out.

[2018-08-27 10:33] LefterisJP commented on #2017
Scoping this out of Red Eyes.

[2018-08-27 10:42] LefterisJP commented on #1894
Scoping out of Red Eyes

[2018-08-27 11:17] LefterisJP commented on #1907
Yes I am closing this. All channel identifier changes should have solved this.

[2018-08-27 11:17] #1907 closed

[2018-08-27 11:37] #2277 closed

[2018-08-27 12:02] LefterisJP commented on #2274
That's interesting:

[code]

`ReceiveSecretRequest` does have an expiration attribute now. It was added via 4e2c8754a9a7a34e4c9230ea319e92cb7bf166db.

How come you are replaying state changes from an old DB? I guess you are using latest master right? If so you shoudl manually remove the DB and this problem should go away.

[2018-08-27 12:16] kelsos commented on #2274
Yes it was an old database issue. I am closing the issue.

[2018-08-27 12:16] #2274 closed

[2018-08-27 12:29] hackaugusto commented on #1900
Closing this issue, I believe this is not a problem because we are making sure to monkey patch early

[2018-08-27 12:29] #1900 closed

[2018-08-27 12:42] czepluch commented on #2218
@pciccioni Did this solve the issue for you?

[2018-08-27 12:50] palango commented on #2177
@kelsos Is this fixed by https://github.com/raiden-network/raiden/pull/2241 ?

[2018-08-27 13:03] palango commented on #110
Closed by https://github.com/raiden-network/spec/issues/16

[2018-08-27 13:03] #110 closed

[2018-08-27 13:09] kelsos commented on #2177
@palango This is more of a discussion about what more information we can expose to the webui for each channel so I am guessing it is not really done yet. `total_deposit` was a different issue. This is more about how we could visualize the channel balance state on the webui.

[2018-08-27 13:14] pciccioni commented on #2218
Hi Jacob, i've do a lot of things from when i've the problem:
- I've installed raiden 6.0
- i've delete .raiden directory
- After that i was able to see only two tokens (despite parity was synched)
- I've switched to GETH and now i'm waiting to have a synched chain to check  token list yet

[2018-08-27 13:29] kelsos opened #2282 "Channel polling throws when channels are removed"
When a channel is removed from the channels, the polling mechanism will throw internally.
This results in channels not properly updating due to the internal error.

[2018-08-27 14:04] kelsos opened #2283 "Deposit returns internal server error despite deposit being successful"
## Problem Definition

I have a channel with a `total_deposit` of 51 and I change the total deposit to 61
[code]

[code]
The request blocks as expected and after a while throws and returns a 500 internal server error. Despite the error, the deposit is successful. The next time the webui polls the channel endpoint I am getting the properly updated `total_deposit`.

[code]

[code]

### System Descri

[2018-08-27 14:17] kelsos opened #2284 "Channel polling doesn't should check also token address along with channel identifier"
## Problem Definition
Polling mechanism is making some erroneous assumptions when checking for the same channel. It  currently only checks for the `channel_identifier` where it should also check the `token_address` because the channel_identifier might be repeated across token networks.

This results in balance update notifications on channels that didn't actually have an update but share the same

[2018-08-27 14:33] LefterisJP opened #2285 "Ask for user acknowledgement of the experimental software disclaimer"
## Problem Definition

At https://github.com/raiden-network/raiden/issues/1788 we introduced a disclaimer that raiden is experimental software. We should also make the user accept this disclaimer by typing yes or no.

[2018-08-27 14:38] LefterisJP commented on #2197
No you misunderstand. Of course it would be 0 if the variable is not initialized. Missing means the contract not having the `decimals` attribute at all.

[2018-08-27 14:41] kelsos commented on #2197
@LefterisJP Thanks for clarifying I will look into it. I just remembered we already discussed this in person along with the approach to solve it. I am almost sure that the current webui will not be able to handle the missing value.

[2018-08-27 15:09] CosminNechifor commented on #2227
Me and @czepluch were able to perform payments in the beginning, because bought of us were using the release version. But after a while I changed the version to the current master of that time. That's when the problem started to happen. We were using the same geth account as before but different versions of the raiden client, which means that we were trying to make payments using the same matrix r

[2018-08-27 15:27] LefterisJP commented on #2227
Okay I see. Please keep testing but with the release version and not latest master. Master is accepting breaking changes at the moment.

[2018-08-27 15:27] #2227 closed

[2018-08-27 15:42] andrevmatos opened #2287 "Include timestamp in internal events"
## Problem Definition

Right now, the internal raiden events only includes an increasing ID, which is enough for ordering, but not very useful for clients, specially the webUI events views. The ID is also enough for clients which keeps polling for the data, but doesn't help clients processing historical events (for any reason). Blockchain events have the block numbers, which have an associated tim

[2018-08-27 16:43] kelsos commented on #2275
@CosminNechifor I had a discussion with @andrevmatos and he raised some valid points.
The default/suggested decimal value is 18 decimal points so you will have `0.100000000000000000` if you don't truncate decimal points instead of `0.1`.

I can understand the confusion when adding a lot of decimal points so I am gonna change the display to use scientific notation when displaying really small value

[2018-08-27 20:32] #2282 closed

[2018-08-27 20:32] #2284 closed

[2018-08-28 07:12] hackaugusto commented on #2179
This is not done, the flask server is still handling all the exceptions.

[2018-08-28 07:26] andrevmatos commented on #2179
@hackaugusto care to show steps to reproduce? [raiden/tests/integration/api/test_restapi.py::test_crash_on_unhandled_exception](https://github.com/raiden-network/raiden/blob/9426dec0c8585f1075ee19a0df3de4c90036995c/raiden/tests/integration/api/test_restapi.py#L158-L178) aims to test exactly that. The exception is still handled and may become a `E500` response, but the `APIServer` crashes right aft

[2018-08-28 08:07] CosminNechifor commented on #2275
@kelsos good idea.

[2018-08-28 08:34] CosminNechifor opened #2291 "Check if partner_address is EIP55 before doing the request"
## Problem Definition

The UI should tell the user that the partner_address is not EIP55 valid before doing the request. Mainly happens when opening a channel.

[2018-08-28 10:23] CosminNechifor opened #2293 "Raiden node unable to process payments after a while"
## Problem Definition

I have tried a second time to get my node stuck, and make it unable to process payments.
Steps I've done to get it stuck:

1. I have created a new geth account, transfered eth to it and minted tokens. After that I restarted geth.
2. I started the raiden client (0.6.0 release, same thing as @czepluch )
3. I tried to send Jacob a payment and it worked
4. I run the following [s

[2018-08-28 11:41] LefterisJP commented on #2081
Thank you Andre. We already got enough work for this milestone as it is. We can implement this soon after the mainnet release.

[2018-08-28 12:19] #2275 closed

[2018-08-28 13:16] hackaugusto opened #2295 "Processed message handling"
## Problem Definition

Currently the [`node.handle_processed`](https://github.com/raiden-network/raiden/blob/master/raiden/transfer/node.py#L672) clears all messages from the queue with a matching `message_identifier`. This is not sufficient for a proper cleanup because message ids are numbers chosen by the sender. Because of this collisions can be easily produced forcing causing in the removal of

[2018-08-28 13:27] LefterisJP opened #2296 "Not crash on malformed messages and prepare for message versioning"
## Problem Definition

Related to #2161

While upgrading to [v0.5.0](https://github.com/raiden-network/raiden/releases/tag/v0.5.0) there was a minor change done to the Raiden messages. The `channel` attribute of the message was renamed to `channel_identifier`. All tests were green but when playing on the testnet with peers who were still before the big merge of the channel identifier changes @kels

[2018-08-28 15:07] hackaugusto commented on #2293
This bug was caused because the arguments `message_identifier` and `payment_identifier` where swapped.

This call:

https://github.com/raiden-network/raiden/blob/b883acd1ab28187c3bba04e7161b62fa1b83ca87/raiden/transfer/mediated_transfer/initiator.py#L251-L257

Must have this order:

https://github.com/raiden-network/raiden/blob/b883acd1ab28187c3bba04e7161b62fa1b83ca87/raiden/transfer/channel.py#L1

[2018-08-28 15:42] palango opened #2298 "Use Enums in the transfers module"
## Problem Definition

We should use enums when building sum types.
https://github.com/raiden-network/raiden/blob/b883acd1ab28187c3bba04e7161b62fa1b83ca87/raiden/transfer/state.py#L20-L25

https://github.com/raiden-network/raiden/blob/b883acd1ab28187c3bba04e7161b62fa1b83ca87/raiden/transfer/state.py#L47-L49

[2018-08-29 08:09] andrevmatos commented on #2296
Related: #1787

[2018-08-29 08:51] palango commented on #2247
Why especially payments? Why not state changes in general?

[2018-08-29 10:07] andrevmatos opened #2302 "Make p2p communication private"
## Problem Definition

As per #473 and related issues, raised [on this comment](https://github.com/raiden-network/raiden/pull/2268#discussion_r213396544), we should make sure the communication between nodes is private and secure. Most straightforward approach is to offload this duty to the transport, and for Matrix it means making and ensuring the rooms are private and e2e encrypted

https://githu

[2018-08-29 10:40] CosminNechifor opened #2303 "Nodes are unable to process payments"
## Problem Definition

I have tried to send payments between two nodes at the same time. I started the first script which was sending payments from N1 to N2. This seem to work perfectly, then after that I started the script which would send transfers from N2 to N1, so now both nodes were sending and receiving transfers from each other.

It worked for a while, but after some time, the nodes got stu

[2018-08-29 10:42] CosminNechifor commented on #2293
Fixed by: #2299

[2018-08-29 10:42] #2293 closed

[2018-08-29 11:05] LefterisJP commented on #2298
What's a bit annoying is that we already have numeric enums for these in [raiden-contracts](https://github.com/raiden-network/raiden-contracts/blob/a2e3f0fb437818b85ea07f64244302dea219ce6f/raiden_contracts/constants.py#L42) and we use them already in the code.

So we would end up having another enum, a string one this time, for the same thing.

But I guess the states we have in the client are even

[2018-08-29 11:36] LefterisJP commented on #879
@czepluch We have been using parity in our latest release quite a bit. I suppose this bug is no longer valid. Can we close the issue?

[2018-08-29 11:38] LefterisJP commented on #1007
I think this is solved with the `raiden_udp_ports` fixture:

https://github.com/raiden-network/raiden/blob/b2e2d35d8dde0c10b7359b6eb92be874741f1d64/raiden/tests/fixtures/variables.py#L277

If I am wrong please reopen the issue

[2018-08-29 11:38] #1007 closed

[2018-08-29 11:39] LefterisJP commented on #1095
@palango is this still happening? If not can you close the issue?

[2018-08-29 11:41] czepluch commented on #879
yes.

[2018-08-29 11:41] #879 closed

[2018-08-29 12:09] LefterisJP commented on #2303
So you got 2 logs in the gist. One is called "after restart", and the other is called "most important log". Can you be giving the name of the node for which the log is? So for 2 nodes and 1 restart each I would expect to see 4 logs.

[2018-08-29 12:14] CosminNechifor commented on #2303
@LefterisJP Those are the logs of only one of the nodes. I am sorry but I don't have the other one's log. And I can no longer provide it. But if you consider it a must have. I will go through the process again.

[2018-08-29 12:23] hackaugusto opened #2304 "Provide the route together with the mediate transfer message"
## Problem Definition

With a naive implementation, each hop in a transfer would be required to request a route from the PFS to find the next hop, adding costs and latency to the transfer.

#### Solution

Add a new message type, which wraps a mediated transfer and provide the recommended route. This route will not be enforced, as it's only additional metadata around the mediate transfer.

[2018-08-29 12:56] andrevmatos opened #2307 "Decentralize Matrix discovery room"
## Problem Definition

The matrix discovery room isn't used to actually find peers, but instead to trigger any server whose any user joined it to keep track of every other member of this room. This makes the servers know about all the matrix users in the network, allowing its users to listen for events from these users (e.g. presence changes) and also to use the _search user directory_ feature to

[2018-08-29 13:03] palango commented on #1095
Seems to work fine for me now.

[2018-08-29 13:03] #1095 closed

[2018-08-29 13:35] jomuel commented on #2213
The test has been included into pr #2268. With the changes in said pr the test passes, so we can close this issue now.

[2018-08-29 13:35] #2213 closed

[2018-08-29 13:56] andrevmatos commented on #2133
#2268 changed the behavior on this, and may have solved this issue, for matrix at least:
- no reference to `queueids_to_queue` is kept, instead it's now a [read-only] property fetched straight from the state through a `view`
- `_send_queued_messages` is synchronous, and will finish inside `start`, but it also doesn't send the messages right away, but `send_async` them, which will in practice spawn

[2018-08-29 14:00] CosminNechifor commented on #2247
The comment was updated(I had some brain damage in the morning).

[2018-08-30 12:12] LefterisJP opened #2316 "Fix and unskip test_mediated_transfer_messages_out_of_order"
## Problem Definition

In [this](https://github.com/raiden-network/raiden/pull/2301/files#diff-37fe2abad51b2e528ba8f148669f29eaR127) PR `test_mediated_transfer_messages_out_of_order` was [skipped](https://github.com/raiden-network/raiden/blob/master/raiden/tests/integration/transfer/test_mediatedtransfer.py#L125) because it's failing on Travis.

Find out why that happens, fix the test and unskip i

[2018-08-30 12:16] palango commented on #2316
I talked to Andre about this: they are already working on a fix: https://github.com/raiden-network/raiden/pull/2313

[2018-08-30 12:16] LefterisJP commented on #2316
That's good. Point of making an issue stands.

[2018-08-30 12:50] palango commented on #2170
Fixed with #1859

[2018-08-30 12:50] #2170 closed

[2018-08-30 14:17] czepluch opened #2319 "Only have one place for Raiden specification"
## Problem Definition

Currently two versions of Raiden specification are available.
https://raiden-network.readthedocs.io/en/stable/spec.html# and
https://raiden-network-specification.readthedocs.io/en/latest/index.html

The two specs differ widely and it seems that https://raiden-network.readthedocs.io/en/stable/spec.html# is not really being maintained.

It is also confusing that the spec that

[2018-08-30 14:27] andrevmatos commented on #1531
Smart-contract change done in raiden-network/raiden-contracts#252

[2018-08-30 15:07] ulope opened #2322 "Proposal: Add optional gasprice parameter to on-chain REST-API methods"
## Problem Definition

It could be useful to (optionally) give the user control over the gasprice used for on-chain actions via the REST-API.

This is especially the case on Ropsten where the gas-price is usually difficult to predict but could also be useful for mainnet and possibly private chains.

[2018-08-30 15:12] LefterisJP commented on #2322
There [is](https://github.com/raiden-network/raiden/blob/02a554e3c22d7b94f5952c6959b089b2b7667cce/raiden/ui/cli.py#L397) already a cli argument for it which controls the price for all the calls your node would make.

Adding it to the API would allow the user granularity per call I suppose.

[2018-08-30 16:41] hackaugusto opened #2324 "Stop should wait for the pending protocol messages to be processed"
## Problem Definition

The current stop implementation makes sure the state of the node is consistent, by relying on the WAL, stopping the transport/health check and exiting. This behaviors ensures internal consistency of the node state but it doesn't guarantee optimal operation, since pending transfers are not waited for and the partner node may be forced to unlock on-chain.

#### Solution

For a

[2018-08-30 19:02] LefterisJP commented on #2159
Fixed by #2311

[2018-08-30 19:02] #2159 closed

[2018-08-31 08:19] loredanacirstea opened #2325 "Use a eth_sign and EIP191 compatible signature format"
Related:
https://github.com/raiden-network/raiden/issues/1531

Implemented in the smart contracts here: https://github.com/raiden-network/raiden-contracts/pull/252

Compatibility with EIP191 & `eth_sign`:

[code]

## Implementation in the smart contracts

[code]

Message content is tightly packed as described here: https://solidity.readthedocs.io/en/v0.4.24/abi-spec.html#abi-packed-mode
Python tes

[2018-08-31 09:44] #2251 closed

[2018-08-31 14:15] hackaugusto opened #2329 "Initiator manager must not discard the initiator task when the transfer is cancelled"
## Problem Definition

The function `handle_cancelroute` discard the current initiator task, because the payment cannot be successfully completed:

https://github.com/raiden-network/raiden/blob/32c7c1f2e520626b9bb1ed3bdca84ada736e8e0a/raiden/transfer/mediated_transfer/initiator_manager.py#L137-L140

This, however, will discard the task and make it impossible for the initiator to remove the expire

[2018-08-31 14:31] hackaugusto commented on #862
Example of changes for upgrades:

- Adding a field with a clear default value:
  - #2328 : The message queue would have to have the `SendBalanceProof` events upgraded, by computing the missing field.
  - #2324 : The state attribute for `ChainState` would have to be added with a default.
- Adding a field with a known default value:
  - #2224 : `SendBalanceProof` expiration has to be set based on th

[2018-08-31 14:38] LefterisJP commented on #2240
Moved even further to Testnet 8

[2018-08-31 15:00] #2296 closed

[2018-08-31 15:09] LefterisJP commented on #2030
Fixed by https://github.com/raiden-network/raiden/pull/2323

[2018-08-31 15:09] #2030 closed

[2018-08-31 15:35] hackaugusto commented on #491
duplicate: #2161

[2018-08-31 15:35] #491 closed

[2018-08-31 16:50] LefterisJP commented on #862
Pushing to Testnet 8 as https://github.com/raiden-network/raiden/pull/2281 is not going to make it this week

[2018-08-31 19:02] LefterisJP commented on #1893
I am reopening this **again**, as OSX deployment did not work in the latest release. https://travis-ci.org/raiden-network/raiden/builds/423123306

Here is the actual OSX deploy job:
https://travis-ci.org/raiden-network/raiden/jobs/423123329

It succeeds but no binary is generated. The only relevant output is:

[code]

[2018-08-31 20:50] LefterisJP commented on #1894
Scoping it back in and making it priority

[2018-08-31 20:57] LefterisJP commented on #132
I am closing this. If someone else needs it we can reopen it.

[2018-08-31 20:57] #132 closed

[2018-08-31 20:58] LefterisJP commented on #153
There is nothing actionable in this issue. Closing.

[2018-08-31 20:58] #153 closed

[2018-08-31 21:02] LefterisJP commented on #522
[Here](https://github.com/raiden-network/raiden/blob/b17fda83e938f57ba7fa23c5149074ad9e79acb5/raiden/tests/unit/transfer/mediated_transfer/test_targetstate.py#L505) is the xfailed test

[2018-08-31 21:04] LefterisJP commented on #397
Closing this issue as it serves no purpose any longer. We have, and should keep creating if needed, individual issues for any skipped or xfailed tests.

[2018-08-31 21:04] #397 closed

[2018-08-31 21:07] LefterisJP commented on #451
@hackaugusto Could we considered the debug endpoints for raiden internal event sufficient and close this issue?

Also the failed transfers have a reason string atm.

[2018-08-31 21:08] LefterisJP commented on #483
Closing in favour of #1815 and #1861.

[2018-08-31 21:08] #483 closed

[2018-08-31 21:14] LefterisJP commented on #514
This issue is no longer needed. Mocking is no longer in the rest api and a big part of the functionality is covered end to end.

[2018-08-31 21:14] #514 closed

[2018-08-31 21:15] LefterisJP commented on #649
I am closing this in favour of #652

[2018-08-31 21:15] #649 closed

[2018-08-31 21:16] LefterisJP commented on #650
@ulope What is the status of this issue?

[2018-08-31 21:18] LefterisJP commented on #711
Hijacking this issue to describe the very important tests we working on at #2309

[2018-08-31 21:30] LefterisJP commented on #1105
There is nothing actionable for the Raiden client in this issue. Closing.

[2018-08-31 21:30] #1105 closed

[2018-08-31 21:34] LefterisJP commented on #1129
Should we close this due to no action needed anymore or just implement what I wrote [above](https://github.com/raiden-network/raiden/issues/1129#issuecomment-392733610)

We can add a hard-coded option which is also tweakable by a CLI argument to set [this](https://github.com/raiden-network/raiden/blob/b17fda83e938f57ba7fa23c5149074ad9e79acb5/raiden/raiden_service.py#L250) block number.

[2018-09-01 20:16] LefterisJP commented on #2319
The old spec should eventually die. No reason to keep it around in generated read the docs even now.

But perhaps there is some design decisions documented for us in there that we could extract elsewhere before deleting.

[2018-09-02 11:28] LefterisJP opened #2334 "Update coincurve dependency to 0.8.0"
## Problem Definition

Update coincurve to 0.8.0 in order to support python 3.7 both in the raiden client and in the other dependencies.

This is required for the OSX binary to be generated properly.

[2018-09-03 09:26] czepluch opened #2336 "Raiden Error: new BigNumber() not a base 16 number"
## Problem Definition

With version 0.7.0 of Raiden I get this message when trying to see the wallet view in the web ui.

![2018-09-03-112218_3840x2160_scrot](https://user-images.githubusercontent.com/1026799/44978937-219bfd80-af6c-11e8-9acf-a760edb0b0bc.png)

[2018-09-03 09:30] LefterisJP commented on #2336
That sounds like a javascript problem. Can you show the console and what errors appear there? @kelsos I think you should pick this up.

[2018-09-03 09:37] czepluch commented on #2336
Yeah, it looks like a js error. I already shared the issue with Kelsos.

[2018-09-03 10:10] LefterisJP commented on #1611
@andrevmatos What's the status here?

[2018-09-03 10:11] andrevmatos commented on #1611
I'm working on it, kind of depending on #2208, but already fixed that one, should be merged soon
Will finish it after merging that and finishing new contracts migration

[2018-09-03 10:39] LefterisJP commented on #2303
I will close this in favour of the stress test: https://github.com/raiden-network/raiden/pull/2309

[2018-09-03 10:39] #2303 closed

[2018-09-03 10:39] kelsos commented on #2336
@LefterisJP it is thrown by web3 from a contract that is missing symbol. From what I understand symbol is not required, and neither is name? I will have to fix the handling to not fail in such cases.

[2018-09-03 10:46] LefterisJP commented on #2283
@kelsos is this still an issue for you?

[2018-09-03 12:00] CosminNechifor commented on #2218
@pciccioni Are you still experiencing the same problem?

[2018-09-03 12:43] pciccioni commented on #2218
Hi, the problem now i resolved. (in meantime we have installed raiden 7.0 ).

Thank You

[2018-09-03 12:47] christianbrb commented on #2117
Set up a meeting to decide how we execute it. Define the process.

[2018-09-03 14:24] LefterisJP opened #2340 "Add argument to bypass the experimental disclaimer prompt"
## Problem Definition

After https://github.com/raiden-network/raiden/issues/2285 we introduced an acknowledgement of the experimental software disclaimer.

Many people will want to run raiden inside automated scripts or have it managed by an external process. Having a non-bypassable prompt like we do now may make it impossible for them to do it.

## Task

- [ ] Evaluate if adding an argument to b

[2018-09-03 14:53] ulope commented on #1894
I just saw that digitalocean supports S3 compatible storage with directory listing, thats perfect for our needs.

[2018-09-03 15:20] #2336 closed

[2018-09-03 15:21] #2218 closed, assigned to nobody

[2018-09-03 15:57] kelsos commented on #2283
@LefterisJP I just managed to replicate it so it still happens on master.

[2018-09-03 16:03] LefterisJP commented on #2283
@kelsos Did you use the WebUI for it? I suspect that the WebUI has retries built into it.

[2018-09-03 16:10] ulope commented on #2322
Also it would allow to react to changing gas price conditions without having to re-start raiden.

[2018-09-03 18:42] kelsos commented on #2283
@LefterisJP yes It was through the webui I suspected something like this but I have to verify if that's the case.

[2018-09-03 19:08] stefante commented on #2340
From my point of view an explicit "accept disclaimer" is sufficient.
@christianbrb would suggest to also include this in the document for Jim to review.

[2018-09-03 21:51] #2283 closed

[2018-09-04 08:44] andrevmatos commented on #2179
@hackaugusto can you confirm this is still an issue after #2208 ?

[2018-09-04 10:12] ulope commented on #2059
This causes random build failures (esp. now that we're working on nightly builds) so I'd argue that we do indeed need it.

[2018-09-04 11:05] hackaugusto commented on #2179
Lets close this, I cant reproduce the problem.

[2018-09-04 11:05] #2179 closed

[2018-09-04 14:15] CosminNechifor commented on #1944
Hopefully I didn't forget anything

- ``/address``  - is fine since there is no exception to handle (everything happens internally)
- ``/channels`` - No unhandled exception since this endpoint does not offer r
``get_channel_list`` any arguments, it will not raise an exception
- ``/channels/<hexaddress:token_address>/<hexaddress:partner_address>``: Patch endpoint has a problem -> When we call [patc

[2018-09-04 14:33] #1531 closed

[2018-09-04 14:33] #2240 closed

[2018-09-04 14:33] #2325 closed

[2018-09-04 14:33] #2334 closed

[2018-09-04 14:43] #2340 closed

[2018-09-04 15:37] czepluch opened #2351 "Raiden crashes on restart"
## Problem Definition

On latest master Raiden crashes with the error in the gist after restarting.

https://gist.github.com/czepluch/5fd608d9313b7b7eee666fd8d66a04f8

Note: I tried starting Raiden again after this error occurred, and every thing seems to work fine.

[2018-09-04 15:48] #2291 closed

[2018-09-04 15:52] LefterisJP commented on #1944
Thank you Cosmin. This looks really good.

[2018-09-04 16:07] CosminNechifor opened #2353 "TypeError when stopping the node"
## Problem Definition

When stopping my node I receive the following TypeError.
[code]
Log: https://gist.github.com/CosminNechifor/0f066aa41b8def04d11a9a114d83938e

### System Description

[code]

[2018-09-04 16:45] #2353 closed

[2018-09-04 17:52] andrevmatos commented on #2351
@czepluch do you have the logs from before the traceback? If that message handling is in response to a message sent by your node (maybe queued from a previous session), that shouldn't trigger an assertion, and in any case, we need to replace this assertion with a noop, as that could be a message crafted to crash the node

[2018-09-05 11:02] #1944 closed

[2018-09-05 12:39] andrevmatos opened #2356 "Raiden DB doesn't takes into account contracts address, and gets messed up on new deploys"
## Problem Definition

After latest contracts deployment and merge of changes on `master`, nodes which didn't `removedb` get lost because it can't find onchain the channels it had registered, nor detect/react on new ones, as it doesn't know about the new contracts.

It's caused by the db name having only the `chain_id` and `version` on it. It should also include the `token_network_registry` addres

[2018-09-05 12:44] MichaelKuo0905 opened #2358 "Payments issue"
Dear all:
 I meet a problem. My partner and I have already created the channel, but it seems that we could do the deposit/open/close part. When I type "payment command", error will rise. Like this {"errors": "Payment couldn't be completed (insufficient funds, no route to target or target offline)."} I have already checked that my partner has already connected to the token network, and the balance

[2018-09-05 12:47] LefterisJP commented on #2356
Yep we noticed. @hackaugusto is fixing it right now

[2018-09-05 12:58] LefterisJP commented on #2358
Hello Michael.

We have a template when you report an issue. Can you use it so that we can see what version you use, what OS you are on and so on and so forth?

Give us the output of this script:

[code]

[2018-09-05 13:31] rakanalh opened #2360 "Remove debugging code for state serialization / deserialization."
## Problem Definition

For debugging purposes, we added code in [architecture.py](https://github.com/raiden-network/raiden/blob/master/raiden/transfer/architecture.py#L293) to encode/decode every state/state_change and log errors in the following PR: https://github.com/raiden-network/raiden/pull/2281.

Having this code also meant that some tests failed because the encoding / decoding slowed things

[2018-09-05 13:53] CosminNechifor opened #2361 "Nodes crash when trying to join a token network"
## Problem Definition

This happened when I tried to join a token network with both my nodes. It resulted in both of them crashing.

Log: https://gist.github.com/CosminNechifor/44f96fa89ef61c8442366c117c8d9076

commit: 9267352071da1e1892efaf62f88d26ca8c1fe851

[2018-09-05 14:29] LefterisJP opened #2362 "Rename wallet to tokens in the WebUI"
- Rename wallet to tokens in the WebUI
- Use an appropriate icon

[2018-09-05 14:37] LefterisJP opened #2363 "Make addresses easier to copy paste in the WebUI"
At the moment it's really difficult to copy addresses in the webUI. We should add an easy copy functionality in the UI so that we can copy and paste all addresses (node address, token address e.t.c)

[2018-09-05 15:03] andrevmatos commented on #2356
Fixed by #2359

[2018-09-05 15:03] #2356 closed

[2018-09-05 15:46] kelsos opened #2367 "Token selection dropdown should not only show connected networks"
Currently the dropdown only shows the connected networks when it should show all the networks.
If possible the connected networks should still come on top but it should not be limited to them.

[2018-09-05 15:56] #2362 closed

[2018-09-06 04:57] MichaelKuo0905 commented on #2358
Hello LefterisJP,
The following are all I have.

$uname -a
Linux michael-VirtualBox 4.15.0-33-generic #36-Ubuntu SMP Wed Aug 15 16:00:05 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

$geth version
Geth
Version: 1.8.14-stable
Git Commit: 316fc7ecfc10d06603f1358c1f4c1020ec36dd2a
Architecture: amd64
Protocol Versions: [63 62]
Network Id: 1
Go Version: go1.10.1
Operating System: linux
GOPATH=
GOROOT=/usr/l

[2018-09-06 07:11] LefterisJP commented on #2367
The connected networks and the networks of tokens the user owns should be on top.

[2018-09-06 08:17] #2363 closed

[2018-09-06 08:28] kelsos opened #2370 "Fix issues on token amount input."
- [x] Fix wrong message on input hint: e.g. for 8 decimals: **1e-8 or 0.00000001 of the token**.
- [x] Inconsistency on on conversion when toggling the checbox.
- [x] Don't allow decimal input when decimal's is off.
- [x] Can't type large integer when decimals is checked e.g: typing  `1` will put `1.00000000`.
- [x] Don't show decimal points when the decimal part is equal to 0.
- [x] Fix tests

[2018-09-06 11:14] czepluch opened #2373 "payments endpoint only returns events from one perspective"
## Problem Definition

The `GET http://localhost:5001/api/1/payments/<token_address>/<partner_address>` endpoint used to return a list of events related to payments both received and sent. Now it only shows events for payments sent. I am not quite sure, but I think [this commit](https://github.com/raiden-network/raiden/commit/a04b22861772e09db9b532763d7a80ab1643bf4b) caused it. Also looking at the

[2018-09-06 16:33] LefterisJP commented on #2329
I am pushing this to the next milestone. There is functionality missing from the state machine that needs to be re-evaluated and that means that the work is much more than initially expected.

[2018-09-06 20:53] #193 closed

[2018-09-07 03:11] MichaelKuo0905 opened #2379 "Payment could not work"
Prob: payment
Dear all:
I meet a problem. My partner and I have already created the channel, but it seems that we could do the deposit/open/close part. When I type "payment command", error will rise. Like this {"errors": "Payment couldn't be completed (insufficient funds, no route to target or target offline)."} I have already checked that my partner has already connected to the token network, and

[2018-09-07 07:17] cmenzani commented on #2379
Different geth/raiden versions, but similar issue:

$ uname -a
Linux RaidenNEW 4.15.0-20-generic #21-Ubuntu SMP Tue Apr 24 06:16:15 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

$ geth version
Geth
Version: 1.8.14-stable
Git Commit: 316fc7ecfc10d06603f1358c1f4c1020ec36dd2a
Architecture: amd64
Protocol Versions: [63 62]
Network Id: 1
Go Version: go1.10.1
Operating System: linux
GOPATH=
GOROOT=/usr/lib/g

[2018-09-07 09:21] LefterisJP commented on #862
As per our planning sessions this issue is now considered closed thanks to https://github.com/raiden-network/raiden/pull/2281 where we switched the serialization format to JSON.

When we need to do out first upgrades we will also need to create some upgrade code but that should be trivial now that we have a serialization format that supports us to do so.

[2018-09-07 10:05] jomuel commented on #2201
@LefterisJP
I guess 'avoid a pattern' was a confusing way to word it since we do not only need to avoid this pattern in the future, but also replace it where it occurs in the current code. Since so far there has only been a pr for raiden-libs, I suppose it is not done for the occurences in the main repo.

[2018-09-07 10:10] LefterisJP commented on #2201
Hmmm we need to discuss if this is changes we want at this moment in the client. I don't like issues with multiple bullet points as it does not make it easy to track. Can you please open another issue for this last bullet point?

[2018-09-07 10:10] #2201 closed

[2018-09-07 10:15] ulope commented on #2307
In a call with Matthew from Matrix he explained that the solution is even easier:

We don't need to create multiple per-server discovery rooms but instead we simply need to assign a per-server alias to the existing room. That way the room is joinable from all servers but is actually just one room.

[2018-09-07 10:18] ulope commented on #2081
We also discussed this with Matthew from Matrix.

He also agreed that due to the unpredictable message order in federated contexts the read receipts aren't suitable for our purposes.

However, since matrix is a reliable protocol we may want to simply drop the `Delivered` messages alltogether. Separate proposal issue will follow.

[2018-09-07 10:18] #2081 closed

[2018-09-07 10:34] cmenzani commented on #2379
We have build scratch scenario with new ethereum account, delete .raiden , etc and all the cycle has works :-)

[2018-09-07 10:44] LefterisJP commented on #2379
@cmenzani So you no longer have an issue?

[2018-09-07 10:46] cmenzani commented on #2379
Now, all ok. Finally. Thanks

[2018-09-07 10:46] ulope opened #2383 "Matrix: Remove delivered messages and use room history"
## Problem Definition

We currently use `Delivered` messages on the Matrix transport to track whether messages arrived ath the destination.
Since Matrix is a reliable transport we don't need those. This would also mean to get rid of part of the re-try mechanism and instead rely on the room history for past messages.

## Tasks

- [ ] Investigate if removing the Delivered messages and using the room

[2018-09-07 10:47] ulope commented on #2081
Replaced with: #2383

[2018-09-07 10:53] ulope opened #2384 "Smoketest: Remove test dependencies"
## Problem Definition

The smoketest is intended to be a quick way of ascertaining basic functionality of a raiden node installation.

Unfortunately it currently uses functionality from the `raiden.tests` package (and part of its code is even located inside that package).

This makes it impossible to run the smoketest from the distribution binaries or without installing the full development depend

[2018-09-07 11:41] ulope opened #2385 "Profile Matrix performance"
## Problem Definition

We've had multiple reports that mediated transfers using the Matrix transport are slow.
Investigate why this is the case.

[2018-09-07 11:44] #2373 closed

[2018-09-07 13:45] mat7ias opened #2386 "Community profile on github insights"
## Problem Definition

The Raiden Github community profile (https://github.com/raiden-network/raiden/community) isn't completely checked off:

- [ ] Code of conduct
- [ ] Issue templates
- [ ] Pull request template

I've noticed a number of other open source projects use the template from https://www.contributor-covenant.org/ as a starting point for a code of conduct.

[2018-09-07 17:18] #2386 closed

[2018-09-07 17:44] #2247 closed

[2018-09-07 18:09] jomuel opened #2391 "Make sure unhandled exceptions in all short-running greenlets bubble up"
We want to make sure Raiden crashes whenever an unhandled exception happens. Since gevent does not bubble up unhandled exceptions happening in greenlets, this involves checking if no greenlet in the code is 'forgotten', i. e. if all are watched for exceptions by their parent greenlets. This has already been done for raiden-libs and for long-running greenlets. Followup from #2201.

[2018-09-07 18:36] #1894 closed

[2018-09-07 18:36] #2059 closed

[2018-09-07 20:07] LefterisJP opened #2393 "Disable token registration for the Red Eyes mainnet release"
## Intro

As per our requirements for the Red Eyes release we need to disable token registration.

## Tasks

- [ ] Gray out all token registration functionality in the WebUI.
- [ ] The `register_token` API endpoint should always return a "Not implemented" error

## Notes

This should only be merged in master for the red eyes mainnet release.

[2018-09-07 20:10] LefterisJP opened #2394 "Adjust documentation for the red eyes limits"
Adjust the documentation in as non-invasive a method as possible to specify the limitations of red eyes. Special care should be given to the fact that tokens can not be registered.

[2018-09-08 15:14] LefterisJP opened #2396 "Setting --rpccorsdomain "http://localhost:5001" does not work"
## Problem Definition

In the documentation we state that setting `--rpccorsdomain "http://localhost:5001"` as an argument to the ethereum client (parity or geth) should work and allow the WebUI to work.

In the ETHBerlin Hackathon we noticed that both for parity and for geth this does not work. The only option that works is `--rpccorsdomain "*"`

## Task

- [x] Investigate why this is happening
-

[2018-09-10 08:09] hackaugusto commented on #1938
@kelsos is this still a problem?

[2018-09-10 08:11] kelsos commented on #1938
On my side settled channels are no longer listed on the webui so I would say no it is not still a problem.

[2018-09-10 08:12] #1938 closed

[2018-09-10 08:42] LefterisJP commented on #2361
@CosminNechifor can you try again with latest master and if this does not occur, close the issue?

[2018-09-10 08:43] LefterisJP commented on #2351
@czepluch can you try latest master now and tell me if this is stil an issue for you?

[2018-09-10 08:44] czepluch commented on #2351
Yes. I am just waiting for a channel to settle before I update to latest master.

[2018-09-10 10:51] CosminNechifor commented on #2361
I could not reproduce this.

[2018-09-10 10:51] #2361 closed

[2018-09-10 11:22] pcppcp opened #2407 "missing module when building synapse"
Current Travis runs fail when building test Synapse server environment

https://travis-ci.org/raiden-network/raiden/jobs/426572757#L688

a dependency update upstream probably caused this bug.

[2018-09-10 11:28] kelsos opened #2408 "Raiden client crashes on start"
## Problem Definition
I also did try to remove (after backup) the previous database and start with clear state but the same thing happens.

[code]

### System Description

Here add a detailed description of your system, e.g. output of the following script:

[code]

[2018-09-10 11:32] LefterisJP opened #2410 "Check if partner submitted balance proof before settling"
## Problem Definition

Part of #2214

During settle at the moment we always expect the partner to have succesfully called `updateTransfer`. That is an assumption that may not be true.

## Tasks

- [ ] Check the blockchain and see if there is no balance proof submitted by the partner of the channel
- [ ] If there is nothing submitted it means the partner did not submit his side of the channel so do

[2018-09-10 11:35] hackaugusto opened #2411 "Inform users about payment and REST API retries"
## Problem Definition

If a user A wants to make one payment to user B, and he does a REST request which blocks for some time, the user must not send a new request with a **different** payment identifier, otherwise it is *possible* that A will pay to B twice.

It's fine for the user A to send the *same* request twice, *as long* as the payment is still in flight. This however is susceptible to race

[2018-09-10 11:38] hackaugusto opened #2412 "Inform the user about the current in-flight payments"
## Problem Definition

if a payment takes too long a user may try a second time, unaware the previous has not completed yet, which may result in the same payment being made twice. To avoid this the UI should:

- [ ] Inform the user about the current payments which are in-flight
- [ ] Ask for a confirmation if the user tries a second payment for the same target and value is tried.

[2018-09-10 11:41] czepluch opened #2413 "Raiden crashes on latest master"
## Problem Definition

On latest master `0.8.1.dev5+gfe831802` Raiden crashes when I start it. With the following traceback: https://gist.github.com/czepluch/d6a47314ed33767436f60641f85ec9dd

[2018-09-10 11:42] LefterisJP opened #2414 "Recover old balance proof to settle with partner who uses it"
## Problem Definition

Part of #2214 .

During settle, our partner may try to cheat and use an old BalanceProof and not the latest one. We have to handle this case and recover the old balance proof from the WAL.

## Tasks

- [ ] Add balance hash to all state changes that have balance proofs. Perhaps only `SignedBalanceProofState` is enough.
- [ ] Query the WAL for the state change that has this ba

[2018-09-10 11:43] LefterisJP commented on #2214
Split this into two issues and updated the description. When they are done this is done. We can perhaps close this even.

[2018-09-10 11:45] czepluch commented on #2413
Sorry. Just saw that Kelsos also opened this. Closing because of duplicate of https://github.com/raiden-network/raiden/issues/2408

[2018-09-10 11:45] #2413 closed

[2018-09-10 11:46] czepluch commented on #2408
I can verify that this also happens to me on latest master.

[2018-09-10 11:46] LefterisJP commented on #2329
I am still working on this, but as we discussed in the planning, this is not really a hard requirement for red eyes so I am moving it out of the milestone and into the high priority shortlist. When it's finished, we include it into the next release.

[2018-09-10 12:13] #2407 closed

[2018-09-10 12:41] czepluch commented on #2351
This seems to have been fixed. Haven't experienced it more than that one time.

[2018-09-10 12:41] #2351 closed

[2018-09-10 13:23] pcppcp opened #2417 "Unable to start Raiden because of failed dependency"
[code]

clean venv, fresh reinstall of `requirements-dev.txt`. Python 3.6.0

[code]

[2018-09-10 14:35] #2360 closed

[2018-09-10 14:39] czepluch commented on #2408
@hackaugusto seems to have worked for me. At least I can start Raiden now.

[2018-09-10 14:40] eorituz opened #2418 "Unable to install raiden due to "wrong" dependencies"
## Problem Definition

The latest Raiden release (v.0.8.0) has some messed up dependencies:

`py-evm 0.2.0a30 has requirement ipython<7.0.0,>=6.2.1, but you'll have ipython 4.2.1 which is incompatible.`
`py-evm 0.2.0a30 has requirement web3==4.4.1, but you'll have web3 4.6.0 which is incompatible.`

It looks like the requirements.txt dependencies are conflicting with the ethereum once.

The pip in

[2018-09-10 14:58] #2408 closed

[2018-09-10 14:58] CosminNechifor opened #2419 "Node crashes when restarted"
## Problem Definition

My node crashes when I try to start it, and I get the following stacktrace:
Log: https://gist.github.com/CosminNechifor/db8c5f7d51b21653d69e804392e9596e

### System Description

[code]

[2018-09-10 15:00] pcppcp commented on #2418
yep the deps are messed up now. I can't even start the node.

This issue in `web3` is related
https://github.com/ethereum/web3.py/issues/1048

[2018-09-10 15:09] eorituz commented on #2418
I'm not too sure if it is web3 related.
I tried to clone the repo and manually install the dev requirements `pip install -r requirements-dev.txt` and still end up with the same ipython VersionConflict

`Traceback (most recent call last):
  File "/home/oliver/.virtualenvs/demo/bin/raiden", line 11, in <module>
    sys.exit(main())
  File "/home/oliver/.virtualenvs/demo/lib/python3.6/site-packages/r

[2018-09-10 15:57] pcppcp commented on #2418
it looks like `eth-tester` pulls dependencies that are incompatible with what is specified in Raiden requirements. I'll hopefully fix this tomorrow.

[2018-09-10 16:52] ulope commented on #2418
@pcppcp AFAIK this will be fixed by a new web3.py release. See the web3 issue you linked.

[2018-09-10 17:11] eorituz opened #2421 "debug API endpoint doesn't work anymore"
## Problem Definition

I tried to querry `/api/(version)/_debug/raiden_events/tokens/(token_address)` and got an invalid API endpoint response.
Is it supposed to be like that? If so --> remove the endpoint from the docu

### System Description
Used the latest *.tar [binary release](https://github.com/raiden-network/raiden/releases/download/v0.8.0/raiden-v0.8.0-linux.tar.gz)(v0.8.0)
Python3.6, Ubun

[2018-09-10 19:10] LefterisJP commented on #2421
All the debugging endpoints are temporary and may be changed without any notice. They are only there for easier debugging of the client. That said, the docs had it wrong. The endpoint is just `/api/(version)/_debug/raiden_events/`.

To see all the endpoints look here: https://github.com/raiden-network/raiden/blob/6659160eda5010d0ef4ab6ebb7294cb4558f1285/raiden/api/rest.py#L99

[2018-09-11 08:00] ulope opened #2426 "Fix automatic homebrew formula updating"
## Problem Definition

Follow up to #1893: The automatic homebrew formula update hangs because of an SSH known hosts prompt.

Travis run: https://travis-ci.org/raiden-network/raiden/jobs/425900673

[2018-09-11 08:42] #2419 closed

[2018-09-11 11:02] CosminNechifor opened #2427 "Missing field crashes the node"
## Problem Definition

As you can see in the following stacktrace [ContractReceiveChannelBatchUnlock](https://github.com/raiden-network/raiden/blob/master/raiden/transfer/state_change.py#L759) does not have a transaction_from field, and also it does not [inherit](https://github.com/raiden-network/raiden/blob/master/raiden/transfer/architecture.py#L151) it from anywhere. which will cause the node t

[2018-09-11 11:06] LefterisJP commented on #2427
I will look into this Cosmin. Thank you.

[2018-09-11 13:21] kelsos opened #2431 "Raiden client is crashing"
## Problem Definition
[code]

### System Description

Here add a detailed description of your system, e.g. output of the following script:

[code]

[2018-09-11 13:26] LefterisJP commented on #2431
Thanks kelsos. I am looking at it.

[2018-09-11 14:29] LefterisJP opened #2436 "Add api endpoint to query for in-flight payments"
## Problem Definition

Currently there is not an easy way to query for in-flight payments that have neither failed nor succeeded yet.

## Implementation Ideas

1. Counting open API connections (kind of dirty)
2. Count number of pending locks

## Use cases

1. Show it in the WebUI
2. Ability to interact with pending transaction. For example cancel them.

## Tasks

Add an an API endpoint to query fo

[2018-09-11 14:35] LefterisJP commented on #2417
@pcppcp is this issues related to https://github.com/raiden-network/raiden/issues/2418?

[2018-09-11 14:57] BCsRock opened #2437 "No transport of payments, after expiration, Raiden Client cannot restart"
## Problem Definition

Using version `0.8.0`, I registered a new token, namely `0x857f67519691Ef449156aadbcCaC71284D6194A7` which was successful.
[Link to Etherscan](https://ropsten.etherscan.io/tx/0xa17c958572b0325cd626bf3d263df5fa8d7fde4c1429c7496288ae47cec6ead3).

I created a channel between two clients.
[Open Channel](https://ropsten.etherscan.io/tx/0x17afb8d66a97fdd50c424017b87236cdcf675526e1

[2018-09-11 15:01] LefterisJP commented on #2437
Hey @BCsRock.

Thanks a bunch for testing Raiden!
The issue you describe sounds similar to https://github.com/raiden-network/raiden/issues/2419 which is now fixed in latest master thanks to https://github.com/raiden-network/raiden/pull/2420

[2018-09-11 15:04] kelsos opened #2439 "Payments history api for target address returns payments from another address."
## Problem Definition

It seems that calling the payment history api for a specific partner on a specific token network returns results that also have the address of another partner on the same network.

GET
`http://localhost:5001/api/1/payments/0x0f114A1E9Db192502E7856309cc899952b3db1ED/0x92746ECe9D44e9fCe1D98947658956554CCa452D`

What I would expect is that the response would contain events wher

[2018-09-11 15:08] BCsRock commented on #2437
Awesome :-)

But do you think it can fix both of the above issues?
(1. no message exchange, 2. no restart)

[2018-09-11 15:09] CosminNechifor opened #2440 "Node is crashing"
## Problem Definition

Node crashes when restarted with the following traceback.
[code]
### System Description

Here add a detailed description of your system, e.g. output of the following script:

[code]

[2018-09-11 15:27] LefterisJP commented on #2437
So the no restart message is due to the crash right? So that should be fixed.

For the problem of no exchange of messages we would have to see the logs of both the nodes. The only reason this can happen if somehow they can't see each other.

[2018-09-11 15:56] kelsos commented on #2439
Well it would make more sense than the current approach.

[2018-09-11 17:21] LefterisJP commented on #2440
After https://github.com/raiden-network/raiden/pull/2399 you need a new DB. We have not upgraded the DB version since there may be more breaking changes until next release.

[2018-09-11 17:28] andrevmatos commented on #2133
Ok, closing this as fixed by #2268. Everything is synchronous now here, of course depending on `Delivered/Processed` messages to clean the queues and stop retries (which are asynchronous by definition), but `start` only returns after all queued messages greenlets are started.

[2018-09-11 17:28] #2133 closed

[2018-09-11 19:26] #2440 closed

[2018-09-12 07:57] #2418 closed

[2018-09-12 08:05] #2427 closed

[2018-09-12 08:49] BCsRock commented on #2437
I tried to use the [night-builds](https://raiden-nightlies.ams3.digitaloceanspaces.com/index.html) from 11/09 and 12/09
[code]

However, using both I immediately get the error when starting the client:
[code]

Is that a bug inside the nightly builds related to web3?

[2018-09-12 09:03] ulope commented on #2437
@BCsRock yes, there was a dependency conflict in web3 4.6.0 they have now released 4.7.1 which fixes this issue. Tomorrow’s build should be fine.

[2018-09-12 09:07] czepluch commented on #2431
I get the same error

[2018-09-12 09:07] #2391 closed

[2018-09-12 09:18] CosminNechifor commented on #2417
@pcppcp Fixed by: #2428

[2018-09-12 09:18] #2417 closed

[2018-09-12 09:19] czepluch commented on #2431
I think in order to recreate this problem one must close a channel and then be offline when the settlement period is over. I am pretty sure this is what I did for it to happen. Will try to recreate it with a fresh account.

[2018-09-12 09:36] andrevmatos commented on #1149
Fixed by #2208

[2018-09-12 09:36] #1149 closed

[2018-09-12 10:02] #2439 closed

[2018-09-12 10:10] CosminNechifor opened #2447 "Greenlet that fails with MatrixHttpLibError should stop the node"
## Problem Definition

While testing out the raiden client I have experienced the following error. The weird part is that my node continue running, when it should have crashed.

[code]

Log: https://gist.github.com/CosminNechifor/c6fbabc265bd53605fd4c0bd796009c4

### System Description

[code]

[2018-09-12 10:13] andrevmatos commented on #2447
@ulope that `retry` function is explictly being `link_exception`ed to the `MatrixTransport`, which should kill the `Runnable` and bubble up the exception, but it's not happening.. any chance of `gevent.spawn` running the function before the [link_exception](https://github.com/raiden-network/raiden/blob/7facbf3f9ce025c8fcbaa76983deb2bab045540a/raiden/network/transport/matrix.py#L248) is called?

[2018-09-12 10:39] kelsos commented on #2412
@hackaugusto  I did some investigation and it seems that

1. The angular http client retries timeouts by default.
2. The timeout is currently at 2 minutes.

Based on the discussion we had about this we will start with the following actions:

1. Remove automatic retries for the requests
2. Increase the timeout for sending payments (and how much)

Is that right?

[2018-09-12 10:42] pcppcp opened #2449 "ContractReceiveRouteClosed key error"
[complete log](https://gist.github.com/e9e862608e623d229679e8393d6974e5)

traceback
[code]

[2018-09-12 11:34] nkbai opened #2450 "security problem about matrix room"
## Problem Definition
for example Alice login to transport01.raiden.network,and the user id is @alice:transport01.raiden.network
and Bob login to transport01.raiden.network, and the user id is @bob:transport01.raiden.network

if Alice want to send a message to Bob,then Alice will create a chat room !alice_bob:transport01.raiden.network.
it seems that there is no problem.

now there is  a hacker Ev

[2018-09-12 11:42] ulope commented on #2450
Thanks for the report @nkbai and good thinking! :)

However, the room aliases are only a convenience feature mostly intended to ease debugging and human introspection.

The room aliases aren't necessary for raiden to operate and the nodes will automatically use un-named rooms if they cannot assign or join an aliased one (e.g because the alias has already been taken).

[2018-09-12 11:53] andrevmatos commented on #2450
For reference:
https://github.com/raiden-network/raiden/blob/7facbf3f9ce025c8fcbaa76983deb2bab045540a/raiden/network/transport/matrix.py#L846-L856

[2018-09-12 11:53] #2450 closed

[2018-09-12 13:38] LefterisJP commented on #2431
That sounds like it @czepluch.

The problem is that we were not catching RecoverableErrors when we were handle pending transactions during raiden's start. That's what #2432 does.

[2018-09-12 13:41] LefterisJP commented on #2431
But note that for this to work both you and your partner need to be offline. Or else you would get a different error and Raiden would notice that the channel is settled by the partner before handling the pending transactions.

[2018-09-12 13:45] czepluch commented on #2431
Yeah, I think that's exactly what happened. Because I forgot that the settle period was on going and I shut down both my nodes.

[2018-09-12 14:14] BCsRock commented on #2437
I deleted all `.raiden` folders and tried again.
Messages won't reach the other client. The funny thing is, it doesn't even matter if both clients are on the same matrix transport server or on different.

Is there some strategy to test the connectivity with the Transport Server?

Client 1 Output when connecting to Matrix Server
[code]

Client 2 Output when connecting to Matrix Server
[code]

[2018-09-12 14:38] LefterisJP commented on #2437
@BCsRock This seems like it's an actual issue. Can you edit it into the initial issue description? We will investigate and fix it.

[2018-09-12 14:54] #2431 closed

[2018-09-12 14:56] andrevmatos commented on #2437
The communication issue was caused by a concurrency bug: the rooms the node should listen on are populated on initial matrix sync, but that didn't complete at the time we listed these rooms, so we didn't listen on rooms that we joined before. #2451 fix this by waiting for the initial sync.

[2018-09-12 15:07] BCsRock commented on #2437
@LefterisJP and @andrevmatos I figured something new out!

I re-used accounts basically which I used from version 0.5.0 up to 0.7.0. and then encountered the above transport problem.

Now I have just made 2 fresh ethereum addresses with fresh ETH and KIRDN Token (my ERC20) and et voila it works again.

Conclusion so far:
During the upgrade from (probably) version 0.7.0 to 0.8.0 old addresses regis

[2018-09-12 15:15] andrevmatos commented on #2437
@BCsRock no, it did work on new addresses because new rooms were created (with new addresses) and `INVITE`s for these new rooms made it work on the first session. If you restart some or all the dones, you may experience it anyway, it's not the new accounts which made it work, but new/invited rooms.

[2018-09-12 15:16] kelsos opened #2453 "Connection Manager spams logs when no partner is found"
## Problem Definition

I tried to join a token network which probably had no other users. After waiting for a while the connection manager started spamming with the following message.
![image](https://user-images.githubusercontent.com/2269732/45434246-4439bf00-b6ae-11e8-9f98-12c89f45c4bb.png)

The spam didn't stop until I killed raiden.

### System Description

Here add a detailed description of y

[2018-09-12 15:26] BCsRock commented on #2437
Ok, then what needs to be done in order to get the old addresses useable again?

[2018-09-12 15:44] hackaugusto commented on #2412
Yes, if we can avoid retries it would be best. How long is a hard question, IMO as large as it can be without making for a bad user experience

[2018-09-12 15:48] #2370 closed

[2018-09-12 15:57] #2437 closed

[2018-09-12 16:17] LefterisJP commented on #2437
Use the latest release which will include the fix introduced by @andrevmatos in #2451 or attempt to use latest master.

[2018-09-12 21:12] ulope commented on #2437
Also tonight’s nightly build will include both fixes.

[2018-09-13 06:54] LefterisJP commented on #2426
The last nightly passed successfully: https://travis-ci.org/raiden-network/raiden/jobs/428003030

Is that considered fixed then?

[2018-09-13 07:19] #1893 closed

[2018-09-13 08:10] #2453 closed

[2018-09-13 08:18] BCsRock commented on #2437
Guys, thank you! Awesome work. Eager to try it out!

[2018-09-13 08:33] hackaugusto commented on #1400
nonce management was removed by https://github.com/raiden-network/raiden/pull/2064/
account ownership was done by https://github.com/raiden-network/raiden/pull/1838

[2018-09-13 08:33] #1400 closed

[2018-09-13 08:36] hackaugusto commented on #142
With the [event handler class](https://github.com/raiden-network/raiden/pull/2405) this is now possible. one would have to add a custom handler which would delay the `SecretRequest` message.

However we are not adding this feature out-of-the-box, and the logic to decide when such a message should be hold is not available. Additionally, usage of the mentioned handler should be done with care, becau

[2018-09-13 08:36] #142 closed

[2018-09-13 08:39] hackaugusto commented on #1675
@LefterisJP is this issue about the paths returned by [get_best_routes](https://github.com/raiden-network/raiden/blob/9870962df446a8a9b0c947535e869697bfb97967/raiden/routing.py#L48)

[2018-09-13 08:47] #2421 closed

[2018-09-13 08:48] BCsRock commented on #2437
Tested with the [nightly build](https://raiden-nightlies.ams3.digitaloceanspaces.com/index.html) raiden-nightly-2018.09.13-linux.tar.gz

Raiden Client crashes immediately, with web3 error :-/

[code]

[2018-09-13 08:56] andrevmatos commented on #2383
About 3rd point, not yet the case: the rooms are created on the initial sync, which is also when the messages history is fetched, i.e.: before the room's listeners are added. We could do the initial sync again after the rooms were created and listeners added, but that would be not optimal, or ensure caching these messages and calling the listeners after the listeners were added.
Also, there's some

[2018-09-13 09:01] LefterisJP commented on #1675
If memory serves, it's either about `get_best_routes` or [filter_used_routes](https://github.com/raiden-network/raiden/blob/9373c616067430078931de0c69593da88b82691c/raiden/transfer/mediated_transfer/mediator.py#L131)

[2018-09-13 09:04] nkbai commented on #2450
thanks very much.

[2018-09-13 09:18] LefterisJP commented on #2437
@BCsRock this seems to be another error. Latest master works fine from source but not the released binary. I can reproduce your problem only with the nightly binary. Will make a different issue

[2018-09-13 09:21] LefterisJP opened #2460 "Binaries crash with web3 dependency exception"
## Problem Definition

The binaries generated by our deployment process are currently non-functional. The latest (13/09) nightly (`raiden-v0.8.1.dev71+g34708f1b-linux`) crashes as seen below:

Executing: `./raiden-v0.8.1.dev71+g34708f1b-linux --keystore-path ~/.ethereum/testnet/keystore --log-config "raiden:DEBUG" --network-id ropsten --accept-disclaimer`

results to:

[code]

## Task

- [x] Find

[2018-09-13 10:47] eorituz opened #2461 "Receiver doesn't see EventPaymentReceivedSuccess"
## Problem Definition

When sending a sucessfull Tx between two locally running nodes (I ran the nodes in debug mode and saw the EventPaymentSentSuccess in the senders and the receivers Raiden client) the receiver doesn't store the event correctly.

Meaning that querying the payment history between S and R after the Tx:
The S response will be the expected EventPaymentSentSuccess.
While the R node

[2018-09-13 10:50] LefterisJP commented on #2461
Can you go into a bit more details about what you are doing?

- What are the exact API endpoints that each node queries and with what parameters
- What is the response?
- What is your expected response
- Attach logs if possible

[2018-09-13 10:51] eorituz opened #2462 "Payment Identifier gets overwritten"
## Problem Definition

When doing a Tx between to locally running nodes with a defined identifier
`echo '{                                                                                "amount": 1,
  "identifer": 2
}' | http POST http://localhost:5009/api/1/payments/0x0f114A1E9Db192502E7856309cc899952b3db1ED/0x002857f3a3BEa9DC0301D6DCf573692720f88B5a Content-Type:application/json`

The identifier

[2018-09-13 10:53] LefterisJP commented on #2462
Hey oliver. Thanks for the report. Will look into this. Can you also post the debug logs?

[2018-09-13 11:33] czepluch commented on #2462
Works for me with manually specifying an identifier on latest master.

[2018-09-13 11:34] czepluch commented on #2462
In your example above, you spell "identifier" wrong @eorituz . This is probably why

[2018-09-13 11:35] LefterisJP commented on #2462
yes that's definitely why. And extra arguments are ignored.

[2018-09-13 11:42] eorituz commented on #2462
... You're right that solved it.
Is there any particular reason why additional arguments are ignored?
Maybe we could catch the case of an illiterate human :D

[2018-09-13 11:42] #2462 closed

[2018-09-13 12:05] hackaugusto opened #2465 "Easy faucet in the web ui"
Add a button in the webui which will request ether tokens for the current running account when the node is connected to a test network, this should make testing easier for new accounts.

[2018-09-13 12:15] BOR4 commented on #2465
Similar functionality for minting RTT would be very nice to have as well (if it is possible to implement it).

[2018-09-13 12:20] CosminNechifor opened #2466 "Inconsistent view of the payment network"
## Problem Definition

At this moment in time, we have the functionality of the cooperative settle implemented in the [TokenNetwork](https://github.com/raiden-network/raiden-contracts/blob/master/raiden_contracts/contracts/TokenNetwork.sol#L830-L911) smart contract, and if two users decide to call it manually they will make the other users view of the payment network inconsistent. For example if w

[2018-09-13 12:22] palango opened #2467 "How to handle contract features not available in the client (yet)"
We need to decide how to handle features that are available in the smart contracts but not in the client yet.

A good example is `cooperativeSettle` (@CosminNechifor and @Dominik1999  came up with that):
Right now we update the routing information inside Raiden only on `ChannelOpened` and `ChannelClosed` events. However when calling `cooperativeSettle` no `ChannelClosed` event gets emitted which l

[2018-09-13 12:44] ulope opened #2470 "Introduce concept of 'test' and 'main' Ethereum networks"
## Abstract

We keep a list of well-known Ethereum networks, their IDs and the deployed contract addresses in the Raiden client.
We should add a flag to each network that indicates whether the network is a 'test' or 'main' one.

## Motivation

This came out of our discussion about security issues.

We need this flag to be able to en-/disable certain features that are desirable for debugging but ha

[2018-09-13 12:45] hackaugusto opened #2471 "Easy test token minting in the web ui"
Expose the mint button if the token supports it, this should make funding accounts for testing easier.

[2018-09-13 12:45] hackaugusto commented on #2465
@BOR4 https://github.com/raiden-network/raiden/issues/2471 :)

[2018-09-13 12:46] hackaugusto commented on #2471
IMO this should be expose regardless of the chain being used.

[2018-09-13 13:33] eorituz commented on #2461
Sure:

## Raiden Client Log files:
[Sender](https://gist.github.com/eorituz/80e5ff7ed35721d0885338f9bd21eade) (on Port 5009)
[Receiver](https://gist.github.com/eorituz/ec8b120840ddc327ff2226816a01f5f5) (on Port 5001)

Sender_address = `0x00F3fF781d1eCf923aFa54611CE6C3c9E679D1E3`
Receiver_address = `0x002857f3a3BEa9DC0301D6DCf573692720f88B5a`

## The Payment was initialized by the API call:
`echo '

[2018-09-13 13:49] czepluch commented on #2461
I can verify that this is a problem. I thought we fixed it with https://github.com/raiden-network/raiden/pull/2382/files

[2018-09-13 13:59] hackaugusto commented on #1675
so, isn't `filter_used_routes` sufficient for this?

[2018-09-13 14:28] LefterisJP commented on #2467
So seems like we got a problem. Let me document here what our current predicament and our options are:

## Problem Definition

When trying to implement the smart contract limits we realized that there is no way to fit them in one contract. We hit the hard-coded bytecode size. At the same time as mentioned in the initial post we may have a problem if users use the coop-settle or withdraw functional

[2018-09-13 14:33] #711 closed

[2018-09-13 14:36] palango commented on #2467
Just a note on the scope of the changes for this:
- Handling coopsettle should be easiest with adding the event to the contracts, but event handling it in raiden would just be adding some code in the settle event code that checks if the route is still there and remove it if so
- Withdrawal support is easy in theory, by just listening to the events and adapting the channel balances accordingly. The

[2018-09-13 15:53] czepluch commented on #2461
And it's very weird that the `EventPaymentReceivedSuccessful` doesn't show, since we have a test for it (https://github.com/raiden-network/raiden/pull/2395/files)

[2018-09-13 16:04] czepluch commented on #2461
Related to https://github.com/raiden-network/raiden/issues/2373 that should have been fixed already

[2018-09-14 06:39] LefterisJP commented on #2467
That is correct. Same goes for coopsettle. Both clients need to mess with the smart contracts manually, so if they mess up their channel by doing something unsupported that should not be our problem. As long as they don't mess up the network for anyone else.

It can be unfortunately for the same reason as coopsettle. Our global view of the network for routing is based on the total deposits. That m

[2018-09-14 07:30] LefterisJP commented on #2471
Why? We can conditionally expose it only on testnet. On mainnet this makes no sense.

[2018-09-14 07:31] LefterisJP commented on #2465
This can be conditionally exposed depending on the network. Related: https://github.com/raiden-network/raiden/issues/2470

[2018-09-14 07:32] LefterisJP commented on #2470
We should also conditionally add these to the features enabled on testnets:

- Testnet Faucet: https://github.com/raiden-network/raiden/issues/2465
- Testnet Token minting: https://github.com/raiden-network/raiden/issues/2471

[2018-09-14 07:43] LefterisJP commented on #2461
I will have a look further then if you also think it's still a problem @czepluch

[2018-09-14 08:35] czepluch commented on #2461
@LefterisJP Yes, I can confirm that it's still a problem. I just now tried with latest master again and it is indeed a problem.

[2018-09-14 09:01] christianbrb opened #2482 "Raiden Client for Windows"
## Abstract

Make Raiden installable on notebooks/servers/workstations running Windows.

## Motivation

Personally, I am running windows 10. After making some attempts to run Raiden on the windows subsystem (WSL) and Docker, I went back to use VirtualBox. It works, but also needs time to maintain and performance isn't that good.

In addition, there are discussions on Reddit about it:
https://www.r

[2018-09-14 09:07] BCsRock commented on #2482
What were your problems with Docker?

I am currently working on a small docker image pulling the latest stable **binary** (not build from source).

This should be fine to use on Windows machines too.
(With the usual problems of directory mounting etc.)

[2018-09-14 09:38] LefterisJP opened #2484 "Improve CLI address selection"
Improve the address selection via the Raiden CLI.

[2018-09-14 10:57] #1473 closed

[2018-09-14 11:28] #2252 closed

[2018-09-14 11:41] LefterisJP commented on #2461
Ah damn I think I see the problem.

[2018-09-14 12:49] ulope commented on #2482
I've successfully tested the linux binary release directly on WSL a few months ago. Worked fine without VMs, docker or anything else.

[2018-09-14 12:51] ulope commented on #2426
The nightlies don't update homebrew. The linked PR should fix it though.

[2018-09-14 13:07] andrevmatos opened #2489 "handle_request_parsing_error expects only 1 parameter, webargs>=4 calls it with 3"
## Problem Definition

After #2469, rest tests that tests for invalid parameters are failing with following traceback:
[code]

### System Description

Here add a detailed description of your system, e.g. output of the following script:

[code]

[2018-09-14 13:08] LefterisJP commented on #2489
Argh ... we should really make [ci integration] the default.

[2018-09-14 13:15] #2489 closed

[2018-09-14 13:49] LefterisJP opened #2492 "Stress test is flaky with "exceeds block gas limit""
As was seen in [this](https://github.com/raiden-network/raiden/pull/2468) PR the stress test seems to be failing in a flaky manner with `ValueError: {'code': -32000, 'message': 'exceeds block gas limit'}[0m`

The complete log can be seen [here](https://gist.github.com/LefterisJP/fb0308cae24e71b896d0593bf1dba069)

[2018-09-14 14:06] BCsRock commented on #2385
My findings are that from version 0.4.0, where Matrix was introduced, the time to send a simple payment from client 1 to client 2 (direct payment channel) has increased from roughly 1 second to 7 seconds :-/

please see my measurement results:

Results from August using v.0-4-0 or v.0-4-1

![image](https://user-images.githubusercontent.com/40204055/45555004-eb962d80-b837-11e8-97cc-b2fa1bade1b7.png

[2018-09-14 14:14] err508 commented on #2396
This can be fixed `--rpccorsdomain "http://127:0.0.1:5001`. This is the default domain the Raiden API RPC server will run on and therefore needs to be authorized make cors requests. Another option is to set raidens `--api-address` to `localhost:5001`, i.e. this cors authorization has to be consistent.

[2018-09-14 14:15] hackaugusto commented on #2385
@BCsRock thanks for the report :)

Could you give a bit more detail regarding the location of the clients? I assume you are using Azure, but which zone is it?

[2018-09-14 14:34] #2410 closed

[2018-09-14 14:54] #2307 closed

[2018-09-14 15:26] LefterisJP commented on #2471
So you want to make an extra RPC call for each token contract in the mainnet to see if there is a function matching this ABI: `void mint()` and then expose this to the webui if some token contract does that? This is the only way I know to check if a contract has a function. Try and invoke it (in a `call()` not in a `transact()`, so that no transaction gets sent).

But mint is not part of the ERC20

[2018-09-14 16:27] hackaugusto commented on #2471
Yes, this is how I imagine this works regardless of the network.

That is true for any ERC20 complaint contract too.

https://github.com/raiden-network/raiden/issues/344

[2018-09-14 16:36] LefterisJP commented on #2471
I just argue that this is not required in the mainnet and not worth the extra RPC call. Virtually no token I know of has this function.

I would instead suggest use a whitelist of contracts that we know of have mint() and expose the mint() call in the webui only for such contracts. This whitelist should be a configuration option. This way it would be easy to change between testnet and mainnet.

#3

[2018-09-14 16:39] #2396 closed

[2018-09-14 19:12] #2461 closed

[2018-09-14 19:29] LefterisJP commented on #2414
pushing to next milestone

[2018-09-14 19:30] LefterisJP commented on #2316
Won't make it this week.

[2018-09-14 19:30] LefterisJP commented on #2287
Fixed by https://github.com/raiden-network/raiden/pull/2381

[2018-09-14 19:30] #2287 closed

[2018-09-14 19:31] LefterisJP commented on #1926
Pushed to next milestone.

[2018-09-14 21:37] LefterisJP commented on #2460
Does not happen with latest generated binaries (e.g. the [ones](https://github.com/raiden-network/raiden/releases/tag/v0.9.0) from v0.9.0). So this is solved.

[2018-09-14 21:37] #2460 closed

[2018-09-14 22:10] LefterisJP commented on #2426
"Should fix it". -- Famous last words.

I think we still have this problem. The v0.9.0 release failed to update homebrew: https://travis-ci.org/raiden-network/raiden/jobs/428788532

[2018-09-15 16:19] alemhnan opened #2495 "crash on restart"
Hello,

I'm trying to run raiden in my local computer. The first run is fine, but after a while it crash and it seems I cannot run anymore.

I'm using the ropsten network.
I'm with a friend and we both experienced the same timing on crash. I tried with my mobile as hotspot to rule out router problem but is I still cannot make it work.

I tried with v0.9.0 and also the latest master. On a Mac with

[2018-09-15 16:53] alemhnan commented on #2495
Hello @andrevmatos ,

thanks for the prompt reply.

I'm following this [guide](https://raiden-network.readthedocs.io/en/stable/macos_install_guide.html#macos-development-setup) (mac os x setup )and [this](https://raiden-network.readthedocs.io/en/stable/webui_tutorial.html) one (web ui tutorial).

I'm using the infura ropsten network. I'm bit confused about what you say about the contracts.
Does th

[2018-09-15 17:33] andrevmatos commented on #2495
@alemhnan No need to re-deploy the contracts, they're deployed in Ropsten and the addresses are in the `constants.py` file. But Raiden needs the contracts source codes to get the ABI to interact with it, therefore, it needs a split package called `raiden-contracts` (you can see it in the [requirements.txt](https://github.com/raiden-network/raiden/blob/f68cc1ec358d7ec4b0a95f4465462d889901afe4/requi

[2018-09-17 07:54] palango commented on #2449
The problem is that the node sent two closing transactions:
Line 11868:
[code]
Line 11882:
[code]

[2018-09-17 08:27] BCsRock commented on #2385
Actually I tried a mixed setup, with clients only on Cloud (Azure) and Clients only running from within our office in Cologne, Germany, and mixed scenarios Cloud-Office. The performance is the same, in the order of 6-7 seconds :-(

For Cloud azure: I can only see `West Europe` as Server location.

Apart from ping, what info could be interesting to monitor?

How about:
- size of messages - could th

[2018-09-17 09:16] palango commented on #2466
Closing this for #2467

[2018-09-17 09:16] #2466 closed

[2018-09-17 09:38] CosminNechifor opened #2499 "Handle exceptions in connection manager"
## Problem Definition

Right now the connection manager does not handle all the exception that are propagated.
I got to this conclusion after I tried to join an already joined token network and I got the following output in the raiden node:

[code]

If I were to enumerate them, those would be:

When  we call ``set_total_channel_deposit`` we don't handle the following exceptions:

- ``DepositOverLi

[2018-09-17 10:12] BCsRock commented on #2385
Wow, using v-0.9.0 it was back to almost initial performance.

Any idea what could have caused this optimization?

![image](https://user-images.githubusercontent.com/40204055/45617457-b295cd00-ba72-11e8-947b-18c1b7c8df5d.png)

Next I consider to measure performance when hopping over 4 nodes.

[2018-09-17 10:28] LefterisJP commented on #2467
After a quick call we decided to go with removing the unimplemented functionality in the client: https://github.com/raiden-network/raiden-contracts/issues/265

[2018-09-17 10:38] LefterisJP commented on #2412
Related: https://github.com/raiden-network/raiden/issues/2436

[2018-09-17 11:42] LefterisJP commented on #2495
@alemhnan This is probably related to https://github.com/raiden-network/raiden-contracts/issues/266.

The last `raiden-contracts` package seems to have had old precompiled contracts. Once the above issue is fixed (in the next release) everything should be fine.

You can also have `solc` locally and make sure that you compile the contracts yourself instead of using the precompiled ones as a tempora

[2018-09-17 12:15] ulope commented on #2385
@BCsRock There was some misconfiguration on our testing matrix servers that will probably have caused excessive rate limiting.

But independent of that we'll be looking into improving performance in the future.

[2018-09-17 12:22] andrevmatos opened #2501 "Make matrix rooms private"
## Problem Definition

Right now, matrix p2p communication rooms are public for debugging purposes. long-standing in-code TODO:
https://github.com/raiden-network/raiden/blob/b2e2d35d8dde0c10b7359b6eb92be874741f1d64/raiden/network/transport/matrix.py#L673-L677

This issue tracks making it private, to avoid possible attackers eavesdropping p2p communication and e.g. getting the exchanged `Secret` be

[2018-09-17 12:32] andrevmatos opened #2502 "Clients should avoid downloading unneeded events from ignored rooms/peers"
## Problem Definition

Today, the node always joins and listens on as much rooms as it is invited to, to be able to receive messages from 3rd parties and update the rooms dictionary with peers.
We need to prevent potential attackers from inviting users to join an infinite amount of rooms, possibly triggering it to download any amount of messages/events on each matrix sync request, which could be a

[2018-09-17 12:35] andrevmatos commented on #2302
Replaced by #2501

[2018-09-17 12:35] #2302 closed

[2018-09-17 12:47] eorituz opened #2503 "API endpoint "_debug/raiden_events" returns 500"
## Problem Definition

The debug API endpoint ` http://localhost:5001/api/1/_debug/raiden_events`
Throws an internal server Error.

The Raiden log is:
[code]

### System Description

Ubuntu 18.04, Raiden version 0.9.1.dev10+ga053a993 (latest master - 17.09.2018)

[2018-09-17 12:49] ulope commented on #1926
Monitoring is up.

Remaining tasks:

- [ ] Configure alerting (P1)
  - [ ] Gather contact addresses of server operators
  - [ ] Decide which events should be reported to whom
- [ ] Configure Grafana frontend to view statistics (P2)

[2018-09-17 13:00] eorituz opened #2504 "Information about mediated transfers "not" available"
## Problem Definition

Right now it is not nicely possible to find out if my node has be used for a mediated transfer.
The only ways I was able to come up with are:
1) Querying the payment history and search for changing balances whithout a mathing payment history Event.
2) Parsing the Raiden Logs for received secrets.
3) Setting a breakpoint in the Raiden Code.

I think there should be an easier

[2018-09-17 13:08] CosminNechifor commented on #2499
Fixed by: #2500

[2018-09-17 13:08] #2499 closed

[2018-09-17 13:35] andrevmatos opened #2505 "Get rid of Delivered messages in matrix"
## Proposal

`Delivered` messages were inherited from the UDP transport because it doesn't have persistency. Matrix transport does, so we should get rid of these messages, and rely on the rooms persistency and assume the messages were delivered once the HTTP request for putting the message event succeeds.
This is trivial for most messages.
The only exception is `SecretRequest`, which currently get

[2018-09-17 14:12] andrevmatos opened #2507 "Ensure a 3rd party can't make us communicate with another party on their room"
## Problem Definition

Out of #2501 #2302
Related: #473
[code]
Currently, the node joins any rooms it's invited to (to listen for possible partners messages), and verifies only the `sender` of the message to update the room it uses to comunicate with that node. This allows an attacker C to invite us (A) to a room it is communicating with B, and with whom we also have a channel, which (upon seeing

[2018-09-17 14:28] LefterisJP commented on #2316
Moving this out of scope for Red Eyes.

[2018-09-17 15:08] pcppcp commented on #2495
Should be fixed by
https://github.com/raiden-network/raiden-contracts/pull/268

If you still experience the problem, feel free to reopen this issue ;)

[2018-09-17 15:08] #2495 closed

[2018-09-17 20:54] #2503 closed

[2018-09-18 06:49] #2449 closed

[2018-09-18 07:46] alemhnan commented on #2495
Thanks a lot guys.
I will check again soon and re-open if needed.

[2018-09-18 10:04] palango commented on #1927
This is now tracked in https://github.com/raiden-network/status-page/

[2018-09-18 10:04] #1927 closed

[2018-09-18 10:42] andrevmatos commented on #840
The token swap is currently disabled, and will be rewriten after Red Eyes, this issue isn't relevant anymore.

[2018-09-18 10:42] #840 closed

[2018-09-18 10:58] err508 opened #2512 "Invert webui event ordering default to descending by block"
## Problem Definition

The webui currently displays events arranged in ascending order by default, where the user is usually more interested in the most current events for a given token/channel.

[2018-09-18 11:03] hackaugusto opened #2513 "Split TokeNetwork.detail_participant"
## Motivation

The smart contracts are clearing the storage as soon as possible to minimize its usage. This means that data is not available through out the whole life cycle of channel. Specifically:

- The balance proof hash is not known for the closer participant until the channel is closed
- The balance proof hash is not known for the counter party until update transfer is called
- The final ba

[2018-09-18 11:12] hackaugusto commented on #2449
@palango `BLOCKCHAIN EVENT` are log lines for events polled by the alarm task, this does *not* mean the node sent the transactions twice, in fact, in the linked log there is no `ContractSend*` lines, which means the node never sent a transaction (at least through the state machine code).

Probably what we have here is a chain reorg:

`'blockHash': HexBytes('0x42a0f0211d761602a9365baa2d76df4194fcc8

[2018-09-18 11:15] palango commented on #2449
I agree, see https://github.com/raiden-network/raiden/pull/2498#issuecomment-422351381
So the transaction was sent properly, but we still need to be able to handle the event multiple times.

[2018-09-18 11:19] palango commented on #1690
I tested the `http://localhost:5001/api/1/_debug/blockchain_events/network` endpoint now with different `from_block` and  `to_block` values, and I cannot reproduce this issue.

[2018-09-18 11:35] andrevmatos commented on #2512
I think we should instead change the order in which the API returns events and stop [reversing](https://github.com/raiden-network/raiden/blob/master/raiden/api/python.py#L753) [them](https://github.com/raiden-network/raiden/blob/master/raiden/api/python.py#L788) [there](https://github.com/raiden-network/raiden/blob/master/raiden/api/python.py#L822). AFAIR, that was done to return most recent event

[2018-09-18 11:43] LefterisJP commented on #1690
Then closing this -- especially since this is now a debug only endpoint

[2018-09-18 11:43] #1690 closed

[2018-09-18 11:49] err508 commented on #2512
I'd leave the API response order as it is, as ascending by block is the design primitive we use for a channel life cycle (i.e. total deposit is ascending by block). This makes  API response verification generic and if a user is only interested in the most current event and skips verification (like in the UI), this requires an explicit step.

[2018-09-18 12:23] err508 opened #2515 "Remove reveal_timeout can not be larger or equal to settlement_timout message"
## Problem Definition

When opening a channel a user is given the option to choose the settle timeout. The UI denotes:  `The smallest allowed value is 1` and displays `reveal_timeout can not be larger or equal to settlement_timeout` if a to small settlement timeout is chosen.
I'd suggest to remove the error message here and display the minimum `Settle Timeout` as constrained by the `reveal_timeout

[2018-09-18 12:33] err508 opened #2517 "Display UI messages longer"
## Problem Definition

When an error is displayed in the UI it is not possible to cp + pst. the message atm because it disappears to fast. IMO UI messages (at least errors and warnings) should only disappear if acknowledged.

[2018-09-18 12:43] kelsos commented on #2515
@err508  `the smallest allowed value is 1` is the hint message displayed on the field above, which is the balance field. Each error message appears on the bottom of an input field and has a red colored text.

[2018-09-18 12:44] kelsos commented on #2512
It shouldn't be hard to put a descending by block order as the default option.

[2018-09-18 12:56] err508 commented on #2515
@kelsos The Settle Timeout must also be larger than the `reveal_timeout` of a particular token as required [here](https://github.com/raiden-network/raiden-contracts/blob/master/raiden_contracts/contracts/TokenNetwork.sol#L236). This token specific information is available already in the client.

[2018-09-18 13:04] kelsos commented on #2515
@err508 Thanks, I will add an extra validation to the field.

[2018-09-18 13:28] hackaugusto commented on #1121
Related: https://github.com/raiden-network/raiden/pull/2498 https://github.com/raiden-network/raiden/issues/2449

[2018-09-18 13:42] hackaugusto commented on #1611
Please, don't use a namedtuple, these are not the best for the serialization. For now I believe that a plain class is good enough.

Additionally, this may not be required ATM, although it's a nice to have change.

[2018-09-19 00:28] ulope opened #2522 "Web3 time based gas price strategies consume excessive amounts network of bandwidth"
## Problem Definition

This mostly applies when using a remote or light eth-node but is also non-optimal with a local node.

The Web3 time based gas price strategies default to sample the last 120 blocks.
On Ropsten querying the full block receipts for the last 120 blocks over HTTP currently causes about 20 MB to be downloaded from the eth node.
Since Web3 currently doesn't appear to implement any

[2018-09-19 01:30] hackaugusto commented on #1356
This is fixed now.

e0a6290609d926c3cf5137fdf15aaf56a86a5e02 introduced one directory per network, so the restart corner case is gone.

[2018-09-19 01:30] #1356 closed

[2018-09-19 04:20] ulope opened #2523 "REST API: Target channel balance is not immediately updated after the initiator returned the REST call"
## Problem Definition

When querying a channel's state (via the `/channels/<token_address>/<partner_address>` endpoint) from the target immediately after executing a payment (but after the payment HTTP call returned) the balance may not match because it takes a bit of time for the target node to update its local balance.

- [ ] Improve the documentation of the above endpoint informing the user tha

[2018-09-19 08:01] hackaugusto commented on #2523
Could you give a bit more of detail?

Are you querying the endpoint for the initiator, a mediator or the target?

[2018-09-19 08:04] ulope commented on #2523
Will provide more detail once I re-create it. It happened multiple times yesterday night while testing the scenario player. Just wrote it down so not to forget.

[2018-09-19 08:16] andrevmatos commented on #1611
@hackaugusto I don't agree with you, namedtuple is a simple tuple, can be [de]serialized even for a json array, and `typing.NamedTuple` is declared exactly like a simple/plain class. Plain classes will require lots of boilerplate, only thing better for serialization would be `attrs`/`dataclasses`, but I don't think we need to introduce it now (I'd like to push for it after Red Eyes).
About second

[2018-09-19 08:34] andrevmatos commented on #2502
Proposal: stay only in the last 2 rooms (for race prevention) of the peers we have **start_health_check**ed.
Usually, the nodes only communicate with channel partners (which we `start_health_check` on `ChannelNew` and on startup).
The only exception for it right now is initiator/target of a mediated transfer:
- initiator: [starts health check first](https://github.com/raiden-network/raiden/blob/5a

[2018-09-19 08:55] #2522 closed

[2018-09-19 09:29] hackaugusto commented on #1611
Instances where namedtuples where not good enough:

2e5d63cb5d60344438083a5293f7674a53bb59b6 : refactored a namedtuple to a class to work with our serialization code
592f920ec14d86b1ed34f8489025129274bb0b09 : refactored a namedtuple to a typing.NamedTuple for type annotations
5ebe70fe7a073a071a914a4a6936c113df5396e2 : refactored a namedtuple because for pickle serialization it doesn't work with ne

[2018-09-19 09:49] hackaugusto commented on #2523
Okay, I'm asking because it's expected to have a bit of delay before the REST API returns to the initiator and the nodes synchronize.

Right now the transfer is considered successful at this point:

https://github.com/raiden-network/raiden/blob/9ca97036f45b9f938a527d1f686d2e4ca24c5e1c/raiden/transfer/events.py#L316-L337

But that doesn't mean the initiator's payee or the target nodes have received

[2018-09-19 09:54] LefterisJP commented on #2492
Probably fixed by: https://github.com/raiden-network/raiden/pull/2516 as seen in https://github.com/raiden-network/raiden/pull/2521

[2018-09-19 10:14] andrevmatos commented on #1611
`typing.NamedTuple` was the initial plan, just used namedtuple as a generic reference to it, as the former is a subtype of the later. For pickle, it should be droped soon, and in this case, it won't contain nested classes, only constant `bytes`/`int`

[2018-09-19 10:29] #2501 closed

[2018-09-19 10:29] #2507 closed

[2018-09-19 12:04] ulope commented on #2523
Ok, you're right. I was querying the payment's target's view of the channel right after the payment call to the initiator returned.
So I guess there's no way around adding a short wait before querying the channel state.

[2018-09-19 12:55] kelsos commented on #2393
I had a discussion with @andrevmatos in regards to this, and he suggested to introduce the concept of mainnet in the configuration that is generated on raiden: https://github.com/raiden-network/raiden/blob/2d2c5cbb082f42d171f3305c2ea6f1a284de3a49/raiden/api/rest.py#L389-L395 And then is passed to the webui.

This way the webui doesn't need to know about anything during compile and it will be able

[2018-09-19 13:05] kelsos commented on #2517
@err508 The default timeout of the notifications is currently 3 seconds, would 10 seconds make sense?

[2018-09-19 13:58] andrevmatos commented on #2505
Complementing: this doesn't mean getting rid of `ReceiveDelivered` events. For the state machine/core/outside matrix transport, nothing changes. But internally, instead of waiting for a couple of roundtrips + unnecessary data transfer to get a partner's `Delivered` message to emit this event, as the message which is expecting it is sent only if the user is online and Matrix is reliable, once the m

[2018-09-19 13:59] kelsos commented on #2515
@err508 I am having trouble finding where `reveal_timeout` is actually exposed in the REST api.
The `/tokens` returns an array of token contract addresses. Any meaningful information (balance, name etc) is then queried directly from the ERC20 token via web3.js. The `/connections` api doesn't seem to contain any information about `reveal_timeout` either.

The message `reveal_timeout can not be larg

[2018-09-19 14:01] andrevmatos commented on #2515
@kelsos `reveal_timeout` is channel-specific, not token-specific (afaict), and [comes in channels endpoints](https://github.com/raiden-network/raiden/blob/master/docs/rest_api.rst#channel-object)

[2018-09-19 14:29] #2512 closed

[2018-09-19 14:41] err508 commented on #2515
If the reveal timeout is tweakable, we only have a lower bound for the `settle_timeout` input given by the token's `Settle_Timeout` no? As of [here](https://github.com/raiden-network/raiden/issues/2225) the initiator of a mediated transfer chooses the `reveal_timeout` and the client only has to check that it is smaller than the `Settle timeout` for its mediating channel.
We could display some hand

[2018-09-19 14:46] andrevmatos commented on #2515
Yes, `reveal_timeout` is a lower bound to `settle_timeout`, and both are tweakables, although not exposed in the webUI nor the docs. I'm working on a PR to expose the default values in `config.json`, and the webui will be able to use this lower bounday.

[2018-09-19 15:22] andrevmatos opened #2529 "reveal_timeout is exposed in the open channel API but is noop"
## Problem Definition

`reveal_timeout` is exposed to the API (although not documented), but [does nothing](https://github.com/raiden-network/raiden/blob/d989738e5f8840748cdd8a02aafa6df4a4ab1409/raiden/api/python.py#L303-L306) and should be removed

[2018-09-19 15:31] err508 commented on #2517
10 secs seems imo a little long for a confirmation. I had an Issue copying an error messages, so I'd make them acknowledgeable - same for warnings.

[2018-09-19 15:33] andrevmatos commented on #2517
Not sure if it's easy, but I think it'd be nice e.g. 5s messages, which stays open while you hover over it

[2018-09-19 15:51] andrevmatos commented on #2515
Ok, there's a problem. The `reveal_timeout` is actually exposed through the API (both rest and python) but isn't taken into account when opening the channel (#2529). I did PR #2531 to expose the values of these variables through webUI's `config.json`.
@kelsos , please, make a follow up PR over it to use these values throughout the webui:
- Default `settle_timeout` in the open dialog populated from

[2018-09-19 18:46] kelsos commented on #2517
Ok I will check if this can be done somehow, using the existing notification library api.

[2018-09-19 20:25] #2529 closed, assigned to andrevmatos

[2018-09-20 08:40] #2414 closed

[2018-09-20 09:46] LefterisJP opened #2535 "Take the block number in which secret was registered on chain into consideration"
Follow up issue after merging https://github.com/raiden-network/raiden/pull/2441.

We should make sure that [register_onchain_secret](https://github.com/raiden-network/raiden/blob/a680108b777c19fa8d9fa3379d5cfc32d7db99a1/raiden/transfer/channel.py#L1509) takes the block number at which the secret was registered into account.

[2018-09-20 09:51] LefterisJP opened #2536 "Only recover balance proof data from the WAL if the on-chain balance proof hash is not null"
Follow up issue after merging https://github.com/raiden-network/raiden/pull/2441.

In the handler of settle, [recover balance proof data from the WAL](https://github.com/raiden-network/raiden/blob/a680108b777c19fa8d9fa3379d5cfc32d7db99a1/raiden/raiden_event_handler.py#L411) only if the on-chain balance proof hash was not NULL.

[2018-09-20 10:07] #2517 closed

[2018-09-20 10:14] rakanalh commented on #2535
The idea is mostly about this function:
https://github.com/raiden-network/raiden/blob/a680108b777c19fa8d9fa3379d5cfc32d7db99a1/raiden/transfer/channel.py#L1465-L1489

If pending_lock has already expired by the time we're handing on-chain secret registration.

The execution path reaches to this point if the secret was already learned on-chain or by receiving a secret reveal message from the initiat

[2018-09-20 10:20] #2515 closed

[2018-09-20 11:06] LefterisJP commented on #2393
Information on whether we are on a main or test network mode is currently passed to the webui [here](https://github.com/raiden-network/raiden/pull/2530/files#diff-8a975e5d87b5ba8673403e4786aae22dR399) and will be in master soon as #2530 is merged.

[2018-09-20 11:42] #2536 closed

[2018-09-20 11:46] LefterisJP commented on #2492
Not fixed yet. After https://github.com/raiden-network/raiden/pull/2441, due to the Travis changes, Travis is slower again and this occurs.

[2018-09-20 13:31] #2470 closed

[2018-09-20 13:34] LefterisJP commented on #2393
Part of this was done by https://github.com/raiden-network/raiden/pull/2530
UI part soon by #2541

[2018-09-20 13:45] pcppcp opened #2542 "UI improvements ideas/feedback"
Couple of tiny things I've noticed and some improvement ideas.

- [ ] display eth balance in the webui. Rationale: user needs gas to interact with the contracts and it'd be nice to know how much funds he has left
- [ ] display warning if eth balance is below $LIMIT
- [ ] PAY dialog: if receiver field is empty, it would be nice to present a list of known receivers
- [ ] Channels: display (online/of

[2018-09-20 14:27] andrevmatos commented on #2542
About 4th and 6th: #2016

[2018-09-20 14:30] hackaugusto commented on #2535
The lock has expired and it should go through the remove expired lock code path.

No. Otherwise the channels will be out-of-synch and `RemoveExpiredLock` won't work

[2018-09-20 19:28] #2502 closed

[2018-09-20 21:48] LefterisJP commented on #2393
Should be done.

[2018-09-20 21:48] #2393 closed

[2018-09-21 10:42] CosminNechifor commented on #2447
I will close it since I could not reproduce it.

[2018-09-21 10:42] #2447 closed

[2018-09-21 12:57] LefterisJP commented on #1926
Should we make separate tasks for these or would it be overkill? In any case since this is not a client feature I am pushing this to next milestone.

[2018-09-21 12:57] LefterisJP commented on #1611
As discussed in the daily this is not making it for this release. Pushing it to next milestone.

[2018-09-21 12:59] LefterisJP commented on #2484
Moving it out of the milestones as it's not a requirement but just a good to have.

[2018-09-21 15:24] CosminNechifor opened #2554 "Scenario player tasklist"
## Abstract

The current version of the scenario player is really good but there is always room for improvement.  So if you have ideas of features that could be added, and you consider that they will be a good addition to the scenario player, please write a comment describing your idea.

Since I opened the issue I would like to add some of my ideas as well.
- [x] capability of opening channels wit

[2018-09-21 22:54] LefterisJP opened #2556 "Locations in the code to change when going back to non-limited contracts"
## Introduction

This is a list of locations that need to be changed for the raiden client to be compatible with the non-limit contracts again.

## Locations

- Remove the extra argument for the deprecator from raiden/tests/integration/contracts/fixtures/contracts.py:82
- Uncomment the tests involving `withdraw()` raiden/tests/integration/contracts/test_token_network.py
- Change the default networ

[2018-09-23 16:50] alemhnan opened #2557 "rtt_token.mint not working"
Hello,

I'm trying to mint some rtt token. I successfully invoke the method from my local geth account, as stated [here](rtt_token.mint). I see the transactions (e.g. [here](https://ropsten.etherscan.io/tx/0x8c9da7b06a38f79fba3b687d9081e5d6b45b2827d11dadb17bef65245ca41155) in etherscan but I do not get any token back in my account.

Is still working the rtt token?

[2018-09-23 17:42] ulope commented on #2557
Hi @alemhnan,

Etherscan doesn't know about all tokens esp. on Ropsten.

To check whether you own any RTT tokens you can check the contract's `balanceOf` function. Easiest way to do that is via Etherscan's [`Read Contract` function on the RTT contract](https://ropsten.etherscan.io/address/0x0f114a1e9db192502e7856309cc899952b3db1ed#readContract)].

Hope this helps :)

[2018-09-23 17:42] #2557 closed

[2018-09-24 06:57] CosminNechifor opened #2558 "Write scenarios for 'Join Network'"
# Write scenarios for "Join Network".

## Test cases:

Test | Description | Expected Behavior | Result
-- | -- | -- | --
J1 | Try to join a network with 100 tokens | 204 ACCEPTED - 3 open channels with 20 tokens capacity/each. 40 tokens will be kept for future transactions | Success
J2 | Try to join an already joined network | 204 ACCEPTED - since join_network is an idempotent function, it should

[2018-09-24 06:59] CosminNechifor opened #2559 "Write scenarios for Open Channel"
# Write scenarios for "Open Channel":

## Test cases that need to be implemented:

| Test | Expected behavior |
| --- | --- |
| Node opens 1 channel | 201 response code, and recive a NettingChannel object |
| Node tries opens a channel to a channel partner it already has a channel with | 409 status code meaning CONFLICT |
| Node opens 30 channels | Should work as described for one channel. |
| Nod

[2018-09-24 07:00] CosminNechifor opened #2560 "Write scenarios for fund / top up channel"
# Write scenarios for fund / top up channel.

## Test cases that are implemented and tested by the scenario player:

| Test | Description | Expected behavior | Result |
| --- | --- | --- | --- |
| F1 | Try to open channel with no deposit and then try to top up 0 tokens | 200 SUCCESS and there should be a channel open with capacity 0 | Success |
| F2 | Try to deposit 1 time | 200 SUCCESS and channe

[2018-09-24 07:01] CosminNechifor opened #2561 "Write scenarios for one-hop mediated transfers"
# Write scenarios for one-hop mediated transfers:

## Test cases that need to be implemented:

| Test | Expected behavior |
| --- | --- |
| Node sends one transfer | 200 response code and the channel capacity should change |
| Node sends 10 transfers |  200 response code and the channel capacity should change |
| Node sends 1000 transfers |  200 response code and the channel capacity should change

[2018-09-24 07:03] CosminNechifor opened #2562 "Write scenarios for Mediated Transfers (more than one-hop)"
# Write scenarios for mediated transfers (more then one-hop).

## Test cases that need to be implemented:

| Test | Expected behavior |
| --- | --- |
| Send one mediated transfer to a node that there is a path to and enough capacity | 200 response code and the channel capacity should change |
| Node sends 10 transfers |  200 response code and the channel capacity should change |
| Node sends 1000

[2018-09-24 07:05] CosminNechifor opened #2563 "Write scenarios for Close channel"
# Write scenarios for Close channel

## Test cases that need to be implemented:

| Test | Expected behavior |
| --- | --- |
| Node closes one channel | The channel should not be visible anymore and we should have a 200 response code  |
| Node closes all its channels | Same as above, but for all the channels |
| Node closes channel and opens with exact same address a new channel, before the settlem

[2018-09-24 07:06] CosminNechifor opened #2564 "Write scenarios for Leave network"
# Write scenarios for Leave network

## Test cases that need to be implemented:

| Test | Expected behavior |
| --- | --- |
| Leave a token network | 200 Response code and all channels should be closed. Settlement period will start. |
| Leaving a payment network  where the all the channels are in the closed state  | Channels will remain the same since they were already closed. Settlement period wi

[2018-09-24 08:24] jomuel opened #2565 "Get waiting functions bug fix ready to merge"
In the current version of `waiting.py`, the channel-related waiting functions (`wait-for-close` and `wait-for-settle`) are flawed. They do not wait for all channels passed to them but just the first one in the list. The proposed fix (#2553) cannot be merged as one of the integration tests times out with it, so there may be some underlying problem.

[2018-09-24 10:07] CosminNechifor opened #2566 "Raiden crashes when trying to update the non closing balance proof"
## Problem Definition
[code]

Full log: https://gist.github.com/CosminNechifor/5b6b935b8ab6d6c77c25db7f92b5eb30

### System Description

Here add a detailed description of your system, e.g. output of the following script:

[code]

[2018-09-24 11:21] ulope opened #2567 "Many parallel transfers leads to some becoming stuck"
## Problem Definition

This [scenario](https://gist.github.com/ulope/7fad24474a17056fd45f70960f01feea) leads to some transfers becoming stuck. Usually no later than the second repeat of the `serial` task set.

From quickly investigating the logs it appears that at some point messages aren't being processed anymore.

Needs more digging.

[2018-09-24 11:24] hackaugusto opened #2568 "Validate the state changes for the Delivered and Processed sender"
The state changes that correspond to the delivered and processed message must have the address of the sender, this address must be authenticated by some means that are dependent to the transport layer (currently the message itself contains a signature which must be recovered)

- [x] Add the sender to the Delivered and Processed state changes
- [x] Update the [node.py handle_delivered](https://gith

[2018-09-24 11:33] hackaugusto commented on #2523
Okay, I updated the issue description to make it a documentation issue.

[2018-09-24 12:09] hackaugusto opened #2570 "Stress test for crashing nodes"
## Motivation

Test to test Raiden's restartability under different states of the protocol.

## ToDos

- [ ] In a integration test, with a few nodes:
  - [ ] Use a custom Raiden event handler class to randomly stop a node, and then restart it
  - [ ] Do multiple parallel transfers
  - [ ] Assert on the expected state of the nodes after the test is executed

[2018-09-24 12:21] hackaugusto opened #2571 "Document what happens with concurrent join/leave token networks"
Add to the documentation for the expected behavior of concurrently interacting to the join/leave endpoint.

[2018-09-24 12:24] err508 opened #2572 "Uncrecoverable error"
## Problem Definition

Three nodes` (A->B->C)` running for scenario player; After closing some channels which were opened for scenarios, all nodes crashed and are now unrestartable
 [ log A](https://gist.github.com/err508/7de7526060bd8ae9a0dc36e6b228fa9e)
 [ log B](https://gist.github.com/err508/73f516f872622e2b29709a9e74003dc0)
 [ log C](https://gist.github.com/err508/f4dc24fd5e4825fa45706408e62e

[2018-09-24 12:29] andrevmatos commented on #2561
I think direct transfers aren't currently exposed through the APIs (and we may not expose it soon, as we use mediated transfers even between neighbors because they're more reliable right now), so this one may not be feasible for now (as AFAICT, scenario players use the APIs)

[2018-09-24 13:15] andrevmatos opened #2574 "WebUI should still allow Join network for already joined networks"
## Problem Definition

Right now, `Join Network` in the `Tokens` screen is hidden after there's any channels for a given token network. That's not optimal, as `/connect` endpoint may still be called after E.g. if a single channel is created in a non-connected network, the Join Network can't be clicked again, even though the user may still want to click on it to automatically create other channels

[2018-09-24 13:40] CosminNechifor commented on #2559
In the current version of the scenario player, the following case can't be implemented:
- ``Node tries opens a channel to a channel partner it already has a channel with`` (This can't be implemented yet because there is no way to check for the response)
- ``Node opens 30 channels`` (this can't be done yet, because in order to open a channel we would need a running node. A good solution would be fo

[2018-09-24 14:39] CosminNechifor commented on #2558
Removing ``Join a different network with same amount of tokens`` since it was already implemented [here](https://github.com/raiden-network/raiden/blob/9a0af181a384c75bf62c07e75592581c6dfbb1b6/raiden/tests/integration/long_running/test_token_networks.py#L91-L101) .

[2018-09-24 14:44] palango opened #2578 "Ability to selectively run integration tests"
Follow-up for PR #2491 :

[2018-09-24 14:55] alemhnan commented on #2557
Got that.

I was thrown off by another mistake. I do indeed have tokens.
The actual problem was that I was mistakenly launching raiden with a different account that the one that I was minting.

Thanks for the help!

[2018-09-24 14:58] err508 opened #2579 "Add an error assert task to the scenario player."
The he scenario player currently does not allow to test that something fails as expected, i.e. opening a channel twice.

[2018-09-24 15:00] hackaugusto commented on #2579
Adding the expected HTTP response code should be sufficient IMO

[2018-09-24 15:03] CosminNechifor commented on #2579
#2554

[2018-09-24 16:01] palango opened #2590 "Unhandled KeyError in Room.leave"
## Problem Definition

In this [travis run](https://travis-ci.org/raiden-network/raiden/jobs/432512017) an exception in the matrix code was not handled.

Traceback:
[code]

[2018-09-24 16:15] CosminNechifor commented on #2561
@andrevmatos We were referring to cases strictly related to transfers between 2 Nodes N1 <-> N2  that's why we decided to separate them. Do you consider that this should be combined with mediated in only one issue?

[2018-09-24 16:25] #2565 closed, assigned to jomuel

[2018-09-24 18:35] andrevmatos commented on #2561
Ok, no, I think it'd be nice to have this as a separate test, in the sense that it's a particular case of mediated transfers, and could do some specific tests, but the underlying mechanism should be exactly the same as mediated transfers. We do have actual direct transfers in code, but as I said, it doesn't have some of the properties we'd like in practice as mediated transfers, so it's not used o

[2018-09-24 18:39] hackaugusto commented on #2561
I edited the issue to remove the ambiguity

[2018-09-25 08:03] ulope commented on #2579
Yeah,  I agree with Rakan for the API-calls-should-fail cases. As discussed before adding a field for the expected error code is more flexible and less prone to false negatives.

However, having a generic Exception catching Task could still be useful for other cases.

[2018-09-25 08:32] rakanalh opened #2592 "Leave unused rooms results in an exception"
## Problem Definition

Upon trying to send a locked transfer, the matrix transport crashed the Raiden node due to the following exception:
[code]

[2018-09-25 09:08] jomuel commented on #2316
Closing this issue for now. As mentioned in #2313, the test will not be unskipped and fixed until the planned Matrix optimizations are done, which may fix the problem already.

[2018-09-25 09:21] #2590 closed

[2018-09-25 09:21] #2592 closed

[2018-09-25 09:58] hackaugusto commented on #2316
@jomuel in which issue should the progress for this be tracked?

[2018-09-25 10:07] CosminNechifor commented on #2566
Both nodes after the restart crash with the following: https://gist.github.com/CosminNechifor/52f5bf31b5abad2f40349db1e287813d

[2018-09-25 10:58] ulope commented on #652
We finally closed this in #2524 🎉

[2018-09-25 10:58] #652 closed

[2018-09-25 14:03] palango opened #2594 "Matrix: https://travis-ci.org/raiden-network/raiden/jobs/432942640#L2149"
## Problem Definition

In a run of the integration tests the following Traceback appeared (https://travis-ci.org/raiden-network/raiden/jobs/432942640#L2149):
[code]

[2018-09-25 14:07] andrevmatos commented on #2594
@ulope the job was restarted, but I could see the `Inviting` line before, in which both the inviter and invited users belonged to the `raiden.local.network` server (from tests). Any idea what could cause it?

[2018-09-25 14:08] palango commented on #2594
Ah sorry, thought the log would stay available. Will download it next time.

[2018-09-25 14:10] andrevmatos commented on #2594
No problem, that info should be enough, this error shouldn't happen and seems internal and specific to test synapse, not reported with real servers

[2018-09-25 14:44] hackaugusto opened #2597 "Channel proxy should check the allowance call"
### Description

For ERC20 tokens we first need to call the `allowance` function, which allows the token network to do a transfer and track how many tokens are being transferred. Currently this is done with the token proxy, which just wraps the ERC20 logic and does no validation about the `allowed_address`.

### Task list

- [ ] Add a function to the channel proxy to do the approval.
  -  The prox

[2018-09-25 14:49] hackaugusto opened #2598 "Add a check in the token proxy for the ERC20 transfer event"
### Description

An ERC20 token must emit a transfer after a successful transfer. A check for this event may be useful to catch bugs (this is not necessarily a problem for Raiden, since we assume the ERC20 are somewhat trusted by the user, and we have tracking of the transfer inside the smart contract itself)

### Task list

Check the `Transfer` event is emitted after the `transfer` function is su

[2018-09-25 14:54] hackaugusto commented on #2597
This issue was created because of this [`TODO`](https://github.com/raiden-network/raiden/blob/442e9b739a75735b2805ef84eafc14b3ab8474fa/raiden/network/proxies/token.py#L40-L42), but turns out the comment was outdated and the feature is already implemented. Closing it.

[2018-09-25 14:54] #2597 closed

[2018-09-25 16:04] palango commented on #2554
Small bug:
[code]

[2018-09-25 16:12] rakanalh opened #2603 "JSON related error crashes node when matrix sends for invite user"
## Problem Definition
Faced this issue today on one of my nodes:
[code]
It seems to be that the error value:
[code]
Is invalid JSON, causing the decoder to raise this exception.

[2018-09-25 16:47] andrevmatos opened #2604 "Use updated matrix servers list"
## Problem Definition

Currently, the list of available matrix servers is hardcoded in the configurations:
https://github.com/raiden-network/raiden/blob/2bdaf306178834a61d05cd0b2c1212b1dc931833/raiden/app.py#L48-L52
Other servers may still be passed by hand with `--matrix-server` CLI option, but if the default of `auto` is used, one of these hardcoded servers will be selected based on response tim

[2018-09-25 16:58] andrevmatos opened #2605 "In-depth search for unhandled exceptions in transport messages handling"
## Problem Definition

We have tests for ill-formed messages arriving the transport [here](https://github.com/raiden-network/raiden/blob/master/raiden/tests/integration/test_matrix_transport.py), but the tranport only does basic validation of the message before forwarding it to the core of raiden, the state machine, through [message_handler.py::on_message](https://github.com/raiden-network/raiden/

[2018-09-25 17:00] palango commented on #2594
Happened again: https://travis-ci.org/raiden-network/raiden/jobs/433023132#L3499

[2018-09-25 18:58] kelsos commented on #2574
@andrevmatos this was changed on feedback from the team, but if you think it makes sense from a usability perspective we can modify how it works.

I would suggest though, if you are already connected the first time, to use a more appropriate name for the button, and as a title for the dialog to clearly specify what you are actually doing. It would be confusing to be able to join a network you alre

[2018-09-25 23:07] LefterisJP commented on #2572
@err508 you seem to be using an older version of Raiden. This raiden error should be handled from 0.10.0 and afterwards.

[2018-09-26 09:51] #2572 closed

[2018-09-26 15:36] rakanalh commented on #2566
@CosminNechifor, @hackaugusto and I figured that the node was unable to find the proper balance proof because the channel data exist in an older DB file and only data from after the upgrade was found in the newer DB.
This will be apparent to you when you execute `tree ~/.raiden` and find that some account folders have 2 DB files instead of just 1.
So in short, you need to reset your state since it

[2018-09-26 15:45] rakanalh commented on #2566
I am going to close this issue as the PR linked above doesn't directly resolve this issue but warns about it's potential.

[2018-09-26 15:45] #2566 closed

[2018-09-26 16:44] hackaugusto opened #2613 "Matrix: Flakyness on test setup"
Relevant log: https://travis-ci.org/raiden-network/raiden/jobs/433552881#L1238

[2018-09-26 18:36] #2564 closed

[2018-09-27 09:54] #2603 closed

[2018-09-27 10:40] hackaugusto commented on #2492
`ValueError: {'code': -32000, 'message': 'exceeds block gas limit'}` is raised by `web3/manager.py:112`, in [this example](https://api.travis-ci.org/v3/job/434010500/log.txt) `secretRegisterBatch` was called with a `gasLimit=7849262`:

but the block `gas_limit=6931359`

The transaction is rejected because it's gas limit is `917903` higher than the block limit

[2018-09-27 10:59] andrevmatos commented on #2492
This is caused by `JSONRPCClient` using the previous block used gas as the gas limit for the next transaction, which is not efficient at all:
https://github.com/raiden-network/raiden/blob/5f0b7796cbd8a749c21ba43f331a8c291a2ad288/raiden/network/rpc/client.py#L221-L224
Solution is do proper gas usage estimation to send a transaction, possibly with progressive (up to a certain limit) increasing this

[2018-09-27 12:34] kelsos opened #2620 "Add filtering sorting for Joined Networks in Token pages"
Currently the sorting filtering options don't check for Joined Networks, so if you want to search for all the Joined networks can be cumbersome if you have a lot of networks listed since you to go through all the pages to find out.

It would be nice to either add an option to show only the Networks you have already joined or add an option to sort the connection status to the network, to make it ea

[2018-09-27 13:06] andrevmatos commented on #2594
My debugging of this have show it is caused by a race condition on matrix's `_get_room_for_address` method. This method have the following workflow:
1. Get current room for that user
2. If there's any, return it, or else:
3. Get candidates
4. Get candidate's displayname and validate it
5. Create a room for that address, and invite the valid peers/partner's users
6. Set the crated room as the one t

[2018-09-27 14:50] andrevmatos commented on #2505
Related: #2383

[2018-09-27 15:51] #2535 closed

[2018-09-28 00:04] #2563 closed

[2018-09-28 08:44] palango commented on #2492
Fixed by #2614

[2018-09-28 08:44] #2492 closed

[2018-09-28 13:08] Dominik1999 opened #2630 "REST-API: Performing a deposit with total_deposit less than current total_deposit returns 200 response"
## Raiden node returns 200 SUCCESS when setting `total_deposit` to something smaller than current `total_deposit` (withdrawing)

This test runs successfully with a Raiden node.

[code]
Therefore, it is possible to set `total_deposit` to 1 token (the Raiden Node returns code 200) without changing the status of `total_deposit`.

I used my own token with 18 decimals.

[2018-09-28 13:16] czepluch opened #2632 "Replaying too many state changes"
I have been running some scenarios where I've been performing > 2000 transfers back and forth between two nodes. When I restarted the nodes it took forever to start, because the amount of state changes to be replayed exceeds 500 by far.

[code]

This happens on master from 26-09-2018 (wednesday). At the time of writing one of my nodes have been stuck at this point for more than 2 hours trying to r

[2018-09-28 13:30] ulope commented on #2630
The reason is this: https://github.com/raiden-network/raiden/blob/49832dfbf7c3d9d89243f8fb0a05fb9f11f59665/raiden/api/python.py#L399-L401

[2018-09-28 13:34] Dominik1999 commented on #2630
ok then, this is no bug and the return code 200 is what we expect? Then I close this again

[2018-09-28 14:28] ulope commented on #2630
Yes, this is definitely a bug IMO.

Esp. since we catch the `DepositMismatch` in the rest api layer: https://github.com/raiden-network/raiden/blob/49832dfbf7c3d9d89243f8fb0a05fb9f11f59665/raiden/api/rest.py#L1046-L1050

which describes exactly the case you're seeing:
https://github.com/raiden-network/raiden/blob/b20360ae3ffc135b6225901877837e4fed5d19ed/raiden/exceptions.py#L52-L58

[2018-09-28 14:31] Dominik1999 commented on #2630
ok nice, I found my first bug then

[2018-09-28 14:56] Dominik1999 commented on #2560
These are my scenarios for review. I executed them and put the results above.
https://gist.github.com/Dominik1999/2ad7dc4d6c2fc9daad6364615650659f

[2018-09-28 15:18] #1586 closed

[2018-09-28 15:22] hackaugusto commented on #1628
This should be fixed by #2602 and #2255

[2018-09-28 15:27] kelsos opened #2638 "WebUI dashboard information"
As we previously discussed it would be good to replace the home page of the webui with some dashboard.

I was thinking that faucet #2465 for the testnet version could go in the dashboard. Along with maybe information about the account funds. Other than this we could also display information about the number of open channels, maybe joined networks or total deposits in channels etc.

I would like yo

[2018-09-28 15:40] hackaugusto commented on #2214
the two sub issues have been implemented.

[2018-09-28 15:40] #2214 closed

[2018-09-28 17:01] ulope commented on #2426
This is turning into a groundhog day issue...

Latest failure: https://travis-ci.org/raiden-network/raiden/jobs/434678475

[2018-09-28 17:12] CosminNechifor opened #2640 "Raiden crash when running the scenario player for "Open Channel""
## Problem Definition

While running the scenario player for the ""Open channel", my node will end up crashing with the following stacktrace:

[code]
Full log can be found here: https://gist.github.com/CosminNechifor/3434dffefd2f630dd1f4e337e10269aa

It usually does this when I try to open a channel with a partner that is not online (which does not matter) but with 0 tokens as the initial deposit.

[2018-09-30 16:12] LefterisJP commented on #2620
By joined, you mean either with the `connect` endpoint but I guess also by just having an open channel, right?

[2018-09-30 16:18] kelsos commented on #2620
I would guess so. Do you have any suggestion?

[2018-09-30 21:37] LefterisJP commented on #2316
I am reopening this issue @jomuel. We **will not** have a skipped test without an issue tracking it. @andrevmatos which planned matrix optimizations are we talking about? Can such stuff be documented here please?

[2018-10-01 07:58] #2630 closed

[2018-10-01 09:51] konradkonrad opened #2642 "Tyop in disclaimer acknowledgement dialog"
## Problem Definition

The disclaimer dialog reads
[code]
It is missing a letter.

[2018-10-01 09:53] andrevmatos commented on #2642
Nice [meta] there ;)

[2018-10-01 10:06] #2642 closed

[2018-10-01 10:17] LefterisJP commented on #2554
Moved it to the next milestone but why is this in the milestone? A wishlist sounds like (1) a meta issue and (2) something that is not required.

[2018-10-01 11:34] LefterisJP commented on #2605
I would suggest we implement scenarios or tests to cause these invalid messages and when we fix them have tests for regression.

[2018-10-01 11:45] LefterisJP commented on #2604
TODO: Add testnet switch for usign our own servers for testnet cc @ulope

[2018-10-01 12:00] andrevmatos commented on #2571
Related: #2100 (specially 3rd bullet point), #1939 (for the actual implementation) and possibly #576

[2018-10-01 14:31] LefterisJP opened #2647 "Include scenario player tests in a CI system"
## Problem description

For the moment the only CI system we have setup is Travis so we should include it there.
Such inclusion should be conditional. We should have a special commit tag `[ci scenario player]` to invoke the scenario player tests if we want them to be run on a commit. They should never be included by default (they take too long).

An additional idea is to make them run during the n

[2018-10-01 15:16] LefterisJP commented on #2605
As discussed in the planning meeting the proper way to handle this would be to:

- perform fuzzy testing of the message handler and of the state machine to find places in the code which can fail with assertions or raise unhandled exceptions. Such fuzzy testing would create:
    - messages with random data (most probably invalid)
    - valid messages of each different types (`SecretRequest`, `Secre

[2018-10-01 15:18] LefterisJP commented on #2605
As for the manually looking through the code idea, I believe this is not actionable. It essentially is asking for an audit of the entire codebase, looking at each line of code. The message handler branched out to the entire raiden codebase.

As mentioned above the proper way to handle this is with fuzzy testing.

Closing this issue as non-actionable, no certain way to act on it or no certain way t

[2018-10-01 15:18] #2605 closed

[2018-10-01 15:25] LefterisJP opened #2649 "Fuzz Testing"
## Motivation

Stemming from the discussion of [this](https://github.com/raiden-network/raiden/issues/2605) issue we should introduce fuzzy testing in Raiden.

## Tasks

- perform fuzzy testing of the message handler and of the state machine to find places in the code which can fail with assertions or raise unhandled exceptions. Such fuzzy testing would create:
    - messages with random data (mos

[2018-10-01 15:52] #2559 closed

[2018-10-01 15:57] konradkonrad opened #2651 "sqlite3 version check error message operates on invalid argument type"
## Problem Definition

A failed version check for the `SQLITE_MIN_REQUIRED_VERSION` will fail when generating the error message, because the version tuple doesn't allow `'.'.join()`ing.

[2018-10-01 17:01] #2651 closed

[2018-10-02 10:58] palango commented on #2560
Closed by #2646

[2018-10-02 10:58] #2560 closed

[2018-10-02 12:52] palango opened #2655 "Handling of EthNodeCommunicationError in REST API"
## Problem Definition

The `EthNodeCommunicationError`  is thrown when Raiden cannot connect to the Ethereum node. The exception is handled in the cli and some REST endpoints.

We need to make sure that the node is properly shut down when this exception is thrown.

[2018-10-02 13:02] LefterisJP commented on #2655
Stemmed from: https://github.com/raiden-network/raiden/pull/2654

[2018-10-02 13:31] palango commented on #2567
This seems to have happened on the first run as well. Logs are attached.
![image](https://user-images.githubusercontent.com/90851/46351590-03531b80-c658-11e8-9219-930dd9208708.png)
[raiden-debug.log](https://github.com/raiden-network/raiden/files/2438050/raiden-debug.log)
[raiden-debug1.log](https://github.com/raiden-network/raiden/files/2438053/raiden-debug1.log)
[raiden-debug2.log](https://githu

[2018-10-02 14:41] andrevmatos opened #2658 "Raiden crashes with AddressWithoutCode exception on handling of TokenNetworkCreated"
## Problem Definition

[raiden-debug.log](https://gist.github.com/andrevmatos/fe5eb9d7f1f501b7c46e6e12f16ff893)

[code]

### System Description

Here add a detailed description of your system, e.g. output of the following script:

[code]

[2018-10-02 16:02] hackaugusto commented on #2567
@palango The transfer did not get stuck, it expired.

- Node `fcfad555` started a transfer to `2a0374bf` with the id `4242318251562065606` at time `13:24:17`. It's local view of the block number was at block number `4156434`, and the lock's expiration was `4156454`.
- The corresponding message was sent at `13:24:17` and received at `13:24:19` the receiver's block number was at `4156444`, but disca

[2018-10-03 11:30] CosminNechifor opened #2661 "Poorly handled exception when opening a channel"
## Problem Definition

When we open the channel from the webui calls ``open`` from the [rest.py](https://github.com/raiden-network/raiden/blob/master/raiden/api/rest.py#L538), then [channel_open](https://github.com/raiden-network/raiden/blob/master/raiden/api/rest.py#L554), in the end we end up calling the ``new_netting_channel`` [here](https://github.com/raiden-network/raiden/blob/master/raiden/n

[2018-10-03 15:15] CosminNechifor opened #2662 "Routing problem on one hop transfer between long running nodes"
## Problem Definition

Maybe I did something wrong, but I experienced this problem and it seem to never let go. This is happening on two of my long running nodes and the token is one of the tokens used for the scenario player. I tried to perform a payment manually and I ended up with an internal server error.
[code]
Log:
[raiden-debug.log](https://github.com/raiden-network/raiden/files/2442463/rai

[2018-10-04 09:21] palango commented on #2662
@CosminNechifor this seems a bit off, as the pathfinding algorithm seems to return a non-existent channel. Can you set a breakpoint at the assertion and look which channel it is?

[2018-10-04 10:05] hackaugusto commented on #2662
@CosminNechifor the attached log has only one post request:

which doesn't correspond to the error reported, could you please double check the logging file?

[2018-10-04 10:13] CosminNechifor opened #2664 "Unable to start a node because of a missing status field in receipt"
## Problem Definition

My node became unusable and it can no longer start because it crashes with the following stacktrace:

[code]
I want to mention that I am using infura and the tx_hash is: https://ropsten.etherscan.io/tx/0x0ca6dad843243eb1ea0ec9bba58864fc2c20b8a5d749c3585ab9112b9a0349fe
Full log:
[log.txt](https://github.com/raiden-network/raiden/files/2445902/log.txt)

[2018-10-04 10:16] hackaugusto commented on #2664
@CosminNechifor what ethereum client are you using and what is the version? also, what is the actual content of the response?

[2018-10-04 10:27] palango commented on #2664
Again, from infura or a different node?

[2018-10-04 10:28] hackaugusto commented on #2664
The first call to `eth_gettransactionreceipt` returned a `null` value, a manual subsequent returned some data. So perhaps was it a reorg?

[2018-10-04 10:46] hackaugusto commented on #2664
Just checking if it's a None is not that useful, the only thing we could do is to throw a different exception which is a bit more information. I guess the fix for this is to add a default number of confirmations block to all the `poll(tx_hash)` (assuming the problem was really a reorg)

[2018-10-04 12:48] hackaugusto opened #2665 "Test MAXIMUM_PENDING_TRANSFERS in the build"
### Problem definition

The tests discussed [here](https://github.com/raiden-network/raiden/pull/1990#discussion_r206969413) are still missing..

Raiden has a upper limit for the number of pending transfers, this is required because the gas usage for unlock increases with the number of pending transfers, and it's must be ensured the unlock can be called. The constant is computed by the tool [get_c

[2018-10-04 13:52] LefterisJP commented on #2567
I would go for a safety margin, and not only for Ropsten. 50 blocks sounds good.

[2018-10-04 14:09] Dominik1999 commented on #2558
Since I cannot edit the above entry anymore, here are the results

| Test | Description | Expected Behavior | Result |
| --- | --- | --- | --- |
 J1 | Try to join a network with 100 tokens | 204 ACCEPTED - 3 open channels with 20 tokens capacity/each. 40 tokens will be kept for future transactions | Success |
J2 | Try to join an already joined network | 204 ACCEPTED - since join_network is an idem

[2018-10-04 14:50] hackaugusto commented on #2567
The reveal timeout is how long it takes for **one** transaction to be mined **under congestion**. Our current assumption is that `web3.py` gas price estimation will chose the price so that the transaction is mined in 20 blocks. So 50 blocks sounds good.

[2018-10-04 14:59] konradkonrad opened #2669 "`smoketest` utility not working in binary releases"
## Problem Definition

Since the switch to `matrix` transport, the `smoketest` command expects to start a local `synapse` server. Our binary bundles do not contain it.

If we want to keep `smoketest` available for "sanity checking" user installation environments for support purposes, we should solve this.

I see these options:

- default to use legacy UDP transport in `smoketest`.
- make a `synaps

[2018-10-04 15:12] LefterisJP commented on #2658
So what happens here is interesting.

`2018-10-02 13:38:08 [debug    ] Received new block             [raiden.tasks] block_hash=0x9090933603286c60852d309b596a387c9e90a5518d6bc452d848cabe6f9a15c6 gas_limit=7992442 number=4156656`

From the logs we can see that the last block we know is `4156656`.

[code]

Then we get block `4156658` but we miss the previous block `4156657`.

Incidentally the TokenN

[2018-10-04 15:14] LefterisJP commented on #2669
This option seems to make sense. @andrevmatos @ulope ?

[2018-10-04 15:14] konradkonrad commented on #1590
related #2669

[2018-10-04 15:20] andrevmatos commented on #2669
That could be kinda hard, we'd need to provide binaries for different platforms, as well as handle both bandwidth (github could handle it?) and possible redistribution legal issues (synapse is Apache, but it has a lot of dependencies).
IMHO, we shouldn't bother too much into shipping test resources (or means of acquiring it) within the released binaries, but just detect and warn users about lack o

[2018-10-04 15:31] ulope commented on #2669
Related: #2384, #1726

[2018-10-04 15:41] ulope commented on #2669
We could provide the downloadable binaries on a 'best effort' basis (i.e. we provide macOS and linux x64 binaries, if the user is running something else they're on their own).

Licensing shouldn't be an issue since the source code is available and it's not included in any part of Raiden.

[2018-10-04 15:50] hackaugusto commented on #2658
It seems the block [0x181f21](https://ropsten.etherscan.io/block/0x181f21f7e06d23366cf0444db6a8ca8a3f44815cc9ef278b9c852dde465bbf3c) was removed, so I guess this was a reorg and the block didn't become an uncle.

[2018-10-04 15:54] #2567 closed

[2018-10-04 16:44] LefterisJP commented on #2658
Indeed, so even though that block did not contain anything related to the token network which causes the crash, the client may have just been in the middle of the reorg and we do not handle reorgs at all in our code.

Anyway though, adding the confirmations on the blockchain events polling will most probably fix this issue, right @hackaugusto ?

[2018-10-04 17:37] Dominik1999 opened #2675 "Initial_channel_target and joinable_funds_target is automatically set to default when given 0"
## Problem Definition

In the tests, when joining a network with `initial_channel_target = 0` or `joinable_funds_target = 0` the client responds with 204 and joins a network but with default values, i.e. `initial_channel_target = 3` or `joinable_funds_target = 0.4` respectively.

It should either tell the user that it changed the values or not joining the network at all.

[2018-10-04 20:31] Dominik1999 opened #2676 "Join a network - no error message when joinable_funds_target > 1"
## Problem Definition

When joining a network the optional argument `joinable_funds_target` can be set with a value on (0,1). However, when `joinable_funds_target` is set >1, the client joins the network (204 response) and creates channels with deposit and balance 0.

I would expect the function to throw.

[2018-10-04 21:00] Dominik1999 opened #2677 "Join a network - initial_channel_target > network participants doesn't throw an error"
## Problem Definition

When joining a network the variable `initial_channel_target ` can be set. It defines with how many token network participants channels are opened. When `initial_channel_target ` is set to some value bigger than the number of participants in the network, the Raiden client responses with 204, joins the network, opens channels with all participants but allocates the `funds` as

[2018-10-04 21:09] hackaugusto commented on #2677
This is the intended behavior, do you think it should be changed or better documented?

The REST API call only configures the channel manager, and once the channel manager is configured it will run and manage the channels for you, if you request for 4 channels but that is not possible to open at the moment, the manager will wait until a new address is available and connect to it.

[2018-10-04 21:12] Dominik1999 commented on #2677
Thanks @hackaugusto , sounds good to me. Maybe we can add this info into the Raiden documentation @czepluch ?

[2018-10-04 21:12] #2677 closed

[2018-10-04 21:13] LefterisJP commented on #2677
@Dominik1999 Please don't assign labels or people without consulting with me first :)

Why is that? The way it currently is now the client will not do someting you don't expect. You still have 1/4th of your funds to allocate for another channel when another participant joins the network.

But perhaps we should add this edge case to the documentation.

[2018-10-05 08:50] ulope opened #2680 "[SP] Allow arbitrary address input"
## Abstract

From #2554:

The scenario player should allow arbitrary eth address input in the `to` field for API related tasks (`open_channel`, `close_channel`, `assert`, etc.)

[2018-10-05 09:01] #2558 closed

[2018-10-05 10:27] hackaugusto opened #2682 "Prioritize routes which have funds for refunds"
## Abstract

Refund transfers require capacity in the backwards direction, if there is no available capacity then the refund cannot be sent and the transfer will expire.

## Motivation

This increases the probability of a refund happening, and it may increase the likelihood of a transfer succeeding.

## Backwards Compatibility

This is completely backwards compatible.

[2018-10-05 10:34] #2680 closed

[2018-10-05 10:42] LefterisJP commented on #2676
This is indeed a bug. Let me fix that. We don't do sanity checks on `joinable_funds_target` and if you give something bigger than `1` you end up with a negative number inside the connection manager.

Ouch.

[2018-10-05 10:51] ulope opened #2684 "[SP] Add assert task for channels opened via join_network"
## Abstract

When using the `join_network` task in the scenario player it's (in most cases) not possible to determine the precise nodes with which channels will be opened beforehand.

Add an `assert_all` task that allows to assert on those channels.

Syntax:
[code]

[2018-10-05 11:35] LefterisJP commented on #2675
Hey @Dominik1999 I don't see how this can happen. Can you provide the entire debug log of your test run and what API calls you made?

[2018-10-05 11:44] ulope opened #2686 "Registering the same token twice causes crash"
## Problem Definition

Trying to register an already existing token again causes the below crash.
Additional weirdness: The token doesn't show up in the token list api call response.

<details>
  <summary>Token list</summary>
  <code><pre>
± http localhost:5001/api/1/tokens
HTTP/1.1 200 OK
Content-Length: 3634
Content-Type: application/json
Date: Fri, 05 Oct 2018 11:35:50 GMT
mimetype: application

[2018-10-05 11:53] palango commented on #2686
What version are you on? I see a slightly different error:
[code]

But the token is not shown in the GET request either.

[2018-10-05 11:58] LefterisJP commented on #2686
So the 409 already registered error is expected behaviour. Right? I mean you are trying to re-register an already registered token.

Now as to why the token is not registered that's interesting.

Which network are you trying this on? Do you have main-net or testnet configuration settings activated?

[2018-10-05 12:01] Dominik1999 commented on #2675
@LefterisJP here is the logfile for `initial_channel_target` = 0 https://gist.github.com/Dominik1999/44db2487a52d23373e03c93aca377e78

[2018-10-05 12:02] palango commented on #2686
I tried on ropsten.

[2018-10-05 12:10] palango opened #2687 "Make token networks opt-in"
Right now we follow all token networks by default, meaning we have to keep internal state and query for blocks for all of them. At the moment we have 227 token networks in ropsten. This means we're doing a lot of bookkeeping for networks that most users will never join.

Instead we should do the syncing of a token network on demand, meaning whenever a channel is opened or a network is joined.

We

[2018-10-05 12:12] LefterisJP commented on #2675
I want to see the logs of the raiden client. This seems like only a scenario player log.

[2018-10-05 12:12] #2676 closed

[2018-10-05 13:16] Dominik1999 commented on #2675
there you go, here the output of the respective Raiden node: https://gist.github.com/Dominik1999/30817a1fb7a90b2d0ff406f0e9b7df88

[2018-10-05 13:17] LefterisJP commented on #2675
I am sorry but this is not a debug log. Please find the raiden-debug.log in the appropriate directory as ulo said.

[2018-10-05 13:36] ulope commented on #2687
Doing this on demand could be problematic when users are connected to a light or pruning node as old state might not be available locally anymore (but I guess it's no worse than starting raiden for the first time while connected to such a node).

[2018-10-05 13:44] ulope opened #2690 "Improve debug log naming"
## Abstract

Raiden automatically writes a debug log file on each run. Currently this file is called `raiden-debug.log` with an optional numeric suffix for log rotation.

## Motivation

Having this simplistic name becomes problematic when running multiple nodes at once or multiple times in quick succession.

Therefore it would be helpful to include more details in the filename to avoid conflicts a

[2018-10-05 13:46] ulope commented on #2686
Also ropsten

[2018-10-05 13:52] hackaugusto commented on #2690
@ulope what about using the database folder?

[2018-10-05 14:44] dergoegge commented on #2690
I would like to take this one!
Am i correct that this should be done in the [here](https://github.com/raiden-network/raiden/blob/94d33b9e69143fd679e42d5fa375a3d78a7b4d6c/raiden/log_config.py#L130)?

Also since i have never worked with raiden before where do i get the node address and network id from?

[2018-10-05 15:00] LefterisJP commented on #2690
Yes it can be done there. As you can see the argument curently has a default value which is what we got.

As for `node_address` and `net_id` you can get them if you move the `configure_logging()` call from [here](https://github.com/raiden-network/raiden/blob/94d33b9e69143fd679e42d5fa375a3d78a7b4d6c/raiden/ui/cli.py#L1002) to [here](https://github.com/raiden-network/raiden/blob/94d33b9e69143fd679e4

[2018-10-05 15:03] andrevmatos commented on #2690
@dergoegge Thank you for wanting to pick this up.
That function has a `debug_log_file_name` parameter you may prefer to set one level above, where it's called, i.e. in [cli.py](https://github.com/raiden-network/raiden/blob/94d33b9e69143fd679e42d5fa375a3d78a7b4d6c/raiden/ui/cli.py#L1002-L1007). IMO, the only difficulty is that some of these information may currently only be available at `_run_app`

[2018-10-05 15:06] dergoegge commented on #2690
@LefterisJP @andrevmatos thanks guys! you both pretty much described the same thing so i'm gonna do that!

[2018-10-05 15:14] LefterisJP commented on #2690
But hmm @dergoegge on second thought I think we need @ulope to answer [this](https://github.com/raiden-network/raiden/issues/2690#issuecomment-427373285) comment by @hackaugusto

The idea of using the DB folder to save the debug log in is much better imo, as we get all that info he wants to put in the filename already.

[2018-10-05 15:19] #2604 closed

[2018-10-05 15:35] LefterisJP commented on #2690
yes. Should be even easier.

[2018-10-05 17:48] ulope commented on #2690
In theory using the database path would be great. The problem is that it's being constructed very late in startup. The place where the directory is actually created, if it doesn't exist, is even later all the way in `RaidenService.__init__()`.

That is much too late to catch startup logging and would require annoying workarounds such as logging to a temporary file and later renaming it (as Andre s

[2018-10-05 18:22] #2568 closed, assigned to rakanalh

[2018-10-05 19:36] #1611 closed

[2018-10-05 19:57] hackaugusto commented on #2690
The only requirement is the account selection. Network id and token network registry are provided as part of the configuration and have defaults, database version is a constant.

So the startup could be:

- Display warning and wait for the confirmation
- Ask the user for the account (only thing thing that is new prior to the logging configuration)
- configure logging with database path

Is this to

[2018-10-05 21:10] ulope opened #2699 "Add REST-API endpoint to query per-token channels"
## Abstract

Add REST-API endpoint to query a node's channels per token.
Required for #2684

[2018-10-05 21:31] LefterisJP commented on #2699
closed by #2698

[2018-10-05 21:31] #2699 closed

[2018-10-05 22:27] LefterisJP opened #2700 "Release process change: Don't run tests at tagging"
## Problem Definition

Our current release process is slow.

After all features are in, we make a bumpversion PR, or incroprorate the bump version at the last feature's PR as happened [last week](https://github.com/raiden-network/raiden/pull/2695).

The last commit, the one that bumps version, is always intended to be the commit that will get tagged with the new version. In the PR we run all integ

[2018-10-05 22:58] LefterisJP commented on #2205
In the last release's build the automatic PyPI uploading failed: https://travis-ci.org/raiden-network/raiden/jobs/437840495#L4404

It needs to be fixed.

[2018-10-05 23:05] LefterisJP commented on #2426
Nope. It's still winter.

Here is the log of the latest failure: https://travis-ci.org/raiden-network/raiden/jobs/437840496#L1973

And a screenshot in case the travis log dissapears or gets trimmed.
![2018-10-06-010030_919x526_scrot](https://user-images.githubusercontent.com/1658405/46563828-f8241800-c903-11e8-8b59-b5d1f3166384.png)

[2018-10-05 23:25] ulope opened #2701 "Fix PyPI uploading"
## Problem Definition

The newly re-enabled PyPI uploading failed due to the presence of the `dist/archive` folder:
https://travis-ci.org/raiden-network/raiden/jobs/437840495#L4391

Possibly the binary release files will also cause problems, check before fixing.

We can't use `skip_cleanup: false` since otherwise the compiled webui would be deleted as well.

## Solution

- Move PyPI deployment to

[2018-10-06 07:05] LefterisJP commented on #2701
Isn't this a duplicate of: https://github.com/raiden-network/raiden/issues/2205 ?

[2018-10-06 08:13] LefterisJP commented on #2661
I am not sure I understand what's wrong @CosminNechifor?

The rest api call will succeed, no? The channel will be opened. It's just not you that opened it but your partner. What is wrong with that?

[2018-10-06 20:01] ulope commented on #2701
#2205 is solved. This is a new issue that is the result of it IMO.

[2018-10-06 20:47] LefterisJP commented on #2205
closing this in favour of #2701

[2018-10-06 20:47] #2205 closed

[2018-10-06 20:47] LefterisJP commented on #2701
All right. Fine by me.

[2018-10-07 11:29] Dominik1999 commented on #2675
Ok it took me some time, but I hope, now we are happy.
https://gist.github.com/Dominik1999/82ca3a1f965e76d25a7e52a7b9e9bdcb

This is node 4, which joins a network with `initial_channel_target` set to `0`. So we would expect 0 channels to e opened or an error message. But we see 3 open channels.

`=================================================================================================== TA

[2018-10-08 07:13] palango commented on #2686
Yeah, I didn't change anything. But we should add a log message for that I guess.

[2018-10-08 07:56] ulope opened #2702 "[SP] Allow SP to manage Raiden nodes"
## Abstract

The SP should be able to manage the lifecycle of Raiden nodes (i.e. start, stop, and kill them) on demand as required for the scenario. This also includes the creation and funding of accounts as well as the node's configuration.

The current behaviour with 'external' nodes should still be optionally supported as well.

Required through #2554 and #2647

[2018-10-08 08:17] palango commented on #2686
@ulope I just tested this again on a fresh node with 0.12 and it seems to work fine now:
[code]

And the call to add the token fails as expected:
[code]

Can you also try this again?

[2018-10-08 08:33] LefterisJP commented on #2675
@Dominik1999 this can't be the entire log. It starts `2018-10-07 10:45:03 ` and ends `2018-10-07 10:45:37`. That's only 34 seconds and does not contain anything api related. It's mostly riddled with calls to the infura ethereum node.

[2018-10-08 08:57] Dominik1999 commented on #2675
@LefterisJP Sorry didn't see that. The whole file is 45Mb. How could I send it to you?

[2018-10-08 10:08] palango opened #2704 "[Planning] PFS integration"
# PFS planning

To plan the integration of the PFS I want to get a discussion started here. Below is a four step plan that marks useful milestones for the PFS and its integration and provides time for parallel development of requirements for stages (e.g. matrix room for sharing balance proofs (which will be used for the MS as well), decision on fees in the client).

Before specing this out further

[2018-10-08 10:25] czepluch opened #2706 "[SP] 404 when sending transfer to invalid address"
## Problem definition
When trying to make a transfer with an invalid address (non EIP55 fx), there SP gets a 404 error code. This is not expected behavior, and it should return 400 according to the documentation.

[code]

[2018-10-08 10:30] palango commented on #2638
Some ideas from me:
- Overview over events that happened since UI was shown last time (e.g. newly opened channels, closed channels, settled channels)
- Receivers of the last payments + option to pay them again
- Quick way to pay a given address
- Overview over last received payments
- Open channels and available funds/deposits

[2018-10-08 10:35] palango commented on #2706
@czepluch Can we get the node logs as well? And do you know what version these nodes run?

[2018-10-08 10:39] LefterisJP commented on #2706
The docs are wrong. URL errors should be a `404`

[2018-10-08 10:42] czepluch commented on #2706
@LefterisJP Currently if you provide a faulty address the API return a `400` with the message that the address might be invalid. That's what I would expect to happen too, since it helps debug the problem from a user's perspective. It's only when using the SP that it returns 404, the API return 400

[2018-10-08 10:44] hackaugusto opened #2707 "Add number of confirmation blocks as part of the ChainState"
## Abstract

The number of confirmations blocks is not equal to all networks, specially for test networks the number of confirmation blocks usually needs to be higher then the confirmation blocks of main net.

## Motivation

Allow to easily change the confirmation blocks for different networks

## Specification

The ChainState needs a new field, for the number of confirmation blocks, and this data

[2018-10-08 10:45] konradkonrad opened #2708 "Add cli option `--showconfig`"
## Abstract

We should add a cli flag `raiden [OPTIONS...] [ARGS...] --showconfig`. This will dump all configuration values in a standardized format.

## Motivation

Raiden has several configuration items that change its behavior. These may come from different places, i.e.:
- `config.toml`
- `settings.py`
- `constants.py`
- commandline flags

When debugging a client it should be easy to query thos

[2018-10-08 10:45] palango commented on #2706
From how I understand the code it should always return 404 when a `InvalidEndpoint` error is thrown, do you have an example where this isn't the case?

btw. what does SP stand for?

[2018-10-08 10:58] LefterisJP commented on #2706
I guess scenario player. But no need to double label an issue.

[2018-10-08 10:58] czepluch commented on #2706
@palango It stands for Scenario Player.

And also it seems you guys are right. I just tested it out and it does indeed return 404 through the API also. My bad. Should we add the 404 error in the docs then?

[2018-10-08 11:02] ulope commented on #2706
I think we’re inconsistent here. I distinctly remember that there are endpoints that return 400 for invalid addresses.

[2018-10-08 11:05] LefterisJP commented on #2706
Yes we are incosistent. The task here is to re-untroduce consistency in the docs, and if needed in the API itself.

Rules:

- If there is an error in the URL return `404`
- If there is malformed request data return `400`
- If there are other errors in the values of the request then we just have `409` as a catch all.

[2018-10-08 11:33] LefterisJP opened #2709 "Limit the log size"
## Problem Definition

Our logs can be rather verbose and grow in size very quickly. This can result in a lot of disk space being used by logging alone. In combination with the growing DB this can very quickly make raiden unusable in small environments like a raspberry pi or even a small VPS.

Related: [Raiden must quit when disk is full]](https://github.com/raiden-network/raiden/issues/675)

## T

[2018-10-08 11:40] ulope commented on #2709
There are multiple tools specifically designed for this purpose (`logrotate` being the most well known). IMO it'd be a waste of our time to re-invent the wheel here.

We only need to make sure that we're well behaved when the logfile is externally rotated, which we should already be since we're using a [`WatchedFileHandler`](https://docs.python.org/2/library/logging.handlers.html#watchedfilehandle

[2018-10-08 11:43] LefterisJP commented on #2662
@CosminNechifor ping. You have been asked for more information here. Can you please respond?

[2018-10-08 11:46] CosminNechifor commented on #2664
Is weird because after I  started the geth node it worked normally. And then I decided to try once Again with infura, and it was no longer breaking.

[2018-10-08 11:47] CosminNechifor commented on #2662
@CosminNechifor I am looking into it right now @LefterisJP

[2018-10-08 11:49] czepluch opened #2710 "Be consistent with response codes in the docs"
## Problem Definition
As a result of https://github.com/raiden-network/raiden/issues/2706 it is clear that some places in the docs are inconsistent with the actual responses provided by the API.

We need to go through the docs and make sure it is consistent all the way through according to the following rules:
- If there is an error in the URL return 404
- If there is malformed request data return

[2018-10-08 11:50] czepluch commented on #2706
Closing this in favor of https://github.com/raiden-network/raiden/issues/2710

[2018-10-08 11:50] #2706 closed

[2018-10-08 11:58] CosminNechifor commented on #2661
@LefterisJP I didn't receive any notification, saying that the channel was already opened.

[2018-10-08 12:17] hackaugusto opened #2711 "Only poll for events from confirmed blocks"
## Abstract

Reorgs may change the order transactions are executed, the new order may make a previously successful transaction fail, or change the order of events. To avoid races we need to wait for the blocks to be confirmed.

## Motivation

This has introduce a few bugs #2449 #2658 #2664

## Specification

The event filter should just lag behind by confirmations blocks.

## Backwards Compatibili

[2018-10-08 12:22] hackaugusto opened #2713 "Add protocol version in the ping message"
Add the protocol version in the health-check message.

[2018-10-08 12:42] konradkonrad commented on #2708
## Questions:
- Should `--showconfig` output be included in `DEBUG` level logging by default?
- How early in the start up process can this be generated? (i.e. do we need to wait for account selection/unlock?)
- Are there any values that should be redacted by default (i.e. user account addresses)?

[2018-10-08 13:16] palango commented on #2710
In danger of start bikeshedding here:
It doesn't feel consistent to me to return 404 when an address in a URL is non-checksummed, but returning 400 when the non-checksummed address is in the json body.

I'd rather return a 400 everywhere when an address has the wrong format. @czepluch @LefterisJP

[2018-10-08 14:18] andrevmatos commented on #2709
That's already done, at least for the `raiden-debug.log` files: it keeps at most the main/current file + 3 rotations, rotating at 5MB mark, meaning for the debug files it won't ever go over 20MB. At most we could enable the same rotation mechanics for the [optional] `--log-file` cli parameter

[2018-10-08 14:30] LefterisJP commented on #2675
@Dominik1999 As far as I can see from the logs you are joining the  token_network with an `initial_channel_target` of `3`.

[2018-10-08 14:33] Dominik1999 commented on #2675
Hmm this is not what
- is written in the scenario https://gist.github.com/Dominik1999/d76c7cf509dfaffbe5ade08d33753bea
- or what the scenario player tells me

================== TASKS ==================
- [✔] Serial [1039 s]
  - [✔] Parallel [489 s] - Setting up a network
    - [✔] OpenChannel [489 s]: {'from': 0, 'to': 1, 'total_deposit': 10, 'expected_http_status': 201}
    - [✔] OpenChannel [34

[2018-10-08 14:34] LefterisJP commented on #2675
Perhaps this is a scenario player bug or you are making some kind of mistake. Unless you can give me a different log I can't say what's wrong. According to the logs the raiden node got the value of `3` for `initial_channel_target`.

[2018-10-08 14:35] LefterisJP commented on #2675
@ulope can you check if this is a bug with the scenario player?

[2018-10-08 14:40] #2562 closed

[2018-10-08 14:49] palango commented on #2662
@CosminNechifor Any updates?

[2018-10-08 14:49] CosminNechifor commented on #2662
Yes I can reproduce it.

[2018-10-08 14:52] palango commented on #2662
Can you give a bit more infos? How can you reproduce it, how can I reproduce it. Does it happen with 0.12 as well?

[2018-10-08 15:18] CosminNechifor commented on #2662
### Version: latest

### Accounts on which this happens:
-  ``0x77E080beAA49866d2966Ab116a339057B3a07A43``
-  ``0x43735D6C531d68Ac88f4aBCB80926Db7185dFFa7``

### Steps on how I reproduce it:

1. I usually start my nodes connected to a geth
2. I try to perform a direct payment between those two nodes, using one of the scenario tokens just because I already have a channel for that.

### Token addres

[2018-10-08 15:35] LefterisJP commented on #2700
I will cover this at this PR: https://github.com/raiden-network/raiden/pull/2716 since I am touching the same file and it's an oneliner anyway

[2018-10-08 16:52] LefterisJP commented on #2664
Assuming this is a reorg. If you can find a reproducible way to handle this then we can reopen. Until then I am closing this as it will be handled by: https://github.com/raiden-network/raiden/issues/2711

[2018-10-08 16:53] LefterisJP commented on #2658
Assuming this was a reorg closing this issue in favour of: https://github.com/raiden-network/raiden/issues/2711

[2018-10-08 16:53] #2658 closed

[2018-10-08 17:15] LefterisJP commented on #2710
no please stick to what was discussed. 404 for urls being wrong and 400 for json body.

[2018-10-08 17:18] #2713 closed

[2018-10-08 18:51] hackaugusto opened #2719 "Improve transaction error handling"
## Abstract

A smart contract `c` has a set of functions `F` and set of possible states `S`, for each state `s in S` there is a set of valid functions which can be called, `Fc(s) = {f for f in F if is_callable(f, s)}` and a set of invalid functions which cannot be called `Fi(s) = {f for f in F if not in Fc(s)}`.

An error condition exists when function `f`, called at a block `b` and mined at block

[2018-10-08 18:54] hackaugusto commented on #2719
For a channel, the states and valid function calls are shown in this not so simple diagram.

![g_back](https://user-images.githubusercontent.com/310139/46627897-4a3a8880-cb12-11e8-9512-a9c7c004ea21.png)

[2018-10-08 19:22] hackaugusto opened #2720 "removed expired lock must validate the expiration"
`is_valid_expired_lock` currently is not validating if the lock is expired.

[2018-10-08 21:22] LefterisJP commented on #61
@ulope Can we use the scenario player to measure throughput now?

[2018-10-08 21:50] ulope commented on #61
Yes, we just have to think about how we want to gather and export that data.

For gathering I see two options that can be added without much work:
- Sum up the runtime of all `transfer` tasks and then divide by number of transfers
- Add a `benchmark` parameter to the `transfer` task it so we have better control over what we measure

I'd prefer variant 2.

As for exporting, writing some form of jso

[2018-10-08 22:26] #2700 closed, assigned to LefterisJP

[2018-10-09 09:04] palango opened #2723 "Wrong arguments in API function call"
## Problem Definition

In the python API we call the function `list_channelstate_for_tokennetwork` twice with different parameters, where the third parameter should be the `token_address`.
https://github.com/raiden-network/raiden/blob/819dffa74ec813cc5bcd29b04a557814810b0e74/raiden/api/python.py#L559-L571

[2018-10-09 09:38] palango commented on #2664
I don't think this will be handled by @hackaugusto s PR, this is about requiring a certain number of  confirmations in the `RPCClient.poll()` method.

[2018-10-09 09:55] hackaugusto opened #2725 "[Meta] Add bad tokens to the tests"
## Abstract

Raiden doesn't control the tokens created and registered by user, therefore we must expect that bad tokens will be registered and have to be properly handled.

## Specification

Write different problematic token smart contracts and use them in tests:

- Phishing token, it uses the name/symbol of another token
- Injection token, it uses javascript in the name/symbol
- Anonymous token,

[2018-10-09 09:59] #2710 closed

[2018-10-09 11:10] ulope commented on #2690
No, that should be fine. We only need to switch from using logging to prints (or rather `click.secho` calls) in the `AccountManager`. Shouldn't be a big issue since it only has two logging calls IIRC.

[2018-10-09 13:05] czepluch opened #2728 "Add note describing long start up time first time an address is used"
## Problem definition

First time a user starts Raiden with a fresh account the start up time can take several minutes after the password has been typed in if there are a lot of events to process.

## Suggested solution

Add a message the first time the user starts raiden explaining that Raiden is being started for the first time and that it might take some time.

[2018-10-09 13:42] hackaugusto opened #2730 "The secret registry must be queried before the lock is forwarded"
## Problem Definition

When receiving a mediated transfer, the recipient must query the secret registry to check if the secret is already there, if it's then the transfer mus be ignored

[2018-10-09 15:30] LefterisJP commented on #2723
I am looking at this.

[2018-10-09 16:05] konradkonrad opened #2733 "Rest API should always return application/json"
## Problem Definition

There is at least one situation, where the Rest API does not respond with json: if an exception, that does not inherit from `Exception` is raised, the [default error handler](https://github.com/raiden-network/raiden/blob/42c5d1510ec24c1fab7f879765313f37803d9595/raiden/api/rest.py#L367) will not catch it. That is the case for `greenlet.GreenletExit` as is thrown in the `stop(

[2018-10-09 16:12] LefterisJP commented on #2664
@palango I see. Good point.

[2018-10-09 18:39] #2723 closed

[2018-10-10 09:49] palango opened #2739 "Scenario player log messages not in log file"
The scenario player logs messages, for example from `scenario_player.runner`. However, these messages do not appear in the log file.

[2018-10-10 10:00] palango opened #2740 "Document how to get/create W-ETH"
For Red Eyes we require the use of W-ETH. We should add a guide that explains how to convert Ether to W-ETH to lower the barrier to use Red Eyes.

[2018-10-10 10:07] CosminNechifor commented on #2554
@ulope would it make sens to add the ability to check the tokens a user has after the settlement took place?

[2018-10-10 10:20] palango opened #2741 "Wrong formatting in API docs"
The note boxes for the red eyes release captured the example responses in some places:
![image](https://user-images.githubusercontent.com/90851/46729875-da99da00-cc86-11e8-826c-410fcc62518b.png)

[2018-10-10 10:36] czepluch commented on #2741
woops. Will fix it

[2018-10-10 10:57] LefterisJP commented on #2740
This should be part of our onboarding guide. @czepluch can you handle this?

[2018-10-10 11:15] LefterisJP opened #2744 "Disallow direct transfer from overwritting async result of mediated transfer."
## Problem Definition

Diirect transfers are overwritting the async result for a mediated transfers which can led to crashes. The crash happens because when the first transfer was confirmed the async result was set and cleared from the mapping, once the second transfer confirmed the mapping was empty and the assertion was hit.

## Task

- Forbid conflicting direct/mediated transfers.

[2018-10-10 11:15] czepluch commented on #2740
Sure.

[2018-10-10 11:15] LefterisJP opened #2745 "Properly restore async_result mapping at restarts"
Properly restore async_result mapping at restarts

[2018-10-10 11:18] LefterisJP opened #2746 "Handle `PaymentConflict` exception in the REST API"
## Problem Definition

[This](https://github.com/raiden-network/raiden/pull/2743/files) PR adds a new exception, `PaymentConflict` that needs to be handled in the Rest API.

## Task

- [ ] Handle the above exception in Rest API and return an appropriate error
- [ ] Update the rest api docs.

[2018-10-10 11:38] czepluch opened #2747 "upnpsock exception when starting Raiden"
Get the following when starting Raiden on latest master (version 0.12.1.dev30+g29a94164)

[code]

[2018-10-10 11:40] ulope commented on #2747
Probably caused by #2715

[2018-10-10 12:51] #2747 closed

[2018-10-10 14:03] ulope commented on #2701
Should be fixed by #2705

[2018-10-10 14:03] #2701 closed

[2018-10-10 14:33] #2708 closed

[2018-10-10 15:52] konradkonrad opened #2752 "Flag `--network-type` and its options' names are confusing"
## Problem Definition

`--network-type` currently supports two options: `main` and `test`. They are easily confused with the `--network-id` parameter for the Ethereum chain, i.e. `mainnet`.
From what I gathered, not even the name "network type" is very descriptive.

I'm putting this issue up for discussion, but here are some proposals:
- `--protocol-configuration release|dev`
- `--environment rele

[2018-10-10 15:56] andrevmatos commented on #2752
How about `prod|dev` or `production|development`, as in angular/js builds?

[2018-10-10 16:53] #2744 closed

[2018-10-10 16:53] #2745 closed

[2018-10-10 18:33] LefterisJP commented on #2752
Plus one for `production|development`

[2018-10-10 20:13] #2741 closed

[2018-10-10 20:30] LefterisJP commented on #2649
So far we have used the [hypothesis framework](https://hypothesis.works/). And from the [options](https://wiki.python.org/moin/PythonTestingToolsTaxonomy#Fuzz_Testing_Tools) out there for python, it seems like the best solution.

From here and on we will need to work on defining property tests for each different section of the state machine and adding them to our test runs.

[2018-10-11 06:51] agatsoh opened #2755 "Test out long running scenario in the Raiden Scenario player to distributed nature"
Test out a long runnning scenario in the scenario player. Mostly my focus would be to test the distributed nature of the raiden network and the protocol.

- [ ]  To test if mediated transfer goes through if node network connection unstable
- [ ]  To test if some nodes get killed and other nodes get added, can the raiden network re-organise itself again to find a path for mediated transfer for the

[2018-10-11 08:19] konradkonrad commented on #2752
Can we also get some eyes on the option name?

[2018-10-11 08:25] CosminNechifor opened #2756 "Channel lifecycle scenario"
## Scenario player

We need a scenario that tests for more then just one specific case. That's why I would like to introduce a scenario that would test for the following cases:

| **Cases** |
|---|
| Try to open a channel  |
| Try to open a channel, but the channel already exists  |
| Try to open a channel with 0 deposit  |
| Try to deposit less then the amount already deposited  |
| Try to deposi

[2018-10-11 08:28] andrevmatos commented on #2752
In JS realm, it's called `--environment`, or `--env`, not sure if it applies here

[2018-10-11 12:04] palango commented on #2662
The assertion is hit because the network graph in `RouteState` includes more edges than there are channels in the network. see  https://gist.github.com/CosminNechifor/040320fb1f00f23325ab42738f377d91

It's not clear yet why this happens, and at the moment only Cosmin can reproduce that.

[2018-10-11 12:07] czepluch opened #2758 "Mediated transfers with long paths"
Write a scenario that tests how mediated transfers behave when the path is very long and potentially unstable.

| Overview|
|---|
|Start 15 Raiden nodes in a new token network|
|A and B opens channels with each other. (A <-> B)|
|Same goes on with B and C all the way up to O. So we have a path of 15 hops|
|For each step in above, perform a transfer from A to current last node of the path|
|Check t

[2018-10-11 14:42] #2733 closed

[2018-10-11 15:00] Dominik1999 opened #2761 "Long running scenario for scneario player"
## Create  long running scenarios for automated Raiden testing

We need testing scenarios that continuously run in the background and do not overlap with what was already tested. We now focus on unhappy cases and mixed scenarios that meet following requirements:

- R1 to simulate real life
- R2 to be long running and keep the blockchain state (do not start on a new clean token network)
- R3 to tes

[2018-10-11 21:41] #2730 closed

[2018-10-12 10:42] #2662 closed

[2018-10-12 10:46] #2702 closed

[2018-10-12 16:12] #2720 closed

[2018-10-12 17:06] #2426 closed

[2018-10-15 07:35] LefterisJP opened #2776 "Release 0.13.0 binaries not working on the predefined networks"
## Problem Definition

Whenever trying to use the latest binary with the predefined networks we get the following:

[code]

The problem here is that the contract data are no longer packaged correctly with the binaries and most probably due to the [pyinstaller hooks](https://github.com/raiden-network/raiden/blob/06cc18240422b042d87d05029f5a429be166cb59/tools/pyinstaller_hooks/hook-raiden_contracts.

[2018-10-15 07:48] Dominik1999 opened #2777 "Creating a diamond shaped network and mediate transfers with unstable nodes (fulfills R3 and R4)"
## Create  long running scenarios for automated Raiden testing

We need testing scenarios that continuously run in the background and do not overlap with what was already tested. We now focus on unhappy cases and mixed scenarios that meet following requirements:

- R1 to simulate real life
- R2 to be long running and keep the blockchain state (do not start on a new clean token network)
- R3 to tes

[2018-10-15 07:57] Dominik1999 opened #2778 "Creating a payment hub and mediate many transfers through it (fulfills R1 and R3)"
## Create long running scenarios for automated Raiden testing

We need testing scenarios that continuously run in the background and do not overlap with what was already tested. We now focus on unhappy cases and mixed scenarios that meet following requirements:

- R1 to simulate real life
- R2 to be long running and keep the blockchain state (do not start on a new clean token network)
- R3 to test

[2018-10-15 08:43] #2761 closed

[2018-10-15 09:54] Dominik1999 opened #2779 "Payments wait forever to be conducted"
## Potential Bug / Possible Improvement for the API

Scenario #2778 ran for 5 hours without getting any response code on started payments. Scenario was manually aborted after 5 hours.
See https://gist.github.com/Dominik1999/ceee2ec4ede7c4f815664610d078998a

I would expect the API to respond with code 408 Requested Timeout.

## Reproduce

Run the following simple [scenario](https://gist.github.com/

[2018-10-15 10:07] hackaugusto commented on #2779
@Dominik1999 the scenario runner logs are not sufficient to figure out what happened. Could you provide the logs from the individual nodes and their reveal timeout? (the timeout of the request depends on the reveal timeout)

[2018-10-15 10:43] #1654 closed

[2018-10-15 12:18] ulope commented on #2686
Can't reproduce it anymore. Seems to be solved.

[2018-10-15 12:18] #2686 closed

[2018-10-15 12:31] czepluch commented on #2561
Fixed by https://github.com/raiden-network/raiden/pull/2659

[2018-10-15 12:31] #2561 closed

[2018-10-15 12:36] #2682 closed

[2018-10-15 12:41] christianbrb commented on #2740
Also adding a link in the blog post

[2018-10-15 13:31] hackaugusto opened #2784 "ActionInitChain using wrong value"
## Problem

- During start up we use the latest block number (as seen by the node's Ethereum node) to initialize the node's state [here](https://github.com/raiden-network/raiden/blob/ab9aaa2a11c2351dae033f767490f29ac4b7b9d5/raiden/raiden_service.py#L291), this is dispatched and make recoverable by the WAL [here](https://github.com/raiden-network/raiden/blob/ab9aaa2a11c2351dae033f767490f29ac4b7b9d5

[2018-10-15 13:35] hackaugusto opened #2785 "Transport must never be started before the alarm task"
The transport must not ever be started before the alarm task and first run is executed, this is important because messages which would be valid in the past but are invalid now will be accepted until the node synchronizes.

[2018-10-15 13:46] palango opened #2786 "Doc generation fails"
Generating the docs locally with `make docs`  fails with the following error:
[code]

[2018-10-15 14:43] palango commented on #2784
Fixed by #2787

[2018-10-15 14:43] #2784 closed

[2018-10-15 14:47] palango commented on #2786
This seems to be a known issue with old Sphinx versions: https://github.com/sphinx-doc/sphinx/issues/4931

We need to upgrade Sphinx at some point.

[2018-10-15 16:53] #2776 closed

[2018-10-15 16:54] #2786 closed

[2018-10-15 19:10] hackaugusto opened #2793 "Parallelize transactions on restart"
## Motivation

The current restart code sends all transactions in sequence, waiting for the current transaction to finish prior to starting the next one:

https://github.com/raiden-network/raiden/blob/2ea7fef351a480332803cda474e3bb10132f8941/raiden/raiden_service.py#L563-L565

This is suboptimal

## Specification

Introduce an unbounded `Pool(size=0)` and send the transactions from this. The pool

[2018-10-16 07:32] christianbrb commented on #2234
Needs to be reported upstream

[2018-10-16 08:05] hackaugusto commented on #2779
@Dominik1999 could you get the logs for node `0` too?

[2018-10-16 08:22] konradkonrad opened #2794 "'UnlockPartialProofState' object has no attribute 'lockhash'"
## Problem Definition

The `UnlockPartialProofState` class needs to behave like a regular Lock state.

[2018-10-16 08:47] konradkonrad opened #2796 "'ContractReceiveSecretReveal' object has no attribute 'sender'"
## Problem Definition

`ContractReceiveSecretReveal` takes the same code path as a regular secret reveal. However, it is missing the sender attribute, that is present in an off-chain reveal. This will trigger attribute access violations, e.g. [here](https://github.com/raiden-network/raiden/blob/2ea7fef351a480332803cda474e3bb10132f8941/raiden/transfer/mediated_transfer/mediator.py#L1037).

There ex

[2018-10-16 09:11] #2794 closed

[2018-10-16 09:12] palango opened #2797 "MyPy check of transfers module"
After looking at #2795 I ran `mypy` to look for similar errors in the `transfers` module. Below is a collection of warning that we should look into.

`mypy --follow-imports=silent --ignore-missing-imports --no-strict-optional --check-untyped-defs --disallow-incomplete-defs -p raiden.transfer | rg "no attribute"`

- raiden/transfer/channel.py:458: error: Item "ReceiveTransferRefund" of "Union[Locke

[2018-10-16 09:35] palango commented on #2785
Closed by #2789

[2018-10-16 09:35] #2785 closed

[2018-10-16 09:39] Dominik1999 commented on #2779
@hackaugusto
Here I provide you with everything. It is an easier scenario, but shows the same problem. The Payment from Node:0 to Node:6 never succeeds.
(Note: In the log-file of Node 0, I only see 5 POST messages, i.e. payments from Node 0 to Node: 1 - Node: 5. The 6th POST message to Node:6 is not in the log file. The 5 other payments were successful in the scenario run. So the problem might be

[2018-10-16 09:47] czepluch commented on #2779
Yes. I just face the problem in an even simpler scenario where only one transfer is being made without any mediators. Ulo tried to run a similar scenario to mine at it works for him. Note that the first time I ran the scenario it succeeded, but not since then even without reusing the same token network.

[2018-10-16 10:06] CosminNechifor opened #2798 "Routing problem"
## Problem Definition

The initiator of the transfer can't perform the payment, because it believes there is no route to the target, the target is offline or it has not enough balance to perform the payment. All of those three cases are invalid. The target is actually online, there exists a path to the target, and also it has enough balance to perform the payment.

I've ended up to this problem wh

[2018-10-16 11:14] onyb commented on #1365
@LefterisJP What's the best place in the code to perform this check? Alternatively, do you think we should rather install the Solidity compiler as part of a post-install hook in `setup.py`, if the `solc` binary is not found? `py-solc` does provide a helper to install the Solidity compiler, though I'm not sure if this feature is cross-platform.

[code]

[2018-10-16 11:21] LefterisJP commented on #2798
Hm that's interesting. In the logs of the initiator you get:

So it sees the remaining distributable as `0` [here](https://github.com/raiden-network/raiden/blob/6a08d32f17ec82f1c96d8f87e7dc6a56df52ebd0/raiden/routing.py#L80).

Could be some for of off-by one error either in the client or in the scenario player side.

[2018-10-16 11:31] LefterisJP commented on #2798
It's not a bug. You have 1 token locked in that channel, so there is no off-by-one error.

[2018-10-16 11:31] #2798 closed

[2018-10-16 12:12] loredanacirstea commented on #1365
We do not require `solc` as a `raiden` dependency as of https://github.com/raiden-network/raiden-contracts/pull/295.
The Raiden client should use the precompiled data provided by the `raiden-contracts` package. Compiling on the fly from the source code is not advised.
`raiden-contracts` throws an error when `solc` is missing while doing `make compile_contracts`. `solc` will throw an error if the v

[2018-10-16 12:13] #1365 closed

[2018-10-16 12:15] hackaugusto commented on #1365
@onyb thanks for the interest, but I'm closing this because it's outdated. Sorry for the confusion.

But we do have other small issues that could have a hand marked as [hacktoberfest](https://github.com/raiden-network/raiden/labels/hacktoberfest)  :)

[2018-10-16 12:35] ulope commented on #2779
I just discussed this with dominik in a call. The `POST` log messages are misleading since they are only logged **after** the request is finished.

The log message to look for is logged by the `raiden.api.rest` logger. For example `Initiating payment`.

[2018-10-16 13:17] hackaugusto opened #2801 "Cancel in-flight transactions"
## Motivation

Because of race conditions, it's possible for a node to send unnecessary transactions. Example:

- Node B reveals the secret off-chain to A, but A takes a bit of time to send the unlock and B reveal it on-chain.
- Node A processes the message before the transaction is mined, since the lock expiration is constant, A will try to register the secret on-chain.
- The transaction from B i

[2018-10-16 13:28] hackaugusto opened #2802 "Transaction prioritization"
## Abstract

Expirable transactions must have a higher priority then other transactions.

## Motivation

The Transactions that update transfer and register a secret on-chain can expire, meaning that after a given block height these transactions will be rejected by the smart contract (either because the settlement window was over or the lock expired). To increase the likelihood of mining these tran

[2018-10-16 13:41] LefterisJP commented on #2779
So I had a small look at @czepluch 's 2 logs.

Who is getting stuck? Receiver or sender?

In those logs the sender (`0xe5c68d721324d00e6c90b98b6e6c64250b2bcb9a`) tries multiple times to send payment with identifier `18154601289524244314` to the target `0x2f6df0dc2b8ad73e0e5d75cadd5b0508625e865e`. The token is `0x30e04cb1ccf93585c2228f651369d8d1e9e3d7a1`.

The sender retries many times but the targ

[2018-10-16 13:46] ulope commented on #2779
Yes this is definitely weird. Wild guess: maybe a matrix problem?

[2018-10-16 14:14] palango commented on #2664
Fixed by #2731

[2018-10-16 14:14] #2664 closed

[2018-10-16 14:29] LefterisJP commented on #2802
Prioritizing would be only in the order at which we send them to the ethereum client? Or also to increase gas price for the prioritized transactions?

[2018-10-16 15:05] hackaugusto commented on #2802
IMO It doesn't make sense to do something which doesn't increase the gas price.

To have the option of *not* increasing the gas price we must have a queue of transactions which have not been sent. To have a queue of such transactions we would have to intentionally delay some, and this would include high priority transactions, which is the opposite of what I'm arguing for in this issue.

[2018-10-16 15:20] LefterisJP commented on #2802
These are two different ways to prioritize transactions. I am fine with both -- just wanted to know what form of prioritization your were thinking about.

Perhaps I misunderstand but isn't this yet another way of prioritizing. Have a queue of all transactions that are going to be sent to the node and send them in a particular order depending on some rules? High priority transactions would be at th