[2017-11-13 10:59] hackaugusto commented on #1114
It's saved to disk.

ATM it requires a clean shutdown for the data to be properly saved (1), once this issue https://github.com/raiden-network/raiden/issues/507 is done the write-ahead-log will provide durability guarantees for hard failures.

1- For a clean shutdown uses either: `SIGINT` 2 (this is control-c), `SIGQUIT` 3, or `SIGTERM` 15.

[2017-11-13 17:28] devinrsmith opened #1115 "Clarification around closing of channels"
On the Raiden 101 page it says "This withdrawal may be triggered by anyone, including addresses other than the two participants." Is there any more context around this? It seems non-obvious why this would be the case, and I'm wondering what the motivations around it are. Thanks!

[2017-11-13 17:33] LefterisJP commented on #1115
This is the channel's payout stage. After one side closes the channel and the other side provides its own view of the channel by updating their side there is nothing else to be done and the channel can be settles and paid out once the settle timeout runs out.

Since we can't do things automatically once a timeout passes in ethereum someone needs to initiate a transaction for the payout to happen.

[2017-11-13 17:42] devinrsmith commented on #1115
Ah, I was confusing closing a channel and withdrawing from a channel. Thanks for the quick response!

[2017-11-13 17:42] #1115 closed

[2017-11-13 23:57] LefterisJP opened #1120 "WebUI should provide error message explanations"
## Problem Definition
At the moment users of the Webui do not get a detailed error message after an API call fails. In contrast to a normal API call where the ful error message can be seen:

![2017-11-14-005602_1540x151_scrot](https://user-images.githubusercontent.com/1658405/32755701-d84ad7cc-c8d6-11e7-9719-72c72c502f2f.png)

if a user sends an API request via the webui the error message is not e

[2017-11-14 12:06] LefterisJP opened #1121 "Take chain reorg into account"
## Problem Definition

At the moment our code is not aware of chain reorgs. The code that watches for events does not check the `removed` field of the [`getFilterChanges()`](https://github.com/ethereum/wiki/wiki/JSON-RPC#returns-42) call.

It can happen that there is a chain reorganization and an event is generated by a transaction. We read it and process it and is later invalidated by a chain reo

[2017-11-14 12:32] LefterisJP opened #1122 "Connect endpoint internal server error at insufficient funds"
The connect endpoint does not properly handle insuffcient funds as can be seen by a user report: https://gitter.im/raiden-network/raiden?at=5a0add7ef257ad910992624d

We should fix that. PR incoming.

[2017-11-14 12:47] hackaugusto commented on #1121
Note: The idea is to not add logic for reorgs inside every task, but to have a top-level state-transition function, e.g.:

[code]

[2017-11-15 03:05] ChosunOne commented on #1109
I'm pretty sure this is the same as #1090

[2017-11-15 05:44] #1114 closed

[2017-11-15 05:57] SmartMeshFoundation opened #1127 "smart contract about EndpointRegistry.sol"
## Problem Definition
when i read the source code，i found the smart contract “EndpointRegistry.sol”， the contract support  findEndpointByAddress  function，from it we can pass the ethereum wallet address param that return the raiden node ip and port later you can tranlate to it . so when i create the channel ,i need to call the smart contract (EndpointRegistry.sol) to record the ip and port ,if it

[2017-11-15 09:42] LefterisJP commented on #1127
This registry contract is only called by raiden at startup to record your node's ipaddress and port combination. Then it it is queried whenever you need to send a message to an address to find its ip/port.

[2017-11-15 10:44] LefterisJP commented on #1095
@palango Is this still an issue for you?

[2017-11-15 10:46] palango commented on #1095
I guess so, but can only test this at home.

[2017-11-15 10:46] LefterisJP commented on #1109
@ChosunOne @drandreaskrueger Yes they are the same issue. We will have a look at it, but would like to keep one open issue per problem, so I am closing this as a duplicate. Thank you.

[2017-11-15 10:46] #1109 closed

[2017-11-15 10:48] LefterisJP commented on #1092
@diandianxiyu Is this still an issue for you?

[2017-11-15 11:00] LefterisJP commented on #1095
As I don't think anyone else of us has seen this problem can you also add all the system information under **System Description**? Operating System e.t.c.?

[2017-11-15 11:04] palango commented on #1095
Updated.

[2017-11-15 11:05] LefterisJP commented on #303
@hackaugusto can you confirm this is finished and if yes close the issue?

[2017-11-15 11:06] LefterisJP commented on #300
@hackaugusto Can you confirm this is closed and if yes close the issue?

[2017-11-15 13:14] andrevmatos commented on #1127
Yes, it's correct. #1018 is intended to monitor network/ip/endpoint changes and send a transaction to update your address on the registry.

[2017-11-15 13:26] palango opened #1128 "Reconnect if ethereum node goes offline"
## Problem Definition

Raiden should try reconnect to the ethereum node after it went down. Tracking issue for #1093

## Tasklist
Example:

- [x] Catch connection errors, try to reconnect
- [x] Reinstall filters after reconnect
- [x] Make sure no blocks are jumped over
- [x] Add a changelog entry.

[2017-11-15 15:32] hackaugusto commented on #303
It's not implemented, token swaps are using greenlets

[2017-11-15 15:34] hackaugusto commented on #300
we have property tests only for the smart contracts, I would like to have more tests for the protocol

[2017-11-15 19:13] hackaugusto opened #1129 "Install smart contract filters using from_block equal to the contract creation."
## Problem Definition

Filters for a smart contract must be installed either from block 0 or when the contract was created.

My assumption is that there is a race condition among deposit transactions and filter installation. E.g. for a netting channel, the deposit transaction could be mined faster than the filter is installed, and the event would be missed.

Here is the code execute when a new cha

[2017-11-16 01:38] SmartMeshFoundation commented on #1127
@andrevmatos   update  address to smart contract “EndpointRegistry.sol”,it need to cost gas,if my node is mobile network and the ip always change, so  even the transaction  don't cost gas, but frequent write to smart contract is cost gas,i think it is no cost！

[2017-11-16 01:55] andrevmatos commented on #1127
If you're on a mobile network, you probably won't host a full node, this is the perfect case for light clients. Full nodes are expected to run on servers or, at least, computers with good/stable/cheap connection, which won't require updating the registry often. For now, the only way to discover nodes is through this on-chain registry, but we're considering options that may not require it in the fu

[2017-11-16 01:55] #1127 closed

[2017-11-16 10:56] palango commented on #1095
Can confirm that it still happens.

[2017-11-16 13:44] hackaugusto commented on #804
I believe this is fixed, has anyone experience problems with this?

[2017-11-16 13:47] andrevmatos commented on #87
I'm going to work on this for next sprint. As most of our dependencies already announced they're deprecating py2 support, I'd like to work in the direction of full migration to python3 when this gets fully solved.

[2017-11-16 13:48] andrevmatos commented on #1019
I'll check this too, together with #87

[2017-11-16 13:59] palango commented on #1021
@ulope how is this related related to #1015

[2017-11-16 14:19] palango opened #1130 "Enable macOS tests on travis"
After #1021 is fixed we should enable macOS testing on travis.

[2017-11-16 14:42] hackaugusto commented on #1086
This will happen regularly, it's only a problem if the nodes are not making any progress. If your nodes didn't make any progress and you *only* see invalid nonce messages, then please open a new issue.

#### Explanation

These log messages are shown because the same message is handled more than once. This happens because Raiden uses UDP protocol as a transport and it needs to resend the same messa

[2017-11-16 15:29] hackaugusto opened #1133 "Unreliable health check"
## Problem Definition

Multiple users are reporting problems with the health check (#1020 #1086 also on gitter).

The problem is that even with the nodes online the health check is not changing the state of the nodes to `reachable` and the transfer fails because there is no route available. Some of these users are running all nodes and opening direct channels, so it's known that both nodes are onl

[2017-11-16 15:33] hackaugusto commented on #1086
We don't send transfer to `unknown` nodes anymore (https://github.com/raiden-network/raiden/pull/1088). That doesn't fully solve the problem though.

Closing this issue in favor of https://github.com/raiden-network/raiden/issues/1133 to track health check problems.

[2017-11-16 15:33] #1086 closed

[2017-11-16 15:36] hackaugusto commented on #1133
https://github.com/raiden-network/raiden/issues/1086#issuecomment-337443336

@konradkonrad Could it be a problem with our health check retry defaults? What you think about decreasing the default from [10 seconds](https://github.com/raiden-network/raiden/blob/master/raiden/settings.py#L26) to something else?

[2017-11-16 15:38] hackaugusto commented on #1020
Closing in favor of #1133

Thanks for the input @dstreppa

[2017-11-16 15:38] #1020 closed

[2017-11-16 15:56] hackaugusto opened #1134 "Unreliable polling timeout"
## Problem Definition

Users are reporting problems with our polling timeout that defaults to 10 seconds (#1064 #1058 and also on the gitter channel). This behavior is even more surprising because the polling fail, but the transaction did not, so the transaction will complete after a few more seconds and the second request from the use will fail again.

## Solution

My proposed solution is to remo

[2017-11-16 15:56] hackaugusto commented on #1064
Closing in favor of #1134

@drandreaskrueger thanks again

[2017-11-16 15:56] #1064 closed

[2017-11-16 15:57] hackaugusto commented on #1058
Closing in favor of #1134

[2017-11-16 15:57] #1058 closed

[2017-11-17 14:07] ulope commented on #1130
I'm not sure we should at this point. As long as travis continues to be so badly underequipped with mac workers we would add around an hour of waiting time alone to every test run during peak hours.

[2017-11-19 02:57] hackaugusto opened #1137 "Gracefully handle invalid data"
## Problem Definition

While decoding an invalid message the following error may be raised:

[code]

This is not a problem, since the data is not valid anyways, but must be gracefully handled.

## ToDo
- [ ] Catch the exception and raise a meaningful error
- [ ] Write a test

[2017-11-20 14:09] rethore opened #1138 "Channel won't close (transaction failed)"
## Problem Definition

I've tried to reproduce the API calls described in readthedocs. While most of them worked, I couldn't close a channel (and therefore also settle it afterwards).

When I made the following API request [1]

`PATCH /api/1/channels/<CHANNEL ID>`, with payload `{"state":"closed"}`

 I received:

[code]

Which indicates that the channel state is still open.

Furthermore, I checked

[2017-11-21 04:14] hackaugusto opened #1142 "Only open channels with nodes that we can communicate"
## Problem Definition

NAT traversal is a problem big enough that may drive a channel useless, instead of opening a channel to only then finding out that it cannot be used, Raiden should first try to reach a target node and only open the channel if both nodes can communicate.

[2017-11-21 05:40] hackaugusto opened #1143 "Upgrade pyethereum to support REVERT"
## Problem Definition

Raiden is currently using a fork of the [upstream pyethereum package](https://github.com/raiden-network/raiden/blob/5c32d29ad2529361e87a55588c460ddbd52ce793/requirements.txt#L4) which doesnt support the REVERT opcode. This breaks tests that go through the failure path

[2017-11-21 11:55] #1021 closed

[2017-11-21 12:36] LefterisJP commented on #804
@hackaugusto Any idea where this was fixed? Via https://github.com/raiden-network/raiden/pull/974? I think the reason it was not closed backthen is that the issue kept persisting after that.

[2017-11-21 12:42] andrevmatos commented on #804
[I've a branch](https://github.com/andrevmatos/raiden/tree/parallel_join) that have a code that definitely triggered the issue in the past (parallel join, [open+deposit] multiple channels in parallel on join/connect to network, instead of waiting for previous channel for open+deposit to be confirmed before proceeding). But I'm not able to test it properly, I think I've some nat issue in my network

[2017-11-21 12:42] hackaugusto commented on #804
That is my guess.

I'm aware this can and does happen on production https://github.com/raiden-network/raiden/issues/1061 , but I personally haven't seen this error on our test suite anymore.

[2017-11-21 14:09] palango commented on #1015
@ulope What do you think about providing a homebrew recipe for raiden if we cannot get the pyinstaller package to work?

[2017-11-21 14:14] ulope commented on #1015
@palango If we want to provide bottles we're basically back to the same problem. If not, python source packages on homebrew can be a major pain since there is (or at least has been last time I looked) no built-in virtualenv support.

I'd say if we can't currently get the pyinstaller builder to work on travis let's for now just manually produce the packages. We don't to releases that often.

[2017-11-21 16:58] palango opened #1146 "Assumption test fails with geth 1.7.3"
## Problem Definition

After upgrading to `geth 1.7.3-stable` one of the *assumption* tests fails. See log below.

[code]

[2017-11-22 07:53] LefterisJP commented on #1146
This is because the new geth [release](https://github.com/ethereum/go-ethereum/releases/tag/v1.7.3) introduces a change in the [behaviour](https://github.com/ethereum/go-ethereum/pull/15477) of `estimateGas`. If estimateGas realizes the transaction would fail it no longer returns `maxGas` but it returns an error.

We would need to adjust our code for this in order to be compatible with geth v.1.7.

[2017-11-22 16:36] robertdavid010 commented on #1105
Is ERC223 considered safe?

[2017-11-22 20:48] hackaugusto commented on #1090
This should be fixed with #1141 , if the bug persists please open a new issue.

[2017-11-22 20:48] #1090 closed

[2017-11-22 20:50] hackaugusto commented on #1138
Same as #1090 and #1109 .

This should be fixed by #1141 , if the bug persists please open a new issue.

[2017-11-22 20:50] #1138 closed

[2017-11-23 13:36] #707 closed

[2017-11-23 13:36] #1128 closed

[2017-11-23 13:41] palango opened #1149 "Don't use a timeout in shutdown sequence"
## Problem Definition

Currently a timeout is used in the shutdown sequence if the ethereum node in not reachable.

## Solution

Instead of using a client that tries to reconnect and giving it a timeout we should use a client that doesn't try to reconnect.

[2017-11-23 22:22] ulope opened #1150 "Smoketest requires solc even if precompiled ABIs are present"
## Problem Definition

Currently the `smoketest` subcommand unconditionally requires `solc` to be installed even if it might be unnecessary (e.g. in binary distributions that ship with precompiled ABIs)

## Solution

Only require that *either* `solc` or the precompiled ABIs are present (possibly allow forcing one of the two behaviors via cli parameter)

## Tasklist

- [ ] Check that either `solc`

[2017-11-26 21:27] LefterisJP commented on #300
@hackaugusto Maybe would make sense to split it into smaller more specific issues then?

[2017-11-26 21:51] hackaugusto opened #1154 "Channel Manager property testing"
## Problem Definition

Test the channel manager contract using property testing.

## Tasklist

- Create new strategies for:
  - [ ] create a new channel
  - [ ] settle existing channel
- [ ] Use the existing netting channel strategies to do transfers
- [ ] assert on the expected outcome of the channel manager and account balances

[2017-11-26 22:00] hackaugusto opened #1155 "Initiator property testing"
## Problem Definition

Add property testing for the transfer initiator.

## Tasklist

- [ ] Create individual strategies for each relevant state change.
- [ ] Apply the state changes and assert on the expected behavior
  - [ ] Only one payment must be done, i.e. only one EvenTransferSucessful event
  - [ ] For every transfer try an event must be created
  - [ ] The events EventTransferSucessful an

[2017-11-26 22:05] hackaugusto opened #1156 "Mediator property testing"
## Problem Definition

Add property testing for the transfer mediator.

## Tasklist

- [ ] Create individual strategies for each relevant state change.
- [ ] Apply the state changes and assert on the expected behavior
  - [ ] If the transfer to the payee is withdraw, the transfer from the payer also must be withdraw
    - [ ] this requires forcing at least settlement blocks at the end of the test

[2017-11-26 22:07] hackaugusto opened #1157 "Target property testing"
## Problem Definition

Add property testing for the transfer target.

## Tasklist

- [ ] Create individual strategies for each relevant state change.
- [ ] Apply the state changes and assert on the expected behavior
  - [ ] Secret request must be sent
  - [ ] event for transfer received sucessfull must be emitted if the secret reveal is received

[2017-11-26 22:08] hackaugusto commented on #300
Smart contract:

Channel Manager property testing #1154
I did not add an issue for the end point registry, since that is temporary.
I did not add an issue for the registry smart contract since that is quite simple.

Initiator property testing #1155
Mediator property testing #1156
Target property testing #1157
At some point we also want to add issues for transfers / token swaps, but since that is n

[2017-11-26 22:08] #300 closed

[2017-11-27 12:00] #1150 closed

[2017-11-27 15:23] rethore commented on #1138
I can confirm that #1141 fixed this bug. Thanks!

[2017-11-27 16:22] #1015 closed

[2017-11-28 14:20] konradkonrad commented on #1133
Not sure; halving it would not hurt. However, the issues can arise from a range of problems, and inspecting the NAT state is hard.

That is only the case, if the nodes are behind a non-symmetric NAT, i.e. one with fixed port mappings.

One way forward I could see is being more defensive, as in: instead of starting transfers to/via `unknown` network state partners, we could deny them and always wai

[2017-11-28 17:05] hackaugusto commented on #1133
I asked ramxis on gitter to try this setting, and it didn't work for his case.

I wonder if the problem isn't related to the [invitation timeout](https://github.com/raiden-network/raiden/blob/master/raiden/settings.py#L27) being set to 3 minutes. For instance, on my router according to this [website](http://nattest.net.in.tum.de/individualResult.php?hash=18cc42083a5592cf11438f219979a738) the timeo

[2017-11-28 22:28] konradkonrad commented on #1133
nice test page! if `invitation timeout` of 180 seconds means, that we only send a second invitation ping after 3 minutes, we should by all means lower that value. probably to some small value like 10 seconds. we should remember to send users that have connectivity problems to that test page.

[2017-11-28 22:37] hackaugusto commented on #1133
Yes, that is correct, this is the rough outline:

The current implementation starts with [frequent retries](https://github.com/raiden-network/raiden/blob/master/raiden/network/protocol.py#L383-L390), by default it will be only [2 retries](https://github.com/raiden-network/raiden/blob/master/raiden/settings.py#L25) with a [10 second](https://github.com/raiden-network/raiden/blob/master/raiden/setti

[2017-11-30 00:49] nkbai opened #1165 "how to run raiden network on windows?"
there is no document about install and run on windows?
it can not run on windows?

[2017-11-30 09:13] LefterisJP commented on #1165
Sorry @nkbai we do not support windows at the moment

[2017-11-30 09:23] #1165 closed

[2017-11-30 12:23] nkbai opened #1166 "syntax error for deploy.py"
## Problem Definition

run tools/deploy.py with python 2.7.3

python deploy.py

  File "deploy.py", line 73
    exec(  # pylint: disable=exec-used
SyntaxError: unqualified exec is not allowed in function 'patch_deploy_solidity_contract' it contains a nested function with free variables

[2017-12-01 14:23] ulope opened #1168 "Investigate problems with lastlog / lasterr in interactive console"
## Problem Definition

User `ramix` reported in the Gitter channel that `lastlog()` and `lasterr()` produce no output in the interactive console even though commands that should have produced logs / errors have been performed.

Screenshots:
![](https://files.gitter.im/raiden-network/raiden/VHpt/Screenshot-from-console-2017-12-01-15-09-14.png)
![](https://files.gitter.im/raiden-network/raiden/Hnt5/

[2017-12-02 05:57] ramxis commented on #1133
The main problem is that raiden health check /ping/ack method is being very unreliable.
It works some times and completely refuses  at other times. I could see ping/ack messages between my two nodes located in the same network, and with a third remote node consistently for 3 days (Raiden nodes were started each night left running and powered down after 1 to 2hrs ) .
But then for the last 48 hrs i

[2017-12-04 09:32] LefterisJP commented on #1142
I actually like that idea. At the moment we have this scheme where we ignore the elephant in the room, that is nodes should not go offline. And we happily create channels with anyone even if the other address has never been registered in the endpoint registry or is not online.

I like the idea of introducing a check that the counterparty is online before creating the channel.
@konradkonrad opinion

[2017-12-04 09:42] hackaugusto commented on #1142
We would need a TURN / ICE server for this though. Unless we use some sort of onion encryption and existing nodes/paths from the Raiden network to open the NAT (doesn't sound a good idea)

[2017-12-04 14:11] palango commented on #1128
See #1061 and #1149 for follow-up issues.

[2017-12-04 14:39] LefterisJP commented on #804
As discussed in the Sprint retrospective meeting this issue is considered closed as it has not been reproduced again.

If anyone manages to reproduce it, then please make as detailed a report as possible about it and reopen this issue.

[2017-12-04 14:39] #804 closed

[2017-12-04 15:40] LefterisJP opened #1171 "Implement global channel manager contract per token."
## Problem Definition

Part 1/2 of https://github.com/raiden-network/raiden/issues/1025.

## Tasklist

- [ ] Implement the new global channel manager contract per token
- [ ] Write tests for the new token channel manager

[2017-12-04 15:42] LefterisJP opened #1172 "Integrate the token network contract"
## Problem Definition

Part 2/2 of #1025.

Should be done after https://github.com/raiden-network/raiden/issues/1171

## Tasklist

- [ ] Integrate the [token network](https://github.com/raiden-network/raiden-contracts/blob/7d183081bcd6df06728bdb6b8da581e68c39dbc1/raiden_contracts/contracts/TokenNetwork.sol) into the raiden codebase
- [ ] Remove the old netting channel code

[2017-12-04 15:43] LefterisJP commented on #1025
This has been split into 2 issues:
#1171 and #1172

[2017-12-05 14:51] Sulejman commented on #114
Any updates yet? Do you need additional hands/brainzz with solving issues?

[2017-12-05 15:11] LefterisJP commented on #87
As discussed in the sprint planning meeting I have completely changed my mind since last year and I am wondering why do we want to keep py2 compatibiity instead of just deprecating it?

@konradkonrad @heikoheiko @hackaugusto Are there any reasons to support both py2 and py3 instead of just opting for a complete switch to py3?

The way I see it having a hybrid approach we end up putting quite a bit

[2017-12-06 10:13] LefterisJP commented on #1166
@nkbai I can not reproduce your problem with python 2.7.13

Can it be a specific python 2.7.3 problem?

Can you give me more information on:

1. your system and OS
2. how do you run the command exactly? Simply `python deploy.py`  ?

[2017-12-07 02:33] sandakersmann commented on #373
This issue is now fixed.

[2017-12-07 02:33] #373 closed

[2017-12-07 04:41] nkbai commented on #1166
[code]

[2017-12-07 04:43] nkbai commented on #1166
i'm unfamiliar with python

[2017-12-07 04:44] nkbai commented on #1166
on my windows ,
it has the similiar error:
[code]

[2017-12-07 09:53] LefterisJP commented on #1166
We do not support windows at the moment, I am sorry.

[2017-12-07 10:07] LefterisJP commented on #1166
Okay so you need to update to the latest python2 version which is [python 2.7.14](https://www.python.org/downloads/release/python-2714/). We do not support older python version.

[2017-12-07 10:07] #1166 closed

[2017-12-08 08:32] pcppcp commented on #1168
`io.StringIO` requires unicode string and raises an exception if Python's `str` is passed in. Fix will be probably very easy.

[2017-12-08 09:31] #1092 closed

[2017-12-08 09:31] #183 closed

[2017-12-08 11:23] #449 closed

[2017-12-08 13:29] #1168 closed

[2017-12-12 09:10] nkbai opened #1183 "stun nat punching invalid a few minitues later"
if a node start with stun nat punching, and it doesn't communicate with other node.
the nat punching will be invalid.

it needs a keep alive method to keep this nat punching work.

[2017-12-12 12:45] #1120 closed

[2017-12-12 13:12] #937 closed

[2017-12-12 22:07] himynameisbeni commented on #251
@konradkonrad  Can I take a look at this? I'd be interested to give it a go. I have a question though what exactly is the class attribute with the issue here, is it `ack_message`? also @hackaugusto if I solve this i can fix the other occurrence too.

[2017-12-13 00:20] LefterisJP commented on #251
@himynameisbeni Since this issue is more than 1 year old and the links were not made to point to a particular commit then I am rather sure that they no longer point to the correct code.

@konradkonrad Can you update the link and specify the problem, provided it's still an issue?

[2017-12-13 04:52] hackaugusto commented on #251
### Konrad's

The first commit before konrad comment from 2016-11-14 is d79e8c32b7c26f4fd57ca3b6efa8686815b5c5a4 , konrad was poiting at this code:

https://github.com/raiden-network/raiden/blob/d79e8c32b7c26f4fd57ca3b6efa8686815b5c5a4/raiden/tests/unit/test_service.py#L40-L55

I believe Konrad was talking about [`RaidenProtocol`'s class attributes](https://github.com/raiden-network/raiden/blob/d7

[2017-12-13 09:09] LefterisJP commented on #251
Hehe very nicely detailed Augusto! I believe you got all the info you need @himynameisbeni :)

[2017-12-13 18:52] himynameisbeni commented on #251
@hackaugusto When you say move the transport instantiation out of the App constructor should it just have it's own function within the class?

[2017-12-13 18:57] Sankarshan-Mudkavi commented on #739
I'm going to work on the original fix (the non-workaround version)

[2017-12-13 19:12] hackaugusto commented on #251
Not a new function but a new argument for the constructor (`__init__`).

Currently the transport is instantiated inside the `App` constructor (shown in the excerpt bellow).

https://github.com/raiden-network/raiden/blob/aa5d88d5f6d334ac98b13df6f9d379511288857b/raiden/app.py#L55-L65

You're good ;)

[2017-12-14 20:36] palango commented on #691
github.com/raiden-network/raiden/blame/master/raiden/tests/long_running/flaky/test_token_networks.py#L60-L64 compares a `list`with an `int`. The `int`is always smaller in py2: stackoverflow.com/questions/3270680/how-does-python-compare-string-and-int

[2017-12-18 15:04] LefterisJP commented on #397
Also important. For each skipped or xfailed test have a separate issue.

[2017-12-31 16:15] nkbai opened #1194 "about test_handle_secretreveal of test_target.py"
in function test_handle_secretreveal ,
the fromroute's nodeaddress is initiator, it means that the revealsecret message is send from from_route's nodeaddress, why  the receiver will send this revealsecret message back to initiator?

it's obviously useless.. and why?

[2018-01-01 03:04] LefterisJP commented on #1194
The `RevealSecret` message is sent from the initiator to the target. The target then sends a secret message back to the initiator as a means of synchronization. This is what this unit test is looking to test for.

You can look up more info on the protocol for mediated transfers [here](http://raiden-network.readthedocs.io/en/latest/spec.html#mediated-transfers).

[2018-01-01 03:55] nkbai commented on #1194
@LefterisJP this is useful for a mediated transfer ,but useless for a direct transfer.
if there is a channel between A<->B,
but a transfer from A to B is a mediated transfer
at this condition, Is B really needs send reveal secret to A?
transfer from A to B is a mediated transfer ,which i have tested.

[2018-01-01 10:37] LefterisJP commented on #1194
oh yes, we no longer have direct transfers in the protocol in order to reduce the complexity of the code and the paths it follows. We just make all transfers behave like mediated transfers.

[2018-01-01 10:39] nkbai commented on #1194
@LefterisJP  B should send reveal secret to A? when use mediated transfer to simulate direct transfer?

[2018-01-01 11:21] LefterisJP commented on #1194
The names of the events can be a bit confusing in the code. The protocol is the exact one described in [the link above](http://raiden-network.readthedocs.io/en/latest/spec.html#mediated-transfers) with `initiator` being `A`, `target` being `B` and no mediator. That's how direct transfers work now.

So in the code itself when the `target`, in our case `B`, receives the `RevealSecret` from the `init

[2018-01-01 12:41] nkbai commented on #1194
do you mean that:
A needs a revealsecret message from B, so that A can send the new balance proof to B?

so in this condition, B really needs send a revealsecret message to A.

[2018-01-05 02:14] ulope commented on #1183
This is likely related to / possibly one specific cause of #1133

[2018-01-05 03:46] hackaugusto commented on #1183
Raiden does have a health check mechanism that is responsible to keep the router's mapping alive.

With the [current default settings](https://github.com/raiden-network/raiden/blob/ca2564bb7043c345ab44325dce5b3a3b0906f51f/raiden/settings.py#L26-L28) a ping message is sent every 5 seconds to online nodes, *or* every 15 seconds to offline nodes. These messages are responsible to keep the UDP mapping

[2018-01-05 03:46] #1183 closed

[2018-01-05 13:12] palango opened #1195 "AccountManager error handling"
## Problem Definition

Currently the `AccountManager` displays the exception text in case something goes wrong with loading a keyfile. Some errors like `Expecting value: line 1 column 1 (char 0)` are not helpful for the enduser and we should try to show more meaningful messages for common problems.

## Solution

Show more meaningful messages for common problems.

## Tasklist

- [ ] Investigate com

[2018-01-05 22:41] nzapata376 opened #1196 "Raiden Network python setup.py compile_webui issue"
## Problem Definition

Having issues firing up  Raiden web application Every time I run this command I get the following error
 python setup.py compile_webui

### System Description
I get the following issue:

Traceback (most recent call last):
  File "setup.py", line 189, in <module>
    'raiden = raiden.__main__:main'
  File "/usr/local/lib/python2.7/dist-packages/setuptools/__init__.py", line 1

[2018-01-06 01:16] nkbai commented on #1133
use communication with a node to keep nat punching , it maybe not a good solution.
using stun's own protocol maybe better

[2018-01-06 16:00] nkbai opened #1197 "can raiden restore from a broken transaction?"
hi,
i'm writing another version of raiden using golang.
the restore_channel  function of raiden_service tries to  restore the channel state,but  i don't know how to retore from a broken transaction.

for example A has a MediatedTransfer with B.
now the state is :
A has send  a revealsecret message to B,  before A  receive B's revealsecret message, A have to stop because of an user request( ctrl +c

[2018-01-06 16:25] nkbai commented on #1197
the  identifier_to_statemanagers  data may save the secret of  this transaction, but A's ChannelEndState is wrong, and A doesn't know the hashlock after restart.

[2018-01-06 16:55] hackaugusto commented on #1197
Hi @nkbai ,

For the *current* version of the code base, a clean restart is required. I'm currently working on the issue #507 to fix this. So this response will focus on the current code base (as of ca2564bb7043c345ab44325dce5b3a3b0906f51f).

### For the current code base

Given a path A-B, and a mediated transfer from A to B, we have the exchange of the following messages:

[code]
If this protoco

[2018-01-06 22:20] LefterisJP commented on #1194
Both A and B send SecretReveal to each other as part of the protocol.

[2018-01-07 13:49] nkbai commented on #1197
thank you very much  @hackaugusto
from code of the master branch.
channelEndState's hashlocks_to_pendinglocks and hashlocks_to_unclaimedlocks don't restore from pickle.
after restart,A's transfer state is right ,but the corresponding channelEndState is wrong.

[2018-01-07 14:07] nkbai commented on #1197
when restore from snapshot, it tries to retore the protocol's state,
but it seems useless to retore the protocol's state.
 for example
A shutdown at step 3, and B doesn't receive the reveal message , B will send secret request again and again.
if B receive the reveal message ,B will try to send revealsecret message repeatly.

if A shutdown at step 1, just let this transfer fail is a better choice.

[2018-01-09 01:59] nkbai opened #1198 "maker's lock expiration when token swap"
for example
taker:
{
    "role": "taker",
    "sending_amount": 42,
    "sending_token": "token1",
    "receiving_amount": 76,
    "receiving_token": "token2"
}
maker:
{
    "role": "maker",
    "sending_amount": 76,
    "sending_token": "token2",
    "receiving_amount": 42,
    "receiving_token": "token1"
}

assume that maker and taker have direct channel on both token1 and token2
but token1's ch

[2018-01-09 02:01] nkbai commented on #1198
of course there are more problems about settle timeout when maker and taker have a long route hop

[2018-01-09 02:47] hackaugusto commented on #1198
@nkbai Thanks for the issue report.

You're correct, the [code](https://github.com/raiden-network/raiden/blob/ca2564bb7043c345ab44325dce5b3a3b0906f51f/raiden/token_swap.py#L608) is not taking the taker settle timeout.

[code]

The correct fix however, is to use the minimum of channel used by the *taker* for the second mediated transfer:

[code]

There should be no additional problems with longer h

[2018-01-09 04:17] nkbai commented on #1198
@hackaugusto  thanks very much
and another error:
token_swap.py line 770
self.async_result.set(False)

taker doesn't have a async_result member

[2018-01-09 10:28] palango commented on #371
This was fixed by #764

[2018-01-09 10:28] #371 closed

[2018-01-15 09:58] palango opened #1200 "Remove bitcoin dependency"
## Problem Definition

We use the `bitcoin` library for converting a private to a public key in [`raiden/utils/crypto.py`](https://github.com/raiden-network/raiden/blob/4493a19041c73959267518f055d078f3357f4528/raiden/utils/crypto.py#L3). The `bitcoin` dependency is not longer maintained and should be removed.

## Solution

Find a replacement for the `bitcoin.privtopub` function and remove the `bit

[2018-01-15 10:02] palango commented on #1143
Is there a special test that failed because of this or tests that we should add?

pyethereum is updated in #1193

[2018-01-15 12:23] hackaugusto commented on #1143
The existing tests are fine, they were executing the revert as a throw.

This was only problem because we couldn't write tests for the gas usage.

[2018-01-15 12:23] #1143 closed

[2018-01-15 16:17] palango opened #1201 "[Discussion] How to handle contract compilation"
## Problem Definition

I'd like to discuss how we handle contracts and contract compilation in raiden. Currently the contract for raiden are compiled locally with either the `setup.py compile_contracts` command or on-demand when running raiden.

The biggest problem I see with that approach is that we require every user to have the `solc` solidity compiler installed (with the right version). That m

[2018-01-15 17:39] hackaugusto commented on #1201
I thought the binary distribution included the compiled smart contracts, but it seems the pypi provider doesn't have the [`skip_cleanup` flag](https://github.com/raiden-network/raiden/blob/master/.travis.yml#L64-L73). The app image and the macos release include the compiled smart contracts.

I don't see a problem with this if the user is creating a virtual env and doing a source installation.

I a

[2018-01-16 15:34] hackaugusto opened #1202 "Payment metadata"
## Problem Definition

The current API use identifiers to correlate a payment with some service or product. For this to work the nodes (initiator and target) need to use an out-of-band communication channel to agree on the identifier, otherwise the target won't know what the payment is for, this results in a hard to use api.

## Solution

Allow the initiator to provide metadata for a given payment

[2018-01-16 17:04] aneeshvaidya commented on #1200
Hi! I'm a first time contributor, would it be okay if took up this task?

[2018-01-16 17:05] LefterisJP commented on #1200
@aneeshvaidya Sure go ahead!

[2018-01-16 17:06] aneeshvaidya commented on #1200
Cool! I'll research a bit and update here with a potential replacement

[2018-01-17 03:20] Fang-Li opened #1204 "Repeated opening of channels that have been settled will prompt duplicate channels"
## Problem Definition
when open channel：
{
    "partner_address": "0x589d9cC36aD9b1dB3B6e0b1Fd03a8d842697293F",
    "token_address": "0x3b733dc1d77a2f927d5982a6672e62eadd693828",
    "balance": 100,
    "settle_timeout": 30
}
 ->>>>>>>>>>
Return is like this：
{
    "errors": "Duplicated channel"
}

## Solution
Return should be like this：
    {
        "channel_address": "0x3D45250adA9c0017D2a0EFD8

[2018-01-17 09:38] LefterisJP commented on #1204
Thanks for the report, will take a look and try to reproduce it.

[2018-01-17 10:04] LefterisJP commented on #1201
Me neither. Our target users are still developers and as such this assumption is correct.

[2018-01-17 11:09] palango opened #1205 "Adapt linux and macOS deployment infrastructure for py3"
## Problem Definition

The deployment tools for linux and macOS haven't been tested under py3 and updated `ethereum` library.

## Solution

Test deployment tools

## Tasklist

- [x] Test linux deployment
- [x] Test macOS deployment

[2018-01-17 11:14] palango opened #1206 "Add mypy analysis to CI"
## Problem Definition

Currently we don't use type annotations for type checking

## Solution

Add a mypy check to the CI builds.
Currently `mypy` needs some improvements (e.g. https://github.com/python/mypy/issues/604)

## Tasklist

- [ ] Run `mypy` locally and fix type annotations/bugs
- [ ] Add `mypy` check to CI builds

[2018-01-17 12:20] #87 closed

[2018-01-17 16:03] LefterisJP commented on #1204
@Fang-Li I can not reproduce your issue.

Can you specify the exact steps to what lead to your problem?

I did the following:

### Try 1

1. Opened a channel
2. Closed it
3. Waited till settle timeout expires and the channel is settled.
4. Reopen the channel.

### Try 2

1. Opened a channel
2. Closed it
3. Shut Raiden down
4. Launched Raiden again after the settle timeout blocks have expired
5. Co

[2018-01-17 18:13] andrevmatos commented on #1200
[µRaiden uses an implementation which requires only coincurve](https://github.com/raiden-network/microraiden/blob/fd81a612e671956166f114f34f9aa6f7ab209471/microraiden/microraiden/utils/crypto.py#L32-L35), it may be worth checking.

[2018-01-18 15:52] aneeshvaidya commented on #1200
@andrevmatos coincurve seems to have what's needed. I'm also curious whether there's an issue with the Raiden team just forking the `bitcoin` library, and having the community perform maintenance/updates there.

[2018-01-18 15:56] palango commented on #1200
@aneeshvaidya I guess it doesn't make sense for the raiden team to maintain the bitcoin library when we're only using one function.

Following the implementation from microraiden should be fine, you only need to find some replacements for helper functions like `remove_0x_prefix`.

[2018-01-20 18:37] vporta commented on #1195
Can I work on this issue?

[2018-01-20 18:40] LefterisJP commented on #1195
hey @vporta sure! But I guess we would also need to define the issue a bit better. The error for example that @palango mentions `Expecting value: line 1 column 1 (char 0)` is most probably due to the loaded account file having invalid json, so the proper error to display to the user would be that the account file is in an invalid format or corrupt.

[2018-01-20 19:56] vporta commented on #1195
hey @LefterisJP -- awesome. Should I wait for you to provide a more detailed description or use the one you just provided to me? Should I only be looking in the `AccountManager` class?

[2018-01-20 22:56] hackaugusto commented on #1195
Hey @vporta , thanks for the interest on helping.

Yes, `AccountManager` is the piece of code that needs extra handling for the error messages, changing the message and fixing this test should be good enough to go:

https://github.com/raiden-network/raiden/blob/5e7416b0639887f3902c567de307b44ae576ee83/raiden/tests/unit/test_accounts.py#L78-L91

[2018-01-22 13:59] hackaugusto commented on #389
Tets started failling after the `RaidenShuttingDown` exception was introduced.

https://gist.github.com/hackaugusto/691c822d57d965374eccf6c620b79537

[2018-01-22 21:28] aneeshvaidya commented on #1200
It seems like using the implementation from microraiden would work, but it makes use of the helpers from `eth_utils` quite a bit. Another alternative I've found is `py_ecc` which is maintained by Ethereum, and has the same implementation as the `bitcoin` package.

[2018-01-22 22:23] palango commented on #1200
Instead of adding another dependency I think we should go for an implementation similar to the one in microraiden. We have some helper functions available in the [`utils` module](https://github.com/raiden-network/raiden/blob/master/raiden/utils/__init__.py). Let us know when some helper function is missing.

[2018-01-23 04:20] ofek commented on #1200
I can help if need be!

[2018-01-23 10:09] palango commented on #1201
That's a nice idea. Wouldn't that mean that we would define a contract version number in raiden and use the contract ABIs and and addresses from there?

[code]

[2018-01-23 10:15] hackaugusto commented on #1201
We are versioning the smart contracts:

https://github.com/raiden-network/raiden/blob/master/raiden/smart_contracts/NettingChannelContract.sol#L6

[2018-01-23 11:20] LefterisJP commented on #1204
Closing this issue since it could not be reproduced.

[2018-01-23 11:20] #1204 closed

[2018-01-23 15:12] palango commented on #1202
I've got a proof of concept working, now some questions:
- What type should the metadata have and what size do we want to allocate for it? I think `bytes` should be Ok but I'm unsure what size to allocate for it (and I don't see a way to make it variable sized either)
- Do we want to add a metadata field to the `RefundTransfer` as well, so that the receiver can send a message backwards as well?

[2018-01-23 15:26] hackaugusto commented on #1202
For the UDP messages we can use a prefix encoding, adding the data length as a prefix to the data itself. I'm not sure how that will play out though, because the code is allocating the buffer before the data is encoded.

For the REST API it may be nicer to allow for arbitrary json, that raises a compatiblity problem though, if a different client uses the format directly. One solution is to add a p

[2018-01-23 15:47] palango commented on #1202
Yeah, something like that should work. Adding a mime-type on top of that should be easy.

That speaks against sending it with the MediatedTransfer, right? Can we encrypt it with the public key of the receiver?

But then we're back to having a second channel for communication and out-of-band communication.

[2018-01-23 16:02] hackaugusto commented on #1202
Yep

Not at the moment, we don't have the public key, the simplest way to fix that for the moment is to add the public key into the endpoint registry. @konradkonrad  may have other suggestions.

The SecretReveal message is part of the raiden protocol, so I wouldn't consider it out-of-band.

[2018-01-23 16:10] palango commented on #1202
Ok, so we basically have two options here:

1. Make public keys for all nodes available, so we can encrypt the metadata and the intermediate nodes cannot access it.
2. Add a new message type for direct communication between nodes, in this case it would be negotiation of an identifier for the transfer.

[2018-01-23 16:23] hackaugusto commented on #1202
Are you talking about a new message that could be used without the payment protocol? That is possible but I think it complicate things, there are quite a few problems:

- should this new message be sent prior or after the payment?
  - if prior, for how long should the node store this metadata in memory? (We don't have indexed tables to query for this metadata from the database)
  - if after, for h

[2018-01-23 16:23] LefterisJP commented on #1202
I like the idea of using a new message much like the `SecretReveal` sent from initiator to target.

@palango Why negotiation? It's going to be some payment metadata and the initiator just includes it for identification/misc purposes in the transfer. Does he need to negotiate with the target in-protocol? I don't see why.

Regarding the type of the data, having variable length would be nice but is i

[2018-01-23 16:35] hackaugusto commented on #1202
We already have identifiers for transfers, but the identifier alone doesn't make a nice API to build apps on top. This issue was created to solve the usability of the API.

Think about someone writing an application that uses raiden as a payment method, for this to work with the current API (as of acdf3541e593cb95df996dac4bc034c4abdab341) the payer and the receiving end must use an out-of-band com

[2018-01-23 16:37] palango commented on #1202
Isn't this the wrong direction? I thought we want to send metadata from initiator to target, not the other way around.

I understood the problem in the following way: The initiator want to pay for some good or resource, but the target doesn't necessarily know which one. Therefore we either need to create a mapping between payment and *payment target* (with the problems Augusto listed above) or sen

[2018-01-23 16:38] LefterisJP commented on #1202
@hackaugusto By identifier I meant a text identifier. (It's unfortunate we already use the same term as a number in Raiden). Exactly what you described.

Wouldn't a fixed size text be enough for that?

[2018-01-23 16:44] hackaugusto commented on #1202
Pardon me, wrong bullet number, I'm talking about the reveal secret message that the initiator sends to the target.

[2018-01-23 16:54] palango commented on #1202
That sounds like a better solution than sending the metadata during the whole routing.

I guess it would be enough to provide 128 bytes, but it would be nicer if they could just serialize whatever they have.

[2018-01-23 17:03] hackaugusto commented on #1202
We are only limited by the transport maximum message size, on the current implementation that is the UDP MTU, which can be safely set to 576 bytes, but could be larger than 1500 if the full path has jumbo frames.

I think for now it's best to target a conservative size, and only expand once we have defined the message protocol that we are going to use.

[2018-01-23 17:12] palango commented on #1202
The 128 was just an arbitrary number. The point I wanted to make was that a flexible size would be most user-friendly.

[2018-01-23 17:17] hackaugusto commented on #1202
Yes, Yes, that is fine.

I agree that a variable length is most user friendly, but on the flip side I don't think we should compromise this early on arbitrary length data, since we don't have the messaging protocol completely figured out. So, my proposal is to stick with this arbitrary default of 128, this stays bellow 576 bytes and allows new fields to be added.

[2018-01-24 03:11] aneeshvaidya commented on #1200
@ofek I was able to replicate `bitcoin.privtopub` by calling like this:

`PrivateKey.from_hex(private).public_key.format(compressed=False)`

 However, I am seeing that the current implementation in raiden calls `bitcoin.encode_pubkey` with the `bin_electrum` format. Based on the output difference, the coincurve formatting has 1 byte appended to the beginning. Should I just return the last 64 bytes

[2018-01-24 03:58] ofek commented on #1200
Yes you can, the last 64 bytes are the 2 points. I'm not sure how Raiden passes around private keys, but if that works, then it must be hex :slightly_smiling_face:

Wow, pybitcointools is horrible to read

https://github.com/vbuterin/pybitcointools/blob/aeb0a2bbb8bbfe421432d776c649650eaeb882a5/bitcoin/main.py#L291-L301

https://github.com/vbuterin/pybitcointools/blob/aeb0a2bbb8bbfe421432d776c64965

[2018-01-24 10:09] LefterisJP commented on #1194
Closing this as it's a question and not a code issue. For further questions please use the gitter channel: https://gitter.im/raiden-network/raiden

[2018-01-24 10:09] #1194 closed

[2018-01-24 10:09] LefterisJP commented on #1197
Closing this as it's a question and not a code issue. For further questions please use the gitter channel: https://gitter.im/raiden-network/raiden

[2018-01-24 10:09] #1197 closed

[2018-01-24 10:25] LefterisJP opened #1212 "TakerTokenSwapTask has no async_result member"
## Problem Definition

As pointed out in [another issue](https://github.com/raiden-network/raiden/issues/1198#issuecomment-356175522) `TakerTokenSwapTask` is [accessing](https://github.com/raiden-network/raiden/blob/212d2c23dd1f6484a5f1a02db8b9ce71b81c0917/raiden/token_swap.py#L756) an `async_result`
but the class has no such attribute.

## Solution

Add the attribute, or address in another way.

[2018-01-24 10:25] LefterisJP commented on #1198
@nkbai thanks for the report will take a look at this and use another issue to track its progress: #1212

[2018-01-24 10:25] #1198 closed

[2018-01-24 11:54] #1212 closed

[2018-01-24 12:04] LefterisJP commented on #1146
I will do some more digging on this issue and try to see what a proper solution would be here.

[2018-01-24 16:26] LefterisJP opened #1216 "Modify estimate_and_transact() function"
## Problem Definition

After Byzantium we [stopped](https://github.com/raiden-network/raiden/blob/41b1fa41a606fb27fe2e3272ab3cba17ded4fcc4/raiden/network/rpc/transactions.py#L33) using the `estimate_and_transact()` function to its full potential as we stopped using estimate gas.

## Solution

Now that estimate gas [works reliably](https://github.com/raiden-network/raiden/pull/1215) again and can e

[2018-01-24 16:37] hackaugusto commented on #1216
The `check_if_transaction_threw` must be kept in place, this is required for race conditions.

Think of a call to `settle` on the current smart contract, were both nodes race to settle, both calls to `eth_estimateGas` will be sucessfull but only one of `eth_sendRawTransaction` will work.

[2018-01-24 16:42] LefterisJP commented on #1216
ofcourse! I am not saying we should remove it. But that we should also utilize this new tool, that gives us the ability to see beforehand if a transaction would fail, and avoid doing it. This can save gas and time for our users.

But still gotta think a bit on how to integrate such a check into the current methodology of transaction execution and checking.

[2018-01-24 18:57] aneeshvaidya commented on #1200
If the encoding is guaranteed to be hex, then we don't even need to replicate the `encode` function in pybitcointools. Need someone more familiar with the codebase to confirm though.

[2018-01-24 19:08] andrevmatos opened #1217 "Network events API gives "Object of type 'bytes' is not serializable"
## Problem Definition

Looks like something still left from python3 migration.
Full traceback:
[code]

## Solution

Looks which `bytes` object lies in the events response (probably some address), and serialize it correctly.

## Only For Bugs

Current master (41b1fa41a606fb27fe2e3272ab3cba17ded4fcc4)

### System Description
Raiden inside docker, personal setup, with parity v1.8.7 also over docker.

[2018-01-24 22:04] #1196 closed

[2018-01-25 09:06] LefterisJP commented on #1200
@aneeshvaidya You opened two PRs and closed them again. Why? You can edit PRs by fore pushing on the PR's branch.

[2018-01-25 09:35] LefterisJP commented on #1102
This issue has been handled. There is no return if all is succesfull as the code is 204 no content. If there are errors either a `402 Payment Required ` or a `408 Timeout` is returned.

[2018-01-25 09:35] #1102 closed

[2018-01-25 09:38] #1146 closed

[2018-01-25 09:40] LefterisJP commented on #1061
Since there is no further communication for months in this issue I will assume it is closed. If it persists please open a new one.

[2018-01-25 09:40] #1061 closed

[2018-01-25 10:34] scuzzleb commented on #153
can you please set a date when you are going to release mvp. It is nessesery for your community. Appretiate us

[2018-01-25 11:57] hackaugusto commented on #1061
I believe this is not fixed, when the same transaction is sent to the ethereu node an JSON RPC error is returned, this is verified by the assumption test from PR #1222.

We need to choose a behavior and handle all transactions sites properly.

[2018-01-25 12:00] hackaugusto opened #1223 "Gracefully handle known transaction response"
## Problem Definition

Under some circumstances the node may send the exact same transaction twice. When this happens ethereum node will return an error for the transaction call. (As reported by #1061)

## Solution

One possible solution is to handle the exception, search for the correct transaction hash from the transaction poll, and return that transaction hash.

[2018-01-25 12:42] pcppcp opened #1224 "Internal server error on REST endpoint `/events/tokens/` for a non-existing token"
## Problem Definition

For REST request that queries `/events/tokens/<nonexisting_token_addr>` an internal server error will be returned.

## Solution

Return either E404 or an empty list

## Tasklist

- [ ] catch KeyError exception and return appropriate response if raised
- [ ] implement test that queries events of a non-existing token

### System Description
`0.2.0+git.r4c1acbe3`
[code]

[2018-01-25 13:21] LefterisJP commented on #1061
Let's use issue #1223 to further track progress of this problem.

[2018-01-25 13:34] LefterisJP commented on #140
@hackaugusto What's the status of this issue? Do you think it is stll relevant or is the current situation good enough?

[2018-01-25 13:36] LefterisJP commented on #204
@hackaugusto How about this issue? Do you consider it solved? Or is it something you also work on in your branch atm?

[2018-01-25 13:46] hackaugusto commented on #204
Ah, lets close this issue, it doesnt have a good description and it will be done with the restartable channel.

[2018-01-25 13:46] #204 closed

[2018-01-25 13:46] LefterisJP commented on #354
This issue is closed by commit: https://github.com/raiden-network/raiden/commit/b771fc06a9bcdaae531e3d3ef88dc63b9f9b42e9

[2018-01-25 13:46] #354 closed

[2018-01-25 13:48] hackaugusto commented on #140
I still think that the mediated transfer name is a bit confusing, and the classes/messages were not totally renamed.

[2018-01-25 13:50] LefterisJP commented on #432
@xiaoyao1991 please use the latest master and the [Rest API](http://raiden-network.readthedocs.io/en/latest/rest_api.html).

If you encounter any problems with that open an issue.

[2018-01-25 13:50] #432 closed

[2018-01-25 13:53] LefterisJP commented on #140
I don't see the name going away soon and I think we got more important things to focus on.

Plus it could be argued that we could sit down and think on naming and teminology for all components under the auspices of the [Terminology](https://github.com/raiden-network/raiden/issues/146) issue.

I see overlap between these two issues.

[2018-01-25 13:56] LefterisJP commented on #569
If you want to test the current state of raiden check the [latest documentation](http://raiden-network.readthedocs.io/en/latest/api_walkthrough.html).

For anything else and any specific problems open another issue.

[2018-01-25 13:56] #569 closed

[2018-01-25 14:06] LefterisJP commented on #914
Raiden will try to connect to your node, and will throw an error if it can't connect to your ethereum node.
Something like the following:

 `INFO:raiden.network.rpc.client  Timeout in eth client connection to http://127.0.0.1:8545. Is the client offline? Trying again in 3s`

Can we consider this issue closed @Fang-Li ?

[2018-01-25 14:43] hackaugusto commented on #389
RaidenShuttingDown: https://gist.github.com/hackaugusto/ae51232a865ef1ddca04fb8f061c5cb0

[2018-01-26 00:12] Fang-Li commented on #914
Okay Okay, it looks like it can only be run on local geth

[2018-01-26 00:12] #914 closed

[2018-01-26 06:07] aneeshvaidya commented on #1200
Sorry for that, there were some issues and I didn't know you could do that. For some reason a force pushed commit on a branch doesn't let me reopen a PR. Apologies for the noise!

[2018-01-26 11:30] #1137 closed

[2018-01-26 13:43] shigahi opened #1229 "Raiden does not start with syntax error"
I'm using Ubuntu 16.04 / Python 2.7.12, and installed Raiden from source.
I'm running Parity with modified key and chain directory, and tried to start Raiden with that keystore. Then;

[code]

seems gevent couldn't handle parameters.  Any ideas??

[2018-01-26 13:47] hackaugusto commented on #1229
Hy @shigahi , raiden moved from python2.7 to python3. Are you using a source install? Please make sure that your virtualenv is based on the version 3 of the interpreter3, e.g.:

[code]

[2018-01-26 13:52] shigahi commented on #1229
ah ok... i retry python3, thank you.

[2018-01-26 13:52] #1229 closed

[2018-01-26 14:29] pcppcp opened #1230 "Gracefully handle tx timeout on discovery"
## Problem Definition
If discovery contract registration fails due to tx not being mined during the timeout period, Raiden will terminate with a traceback. In my case it happend because of gas price being too low.

## Tasklist
- [ ] catch tx timeout exception
- [ ] print an error message describing what went wrong to the user

[code]

[2018-01-28 14:07] shigahi opened #1233 "Exception: timeout when polling for transaction on new token creation."
I tried to create new custom token on console.
After 1 min waiting time, it returns timeout error.  Is it a matter of Ropsten?  Any way to rase gas to create contract?

I'm using plain vanilla installation with Parity on Ubuntu, and other console functions and webui work fine.

[code]

[2018-01-28 14:10] shigahi commented on #1233
joining #1230

[2018-01-28 14:10] #1233 closed

[2018-01-28 14:11] shigahi commented on #1230
I also tried to create a new custom token on console.
After 1 min waiting time, it returns timeout error.  Is it a matter of Ropsten?  Any way to rase gas to create contract?

I'm using plain vanilla installation with Parity on Ubuntu, and other console functions and webui work fine.

[code]

[2018-01-28 22:23] LefterisJP commented on #1230
For the gas price issue I am making a PR which will allow for dynamic gas price set automatically by raiden depending on network conditions.

But right now you can set a specific gas price using the `--gas-price` argument.

[2018-01-29 16:08] EasonWang01 opened #1235 "TypeError: __init__() got an unexpected keyword argument 'ordered'"
## Problem Definition

After the build process then trying to type command below.
[code]
But this error occur.
[code]

[2018-01-29 16:11] LefterisJP commented on #1235
Can you give more information as per our issue template?

What is the raiden version you are using? What is the underlying etheeum client that is connected to ropsten? What is your OS?

[2018-01-30 00:02] EasonWang01 commented on #1235
[code]

[2018-01-30 00:33] EasonWang01 commented on #1235
When installing using python2.7 then execute will result the following
[code]

[2018-01-30 09:18] LefterisJP commented on #1235
Latest master does not support python 2.7

[2018-01-30 09:25] palango commented on #1235
@EasonWang01 I'm on macOS and python 3.6 as well and tried running `raiden --keystore-path  ~/.ethereum/testnet/keystore` as well but it starts up fine for me.

How did you install Raiden? It seems that you have `marshmallow` 3.0.0, but I have `marshmallow==2.15.0` locally.

[2018-01-30 10:34] palango commented on #1235
Addition:
If I update to marshallow 3.0.0b6 manually I get the same error as you do.

[2018-01-30 12:00] ulope opened #1237 "Smoketest fails with KeyError if no geth is installed"
## Problem Definition

If no `geth` binary is installed (or not on the `PATH`) on the user's system and no `RST_GETH_BINARY` env variable is defined `raiden smoketest` will fail with the following exception:

[code]

The reason is that https://github.com/raiden-network/raiden/blob/86d19e6bed94043b0982e26b82264a0e55ab5c97/raiden/tests/utils/smoketest.py#L315 uses `os.environ` as the substitution di

[2018-01-30 14:16] EasonWang01 commented on #1235
Thanks,after reinstalling it with `pip3 install 'marshmallow==2.15.0' --force-reinstall`
it works fine.

[2018-01-30 15:03] #1235 closed

[2018-01-31 01:19] EasonWang01 opened #1241 "Testing Channel on same Ropsten Node"
## Problem Definition

I try to run two raiden node running on the same Ropsten Node.
When I create other address and pasting it to test1 folder then running
[code]
but it will says something like
[code]
Or is there an option to using Docker for testing the channel?

Thanks for reply.

[2018-02-02 14:27] naure commented on #1202
Another compromise would be a fixed size payment identifier or hash, but also define the canonical way of transferring the actual metadata. One way is a dedicated message type. Another way is to let the receiver provide a URL of his choice where the client should send data.

[2018-02-04 18:03] ulope opened #1243 "Provide homebrew tap for binary mac releases"
## Problem Definition

Now that the binary mac build is automatically produced it would be beneficial to also provide a homebrew tap to ease installation and update for homebrew users.

## Task list
- [x] Create [brew tap repository](https://docs.brew.sh/Taps.html) (i.e. `raiden-network/homebrew-raiden`)
- [ ] Update Travis CI configuration to update brew formula on new releases
- [ ] Mention in i

[2018-02-07 12:46] palango commented on #1205
@konradkonrad I remember there were soem encoding issues with the pyinstaller build on linux as well. Could you please test with master again.

[2018-02-12 14:50] palango commented on #1205
I need some help from all linux users to test the pyinstaller package on linux.

Can you please run the following commands on the latest raiden master branch.
[code]

Afterwards you will find a executable called `raiden-0.2.0-[githash]-linux` in the `dist` folder.

Please run this in your normal shell and another one where the `LC_ALL` and `LANG` environment vars are not set. If running `raiden sm

[2018-02-12 15:25] konradkonrad commented on #1205
[code]
warnings
[code]

[2018-02-12 16:10] LefterisJP commented on #1205
I got an error when running with an unset `LANG` variable.

[code]

[2018-02-12 16:38] konradkonrad commented on #1205
When trying to connect with `ropsten`, **after a failed** first attempt (because of incomplete light client data), I get
[code]

`removedb` and restart fixes that issue.

Furtnermore for locale stuff:
[code]

[2018-02-13 09:52] ulope commented on #1205
Hm interesting. We already have a runtime hook in place to detect [missing locale settings](https://github.com/raiden-network/raiden/blob/56d665056e03f8d67ea35a108ccb94086da6feaa/tools/pyinstaller_hooks/runtime_encoding.py#L7-L9) but apparently it's not sufficient on linux.

[2018-02-13 09:54] palango commented on #1205
@ulope Either it's not enough or click gets executed before the hook is run.

[2018-02-13 10:10] #1224 closed

[2018-02-13 10:45] LefterisJP commented on #389
From commit 566eb1c98c7ebf84b1f44556296055b35a6286f1 and on I got a new flaky error at the `raiden/tests/integration/test_events.py::test_event_new_channel ` test.

Log is [here](https://gist.githubusercontent.com/LefterisJP/e22980cfbf7ef615b42760a08176b6ba/raw/01f16e1ba5b3a80b58bcf12054aab5aa94a53148/test_event_new_channel.log)

[2018-02-13 13:41] ulope commented on #1205
@palango No the hook is run by the pyinstaller entrypoint before the "user-code". Also on macos the hook fixes this click error.
Maybe there is a different precedence order in linux compared to macos.

[2018-02-13 17:23] elopio opened #1249 "Release raiden to the Ubuntu store"
## Problem Definition

A while ago, the metadata required to package raiden as a snap was landed in #1104. However, it hasn't been released to the store yet.
I'm very interested in making this easily available to all ubuntu users, early adopters and our community of testers.
To get started releasing to the edge channel, where more tests can be easily run before making the first stable release, you

[2018-02-15 00:39] dopetard opened #1252 "The registered tokens are not showing in WebUI (using Parity)"
After syncing the **Ropsten** testnet, I started a raiden node, I tried to register the token from WebUI, I kept getting 500 Internal server error. I talked with @LefterisJP on gitter and he advised to increase the gas-limit, I did so by using --gas-price 10000000000 while starting raiden. It knocked off the earlier transaction and ethscan showed token as registered. I didn't see anything in WebUI

[2018-02-15 00:44] LefterisJP commented on #1252
So to be clear the problem is twofold:

1. The Webui shows no tokens. But doing a `GET /api/1/tokens` returns a big list of tokens.
@andrevmatos Can you have a look at this?

2. The token you are trying to register is returning a 409 "Already registered" error but the token is not returned in the list of tokens from the `GET /api/1/tokens` call?

For the 2nd problem can you paste in this issue:
-

[2018-02-15 01:01] dopetard commented on #1252
Address of the token I'm trying to register

`0xe6ce7a2b221bFd15b837217189D4db6a58772308`

List of all the tokens returned by curcle request to `/api/1/tokens` call

`["0xb32beafdf5187891cead373a84365e1eda62b057", "0xd9437f0a612110f4a9c093a2296ac918b4558e4d", "0x72fff882555c0406dd3b7e1cad86e97ebafd72fc", "0xc9d3d9752b5288e3e5e2ffce1ce180606fd14f27",
 "0xbb96a15b03971f1ff62ad519228df919eb88b49f", "

[2018-02-15 01:43] andrevmatos commented on #1252
@dopetard can you, please, test adding `--jsonrpc-cors=all` option to parity command line? I'm pretty sure this has to do with parity not adding CORS by default, even with `--unsafe-expose` set.

[2018-02-15 02:16] dopetard commented on #1252
@andrevmatos I added the `--jsonrpc-cors=all` flag. It didn't change anything. Then I added `unsafe-expose ui` tag as well and restarted raiden, refreshed UI, It gave 500 error on UI and then weirdly loaded the 69 tokens from aforementioned list in UI.

Here's the stacktrace

`ERROR:raiden.api.rest   [2018-02-15 02:11:54,480] ERROR in app: Exception on /api/1/events/network [GET]
Traceback (most r

[2018-02-15 03:02] andrevmatos commented on #1252
Great. This one is a different error. The Parity error was actually about something related to CORS, and was solved with that option. This 500 error you're seeing is on events fetching, not tokens, and should be solved by #1221 . We should add Parity specific instructions soon to the documentation. I'll leave it open if @LefterisJP wants any other info. It may be closed after it.

[2018-02-16 11:33] palango commented on #1200
@aneeshvaidya  removed all direct calls to the `bitcoin`library in #1228. However `ethereum.keys` still imports `bitcoin` and shows a warning if it isn't available. Therefore the dependency wasn't removed yet.

[2018-02-16 11:50] LefterisJP commented on #482
Closed by: https://github.com/raiden-network/raiden/pull/1234

[2018-02-16 11:50] #482 closed

[2018-02-16 13:30] palango commented on #1205
Fixed by #1248.

[2018-02-16 13:30] #1205 closed

[2018-02-16 20:13] aneeshvaidya commented on #1200
@palango I can explore replacing that utility if it makes sense to

[2018-02-18 10:45] palango commented on #1200
@aneeshvaidya The problem is here https://github.com/ethereum/pyethereum/blob/develop/ethereum/tools/keys.py#L18-L25

We can remove all usages to `ethereum.keys` but it still might be used internally. And other implementations like https://github.com/ethereum/eth-account don't seem to be ready for primetime yet.

[2018-02-19 14:03] exSpectrum opened #1260 "Raiden on TestRPC"
Is it possible to run / deploy Raiden on my private Blockchain (like the one generated with Truffle e.g.)?
And if yes, may I trouble you to share some links or info on the topic.
I’d be much obliged.

[2018-02-19 21:58] #1217 closed

[2018-02-20 15:26] palango opened #1261 "HTML output in raiden RestApi"
## Problem Definition

I just tested the Raiden RestApi with the following request:
[code]

The route doesn't seem to exist and so some error handler is called that returns HTML. I'd expect something like the following json:
[code]

### System Description
[code]

[2018-02-20 15:31] LefterisJP commented on #1261
Why? That is not a correct endpoint so you get a 404. Do you propose to instead always return such an error when an endpoint is wrong?

[2018-02-20 15:35] LefterisJP commented on #1261
I see. I know how to fix this. Let me do it quick.

[2018-02-20 19:05] #1261 closed

[2018-02-22 11:07] palango opened #1273 "Crash when using --nat ext:IP:Port syntax"
## Problem Definition

When using the `--nat=ext:10.0.2.3:40001` syntax the client crashes.

[code]

### System Description

[code]

[2018-02-22 13:12] #1273 closed

[2018-02-22 16:29] LefterisJP opened #1276 "Capitalize Type Aliases"
## Problem Definition

Capitalize Type Aliases as per PeP 484: https://www.python.org/dev/peps/pep-0484/#type-aliases

Related to: https://github.com/raiden-network/raiden/pull/1269

[2018-02-22 18:26] Morito-Ikeda commented on #1237
Can I work on this issue?
I would like to contribute to this community!

[2018-02-22 21:27] palango commented on #1237
@Morito-Ikeda Sure! Let us know if you run into problems.

[2018-02-27 12:52] hackaugusto opened #1281 "Properly handle ContractReceiveChannelWithdraw"
## Problem Definition

The lock must not be removed from the merkle tree.

## Tasks

- [ ] Add a new type to represent a lock that has been unlocked on-chain.
- [ ] On the ContractReceiveChannelWithdraw handle, only unlock  pending locks, and change it to an instance of the new type.

[2018-03-02 11:12] palango opened #1293 "Move to web3.py"
`pyethereum` isn't maintained properly any more and we should move away from it. I created a proof of concept on converting Raiden to use the web3 libraries. So far I got rid of most calls to our own RPC client (see [here](https://github.com/palango/raiden/commit/e49af6e6861856f93a47217c363e144b555513cd), and the [build](https://travis-ci.org/palango/raiden/builds/348175792)), but before I invest

[2018-03-04 10:49] goktugyil opened #1294 "Raidex"
Is the code for Raidex open source at the moment? Where can I find it?

[2018-03-05 14:01] LefterisJP commented on #1294
It's not open source at the moment.

[2018-03-05 14:01] #1294 closed

[2018-03-05 14:48] pcppcp commented on #1201
There's also a question how we make contract ABI available to pathfinding and monitoring service repositories. One option is of course having Raiden as a dependency and provide the ABI stored in a precompiled files (via contract manager), but it's rather heavyweight. Other option would be separating ABI into a separate repository and have this small library as a dependency.

[2018-03-05 14:52] hackaugusto commented on #1201
If we also move the smart contracts out of the raiden repo, I think this should be fine (also it's a good idea if we more clients are developed)

[2018-03-05 15:33] loredanacirstea commented on #1201
To make a summary of some proposed changes (that I think we agreed on):
- separate repo for the smart contracts + compilation + tests
- pypi package for the contracts for easy importing - addresses + all compiled data should be provided (abi, bytecode etc.)
- pip git url dependency for dev testing

I would start doing this after I make the current test suite work with the new contracts & after all

[2018-03-05 15:36] goktugyil commented on #1294
Any plans? ETA?

[2018-03-08 13:57] LefterisJP commented on #1293
web3.py is definitely the way to go but what I am afraid of is the potential downtime concerning the integration. Do you have a ballpark figure on how many man-days would it take to do so?

[2018-03-08 14:16] palango commented on #1293
A rough estimate is 5 days for 1, 2 and 3. I guess 4) can be done parallel with other changes and 5) isn't really urgent.

[2018-03-10 18:27] dopetard opened #1302 "Error deploying Raiden on Rinkeby testnet"
I tried to deploy the raiden contract on Rinkeby
`python deploy.py --pretty ###privatekey###`

Traceback

`unrecognised option '--add-std'
Traceback (most recent call last):
  File "deploy.py", line 146, in <module>
    main()  # pylint: disable=no-value-for-parameter
  File "/home/exchangeunion6/raidennode1/lib/python3.6/site-packages/click/core.py", line 722, in __call__
    return self.main(*ar

[2018-03-12 03:57] dopetard commented on #1302
Maybe @dcale could look into this since he seem to a have successfully deployed the contracts on rinkeby. Also @andrevmatos This is different error than the pythereum not finding solc one I was getting

[2018-03-12 11:50] LefterisJP commented on #1302
@dopetard I will look into it, I think I have an idea what's wrong

[2018-03-12 12:07] LefterisJP commented on #1302
@dopetard

Okay so the problem is because you have 0.4.21 solidity. Inside solidity's integration in pyethereum the argument `--add-std` is appended in every compilation. At least in 0.4.21 that argument no longer exists. In 0.4.18 it does.

They removed it without putting out any note in the changelog ... so we did not notice it at all.

Your safest bet is to use 0.4.18. I will test all versions

[2018-03-12 12:11] LefterisJP commented on #1302
Yep it affected everyone, go-ethereum too. Check the issue here: https://github.com/ethereum/solidity/issues/3695

[2018-03-12 12:21] LefterisJP commented on #1302
So @dopetard using 0.4.20 should also be fine. Not tested yet, but at least the argument seems to have been removed at 0.4.21.

So for your issue use any solc less than 0.4.21.

For Raiden we will be able to use solc 0.4.21 once:

1. This PR is merged in pyethereum: https://github.com/ethereum/pyethereum/pull/858
2. A new pyethereum release is made (unless we fork it in a very dirty way again)

[2018-03-12 13:18] dopetard commented on #1302
Thanks much @LefterisJP Using solc 0.4.18 solves this issue. Gonna test it with other versions as well. Closing this for now.

[2018-03-12 13:18] #1302 closed

[2018-03-13 18:00] andrevmatos commented on #1293
I think this issue is duplicate of #1019. I'm looking at doing it together with the transport (as it may be of good use for identity/signature checks in the Matrix client).

[2018-03-14 09:28] palango commented on #1293
Yeah, this is a duplicate.

What usage do you see for identity/signature checks for matrix? I don't think it's necessary to couple these two problems together.

[2018-03-14 10:53] LefterisJP commented on #1293
@andrevmatos We don't want to use any matrix specific features. As we don't want to be bound to a particular transport layer. Please keep that in mind.

[2018-03-14 11:46] LefterisJP commented on #1276
@err508 I see you are working on this issue on a branch of yours. Why no PR open yet?

[2018-03-14 12:58] andrevmatos commented on #1293
No, not matrix for identity.. web3.py for identity on matrix. I use it to interact with eth node, sign and recover to check if some data/metadata provided by matrix user corresponds to the eth address it claims to be.

[2018-03-16 18:59] hackaugusto opened #1309 "Add salt to the messages that contain a balance proof"
## Problem Definition

A balance proof can't be hashed to blind it's content because all fields are extremelly regular, and brute forcing is not that hard for all situations. Aadding a hash to the messages will force the `additional_hash` to a non-null value, which will make brute forcing of a balance proof hard.

[2018-03-19 16:26] LefterisJP commented on #1309
Can you perhaps provide an example? I do not understand what you mean by adding a hash to the message and why would that force `additional_hash` to a non-null value?

[2018-03-19 20:53] hackaugusto commented on #1309
s/hash/salt/ should be:

I edited the original

[2018-03-20 17:45] chevdor opened #1316 "Fail to start: Action not authorized"
## Problem Definition

After a fresh install from source, raiden fails starting with the following trace:
[code]

### System Description

Here add a detailed description of your system, e.g. output of the following script:

[code]

[2018-03-20 18:29] palango commented on #1316
Thanks for reporting this.
This is a problem with out NAT punching code. Can you try to a different method or disable it?

[code]

[2018-03-20 20:07] chevdor commented on #1316
Thank you @palango. I quickly tried `--nat none` and raiden starts.

[2018-03-20 21:49] LefterisJP commented on #1316
Thanks for trying it out @chevdor. If you have any other problems please write an issue here or in gitter. Note we are reworking our entire transport layer at the moment.

Closing as duplicate of https://github.com/raiden-network/raiden/issues/1095.

[2018-03-20 21:49] #1316 closed

[2018-03-20 22:04] ulope commented on #1316
Yes, seems similar to #1095. I guess in this case it is probably caused by a router that’s configured to not allow upnp to open ports. The question is we want to invest time in this now or simply live with it until the new transport is there.

[2018-03-20 22:05] LefterisJP commented on #1316
Wait until the new transport is there.

[2018-03-23 22:53] andrevmatos commented on #1293
@palango what's the status of your web3.py implementation? Anything pull-requestable? I'm working on demoing a matrix-based `RaidenProtocol` implementation, but would like to integrate it with web3 already. Any change of you sharing your work on this?

[2018-03-24 14:56] palango commented on #1293
All progress is here: https://github.com/palango/raiden/commits/web3-ification2

But I didn't spend more time on it.

[2018-03-26 07:53] LefterisJP opened #1324 "Reintroduce Token Swap with the Recoverable Approach"
Essentially revert what what done in https://github.com/raiden-network/raiden/pull/1323. But when reintroducing it, make sure that it uses the recoverable state machine.

[2018-03-26 13:35] hackaugusto commented on #1324
duplicated https://github.com/raiden-network/raiden/issues/303 ?

[2018-03-26 13:38] LefterisJP commented on #1324
Sort of. There is no "current implemenation" anymore but yes we can keep one issue only. Just wanna make sure we don't forget about it. There have been 1000 issues made since that issue was first opened.

[2018-03-26 13:38] #1324 closed

[2018-03-26 21:49] atuljoshi1990 opened #1326 "Raiden does not start, gives syntax error"
I am using Ubuntu 16.04.3 LTS App on Windows.
I have run the Ethereum client and kept it to sync with Ropsten testnet. Parallely, I am trying to launch Raiden with the default testnet keystore path:

raiden --keystore-path  ~/.ethereum/testnet/keystore

Since I am using a source install, I have set virtualenv to version 3 of the python interpreter.

python --version
Python 3.6.4

Still, I am getti

[2018-03-26 21:55] andrevmatos commented on #1326
@atuljoshi1990 May you, please, test with `python /usr/local/bin/raiden --keystore-path ...`, instead of calling `raiden` directly?

[2018-03-26 21:56] hackaugusto commented on #1326
Your virtualenv is *not* using python3, please recreate it.

You can see the version of the interpreter in the stacktrace `/usr/local/lib/python2.7/dist-packages...`

[2018-03-26 21:57] LefterisJP commented on #1326
your venv used `python2.7`

[2018-03-27 07:15] atuljoshi1990 commented on #1326
I have tried everything, I have created a new environment, when I run check the python version it given correct version but when I launch the Raiden it for some reason pick up 2.7 version and gives error, I am not able to understand what I am missing. I tried making changes in .bashrc file as well, but that doesn't seem to work either.

[2018-03-27 10:13] atuljoshi1990 commented on #1326
I was successfully able to resolve the environment issue. But now I am getting the following error:
![image](https://user-images.githubusercontent.com/35613178/37961339-9ab4f70c-317d-11e8-8147-43ece925d4aa.png)
raiden --keystore-path  ~/.ethereum/testnet/keystore
Traceback (most recent call last):
  File "/usr/local/bin/raiden", line 6, in <module>
    from pkg_resources import load_entry_point

[2018-03-27 10:30] palango commented on #1326
Did you run `python setup.py develop` in the new environment?

Follow this guide: https://raiden-network.readthedocs.io/en/v0.3.0/overview_and_guide.html#installation-from-source

[2018-03-27 11:27] atuljoshi1990 commented on #1326
Thanks for such quick response. While trying to install the dependencies, I am getting following error:

![image](https://user-images.githubusercontent.com/35613178/37964567-91b3f914-3187-11e8-84e9-42603b52032d.png)

pip install --upgrade -r requirements-dev.txt

Installed /usr/local/lib/python3.6/dist-packages/tinyrpc-0.8-py3.6.egg
Searching for psutil==5.4.3
Reading https://pypi.python.org/simpl

[2018-03-27 18:11] hackaugusto commented on #1326
Both errors messages are for missing header files, for ubuntu `python3-dev` is the correct package. How are you creating the virtual environments?

[2018-03-27 23:59] carver commented on #1293
We just released web3 [beta 13](http://web3py.readthedocs.io/en/latest/releases.html#v4-0-0-beta-13), I highly recommend upgrading.

I took a brief look at these changes:
https://github.com/raiden-network/raiden/compare/master...palango:web3-ification2#diff-f21cc0dc64f5cbf240a380453b9be7c2R72

One thing that jumps out at me is the contract invocations, like:

[code]

(Where `self.web3_proxy` is a

[2018-03-28 08:44] palango commented on #1293
Hej @carver,

thanks for the heads-up. Especially the replacement for `deploy` is nice, as that gave us lots of warnings in tests.

This branch was a check to see how much work porting would incur, so I didn't know how to use the contract functions back then. I'll try to find some time to update this.

[2018-03-28 23:56] hackaugusto commented on #456
This was done on a series of PRs:

#1272 Adds NettingChannelState, NettingChannelEndState
#1278 Adds TokenNetworkGraphState, TokenNetworkState, objects required to represent the network graph, and the actions to modify it
#1279 Adds the logic to handle ChannelState objects (logic required filter routes based on available capacity)
#1292 #1291 #1290 Changed the mediator role tasks to use the TokenN

[2018-03-28 23:56] #456 closed

[2018-03-28 23:57] hackaugusto commented on #468
This was solved by the same PRs metioned on https://github.com/raiden-network/raiden/issues/456#issuecomment-377076626

[2018-03-28 23:57] #468 closed

[2018-03-28 23:59] hackaugusto commented on #69
Closing in favor of #298

[2018-03-28 23:59] #69 closed

[2018-03-29 00:03] hackaugusto commented on #80
@konradkonrad @LefterisJP I believe this has been moved to the transport layer, and for the matrix transport it's seems to be a solved problem. I think we can close this issue and open issues if required by different transports

[2018-03-29 00:09] hackaugusto commented on #182
We decided to go against the monitoring close.

This issue was create to allow a monitoring service close a channel at any time, this was required to unlock a lock that is nearing expiration. The problem is solved by using the secret registry, where the channel doesn't need to be closed for a lock to be unlocked.

This doesn't mean that a delegate close will not be implemented (a function call may

[2018-03-29 00:09] #182 closed

[2018-03-29 00:13] hackaugusto commented on #292
Update: We have added the chain_id to the balance proof (ref. https://github.com/raiden-network/spec/issues/15#issue-301017506), this fixes replay attacks across some blockchains, but doesn't fix replay attacks on hard forks, because the chain_id is not available in EVM and it's provided in the constructor of the smart contracts.

[2018-03-29 08:13] #149 closed

[2018-03-29 14:21] hackaugusto commented on #293
Update: The smart contract function was spec out here: [smart_contract](https://github.com/raiden-network/spec/blob/9ac529000fa9a9e9d4aea728b8230addf4d1907b/smart_contracts.rst), under the `Update transfer state` header, and the smart contract implementation is [here](https://github.com/raiden-network/raiden-contracts/commit/921c006a8fac5e556e238808667b48016b4c2bab#diff-1bdf2ff343918b98864fc26df16

[2018-03-29 14:27] hackaugusto commented on #308
Do we want to do this for the UDP transport?

[2018-03-29 14:37] hackaugusto commented on #348
Update: #1278 added the state objects required to represent multiple registries.

The messages need to be updated to include the registry address for proper dispatch, currently the default registry is assumed.

[2018-03-29 14:53] hackaugusto commented on #293
This is fixed by the balance proof's sequential nonce and the requirement of the two signatures. If a good participant called updateTransfer, it will use the latest balance proof with the highest nonce, since the monitoring service cannot provide a valid balance proof with a higher nonce it cannot overwrite the data provided by the participant.

[2018-03-29 15:13] hackaugusto commented on #382
Implemented the test https://github.com/raiden-network/raiden/pull/1314/files#diff-1338dac76122f31eb8ae5894300cc752R1453

[2018-03-29 15:13] #382 closed

[2018-03-29 15:16] #489 closed

[2018-03-29 15:17] hackaugusto commented on #541
We decided to go against this approach, instead we are using a secret registry that will unlock all the locks in the path.

[2018-03-29 15:17] #541 closed

[2018-03-29 15:43] hackaugusto commented on #647
Currently there is no state change for the acknowledgement of a message, so the EventTransferSentSuccess is not emitted.

[2018-03-29 15:45] hackaugusto commented on #739
This is not necessary anymore. We moved from a model with one smart contract per channel to a version were all the channels are kept in the token network.

[2018-03-29 15:45] #739 closed

[2018-03-29 15:49] hackaugusto commented on #823
we decided to keep the code functionally simple, so there will be a open function that only opens a new channel and a deposit function that only deposits. For transaction optimization we decided to add facade functions.

This means we wont enforce open and deposit.

[2018-03-29 15:49] #823 closed

[2018-03-29 15:57] hackaugusto opened #1328 "Use different database paths for different blockchains"
Raiden must not assume that the running blockchain client is always connected to the same network. Raiden can handle different networks by:

1. notifying the user about the mismatch and quitting
2. using different database paths for different networks

The first option is a bit problematic because it makes unecessarily annoying to use different networks, so I propose the use of option 2 with a mes

[2018-03-29 15:59] hackaugusto commented on #857
This issue cover a few different problems, I'm closing it in favor of more specific issues.

for netting channels, that means the previous channel was closed and a new one was opened, this needs to be handle by #669

for the other smart contracts that means a different network is being used and that should be handled by #348

Create a new issue for this, #1328

This is not allowed by the database

[2018-03-29 15:59] #857 closed

[2018-03-29 16:10] hackaugusto commented on #918
The proper message to use here is the [RemoveExpiredLock](https://github.com/raiden-network/spec/blob/master/messaging.rst#removeexpiredlock), but this message is only sent after the lock has expired, which will take `settle_timeout` blocks. This can be reduce with the secret registry, because the lock expiration can be constant, but we will still need to wait for the lock expiration.

[2018-03-29 16:10] loredanacirstea commented on #869
High gas usage for opening a new channel is being solved by having a common smart contract for all channels of a Token network. New smart contracts are located here: https://github.com/raiden-network/raiden-contracts

Some gas costs from the old model:
addToken 760938 https://ropsten.etherscan.io/tx/0xef1df8e013a01db07f1939c146f22db88f559ab6a1b30bf6359408a138626c47
newChannel 947812 https://ropste

[2018-03-29 16:10] #869 closed

[2018-03-29 16:13] hackaugusto commented on #1014
The external state was removed with the introduction of the channel based on the state machine

[2018-03-29 16:13] #1014 closed

[2018-03-29 16:18] loredanacirstea commented on #1024
This issue is moved to the smart contracts repository: https://github.com/raiden-network/raiden-contracts/issues/16

[2018-03-29 16:18] #1024 closed

[2018-03-29 16:19] hackaugusto commented on #1019
Closing in favor of #1019

[2018-03-29 16:19] #1019 closed

[2018-03-29 16:30] #1171 closed

[2018-03-29 16:34] hackaugusto commented on #1025
closing this in favor of #1171 and #1172

[2018-03-29 16:34] #1025 closed

[2018-03-29 16:38] hackaugusto commented on #1025
@murrekatt Sorry for the really late response

This is not necessarily a goal but it is possible. But I don't see the benefit at first sight, since the alternative implementation would need to follow our interfaces and protocol.

We do think about calls from other smart contracts, making sure our interfaces allow for interaction, so that other smart contracts can use the interact with the channel'

[2018-03-29 17:52] hackaugusto commented on #1328
Note: This implies that if a user wants to run raiden on multiple blockchains, than multiple processes need to be run, which IMO it's fine as long as it doesn't want to do token swaps across chains.

[2018-03-29 22:55] LefterisJP commented on #691
I see no reason to have multiple issues open for different flaky tests. Closing in favour of: https://github.com/raiden-network/raiden/issues/389

[2018-03-29 22:58] hackaugusto commented on #397
echo_node tests were marked as skip before merging the channel state PR

[2018-03-30 07:11] carllin commented on #446
Hi, I would be willing to start on this task if someone would be willing to mentor me through it in return :)

[2018-03-30 09:07] LefterisJP commented on #446
@carllin Sure this is what these issues are for. You can ask any specific questions you need.

[2018-03-31 00:35] #1326 closed

[2018-03-31 23:38] LefterisJP commented on #80
I agree @hackaugusto. Closing issue.

[2018-03-31 23:38] #80 closed

[2018-04-02 09:47] LefterisJP commented on #292
To detect replay attacks across forks we would need to have a fork Oracle, just like with ETH/ETC fork oracles. We can't know in advance about hard forks so this is something we would need to be solving in a case by case basis. We can have a connection with a fork oracle from the very beginning of the contract deployment and just have control of the Oracle that can update the contracts in case of

[2018-04-02 09:49] LefterisJP commented on #308
I don't think it makes sense now with the work being done on the matrix transport layer, no?

[2018-04-02 10:02] hackaugusto commented on #308
if we replace UDP with matrix, definitely no need for it

[2018-04-02 23:05] LefterisJP commented on #1328
Yeah option 2 is fine. But how would that work?

You connect to the ethereum client at the specified `eth-rpc-endpoint` and then you get the network id with the `net_version` RPC call and thus you know the network id and the directory for the DB to read/write to.

No extra arguments needed from the user, just keeping separate DB directories.

[2018-04-04 18:40] hackaugusto opened #1341 "Rename Ack message to Processed"
## Problem Definition

Ack is only sent to the partner if the message was valid and Processed, the name Ack can be misleading.

[2018-04-04 19:46] #1276 closed

[2018-04-04 23:12] #1328 closed

[2018-04-06 09:46] LefterisJP commented on #1200
@palango: So do I understand correctly that this issue is going to be addressed when we switch to web3.py?

[2018-04-06 09:51] palango commented on #1200
Not necessarily. There is some code to check key files for which there is no replacement atm. But that should be easy to remove or to reimplement ourselves.

[2018-04-06 09:57] pcppcp commented on #1200
Hm, if you need to read keystore maybe check https://github.com/raiden-network/microraiden/blob/master/microraiden/utils/private_key.py

IIRC it doesn't require `bitcoin` (and `ethereum` seems to use `bitcoin` only in one specific function that I don't see used anywhere else)

[2018-04-06 10:11] palango commented on #1200
Yes, these are already used. However `ethereum.keys` still imports bitcoin and shows a warning if it isn't available.

[2018-04-06 10:26] palango commented on #1293
As we sign all transactions locally further progress here is blocked by ethereum/web3.py#649

[2018-04-06 11:32] hackaugusto commented on #507
Finalized by: #1329

[2018-04-06 11:32] #507 closed

[2018-04-06 12:11] LefterisJP commented on #1200
We really should just drop `ethereum.tools.keys` then.

The 2 functions we use from there are:

[code]
and

[code]

The first function `check_keystore_json()` is ridiculously simple and we can just copy it as is.
The second function, `decode_keystore_json()` loads and decodes the keys. We can use [`eth-keys`](https://github.com/ethereum/eth-keys) for that.

[2018-04-06 12:36] palango commented on #1200
@aneeshvaidya The solution for the last step of removing `bitcoin` are specified above. Do you still wanna work on this?

[2018-04-06 16:01] carver commented on #1293
Technically, everything that's possible on https://github.com/ethereum/web3.py/pull/649 is already possible without it. It's just a convenience thing. You can sign with `w3.eth.account.signTransaction()` and then use `w3.eth.sendRawTransaction()`: http://web3py.readthedocs.io/en/stable/web3.eth.account.html#sign-a-transaction

So it doesn't _have_ to be a blocker, but if you want to wait for the m

[2018-04-06 16:30] palango commented on #1293
Yes, this is more an architectural problem and I didn't describe that really well.

We have wrapper classes in raiden that use our home-build contract proxies. When replacing these proxies I run into the problem that the `transact` call (like in `self.web3_proxy.functions.registerEndpoint().transact(endpoint)`) requires an unlocked account in the ethereum node. So it would be easiest to wait for l

[2018-04-06 18:47] hackaugusto commented on #672
This was solved by the Wal class, the block_number is given as an argument:

https://github.com/raiden-network/raiden/blob/3686b3275ff7c0b669a6d5e2b34109c3bdf1921d/raiden/storage/wal.py#L24-L40

[2018-04-06 18:47] #672 closed

[2018-04-06 18:49] hackaugusto commented on #623
This is being handled by the path finding service: https://github.com/raiden-network/raiden-pathfinding-service/issues/7

[2018-04-06 18:49] #623 closed

[2018-04-06 20:27] carllin commented on #1341
I can take this as well.

[2018-04-06 22:46] aneeshvaidya commented on #1200
@palango Yes! I'll take a look through this and submit another PR

[2018-04-07 16:16] hackaugusto commented on #684
Finalized by: #1329

[2018-04-07 16:16] #684 closed

[2018-04-07 16:36] hackaugusto commented on #419
[code]
This was effectively done by https://github.com/raiden-network/raiden/pull/1339 . That PR is serializing calls to all filters, which is really coarse, and the logic is not part of the Blockchain proxies, so we may still get races if the proxies are used directly.

Ideally we should lock calls to methods of `Filter` instances, additionally the lock needs to cover the processing of the events

[2018-04-09 08:57] #1013 closed

[2018-04-09 23:31] hackaugusto commented on #454
Note: With the PR https://github.com/raiden-network/raiden/pull/1329/files#diff-72b8041548bf416a299ac073c02e24e5L481 the message queue is not serialized anymore. The queue will be restored from the on the node start https://github.com/raiden-network/raiden/pull/1349/files .

This issue is just missing a call to stop the queue for a given node, on the  channel closed blockchain event handler https:

[2018-04-10 00:01] hackaugusto commented on #505
Is this still a problem?

If the transfer failed, an error is returned:

https://github.com/raiden-network/raiden/blob/21479285bd821be82c9517fd781d2ccc0107950b/raiden/api/rest.py#L499-L504

And the transfer method waits on the async result to return a boolean:

https://github.com/raiden-network/raiden/blob/master/raiden/api/python.py#L433

[2018-04-10 14:45] hackaugusto opened #1351 "Add an event to signal that a message was properly processed"
## Problem Definition

Add an event to signal that a message was successfully Processed.

[2018-04-11 16:30] LefterisJP commented on #505
I think that the issue is just about a user facing error at this point.

The transfer can also have timed out which is not mentioned at the error.

Would also be really nice if we could detect a difference between a timeout and the "insufficient funds or no route to target" error.

[2018-04-11 16:36] LefterisJP commented on #419
@carllin Thank you. Please ask any questions you have here. Also write here if you stop looking at this issue.

[2018-04-11 16:47] LefterisJP commented on #1351
As we discussed in Rocketchat perhaps the way to handle this now is to send a `Processed` message once a state change hits the WAL.

[2018-04-11 16:54] LefterisJP commented on #1341
Thank you @carllin. This is now implemented.

[2018-04-11 16:54] #1341 closed

[2018-04-12 08:10] LefterisJP commented on #1237
The issue is solved by @gcarq.

I am not sure how gitcoin works from this point on.

[2018-04-12 08:10] #1237 closed

[2018-04-12 13:32] gcarq commented on #1195
I would take a look if no one is working on this yet

[2018-04-12 14:42] ulope opened #1356 "Network ID may have changed after Eth node reconnect"
## Problem Definition

In the past we added automatic reconnect to the Eth node in case of a disconnect.
And with #1340 we now also segregate the datadir by `network_id`.

What we currently don't check is if the `network_id` remains the same after a reconnect. It's possible that someone (either by accident or intentionally, maybe forgetting that Raiden is still running) will stop their Eth node an

[2018-04-12 15:16] LefterisJP commented on #1356
That's correct. Good point. I've done this recently with both Raiden and Rotkehlchen and things break in beautiful ways.

[2018-04-12 15:25] ulope commented on #1356
In theory there is an alternative to shitting down. We could throw an exception that gets caught very high up in the stack (e.g. `cli.py:run()`) and then simply re-start raiden.

I don’t think that’s a very good idea but it would be possible ;)

[2018-04-12 16:40] andrevmatos commented on #1356
I'd vote for just bail out. Network change isn't something we'd expect user to do (I don't think there's a valid use case yet for this), so it's an exceptional situation, which we may expect/require user intervention (restarting raiden) to handle it.

[2018-04-13 22:51] ulope commented on #1356
I added a simple [`on_reconnect` listener / callback system in the matrix branch](https://github.com/andrevmatos/raiden/commit/9c0cfc2c8182103733ca4f1ca059d35dfc2cf40a) because I initially thought we could "survive" a network id change.
@hackaugusto Something like this (with some modifications) should be usable for a clean shutdown, shouldn't it?

[2018-04-13 23:03] hackaugusto commented on #1356
Removing the decorator in favor of a callback system? I doubt it would fix the problem without a large change.

[2018-04-17 07:10] lijinchao opened #1359 "set used in find_new_partners function maybe not right"
## Problem Definition
when i connect one token network , it 's awalys failed because of "AttributeError: 'NoneType' object has no attribute 'add'"

### System Description
 Raiden:  version 0.3.0+git.r34fd1e7d!

_all raidens connect my private network , **not testnet!**_

[code]

[code]
Python3 Sets data structure  method "add" return none, not Sets ;  so the seoncd "assign" is NoneType.

[2018-04-17 07:37] LefterisJP commented on #1359
Can you please use the issue template and give us all info on your system?

[code]

Also please provide what you tried, how you ran Raiden and the entire exception stack trace.

[2018-04-17 07:48] lijinchao commented on #1359
Have update it !

[code]
[code]

[2018-04-17 08:03] LefterisJP commented on #1359
Thank you for the updated info @lijinchao. Let us have a look and will come back to you.

[2018-04-17 08:22] lijinchao opened #1361 "'NettingChannelState' object has no attribute 'partner_address"
## Problem Definition
[code]
when i used this request, I get the following traceback!

[code]

### System Description
 Raiden:  version 0.3.0+git.r34fd1e7d!

_all raidens connect my private network , **not testnet!**_

[code]
### code where causes the  prolem
[code]
### NettingChannelState definition
https://github.com/raiden-network/raiden/blob/1f17a15c518a4af65f03c015cf13c63ef755150d/raiden/tran

[2018-04-17 11:07] #1359 closed

[2018-04-17 11:12] LefterisJP commented on #1361
Thank you for the detailed report @lijinchao. I will handle this.

Please note we are in the middle of a refactoring so things like that may happen when you use bleeding edge `master` branch.

[2018-04-17 16:17] #1361 closed

[2018-04-17 17:09] LefterisJP opened #1365 "Check if solc satisfies version requirements."
Taking [this](https://github.com/raiden-network/raiden/pull/1364) PR a step further we can have a check that invokes `solc --version` and compares the used version of solc with the `MIN_REQUIRED_SOLC` version and fail much earlier and with a more specific message.

[2018-04-17 21:01] hackaugusto opened #1366 "Persist configuration changes"
Possible approaches:

- add a state change to configure it. With this approach we can offer APIs to reconfigure the node, which will persist across restarts and allows for configuration at runtime.
- use a configuration file. The advantage of this approach is that configs are easily readable by the end user. If we want to apply configuration changes at runtime (without restarting) a watcher and a

[2018-04-17 21:38] hackaugusto opened #1367 "Handle soft forks"

[2018-04-17 21:42] #1367 closed

[2018-04-18 08:58] LefterisJP commented on #625
This should already be fixed for the raiden client.  (https://github.com/raiden-network/raiden/commit/44179fc92da583e5a1aeeae5e351859e47bf45b1)
The tools directory is indeed outdated but not something we support at the moment.

[2018-04-18 08:58] #625 closed

[2018-04-19 08:07] #1281 closed

[2018-04-20 09:05] LefterisJP commented on #146
Closing this issue. Reason:

This issue is too generic as of now. Problems with naming of specific terms should be raised in separate issues (one per term) and not in this repo but the spec repo.

[2018-04-20 09:05] #146 closed

[2018-04-20 13:32] hackaugusto opened #1372 "Remove the DummyTransport"
The class `DummyTransport` only exists to aid testing, the callbacks are used to save the messages that go through the protocol layer. The current version of the code base has the WAL, which allows for a cleaner way to query all the messages/events that went through the system, so DummyTransport is not necessary anymore.

Doing this will fix https://github.com/raiden-network/raiden/issues/251

[2018-04-21 08:40] jomuel commented on #1372
I guess so. @hackaugusto what is 'the WAL'?

[2018-04-21 08:43] LefterisJP commented on #1372
The WAL stands for our write-ahead-log. For more info look in this [directory](https://github.com/raiden-network/raiden/tree/master/raiden/storage).

We use (or [will](https://github.com/raiden-network/raiden/issues/592) use) it to recover from an unexpected crush. Allows us to have all state changes available and ready to re-read when we come back online.

[2018-04-21 09:10] jomuel commented on #1372
Ok I'll handle this then (Would assign it to me but apparently assigning issues in this repo is disabled for me)

[2018-04-21 09:14] LefterisJP commented on #1372
@jomuel I think you now can do it.

[2018-04-21 22:57] hackaugusto commented on #669
@carllin A we can take a simpler approach, instead of querying this data from the database, I think it's best to:

- restore the app state from the latest snapshot and reapplying the pending state changes [done here](https://github.com/raiden-network/raiden/blob/5314673dd899186322e78927c26ebab9ad088f0d/raiden/raiden_service.py#L271-L282)
- the block number after restoring the state will be the lat

[2018-04-21 23:07] #587 closed

[2018-04-21 23:14] LefterisJP commented on #1366
I think we should go with the configuration file approach as it's simple and used all over in other applications. And as you said if needed a watcher can be added to the file to apply any changes when needed.

[2018-04-23 16:44] LefterisJP commented on #1260
Hello @exSpectrum and really sorry for not seeing this issue earlier.

In principle it should be possible. We don't have any docs on how to achieve this though.

You will need to deploy all the relevant contracts in that chain and point raiden to them. We have arguments for them:

[code]

[2018-04-23 16:45] LefterisJP commented on #1249
Hello elopio and thank you. This will make sense once we have a first stable release.

[2018-04-23 16:58] LefterisJP commented on #1241
@EasonWang01 terribly sorry for the late reply.

Listening address should have `0.0.0.0:40012`. Generally for listening host use the `0.0.0.0` address.

Does this solve your issue?

[2018-04-23 20:41] #419 closed

[2018-04-23 21:59] LefterisJP commented on #1130
Perhaps after getting more jobs in Travis we can revisit this issue and run a few tests to see if OSX travis availability has increased? In Rotkehlchen the OSX job is a tad bit slower but does not take longer than the Linux job to start.

[2018-04-23 22:00] elopio commented on #1249
Hello @LefterisJP. I think this would make testing your unstable releases a lot easier. But I understand if you have a different preference.

[2018-04-23 23:02] LefterisJP commented on #61
@konradkonrad Is the throughput test viable in any way or form as of this moment? Should we try to revive it to measure throughput of our product before release so we can have proper benchmarks to support our claims?

[2018-04-23 23:15] LefterisJP commented on #132
@konradkonrad Is this still an issue? Ipython is now at [release 6.3.1](http://ipython.readthedocs.io/en/stable/) and I guess more stuff would be broken if we try to integrate with that too.

I don't know of anyone else using the `--console` feature and we got practically 0 tests for it. Is it worth the developer time to maintain it?

[2018-04-24 08:37] LefterisJP opened #1377 "Add tests for the matrix transport layer"
Add new fixtures and modify existing tests so that the matrix transport layer can be tested.

[2018-04-24 08:38] LefterisJP opened #1378 "Add matrix transport layer"
Integrate the new matrix transport layer into the raiden client.

@ulope please edit the description as you see fit.

[2018-04-24 12:10] ulope commented on #1249
@elopio Just as a pointer: We do have standalone binary releases for linux and macOS since the last two or so releases: https://github.com/raiden-network/raiden/releases

[2018-04-24 13:36] ulope opened #1379 "Support multiple matrix homeservers"
## Problem Definition

Once the initial matrix transport implementation (#1378) is merged we need to support multiple homeservers with federation.

Issues to solve:
- [ ] Server discovery - where to get a list of suitable homeservers from (e.g. on-chain registry)
- [ ] Server selection - there should be an automatic selection of the "best" homeserver (e.g. by ping time)
- [ ] User discovery - ther

[2018-04-24 15:30] elopio commented on #1249
@ulope yes, but U say that it would be easier because the snap would autoupdate. Your community of testers will always have the most recent code from master ready to use.

[2018-04-24 22:38] loredanacirstea opened #1381 "Integrate raiden-libs to avoid duplicating code and effort"
## Problem Definition

https://github.com/raiden-network/raiden-libs was created to aggregate common tools used across `raiden-network` repositories.
It should be integrated in `raiden` to avoid duplicating code and effort. E.g. https://github.com/raiden-network/raiden-libs/issues/50

[2018-04-25 07:39] ulope commented on #1379
@lefteris Correct, it isn’t necessary for a possible intermediate preview release with matrix support though.

[2018-04-25 09:16] LefterisJP opened #1383 "Integrate raiden smart contracts from the contracts repo"
We need to integrate the new contracts from the [smart contracts](https://github.com/raiden-network/raiden-contracts) repository in Raiden client core.

That would entail:

- [x] Adding the repository as a pypi dependency
  - This requires us to remove the `pyethereum` dependency and is quite a long shot (reason is that `eth-tester==0.1.0b24` requires `rlp>1.0`). It will probably be easier to copy

[2018-04-25 10:07] ulope commented on #1381
Just FYI: This is already starting in #1373 with the gevent matrix client

[2018-04-25 15:56] LefterisJP commented on #1260
I assume this issue has been solved since there is no reply yet. If that's not true please feel free to reopen.

[2018-04-25 15:56] #1260 closed

[2018-04-25 17:43] vs77bb commented on #1237
@LefterisJP @gcarq Apologies for the delay, the bounty funding has been released!

@LefterisJP If you are the funder, you'll have access to 'Accept Submission' immediately once a submission is made (like @gcarq did)!

[2018-04-26 14:34] ulope opened #1386 "Require proof of private key ownership for matrix account registration"
## Problem Definition

_This is not strictly a Raiden issue in itself._

To make user lookup and communication in general easier under the new matrix transport scheme it's desirable that nodes with a particular Ethereum address map to predictable matrix usernames.

One way to ensure this is to extend the matrix homeserver with functionality to only allow user registration if the registrant can pro

[2018-04-26 15:04] LefterisJP commented on #1386
@ulope This is a requirement for the Red Eyes milestone for matrix transport. Correct?

[2018-04-26 15:46] ulope commented on #1386
I'm a bit on the fence for this one.
It would make things a bit nicer in Raiden but OTOH could turn out to be (possibly a lot) more work than expected if it's not doable with a matrix/synapse application service (which may be the case).

Additionally, this will complicate the homeserver setup process a bit.

So I'd say lets keep this for after Red Eyes.

[2018-04-26 16:39] jomuel opened #1387 "Adapt integration tests to matrix transport"
While the unit tests are being adapted with a mock object for the Matrix server (issue #1377), the integration tests should rather run against an actual Matrix server. To this end a setup with a Matrix server running locally just for the duration of the tests should be created.

[2018-04-26 21:30] LefterisJP commented on #1386
But how will we identify a matrix address with a user's ethereum's address for the matrix transport to operate? Isn't this what the issue is about? Can we use the matrix transport in Raiden without that property?

[2018-04-26 22:04] carllin commented on #675
I think I can do this :)

[2018-04-27 08:55] carllin commented on #348
Implementing the changes

[2018-04-28 15:29] vs77bb commented on #1195
@LefterisJP @gcarq This one looks like it has a bit more WIP scope... let me know whenever it's good to pay out!

[2018-04-28 15:32] LefterisJP commented on #1195
Whenever the issue is closed I guess. The PR is still open and waiting for some work from @gcarq https://github.com/raiden-network/raiden/pull/1355

[2018-05-01 22:25] hackaugusto commented on #1129
This will be more important with https://github.com/raiden-network/raiden-contracts/tree/master/raiden_contracts , because we will rely exclusively on events to restore the on-chain state.

[2018-05-02 16:52] ulope commented on #1366
We will also need a config file to support multiple matrix homeservers (for storing last used server and username).

Which format should we go with?
The common options these days seem to be JSON, YAML and TOML.

JSON has the disadvantage of not supporting comments and being slightly less human editable then the other two.

I don't feel that there is a huge usability difference between YAML and TOM

[2018-05-04 00:43] Arbitrage0 commented on #1365
Hey, just wanted to say that I tried working on the issue and hope you wouldn't mind having a look at it! First contributor here ^^

[2018-05-07 08:16] VinceXie opened #1395 "Can it be used for private blockchain of poa (Proof of Authority）?"
If it can , how to use it?

[2018-05-07 12:19] hackaugusto opened #1396 "Recover the message queue from the latest snapshot"
Recover the message queue from the node state

- [x] ~Define the constructor signature for transport classes~
  - The queues are provided in the `start` method of the transport class
- [ ] Recover all queues from the latest snapshot

[2018-05-07 12:20] schmir opened #1397 "setup.py's read_version_from_git is an ad-hoc, informally-specified, bug-ridden, slow implementation of half of setuptools_scm"
I'm trying to build a source distribution of raiden with `python setup.py sdist`. The `read_version_from_git` function tries to determine the version by calling into git.

Here's one of the problems the current implemtation has. I'm trying to build a source distribution in order to upload it on a private devpi server.

When building that, it looks like's it's building version 0.3.0+git.r4992c106.

[2018-05-07 12:25] LefterisJP commented on #1397
I would like to take that one. Thanks for reporting this @schmir. I copied this mistake in another project of mine and I should correct the mistake there too.

[2018-05-07 12:53] LefterisJP commented on #1366
Let's go with TOML then. Seems simpler than YAML and since we don't need really complicated config files (is that a correct assumption?) TOML is a good choice.

Reference on [TOML vs YAML](https://gist.github.com/oconnor663/9aeb4ed56394cb013a20)

[2018-05-07 23:05] LefterisJP opened #1400 "Warn about using same private key from other applications and remove nonce management"
From [this](https://github.com/raiden-network/raiden/pull/1392#issuecomment-387089813) comment.

TODOs:

- [ ] Provide a warning message to the user in the start of the raiden node, letting him know that he should not use the private key used for raiden in anything else as long as the raiden node is running.
- [ ] Remove the code updating nonce for a given interval. The nonce must be updated from

[2018-05-07 23:07] hackaugusto commented on #1400
How would we do that? I can only think about asking the user to not reuse the same account.

Yeah, I would just remove it

[2018-05-07 23:15] LefterisJP commented on #1400
- Each running raiden node should either put a lock file inside `~/.raiden` with the name being the address the private key corresponds to or ... write that to one common file.

- Each running raiden node would first check the above mentioned file/files and if the key requested for unlocking is contained in that lock file then it would exit with a message: `Another raiden node is running in this m

[2018-05-07 23:53] LefterisJP opened #1402 "Get rid of local signing"
Related to https://github.com/raiden-network/raiden/issues/1400#issuecomment-387235851

At the moment we always sign transactions locally on Raiden and send it to the ethereum node for transmission. That is introducing some friction on determining the order of transactions and on handling the possibility of other applications using the same private key that Raiden uses.

The alternative would be t

[2018-05-08 07:59] LefterisJP commented on #1395
Hello @VinceXie we don't have a guide for Proof of Authority setup but in theory you can use it with a PoA chain just like you would with a PoW chain. Perhaps the better question would be for you to try and tell us where you get stuck.

[2018-05-08 08:13] #1397 closed

[2018-05-08 09:16] andrevmatos commented on #1386
To add on the above, right now, the password with which the node registers itself with the server is the signed homeserver address. With that, we could make a small server-side plugin to ecrecover and reject register requests which fails this validation. OTOH, enforcing that on the server may limit our federation capabilities (we would need to ensure that federating servers also follow these rules

[2018-05-08 11:10] palango commented on #1200
@aneeshvaidya Do you have time to fix this, otherwise I'll fix it.

[2018-05-08 12:06] andrevmatos commented on #1366
While doing the matrix PoC, I developed a [small dict-based config class](https://github.com/andrevmatos/matrix-test/blob/master/utils.py) for this kind of thing. It tries to replicate some of the [nconf](https://github.com/indexzero/nconf) interface over JSON, specially the nested key access, but should be easy to support any or all above formats. Dropping it here for reference, and/or base for a

[2018-05-08 12:31] andrevmatos commented on #1402
I don't think running unlocked eth node is more insecure than opening the key by ourselves. It may need additional setup step (to block external connections, etc), but I think it may have some advantages:
- we may/should rely on standard interfaces for signing, e.g. `eth_sendTransaction`, `eth_sign` and `eth_signTypedData` (when stable)
- we may rely on the eth node to give wider key support
- rel

[2018-05-08 13:28] LefterisJP commented on #1402
Not a problem. For geth it's there I think. We can have specific requirements for using a local ethereum node.

[2018-05-08 13:43] pcppcp commented on #1402
here are some scenarios where local signatures make sense

- light raiden client that connects to a public geth node
- some sort of DMZ separation - raiden clients on one network, geth node on an isolated network interfacing the chain, allowing only selected clients to access its RPC interface. Because eth node is facing the internet, it shouldn't be trusted.
- company that provides raiden-in-a-cl

[2018-05-08 13:53] andrevmatos commented on #1402
@pcppcp Yes, these are valid use cases. But, if we stick with the eth-node/web3 signature interfaces, couldn't we support them through some kind of middleware, e.g. Metamask or https://github.com/ethereum/web3.py/pull/649 , while still fully supporting node-side signatures?

[2018-05-08 14:07] pcppcp commented on #1402
@andrevmatos yeah, I like the idea of `web3` middleware, I hope they merge it soon. MS currently uses a rather ugly contract wrapper to sign locally.

[2018-05-08 15:19] jomuel commented on #1377
The adapted tests have been added to the matrix pull request (#1373).

[2018-05-08 15:19] #1377 closed

[2018-05-09 07:32] MorganGR commented on #1379
Any testing possible yet? I am looking at a small Matrix server.

[2018-05-09 10:54] palango commented on #1383
I started with some work on the proxies here: https://github.com/palango/raiden/tree/add_new_contract_proxies

[2018-05-09 13:29] palango commented on #1402
If we think that the middleware is the best way to go forward we should maybe look into finishing the web3 PR ourselves. The majority seems to be done.

[2018-05-09 13:50] ulope commented on #1379
@MorganGR Code for this specific issue is currently actively being developed.

If you really want to experiment with the bleeding edge you can check out PR #1373, but be warned that this is very much not done yet and most definitely will have bugs.

[2018-05-09 15:00] andrevmatos opened #1403 "[Style proposal] Enforce clearer interface in classes with public, private and protected members"
## Problem Definition

Right now, Raiden doesn't have a clear, visible, convention-enforced distinction between what methods, attributes and properties can be used to access the main functionality of a class, object or module, and what is/should be used only internally and/or is implementation specific.

This makes first understanding the code pretty hard, as one have to walk through the whole fil

[2018-05-10 22:11] ulope opened #1404 "Smoketest fix makes Raiden non-startable w/o geth installed"
## Problem Definition

The fixes for #1237 (#1353 and #1374) cause Raiden to be non-startable if geth isn't installed on the user's machine.

The reason is that the check for the geth binary is perfomed on module level (i.e. import time) and the `smoketest` module is being imported by the `cli` module.

IMO the easiest solution would be to only perform the check for geth when actually running the

[2018-05-10 22:18] LefterisJP commented on #1404
Well there is no reason to start if an ethereum client is not present. But I see the problem. Even `raiden --help` or `raiden removedb` don't work.

[2018-05-11 00:51] aneeshvaidya commented on #1200
I don't believe I'll get around to this for a while, so go ahead

[2018-05-11 10:31] andrevmatos commented on #1379
About the 3rd point, currently, a common room is used only to trigger all servers which federate this room to sync/know users within. Then, server-side user directory search is used to search for users. This way, this room isn't suitable for any kind of spam or dos attack (as no user ever listens to it), and server-side search is more performant than always keeping a list of all users in every cli

[2018-05-11 15:42] ulope opened #1407 "Cli option --eth-client-communication is non functional"
## Problem Definition

The cli option `--eth-client-communication` has had no effect since 2ec2bad1.
We should either remove it entirely or fix it.

(Also we really need cli tests at some point)

[2018-05-11 16:15] LefterisJP opened #1408 "Implement Raiden CLI tests"
We have no tests for the common usage of raiden via the command line. As a result issues like [this](https://github.com/raiden-network/raiden/issues/1407) can pop up and end up being broken for a long time without anyone noticing.

TODO:

Write some basic CLI tests that would cover the basic functionality and usage of Raiden via the CLI making sure all the arguments work as intended.

[2018-05-11 16:33] ulope commented on #1408
`Click` has some built-in testing support: http://click.pocoo.org/6/testing/

[2018-05-12 12:56] #1372 closed

[2018-05-12 12:56] #1396 closed

[2018-05-15 11:43] czepluch commented on #1129
So, apparently, after being quite confused and talking with Augusto it turns out that this issue was more or less solved with https://github.com/raiden-network/raiden/pull/1385. What's left to do is to write a test that makes sure that the `from_block` is optimal. I don't really have a good idea of how to check this. @LefterisJP or @hackaugusto if you have any ideas, please let me know.

[2018-05-15 11:51] LefterisJP commented on #1129
What do you mean by optimal here? @czepluch

[2018-05-15 11:54] czepluch commented on #1129
The filters can either be installed with `block_number` 0 or when a contract is deployed. We should find out if it's more efficient to do the latter upon recovering the state and replaying events. I would assume so, but I am not entirely sure how to prove it.

[2018-05-15 12:25] LefterisJP commented on #1404
The commit made it only in my fork ... and still somehow closed the issue. Wtf?

[2018-05-15 13:11] andrevmatos commented on #1129
@czepluch On µRaiden we had issues with it, it was actually way more efficient to cap the `from_block` to some point equal or before contract deployment (we had to hardcode it in config), for geth (parity always performed better on this, did this optimization under the hood). Not sure if geth is still affected after 1.8 wave of optimization, event scan was one of the focuses.

[2018-05-15 13:43] LefterisJP commented on #1129
It depends on the client's implementation of the filter.

[2018-05-16 13:25] LefterisJP opened #1416 "Replace slogging with structlog"
## Problem Definition

Slogging is a frankestein remnant of pyethereum. We should replace it with a proper structured logging implementation like [structlog](http://www.structlog.org/en/stable/index.html)

[2018-05-16 13:30] andrevmatos commented on #1416
[From Why of structlog](http://www.structlog.org/en/stable/why.html), we may also look into making more extensive use of the structured logging construct (_kwarg syntax for logging_), which should mean initially at least suggesting using more this syntax instead of the default, format-based syntax, and after, looking at making the replacement over current codebase, to make best usage of structlog

[2018-05-17 06:16] heikoheiko commented on #1416
fyi, we used structlog in the past in pyethereum and stopped using it to minimize the number of external dependencies to improve security. this might not be important for raiden though.

but question: while "Slogging is a frankestein remnant" what are the specific problems you are facing and trying to solve? will this speed up reaching the milestones?

[2018-05-17 07:57] LefterisJP commented on #1416
- Get rid of the pyethereum dependency and use the new py-evm code.
- Simplify the code in general and more specifically the [special test fixtures](https://github.com/raiden-network/raiden/blob/master/raiden/tests/conftest.py#L83) that exist to make pytest logging to work with slogging.

[2018-05-18 12:46] andrevmatos commented on #1200
Once we finish #1293, we may look at using [web3.py methods for opening private keys](http://web3py.readthedocs.io/en/stable/web3.eth.account.html#extract-private-key-from-geth-keyfile) directly.

[2018-05-20 21:44] #1195 closed

[2018-05-20 21:45] LefterisJP commented on #1195
Closed the issue since the PR that fixed it was merged quite some time ago

[2018-05-22 12:05] hackaugusto opened #1419 "Fix UDPTransport start method"
[The start method](https://github.com/raiden-network/raiden/blob/452aad7555196db57a61b14d7224bc020f1c28e3/raiden/raiden_service.py#L296-L297) is receiving a list of events that must be encoded. The current version is broken an assume the list is already made of encoded elements.

[2018-05-22 14:54] palango opened #1422 "Replace functions from raiden.utils with eth-utils equivalents"
## Problem Definition

We currently define some helper functions ourselves in the `raiden.utils` module. We should use the ones that are available in `eth-utils` instead.

### ToDo

Any issue can be solved independently

- [x] Replace `raiden.utils.decode_hex()` with `eth_utils.decode_hex()` (Note that the current `decode_hex` handles more input types, so this might require more changes)
- [x] Rep

[2018-05-22 16:07] LefterisJP opened #1423 "Unskip and fix the 2 echo node tests"
## Problem Definition

The [2 echo node tests](https://github.com/raiden-network/raiden/blob/7ca9965cd077a23fa145c7025be01550dacb08b5/raiden/tests/integration/test_echo_node.py#L70) are skipped since they no longer work. Fix the echo node and unskip the tests.

[2018-05-23 12:25] hackaugusto opened #1426 "Add generic channel metrics"
These metrics should be add as an aggregate for the WAL state changes. This should go in a new State object that is serialized as part of the snapshot.

## Add the following metrics

- For direct transfers:
  - [ ] # of payments
  - [ ] # of no capacity payments
- For mediated transfers the node started, **per target address**:
  - [ ] # of finalized payments
  - [ ] # of no route transfers
  - [

[2018-05-24 09:27] nkbai opened #1428 "addToken of Registry.sol should remove argument registry_address?"
[code]

just use this will be better.

[code]
am I right?

[2018-05-24 09:48] LefterisJP opened #1429 "Fix the last failing tests for the Matrix PR"
## Problem Definition

Two tests were failing in the [matrix PR](https://github.com/raiden-network/raiden/pull/1373).

- integration/transfer/test_refund_transfer.py::test_refund_messages
- integration/transfer/test_refund_transfer.py::test_refund_transfer

Fix them

[2018-05-24 09:49] LefterisJP commented on #303
This is going out of Red Eyes

[2018-05-24 10:01] LefterisJP commented on #1366
Not needed for Red Eyes

[2018-05-24 10:09] LefterisJP commented on #193
Moving this out of Red Eyes

[2018-05-24 11:57] LefterisJP commented on #1241
I assume the issue is solved due to lack of reply to my proposed solution.

[2018-05-24 11:57] #1241 closed

[2018-05-24 11:58] LefterisJP commented on #1039
This is removed from the Red Eyes milestone.

[2018-05-24 11:59] #1378 closed

[2018-05-24 11:59] #1379 closed

[2018-05-24 12:18] ulope opened #1431 "Recover sender address in SignedMessage's from_dict methods"
## Problem Definition

`SignedMessage` and its subclasses have a `decode()` method that is used to decode a packed binary representation of the message (by using the subclasses `unpack` methods). It sets the `sender` field by recovering the address from the message signature.

This doesn't happen when using `from_dict()` as it's used directly and not through a `decode()` like wrapper mechanism.

#

[2018-05-24 12:20] ulope commented on #1426
It would be very useful to also expose those metrics via the REST-API.

[2018-05-24 12:33] ulope commented on #1379
@andrevmatos Automatic server selection by best ping from the (currently) static list of available homeservers is already implemented in the current PR.

[2018-05-24 14:43] hackaugusto commented on #44
5cde15864d05d17045085a54d0b06310231b1657 fixed this, ATM the message is being signed

[2018-05-24 14:43] #44 closed

[2018-05-24 14:45] hackaugusto commented on #251
this was fixed by ca7ecd522e7b69555b2b6edfe5713009612c5345

[2018-05-24 14:45] #251 closed

[2018-05-24 14:46] #207 closed

[2018-05-24 14:51] hackaugusto opened #1432 "Update the balance proof with third parties"
## Tasklist

- [ ] Add a new message to inform third parties about it's known latest balance proofs.
- [ ] unit tests

[2018-05-24 14:54] hackaugusto commented on #293
This was fixed by: https://github.com/raiden-network/raiden-contracts/commit/09ed693f2afa08a7ae46fc3469cfb57e8761598a#diff-2f6fb78ac7aaf29aaec1ed8ab59468f8

Follow up issue for the python client: #1432

[2018-05-24 14:54] #293 closed

[2018-05-24 23:30] LefterisJP commented on #1428
@nkbai These smart contracts are not going to be used further. We are switching to the contracts from the raiden-contracts repository and there the signature is the [same](https://github.com/raiden-network/raiden-contracts/blob/master/raiden_contracts/contracts/TokenNetworksRegistry.sol#L42) as the one you are proposing.

[2018-05-25 01:19] nkbai commented on #1428
@LefterisJP thanks very much

[2018-05-25 08:55] #1428 closed

[2018-05-26 08:36] weberV commented on #1237
Issue Status: 1. Open 2. Started 3. Submitted 4. **Done**

<hr>

__This issue now has a funding of 0.18 ETH (124.58 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/raiden-network/raiden/1237/248).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a hr

[2018-05-26 08:36] weberV commented on #1195
Issue Status: 1. Open 2. Started 3. Submitted 4. **Done**

<hr>

__This issue now has a funding of 0.12 ETH (83.05 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/raiden-network/raiden/1195/249).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a hre

[2018-05-28 08:30] palango commented on #1416
Fixed by #1417 and #1434

[2018-05-28 08:30] #1416 closed

[2018-05-28 08:38] ulope opened #1435 "Update smoketest to use Matrix transport"
## Problem Definition

The `smoketest` command needs to be updated to test the Matrix transport depending on the value of the `--transport` cli option.

- [ ] Add matrix somketest run to Travis config in addition to the udp one.

[2018-05-28 09:18] palango opened #1436 "Logging-related exception printed in smoketest"
When running the smoketest there is a non-fatal exception printed. This should be fixed.

[code]

[2018-05-28 09:37] pcppcp commented on #1436
a wrapper for the log object is required - I'll look into it.

[2018-05-28 09:51] pcppcp commented on #1436
PR #1442 fixes that

[2018-05-28 10:53] LefterisJP commented on #1435
Adding this to Red Eyes.

[2018-05-28 11:00] LefterisJP commented on #1423
This is needed for having proper testing infrastucture for red eyes in the mainnet

[2018-05-28 14:46] #1436 closed

[2018-05-29 00:59] Sirinemra opened #1455 "SyntaxError error when I Sart raiden"
This morning, I installed raiden from the source
$ git clone https://github.com/raiden-network/raiden.git
$ pip3 install --upgrade -r requirements-dev.txt
$ python3 setup.py develop

And when I ran raiden, I have this error:
Traceback (most recent call last):
  File "/usr/local/bin/raiden", line 11, in <module>
    load_entry_point('raiden', 'console_scripts', 'raiden')()
  File "/home/ubuntu/soft

[2018-05-29 05:58] mat7ias commented on #1455
I'm not part of the raiden team but I came across this and I think I can help. The main problem I can see is that you missed a number of steps in your installation, I didn't have a problem testing it out when I followed the guidelines from the detailed docs they provide https://raiden-network.readthedocs.io/en/stable/
You also downloaded their latest master branch instead of the latest stable rele

[2018-05-29 06:13] LefterisJP commented on #1455
You also need python version 3.6

[2018-05-29 08:46] hackaugusto commented on #1129
There is no JSON RPC interface to find the transaction / block for which a given smart contract was deployed, so we cannot properly install the filters using a `from_block` for the `TokenNework` smart contracts deployed by the `TokenNetworkRegistry`, since on restarts we continue from the block_number of the last run, things should be fine for now.

[2018-05-29 08:54] pcppcp commented on #1129
the thing we did in uRaiden was a hardcoded deploy block value for different networks, because of the
same exact reason @hackaugusto mentions. But if the last block is properly cached and used on restart, it's not that much of an issue.

[2018-05-29 10:45] LefterisJP commented on #1129
Exactly as @pcppcp says. The raiden contract addresses are hard coded anyway in the client. Why not also:

- Hard code deployment block of the deployed registry (can't do the same for each token network, but still it's better than the zero block).
- Add an option to manually input deployment block in case you want to point to non-default token network.

In either case this is more of an optimizati

[2018-05-29 10:51] #1419 closed

[2018-05-29 12:38] LefterisJP opened #1460 "Validate all address input for EIP55 compatibility"
## Problem Definition

We are now using web3.py which uses [EIP55](https://github.com/ethereum/EIPs/blob/master/EIPS/eip-55.md) checksummed addresses/.

At the moment we sanitize addresses by using `to_checksum_address()` before passing them on to web3.py.

This is missing the point as we basically don't really validate the checksums on the time of input.

## TODO

- Validate all hex address input

[2018-05-30 16:20] LefterisJP commented on #1429
So tests fixed, but `test_refund_transfer` has an unclean shutdown of its state machine. Stack Trace follows:

[code]

[2018-05-31 08:28] palango opened #1466 "Rework filtering to use the web3 APIs"
## Problem Definition

Currently we use a home grown function to filter events. After switching to the web3.py stack in #1293  we should switch to the filtering stack web3 uses.

- [x] Simplify current code (#1517 )
- [ ] Remove Raidens `Filter` class
- [ ] Remove double decodings of events

[2018-05-31 08:31] palango opened #1467 "Use more web3 middlewares"
## Problem Definition

The web3.py project provides useful middlewares for caching, stalechecks as well as gas pricing strategies. We should remove our custom code for these functionalities and switch to the web3 implementations.

Follow up to #1293

[2018-05-31 08:31] palango commented on #1293
Closing this in favor of the follow up issues.

[2018-05-31 08:31] #1293 closed

[2018-05-31 10:17] palango opened #1469 "Update pyinstaller packaging"
## Problem Definition

After the removal of the `pyethereum` dependency we need to update the pyinstaller scripts.

[2018-05-31 14:29] palango opened #1473 "web3: gas price strategy"
Currently we get the gas price from the ethereum node by calling the `eth_gasPrice` function.

Web3 offers different gas price strategies. The one we currently use is available as well as a more sophisticated time based version that makes sure that transactions get mined with a certain probability in a given timeframe. (This is similar to what Eth Gas Station provides)
See https://web3py.readthedo

[2018-05-31 15:49] LefterisJP commented on #1466
Looking at their [docs](https://web3py.readthedocs.io/en/stable/filters.html) it should not be that hard.

[2018-05-31 15:52] LefterisJP commented on #1467
@palango I think it's better if you open an issue for each one of the middlewares like you already did with https://github.com/raiden-network/raiden/issues/1473. This way we can discuss, evaluate and eventually integrate (or not) each one of them on a case by case basis.

[2018-06-01 06:04] palango commented on #1460
`to_checksum_address` cannot be removed for calls of the web3 clients as it expects checksummed addresses and we use a canonical representation (which isn't checksummed) inside raiden everywhere.

[2018-06-01 06:09] LefterisJP commented on #1460
That's the whole point of EIP55 compliance though. To switch to using checksumed addresses.

If we don't do that the entire EIP55 thing is pointless. We would just be using `to_checksum_address` to appease web3.py and miss the point completely.

[2018-06-01 06:13] palango commented on #1460
Not as long as you require every input to be checksummed. That's the whole point of the sandwich encoding.

[2018-06-01 06:31] LefterisJP commented on #1460
Hmm that is true, but I assumed we wanted to completely switch to EIP55 as the canonical representation for addresses. So what you want instead is something like below?

[code]

as opposed to

[code]

I don't have a strong opinion here. Just doing the first should be super trivial, but I had understood we wanted to switch to checksummed strings also inside the code.

In any case doing the first on

[2018-06-01 07:00] palango commented on #1460
I don't have strong opinions either, but from my discussion about that topic before I gt the feeling that option 1 was favored.

Either way, I guess we should start with checking the inputs and change the internal representation later.

[2018-06-01 07:20] palango commented on #1467
I agree, let's close this one.

[2018-06-01 07:20] #1467 closed

[2018-06-01 07:46] palango opened #1475 "web3: local signing middleware"
## Problem Definition

We currently sign transactions locally in raiden and send them to the ethereum node as a raw transaction. From the discussion in #1402 it seems that we generally want to keep signing transactions ourselves, while allowing people with special needs (e.g. hardware-wallets) to disable this.

https://github.com/raiden-network/raiden/blob/6ae3fc37773d75ddae0d5b22007d0058bcb832fd/

[2018-06-01 08:48] LefterisJP opened #1476 "Add chain_id to the BalanceProof"
Part of the integration of the new contracts to raiden core. (#1383)

Add the chain_id to the balance proof structure in the raiden code.

[2018-06-01 08:55] czepluch opened #1477 "Update API documentation for Red Eyes"
## Problem Definition
With the new TokenNetwork design there will be changes to the [Raiden API](https://github.com/raiden-network/raiden/blob/master/raiden/api/rest.py). We need to make sure this is kept up to date. This is ideally done, when the code is updated. If it is, then this issue should check that it's correct and if the documentation has not been updated according to the code, this issu

[2018-06-01 09:03] LefterisJP opened #1478 "Add function to create Network Graph from events"
Part of integrating the new smart contracts in the raiden core. (#1383)

Add a free-standing function in the raiden repo that will create the network graph from events of the TokenNetwork.sol contract and replace the old behaviour where it was created from a call to the channel manager contract's `channels_addresses()` function. For the purpose of this issue you can simply add the TokenNetwork.sol

[2018-06-01 09:05] loredanacirstea commented on #1478
I understood @hackaugusto 's proposal otherwise: implement this function in the `raiden-contracts` repo, where you can actually test it. Import it or move it in the `raiden` repo when we are ready to integrate.

[2018-06-01 09:06] LefterisJP opened #1479 "Create Smart Contract Proxies that work with the new contracts"
Part of the integration of the new smart contracts into the Raiden core. (#1383)

Create a second version of the smart contract proxies that keeps the same interface but works with the new contracts. Just provide a different name, e.g. `Registry2`. Once they are all done and integration is ready to happen we can remove the old proxies and rename the new ones.

The purpose of this issue is to paral

[2018-06-01 09:07] LefterisJP commented on #1478
It makes little difference. You can also test here if it's a free standing function. Can even be in raiden-libs for all I care.

[2018-06-01 09:16] loredanacirstea opened #1480 "Add compatible event handling for new smart contracts"
Add functions for decoding events and translating them to messages - using the `raiden-contracts` event ABI.
Changes include:
- https://github.com/raiden-network/raiden/blob/master/raiden/blockchain/events.py
- https://github.com/raiden-network/raiden/blob/master/raiden/blockchain_events_handler.py

Scope: parallelize work for integrating contracts. Old functions can be preserved for now.

[2018-06-01 09:28] pcppcp opened #1481 "Deploy contracts using web3"
- [ ] use `web3` to deploy contracts will make code much simpler - `web3.eth.contract()` can encode the constructor parameters and deploy the contract in a few lines of code.
- [ ] investigate which other methods from web3 could help in `raiden-contracts` repo integration

[2018-06-01 09:35] czepluch opened #1482 "Update documentation for install instructions"
## Description
Make sure that the [current docs](https://github.com/raiden-network/raiden/blob/master/docs/overview_and_guide.rst) is easy to follow and provides all the information needed to install Raiden is a fresh Linux and macOS environment.

This issue is an ongoing issue that is dependent on changes to project requirements etc., and should not be considered done until a new user can install

[2018-06-01 10:46] czepluch opened #1485 "Update "Getting started with Raiden API" guide"
## Description

Make sure that the "Getting started with the Raiden API" [guide](https://github.com/raiden-network/raiden/blob/master/docs/api_walkthrough.rst) is up-to-date with the API and try to simplify some of the sentences.

This issue is dependent on https://github.com/raiden-network/raiden/issues/1477 that makes sure that the API docs are up to date.

## Tasks
- [x] Update the API calls ac

[2018-06-01 11:04] czepluch opened #1486 "Write "what is Red Eyes" document"
## Description

Create a document similar to [What is the Raiden Developer Preview](https://raiden-network.readthedocs.io/en/v0.3.0/what_is_the_dev_preview.html) for Red Eyes.

This document should give a brief overview of what Red Eyes is and what it is not.

[2018-06-01 11:11] czepluch opened #1487 "Update "Raiden web application tutorial""
## Description

The [Raiden web application tutorial](https://raiden-network.readthedocs.io/en/v0.3.0/webui_tutorial.html) should be tested to check if it is still valid and working for Red Eyes. If it still works we can consider to update the screenshots to be more recent. If changes are made to how the web application works, the tutorial must be updated to reflect this.

## Tasks
- [ ] Check if

[2018-06-01 11:14] andrevmatos commented on #1475
I'd replace the hardware wallet argument for a more generic "ethereum_client-side signing", which includes the node support for hardwallets. In the case of this usage, we may give limited support for unlocking accounts, and pointing users to node-side specific config, if needed (e.g. parity).

[2018-06-01 11:42] loredanacirstea opened #1489 "Use event arguments check function from raiden-contracts"
Use functions from https://github.com/raiden-network/raiden-contracts/blob/master/raiden_contracts/utils/events.py to replace event argument checks in `raiden` tests.

Todo:
- change `raiden_contracts/utils/events.py` functions to receive an object instead of fixed arguments
- use in tests such as https://github.com/raiden-network/raiden/blob/master/raiden/tests/integration/test_blockchainservice.

[2018-06-01 11:43] LefterisJP opened #1490 "Propagate alarm clock task exceptions"
All exceptions that happen inside alarm clock tasks are ignored and only their stack trace is printed. This can lead to bugs being missed and should be avoided.

Any exception inside the alarm clock tasks **is a bug**. So we should [propagate](https://github.com/raiden-network/raiden/blob/master/raiden/tasks.py#L101) all exceptions from the alarm tasks to the main task and let the exception be rai

[2018-06-01 11:47] pcppcp commented on #1490
see how it's done in MS: every greenlet exception is treated as fatal and will terminate the program

https://github.com/raiden-network/raiden-monitoring-service/blob/master/monitoring_service/server.py#L33

[2018-06-01 12:48] palango commented on #1476
Just to make sure I'm on the right track:

The balance proof structure is both `BalanceProofUnsignedState` and `BalanceProofSignedState`.

So in order to close this we need to:
- Add the chain_id to the classes above
- Fix all invocation to add the chain_id
- Add the chain_id to the messages

[2018-06-01 13:31] #1429 closed

[2018-06-01 14:33] andrevmatos commented on #1460
What's the argument for using binary representation internally? From my point of view, the only reason for that is easing operations with the binary data (e.g. concatenating/composing it with other binary data in a smartcontract call or signing), but it's done so rarely compared to standalone usage (e.g. `pex`/logging, ext-library calls [web3 and friends], rest endpoints), and for these rare first

[2018-06-01 17:06] LefterisJP commented on #1490
Yeah I know that this is possible but in this case it's even simpler. We just need to remove the catch-all exception in tasks.py.

The only other place we use greenlets would be the matrix stuff and I don't wanna enforce exception being an error there, at least not yet -- since I did not write it.

[2018-06-02 08:43] LefterisJP commented on #1460
Perhaps, but this is not the time for such a refactoring and this issue is not the place to discuss it :)

[2018-06-02 12:14] LefterisJP commented on #1356
@hackaugusto @palango @ulope Is this issue still valid?

At the moment if the ethereum client crashes and an `EthNodeCommunicationError` is raised and this is not caught anywhere for retry any longer, but we seem to just shut down. So there would be no case where a different chain id can pop up.

[2018-06-04 08:15] ulope commented on #1490
We should also do this in the `MatrixTransport`, but it will need another pass of checking which exceptions can happen where before we can do that.

[2018-06-04 08:17] LefterisJP commented on #1490
@ulope yeah thought of doing it there too, but I guess one location at a time.

[2018-06-04 08:55] #1490 closed

[2018-06-04 09:47] #1480 closed

[2018-06-04 10:16] hackaugusto commented on #1356
I'd say it's still possible but more unlikely. E.g. with a process watch and changes to config files, the user changes a config file, which changes the network used by the node, the ethereum node is restarted by the process watch.

[2018-06-04 10:36] loredanacirstea opened #1496 "Refactor secret unlock logic"
Secret unlock logic has been changed.  Instead of needing to `unlock` each secret, we now have a batch unlock after the channel has been settled.

TODO:

- [x] add the `SecretRegistry` proxy instance to be available inside the `RaidenService` - https://github.com/raiden-network/raiden/issues/1587
- [x] Take SecretRegistry into account in the state machine - https://github.com/raiden-network/raiden

[2018-06-04 10:58] hackaugusto commented on #1460
We need to choose /one internal/ representation and *stick to it*. The goal here is to avoid encoding errors, e.g.:

[code]

There will *always* be a mismatch on the internal and external representations, that is what encoders are for, changing what we use internally will never fix this.

If we change to `str` we still have to agree on a representation, `0x` prefix or not? checksummed or not? And

[2018-06-04 11:30] LefterisJP commented on #1455
Closing this issue as there has been no reply in 6 days. Please reopen if you have any further problems.

[2018-06-04 11:30] #1455 closed

[2018-06-04 11:36] LefterisJP commented on #1356
We don't have config files for raiden's arguments yet so this would not be relevant for Red Eyes and still quite a corner case. I am removing this from the milestone.

[2018-06-04 11:44] loredanacirstea opened #1498 "Implement channel withdraw logic for setTotalWithdraw"
New smart contracts now have token withdraw functionality.
Note - in the current code, the `withdraw` term is being used by the `unlock` logic. I propose to change reserve this term for the `setTotalWithdraw` related functionality. See https://github.com/raiden-network/raiden/issues/1496 for this.

TODO:

- [ ] add 2 messages: `WithdrawRequest` (for node requesting a withdraw signature from the pa

[2018-06-04 12:33] hackaugusto opened #1499 "Add detailed channel metrics"
Follow up for #1426

These metrics should be add as an aggregate for the WAL state changes. This should go in a new State object that is serialized as part of the snapshot.

Add metrics detailed by target addresses\lock amount. This change will require a serializable implementation of a histogram.

- Needs discussion on the trade-offs
  - [ ] Choose a histogram implementation.
  - [ ] Choose a rep

[2018-06-04 13:06] hackaugusto commented on #1498
Looks good, just two things:

- RaidenNode2 also needs to sign and handle the ContractReceiveChannelWithdraw

[2018-06-04 15:08] pcppcp commented on #1366
my 2c: the configuration and state should not be mixed, otherwise it will lead to confusion, user complaints and house fires
configuration should be stored in simple text file and user should edit it rarely. (like `/etc/` or dotfiles in UNIX).
state is what sqlite in raiden is now and it should be maintained by the app. (`/var`, `/srv` & co. )

If the user needs to change the configuration (and do

[2018-06-04 15:15] LefterisJP commented on #1366
It can be a specific raiden command, like `raiden removedb` but it can be a `raiden validateconfig`.

Good point. I agree, will edit the description.

[2018-06-05 07:59] #348 closed

[2018-06-05 08:58] pcppcp opened #1502 "`test_regression::test_regression_unfiltered_routes`"
When executed on Travis, this test timeouts due to an event (`NewChannel` or `ChannelNewBalance`) not being registered by one of the nodes.

The timeout occurs in `wait_for_channels()` check where one of the node waits for channel deposit being registered indefinitely.

[2018-06-05 11:52] LefterisJP commented on #1496
+1. Be explicit in the naming.

[2018-06-05 11:59] #1476 closed

[2018-06-05 12:20] pcppcp commented on #1481
Fixed by #1484

[2018-06-05 12:20] #1481 closed

[2018-06-05 12:55] palango opened #1508 "Unknown TransferUpdated event"
## Problem Definition

When running `pytest -k test_automatic_dispute -xsv` on latest master (17b96950) the following errors are logged. This hints that `TransferUpdated` events are not handles correctly.

[code]

[2018-06-05 14:34] #1508 closed

[2018-06-05 17:08] hackaugusto commented on #1502
Do you have a copy of the stack trace on a gist or a link to the log from a travis build?

[2018-06-05 17:20] pcppcp commented on #1502
no stack trace unfortunately, only log.

https://travis-ci.org/pcppcp/raiden/jobs/387882435

[2018-06-06 07:26] #1479 closed

[2018-06-06 08:15] loredanacirstea opened #1514 "Implement cooperativeSettle"
`TokenNetwork` contract now has a `cooperativeSettle` method. It needs to be implemented in the Raiden client.

TODO:

- [ ] add a function that computes the final balances of the two channel participants, taking into consideration the `deposit`, `withdrawn`, `transferred`, `claimable_locked`, `unclaimable_locked` amounts for each participant. See https://github.com/raiden-network/spec/blob/4f68af

[2018-06-06 10:00] loredanacirstea opened #1515 "Rename network id to chain id"
We have a naming inconsistency across repos. We use both `chain_id` and `network_id` (in various spelling forms). According to https://github.com/raiden-network/spec/issues/83, we should stick with `chain_id`

[2018-06-06 17:19] paradisensei commented on #1422
@palango I have noticed that `raiden.utils.address_encoder()` and `eth_utils.to_normalized_address()` behave differently upon receiving an empty string as an input argument.

`raiden.utils.address_encoder()` [permits it](https://github.com/raiden-network/raiden/blob/5914517e2665b42f2682f81a8e262a86d3e2ad98/raiden/utils/__init__.py#L118-L119) and returns `0x`.
`eth_utils.to_normalized_address()` [r

[2018-06-06 21:32] palango commented on #1422
Hi @paradisensei , that's an interesting special case. Do you know if this is used inside the Raiden codebase? Other than deploying contracts I can't imagine this is important.

[2018-06-07 09:13] paradisensei commented on #1422
@palango personally I don`t think this is important too.

[2018-06-07 09:17] palango commented on #1422
@paradisensei Cool, just let me know if you run into problems.

[2018-06-07 11:23] loredanacirstea opened #1520 "Update new smart contract proxies to the new ContractProxy"
Implement changes from https://github.com/raiden-network/raiden/pull/1497 in the new `TokenNetwork`, `TokenNetworkRegistry`, `SecretRegistry` proxies.

[2018-06-07 13:42] #1466 closed

[2018-06-07 16:18] #1520 closed

[2018-06-07 19:03] vs77bb commented on #1426
Hi @LefterisJP; @cpurta is taking this on and has a question for you above!

[2018-06-07 22:17] LefterisJP commented on #1426
@cpurta I would say that for now (as far as this issue is concerned) all the metrics can be under a single endpoint.

[2018-06-08 10:19] cryptomental commented on #1408
Ok, the jump start took me longer than expected but I am finally on it. Went through the codebase, contribution guidelines, set up all dependencies locally and I am able to run tests. The cli has a few standalone options and some of them are grouped.

- Standalone
            '--datadir',
             '--keystore-path',
             '--address',
             '--password-file',
             '--regi

[2018-06-08 10:52] loredanacirstea opened #1529 "Where to limit the balance proof's `transferred_amount` - overflow at settlement"
A very big `transferred_amount` can cause an overflow when calculating the settlement amounts. this will cause the participant's tokens to be sent to the other participant.

The issue is where to set a limit to `transferred_amount`, which is going to be relative to the `deposit`.
My proposal is to only set this limit in the Raiden and not in the smart contract.

Reasons:
- `deposit` value can be v

[2018-06-08 10:55] loredanacirstea commented on #1529
@hackaugusto,  @err508, we can continue the offline discussions here with some opinion summaries.

[2018-06-08 11:07] err508 commented on #1529
I can not see how this will solve the problems. Attackers can and will send transactions to the contracts even without having the Raiden-Client installed. I would like to suggest to really focus on secure standalone contracts.

[2018-06-08 11:23] loredanacirstea commented on #1529
@err508 , please propose an implementation then.

[2018-06-08 11:37] err508 commented on #1529
@loredanacirstea
see here for some suggestions:
https://github.com/raiden-network/raiden-contracts/issues/117

[2018-06-08 12:05] andrevmatos opened #1531 "Switch to eth_sign-compatible signatures in core and SCs"
## Problem Definition

We currently sign messages on Raiden simply by signing the hash of the message. By using [eth_sign_sha3](https://github.com/raiden-network/raiden/blob/2df06259496fd10cadd29c8e3f4f5f86289f3940/raiden/utils/__init__.py#L57-L64) as default hasher  in `signing.sign`, and changing the smartcontracts accordingly (should be as simple as prepending the prefix before `keccak256` it),

[2018-06-08 13:02] pcppcp opened #1532 "AttributeError: 'TargetTask' object has no attribute 'token_address'"
greenlet is terminated because of this error in some tests

https://travis-ci.org/pcppcp/raiden/jobs/389686763#979

the exception is raised from here:
https://github.com/raiden-network/raiden/blob/2df06259496fd10cadd29c8e3f4f5f86289f3940/raiden/transfer/node.py#L298

but removing the offending line won't fix the tests: - mediated transfer fails
https://travis-ci.org/pcppcp/raiden/jobs/389706012#L9

[2018-06-08 13:12] LefterisJP commented on #1216
This issue is no longer relevant, especially with all the switches to web3.py functionality.

[2018-06-08 13:12] #1216 closed

[2018-06-08 13:14] hackaugusto commented on #1529
This definitely doesn't exclude proper overflow handling in the smart contracts, but it's important for us to define an upper bound for the transferred amount.

[2018-06-08 13:33] pcppcp commented on #1532
log file for a failed test (`token_address` already removed)
https://gist.github.com/pcppcp/4c1dc34f45bad9572e6482722f0545e5

[2018-06-08 13:44] LefterisJP opened #1533 "Unskip and fix tests in test_restapi.py"
There are a few skipped tests in test_restapi.py.

Find out why they are skipped, fix them and unskip.

[2018-06-09 04:11] dilatebrave commented on #1366
@gitcoinbot -- i got some problems setting up env, i will get this done soon

[2018-06-11 06:11] loredanacirstea opened #1538 "Use balance_hash in balance proof"
Use `balance_hash` in the balance proof - http://raiden-network-specification.readthedocs.io/en/latest/messaging.html#balance-proof.

- Add `locked_amount`, `balance_hash` to all balance proof-related messages & states. These can be set to `0` / `b''` initially or included in duplicated functions.

Some related files:
- `raiden/encoding/messages.py`
- `transfer/balance_proof.py`
- `transfer/state.

[2018-06-11 06:14] loredanacirstea opened #1539 "Make channel deposit idempotent"
New smart contract proxies receive a `total_deposit` value instead of the actual amount of tokens to be transferred at that point in time.
This needs to also be reflected in the rest of the code:

- `new_balance` related states and event handlers should be adapted
- api calls that deal with deposits should be renamed to `set_total_deposit` or similar and should also be made idempotent
- Also edit

[2018-06-11 08:07] hackaugusto commented on #1538
https://github.com/raiden-network/raiden/blob/bb38202c778344ec3795e3301a2f479797469ddb/raiden/messages.py#L294-L312

[2018-06-11 08:58] #1533 closed

[2018-06-11 09:28] hackaugusto commented on #1496
Parent issue: #1383

[2018-06-11 09:28] hackaugusto commented on #1539
Parent issue: #1383

[2018-06-11 09:28] hackaugusto commented on #1498
Parent issue: #1383

[2018-06-11 09:28] hackaugusto commented on #1514
Parent issue: #1383

[2018-06-11 09:28] hackaugusto commented on #1538
Parent issue: #1383

[2018-06-11 09:45] hackaugusto commented on #1478
We don't really need this utility now, since the Raiden node has to watch the token network with filters and handle the events anyway, on the first run it can recover logs starting from block `0`, which will recover the full network.

[2018-06-11 09:46] pcppcp opened #1541 "Create unit tests for new proxies"
Integration of new smart contracts: test basic contracts proxy functionality.

- [x] secret registry
- [x] token network registry
- [x] token
- [ ] token network
  - [x] new_netting_channel
  - [ ] channel_exists
  - [ ] detail_participant
  - [ ] detail_channel
  - [x] deposit
  - [ ] update transfer
  - [x] close
  - [ ] unlock
  - [ ] settle
  - [ ] events filter

[2018-06-11 10:03] palango opened #1542 "Add filter for new TokenNetworks events from the TokenNetworkRegistry"
## Problem Definition

With the new contracts Raiden needs to listen for `TokenNetworkCreated` events emitted by the `TokenNetworkRegistry` contract to learn about token networks.

Part of #1383

[2018-06-11 10:55] LefterisJP commented on #473
As we had discused in the Berlin meeting we would need message encryption for this issue. As we can have message encryption with Matrix transport this could be handled easily then but for Red Eyes we don't want to switch encryption on. As such this issue is going out of Red Eyes.

[2018-06-11 12:59] ulope opened #1544 "Define Transport's public interface via a common base class"
## Problem Definition

Currently both transports (UDP, Matrix) expose a public interface that is only informally specified.
With every change to either, there is a chance that the interface changes without being updated in the other. Also sometimes tests access private members that may not be available in both implementations.

A common base class will help reduce both problems by making the publi

[2018-06-11 15:46] palango commented on #1478
Is there any need for a free-standing function then? If the state machine updates the network representation this should be enough.

[2018-06-11 16:23] cpurta commented on #1243
@ulope I have a WIP PR open to address 3,4 of the task list and left a comment about a fork to address 1. Once the repo is made it should be straight-forward to work on 2 and wrap this up.

[2018-06-11 16:45] #1542 closed

[2018-06-12 08:18] ulope commented on #1243
@cpurta thanks a lot for taking this on!

We've created the [homebrew-raiden](https://github.com/raiden-network/homebrew-raiden) repo now. Can you please fork it and open a PR with your code?

[2018-06-12 08:22] ulope commented on #1366
Actually, @LefterisJP I think the third requirement isn't correct:

IMO the precedence order should be:

1. CLI defaults
1. Config file values
1. Explicitly given CLI options / arguments

[2018-06-12 08:24] palango opened #1549 "Create "fake" proxy for channel"
## Problem Definition
With the old contracts a single `NettingChannel` has an identity on the blockchain and we creates a proxy around this. With the new contracts all channels are managed in the `TokenNetwork`.

To make the refactoring to the new contracts easier we create a fake `Channel` proxy that contains the channel identifier as well as a link to the `TokenNetwork` and provides similar API

[2018-06-12 08:39] ulope opened #1550 "Update PyInstaller script once switch to raiden-contracts is done"
## Problem Definition

We're in the process of switching from the previous smart contracts to using those from `raiden-contracts`.
Once this is done the PyInstaller script needs to be updated to include the pre-compiled contract ABI and compiled code from the new locations.

Additionally, now that #1652 is merged, the smoketest needs to be updated to use the compiled code instead of trying to comp

[2018-06-12 09:37] #1469 closed

[2018-06-12 09:40] LefterisJP commented on #1529
As @err508 said we must have this in the smart contracts or else someone can just brick a channel by manually sending a malicious transaction.

But yes indeed for usability reasons we should also have checks in raiden and have a limit so that for proper use of Raiden overflow via transferred amount never happens.

[2018-06-12 09:42] loredanacirstea commented on #1529
This should be fixed in the smart contract with https://github.com/raiden-network/raiden-contracts/pull/123

[2018-06-12 12:06] palango opened #1552 "test_api_tokens test is flaky on travis"
## Problem Definition

The `test_api_tokens` test fails quite often on travis but I couldn't reproduce it locally. It should be fixed.

Reference: https://travis-ci.org/raiden-network/raiden/jobs/391215308#L879

[2018-06-12 12:43] ulope opened #1554 "Improve API docs with sphinx addons"
## Problem Definition

To further improve our API docs we should start using [sphinxcontrib-httpdomain](https://sphinxcontrib-httpdomain.readthedocs.io/en/stable/) and [sphinxcontrib-httpexample](http://sphinxcontrib-httpexample.readthedocs.io/en/latest/). Both of those will help create docs that make it easier for people new to the project to explore the API while reducing our maintenance effort.

[2018-06-12 13:39] cryptomental commented on #1408
As a side effect I opened a PR to LocalRaiden:

https://github.com/ConsenSys/Local-Raiden/pull/2

This allows to run a local Raiden network with latest Raiden@master and a local test net in minutes.

[2018-06-13 07:16] pcppcp opened #1555 "Include flake8 check for trailing commas"
## Problem Definition

No human being should be ever checking if there's a missing trailing comma in the code - we can offload this onto **A L G O R I T H M S**.

- [ ] add `flake8-commas` to `requirements.txt`
- [ ] run `make lint` to see where the commas are missing (*there's a lot of them*)
- [ ] add trailing commas to make `flake8` happy

[2018-06-13 10:36] LefterisJP commented on #1555
haahah @pcppcp you got pissed didn't you? Didn't know there is a package for this. Great!

[2018-06-13 11:13] pcppcp commented on #1541
Token and TokenNetwork will be addressed in a separate PR

[2018-06-13 11:14] LefterisJP commented on #1366
@ulope We are saying the same thing. By CLI options, I did not mean values given by CLI. Will edit description for clarity.

[2018-06-13 15:00] czepluch commented on #1485
A new and simple guide has been created for now with https://github.com/raiden-network/raiden/pull/1556. We should still update the "Getting started with the Raiden API" documentation too, but I think it is nice to have a very easy to follow guide that can get people started doing payments in a very short time.

[2018-06-13 15:31] hackaugusto commented on #1549
why was this closed? https://github.com/raiden-network/raiden/pull/1551/files#diff-d61d2051073a2ebe26853759137f22caR121

The functions signatures are /not/ matching, therefor this is not a replacemento

[2018-06-13 15:44] LefterisJP commented on #1539
Edited description to add the steps required for this issue. Specifically to mention the API changes needed and the fact that API should also be idempotent in regards to depositing and that changes should also be made to old `nettingchannel` contract so that we can test fast, without changing the contracts to the new `tokennetwork.sol`

[2018-06-14 07:44] hackaugusto commented on #1529
These are the client rules that need to be enforced to avoid overflows:

1. `T1` and `T2` overflow checks must be enforced by the Raiden clients, and we assume they are properly validated, this implies that `0 <= T1 - T2 <= D1` and `0 <= T2 - T1 <= D2`.
1. The withdraw values W1 and W2 are agreed and validated by the Raiden client, where the constraint `W1 <= A1r` and `W2 <= A2r` must be enforced

[2018-06-14 08:49] hackaugusto opened #1561 "Reinstall filters at restart"
### Descritption

At restart we need to catch up with the logs that happened on the blockchain, that means on restart we need to reinstall the filters for all the known token network registries and token networks.

The current implementation relies on the utility methods from the smart contracts to list all the interesting smart contracts and reinstall the filters:

- [Registry.channelManagerAddre

[2018-06-14 08:53] hackaugusto opened #1562 "Write integration tests for the WAL recoverability"
### Description

For a integration tests, do some transfers, kill the apps, and restart. Assert on the expected state after the restart.

## Tasklist

- [ ] Write tests (xfailed) that specify the expected behaviour of a WAL recovery in both the happy path and situations where something changed in between.
- [x] Read from the Write Ahead Log when Raiden starts and replay state changes to get to the

[2018-06-14 08:54] hackaugusto commented on #592
Was done by: https://github.com/raiden-network/raiden/pull/1349

Moved to: https://github.com/raiden-network/raiden/issues/1562

[2018-06-14 08:54] #592 closed

[2018-06-14 09:03] #1387 closed

[2018-06-14 13:08] #1555 closed

[2018-06-14 21:23] vs77bb commented on #1426
@cpurta - are you still working on this issue? If we don't hear from you in a day or so, we may send this back to the crowd!

[2018-06-15 12:01] pcppcp opened #1570 "fix hardcoded path in `tools/install_synapse.sh`"
In the helper script that installs synapse on Travis, variable `$BASEPATH` is hardcoded to use `raiden-network` (which is a Travis username) as a part of its path. This breaks local Travis builds where the username is different (script fails when copying `synapse-config.yml`)

https://github.com/raiden-network/raiden/blob/master/tools/install_synapse.sh#L21

failed build:
https://travis-ci.org/pcp

[2018-06-15 12:07] pcppcp commented on #1570
`.travis.yml` unfortunately uses this hardcoded username as part of the path passed to the `pytest` as well

[2018-06-15 12:11] andrevmatos commented on #1570
I already fixed it as part of the #1435 . PR will follow shortly

[2018-06-15 15:23] pcppcp opened #1573 "Mysterious Error: 401 Unrecognised Access Token"
## Problem Definition

When running tests with matrix enabled, the test sometimes aborts with a 401 error exception.
This error is usually returned by the synapse server if client attempts to use invalid `access_token`.

From examination of the test logs it seems like the Matrix client used by raiden uses a token that belongs to other raiden app (!). This is related to logouts during the test tear

[2018-06-15 16:11] jomuel opened #1575 "Fix skipped matrix transfer tests"
We are currently skipping the matrix versions of four of the tests in `raiden/tests/intgration/transfer` that are failing. They pass when the `network_wait` parameter is set to very high values (3 seconds and more), so they just seem to be slowed down a lot. This may be related to issue #1573, since the same 401 errors can also be seen in the Synapse log when running these tests.

[2018-06-15 16:20] jomuel opened #1577 "End sessions on the Matrix server gracefully"
`MatrixTransport.stop_and_wait` sometimes sends the logout request to the Matrix server before all interactions with it are done. Keep track of all greenlets related to `MatrixTransport`, also those not directly spawned by itself, and join them before logging out.

[2018-06-15 20:29] pcppcp commented on #1573
probably caused by a dictionary instance being used as default argument in `matrix_client`. The fix has already been merged to `master` branch of `matrix_client`.

https://github.com/matrix-org/matrix-python-sdk/pull/236

@ulope @jomuel @andrevmatos
Feel free to try if the fix makes the skipped tests introduced in #1528 work again

[2018-06-16 10:03] #1538 closed

[2018-06-17 14:33] paradisensei commented on #1422
@palango I have one question regarding replacement of `raiden.utils.encode_hex()` with `eth_utils.encode_hex()`.

`eth_utils.encode_hex()` returns 0x prefixed hex whereas `raiden.utils.encode_hex()` returns hex without 0x prefix. So should I add `eth_utils.remove_0x_prefix` to the result of `eth_utils.encode_hex()` or it doesn`t really matter? Asking because I came upon [this test case](https://gi

[2018-06-18 01:35] cpurta commented on #1243
Still working on this issue, PR open in raiden-network/homebrew-raiden.

[2018-06-18 08:34] ulope commented on #1243
@cpurta Thanks, I've approved and merged raiden-network/homebrew-raiden#2.
That means from the tasks listed above only the automated updating of the formula remains.

[2018-06-18 09:59] andrevmatos commented on #1573
@pcppcp I can confirm the fix worked for matrix also in the skipped tests. Working on unskipping them. Thank you!

[2018-06-18 10:05] #1435 closed

[2018-06-18 11:59] palango commented on #1422
Yes, we should aim for that. But I'm worried that this becomes to invasive and we should postpone it a bit. Was that the only problematic part of the code @paradisensei ?

[2018-06-18 12:04] LefterisJP commented on #1561
Working on this one

[2018-06-18 12:35] hackaugusto commented on #217
coop settle was added on https://github.com/raiden-network/raiden-contracts/commit/1d67faa22d7adb3b892ad7ea187b3b0c0cb17ac1#diff-2f6fb78ac7aaf29aaec1ed8ab59468f8

[2018-06-18 12:44] hackaugusto commented on #292
Closing in favor of the more specific issue https://github.com/raiden-network/spec/issues/88

[2018-06-18 12:44] #292 closed

[2018-06-18 12:45] #395 closed

[2018-06-18 13:14] paradisensei commented on #1422
@palango yes, it seems to be so.

[2018-06-18 13:22] hackaugusto opened #1579 "Take SecretRegistry into account in the state machine"
Register filter for the Secret Registry

- [x] Registry a filter for all secrets registered on-chain
- [x] Create a state change for the learned secrets `ContractReceiveSecretReveal` - added in https://github.com/raiden-network/raiden/pull/1560
- [ ] Handle this state change with the proper transfer tasks
- [ ] add an additional mapping to the `NettingChannelEndState` e.g. `secrethashes_to_onchain

[2018-06-18 13:38] LefterisJP commented on #1579
Edited this a bit and added it to Red Eyes as it's required if we are to properly work with a SecretRegistry.

[2018-06-18 14:25] #1539 closed

[2018-06-18 21:11] vs77bb commented on #1243
@ulope @cpurta great progress! I'll be on the lookout for the automated formula updating PR and will pay out upon merge 👍

[2018-06-18 21:12] vs77bb commented on #1408
@cryptomental Thanks for your update and hope you're feeling better!

[2018-06-19 06:33] cryptomental commented on #1408
Thanks @vs77bb , still not fully recovered but much better than it was. I was a bit quiet but kept working on this.

It was straightforward to test 'smoketest' command, but testing normal Raiden cli commands is not that trivial, at least with click framework.

I managed to setup the test with the test fixture that spins up blockchain (blockchain_services) and I am able to start Raiden manually con

[2018-06-19 08:02] hackaugusto commented on #1351
This was done by a few commits, but most importantly this one: 1e05ebd163934ddecf33303a5ebf3ec3a8ac9a18

we are using two messages, Delivered and Processed, each one with a different goal, the first is to guarantee the recipient has stored the message to disk and the second that the message was processed and was valid.

[2018-06-19 08:02] #1351 closed

[2018-06-19 08:22] ulope commented on #1408
@cryptomental Thanks for the update.

Without any code to look at it's difficult to say, but I'm not sure that gevent is actually the problem.
There are various places in the CLI where it waits for user input. This could very well be what you see as 'hanging'.

[2018-06-19 09:25] loredanacirstea opened #1584 "Add on-chain secret reveal if a secret is about to expire"
Integrate the `SecretRegistry` contract and reveal secrets on-chain if they are about to expire

- [x] add `events_for_onchain_secretregister` - `transfer/mediated_transfer/target.py`
- [ ] add events for triggering a `ContractSendSecretReveal` also in `transfer/mediated_transfer/mediator.py`
- [x] add `ContractSendSecretReveal`
- [x] add `handle_contract_secretreveal` in `raiden_event_handler.py`

[2018-06-19 09:44] loredanacirstea commented on #1579
Parent issue: https://github.com/raiden-network/raiden/issues/1496

[2018-06-19 09:57] BCsRock opened #1585 "API call to channel events lists also events from a different channel"
## Problem Definition

Expected:

`curl -X GET 127.0.0.1:5001/api/1/events/channels/0x4dd7e8352fd4f0f84595c5e9ac44878ff611cede?from_block=3400000`

should give me only 2 deposit events:
[Transfer1 ](https://ropsten.etherscan.io/tx/0x1c43d5d2a78bf9a88cb84ce1f9c9d5eb09c47b73b43334b5ce1b10f8b57ac9fa) and [Transfer2](https://ropsten.etherscan.io/tx/0x4dee2c9cb627318eebfe882d95f6283af2b9c6ae0c7a9f254d1

[2018-06-19 10:22] jomuel commented on #1577
Done. (#1581)

[2018-06-19 10:22] #1577 closed

[2018-06-19 10:30] vnblr opened #1586 "Is the RTT (raiden testnet token) not up anymore?"
## Problem Definition
I was trying to play with the setup by syncing with testnet as given in the docs. I am not sure if the issue is with the webUI code or with the latest nodes on the testnet but when I click on the "Tokens" link in the UI, I just do not see any networks. Whereas all docs/videos I have seen (like https://www.youtube.com/watch?v=DDQP9EZ6qJM) shows a token network running called "

[2018-06-19 10:36] vnblr commented on #1586
By the way, most of what I tried is from the https://raiden-network.readthedocs.io/en/stable/webui_tutorial.html link plus a bit of https://raiden-network.readthedocs.io/en/v0.3.0/api_walkthrough.html

This being my first reported issue, hope I have not missed anything fundamental in the reporting bit. Thanks in advance for your patience.

[2018-06-19 10:49] loredanacirstea commented on #1584
@hackaugusto , anything to add in `transfer/mediated_transfer/mediator.py` regarding the secret reveal?

[2018-06-19 11:08] loredanacirstea opened #1587 "Add the SecretRegistry to the App"
- [ ] `SecretRegistry` contract should be deployed on Ropsten, address should be added in `constants.py` as a tuple with the `TokenNetworkRegistry`
- [ ] add the contract instance to `App` - `ui/cli.py`

Related: #1579

[2018-06-19 11:15] loredanacirstea commented on #1587
Parent issue: https://github.com/raiden-network/raiden/issues/1496

[2018-06-19 12:55] loredanacirstea opened #1588 "Add `secret` to the on-chain secret reveal event & handler"
Currently the `SecretRegistry` contract emits only the `secrethash` in the `SecretRevealed` event.

@hackaugusto pointed out that there might be reasons to also add `secret` as an event argument in https://github.com/raiden-network/raiden/pull/1560#discussion_r196386434

Reasons:
- in case we need to register the `secret` again in another `SecretRegistry` contract
- future integration with other l

[2018-06-19 13:10] ulope opened #1590 "Include Synapse as dev requirement once it supports Python3"
## Problem Definition

At the moment Synapse (the Matrix Homeserver implementation written in Python) doesn't support Python 3 yet. From looking at the GitHub repo it seems they are actively working on getting support ready, however.

Due to that we currently have to [jump](https://github.com/raiden-network/raiden/blob/890f57ea50daf8992c4844e99c5925d61b738de6/raiden/tests/conftest.py#L67-L72) thro

[2018-06-19 13:41] LefterisJP commented on #1588
I would say that is costs us very little to add the Secret to the event and that doing so makes it much easier for other applications to monitor secrets that have been registered with the `SecretRegistry` cotnract.

[2018-06-19 15:01] cryptomental commented on #1408
Thanks @ulope I spent a few hours today tried different approaches and currently ended up with a simple Popen and process communication.

The test case 'hangs' indeed at

`Select one of them by index to continue:`

prompt, where the account needs to be selected. If test just waits for this string and tries to write to stdin.write() it fails with a broken pipe. Initially I thought it is related to

[2018-06-19 15:01] palango commented on #1588
Fixed by raiden-network/raiden-contracts#138

[2018-06-19 15:01] #1588 closed

[2018-06-19 15:01] LefterisJP commented on #1585
Which version of Raiden are you using @BCsRock ?

[2018-06-19 15:03] hackaugusto opened #1593 "Handle concurrent secret registration"
- [ ] Add a gevent.lock in the secret registry proxy
- [ ] Forbid two register secret transactions at the same time
  - [ ] The task which obtained the lock sends the transaction, the others wait on the result

[2018-06-19 15:06] cryptomental commented on #1408
I pressed 'stop work' on GitCoin to bring it back to open and allow other people to jump in.

[2018-06-19 15:58] palango commented on #1587
Deployed git `7d18308` to ropsten and verified contract: https://ropsten.etherscan.io/address/0x7862eF1296EeF5Fa55ef056c0cB03FF8D4d49Cf8#code

[2018-06-19 17:35] #1039 closed

[2018-06-19 19:44] ulope commented on #1570
This was fixed in #1572

[2018-06-19 19:44] #1570 closed

[2018-06-20 07:48] loredanacirstea opened #1599 "Change secret expiration from uint64 to uint256"
`expiration` is a block number and it should be as big as possible. There are no downsides of using `uint256`.

`TokenNetwork` contract already expects `uint256` when unpacking data for the batch unlock.

[2018-06-20 08:45] BCsRock commented on #1585
As I was not successful to build raiden from scratch, I went with the pre-combiled binary from the [official release page](https://github.com/raiden-network/raiden/releases)  `raiden-v0.3.0-linux.tar.gz`

So it is `0.3.0`

[2018-06-20 10:30] pcppcp commented on #1573
Fixed by
https://github.com/raiden-network/raiden-libs/pull/93

The tests should be un-skipped:
https://github.com/raiden-network/raiden/issues/1575

[2018-06-20 10:30] #1573 closed

[2018-06-20 10:31] loredanacirstea opened #1601 "Add the SecretRegistry contract to integration tests fixtures"

[2018-06-20 10:47] palango commented on #1541
Fixed by #1564

[2018-06-20 10:47] #1541 closed

[2018-06-20 11:08] loredanacirstea opened #1603 "Rethink safe_to_wait in the context of the SecretRegistry"
Rethink how much should a node wait before sending the secret reveal on-chain transaction.
With the old approach, we would need to take into account the `closeChannel` transaction + all the `unlock` transactions.
Therefore, the current way should be safe, as it waits more that it needs.

https://github.com/raiden-network/raiden/blob/2aad110c9b71b3de2a3ee87bc8aed8e6081ab29c/raiden/transfer/mediated

[2018-06-20 11:15] loredanacirstea opened #1604 "Limit the number of pending transfers to max that can be unlocked"
After a channel close, pending transfers can be unlocked by sending the batched & packed lock data to the `TokenNetwork` contract.

- [ ] Calculate gas cost for the `unlock` transaction and see what is the maximum number or locks that can be unlocked in the same transaction
- [ ] Add the limit in the Raiden client

Parent issue: https://github.com/raiden-network/raiden/issues/1496

[2018-06-20 13:36] #1599 closed

[2018-06-20 14:21] #1587 closed

[2018-06-20 14:37] hackaugusto commented on #1604
this is similar to: https://github.com/raiden-network/raiden/issues/439 . please close one of the issues

[2018-06-20 14:43] loredanacirstea commented on #1604
https://github.com/raiden-network/raiden/issues/439 is better defined. I am closing the current one and adding the older issue to the Parent issue.

[2018-06-20 14:43] #1604 closed

[2018-06-20 15:06] #1549 closed

[2018-06-20 17:14] hackaugusto commented on #514
@LefterisJP [The `ApiTestContext` and monkey patches](https://github.com/raiden-network/raiden/blob/c3c18e31b566f1c209051cdafc64c5fb1219ca4f/raiden/tests/fixtures/api.py) were removed by 9079f8c5e6471744b6c5a10103b16d1cac5883a0, do you think this issue is still relevant?

[2018-06-20 17:26] hackaugusto opened #1611 "Stop processing the channel queue once the channel is closed"
A channel can be closed while there are still messages queued. The queue **for the closed channel** must be stopped.

Follow up for: https://github.com/raiden-network/raiden/issues/454

[2018-06-20 17:28] hackaugusto commented on #454
Closing this since we have a restartable queue for quite some time. Opened a follow up issue for the pending task.

[2018-06-20 17:28] #454 closed

[2018-06-20 17:30] hackaugusto commented on #43
Closing this issue since it's too broad and outdated. The current implementation is vastly improved in comparison to this issue. The smart contracts now support withdraws, efficient batch unlocking, blinding of the balance proofs, and protection against replay attacks.

[2018-06-20 17:30] #43 closed

[2018-06-20 17:34] hackaugusto commented on #864
https://github.com/raiden-network/raiden/issues/43 proposal for the off-chain settlement period:

[2018-06-20 17:35] hackaugusto commented on #360
closing in favor of https://github.com/raiden-network/raiden/issues/1408

[2018-06-20 17:35] #360 closed

[2018-06-20 17:37] hackaugusto commented on #67
Closing this in favor of just the issue #61

[2018-06-20 17:37] #67 closed

[2018-06-20 17:44] hackaugusto commented on #14
closing in favor of https://github.com/raiden-network/raiden/issues/61

[2018-06-20 17:44] #14 closed

[2018-06-20 17:59] LefterisJP commented on #514
Hmm not as first defined. I would say it's still relevant in the fact that most of the stuff that test the python api now should do so through the rest API.

[2018-06-20 18:00] hackaugusto commented on #1154
This issue doesnt makse sense anymore, the channel manager smart contract was removed in favor of the token network

[2018-06-20 18:00] #1154 closed

[2018-06-20 18:08] ulope commented on #61
This has a lot of overlap with #652

[2018-06-20 18:20] hackaugusto commented on #485
related: #1402

[2018-06-20 18:30] hackaugusto commented on #61
@ulope yep, but I assume that #652 will not run on the build, correct?

[2018-06-20 18:47] hackaugusto commented on #1395
Closing this issue since we didn't get a response.

Yes, Raiden can be used with a PoA and in fact we use it for our testing infrastructure with geth. The Raiden binary must be executed pointing to the given PoA network making sure that the flags `--registry-contract-address`, `--secret-registry-contract-address'`, and `--discovery-contract-address` point to the addresses of the smart contracts on

[2018-06-20 18:47] #1395 closed

[2018-06-20 18:55] #1404 closed

[2018-06-20 18:59] hackaugusto commented on #1431
fixed by 7b3b1fc0985ded9d535bbb90f85677066cdcd026

[2018-06-20 18:59] #1431 closed

[2018-06-20 19:03] hackaugusto commented on #1532
@pcppcp is this still a problem? https://github.com/raiden-network/raiden/blob/90f0d39dd9eb2e686b4a3df0fd253e50abb17ea7/raiden/transfer/node.py#L294-L298 the mentioned line is not there anymore

[2018-06-20 19:12] LefterisJP commented on #1460
This should probably be closed. Input both from the CLI and the API are being validated for EIP55. If something is missing open individual issues.

[2018-06-20 19:12] #1460 closed

[2018-06-20 19:13] LefterisJP commented on #1478
Should not be needed after this is achieved: https://github.com/raiden-network/raiden/issues/1561

[2018-06-20 19:13] #1478 closed

[2018-06-20 20:57] #1407 closed

[2018-06-21 07:57] pcppcp commented on #1532
@hackaugusto no it's been fixed in `eth-tester` PR. I'll close this issue.

[2018-06-21 07:57] #1532 closed

[2018-06-21 08:34] palango commented on #1579
When is an secret reveal considered a success? When it allows us to unlock a lock?

[2018-06-21 08:59] loredanacirstea commented on #1579
Should be considered a success when the secret was registered on-chain or was found already registered. A failure (secret is not already registered, but transaction fails) should never happen, so we need to log the error. But this is already done in the `secret_registry` proxy.

The question was - do we need to do anything if it fails, do we need to do anything if it succeeds -> if yes, we need th

[2018-06-21 10:32] ulope commented on #1586
Hi @vnblr, yes the testnet still exists.

The issue you're seeing is a known issue in the Web-UI.
It doesn't show any entries in the token list when it's not receiving the events of their registration.

One case we know of that causes this is using parity with warp-sync since it won't have the complete previous state after warp syncing which leading to missing events.

We'll look into solving this

[2018-06-21 10:49] vnblr commented on #1586
Thanks @ulope
Just to clarify - I am not using parity. I have the testnet fully synced up using geth (1.8.11-stable-dea1ce05). Also I could get microraiden fully working on the same rpc setup. So unlikely there is any problem with the node as such.
In any case, will try and debug and wait for your resolution. Thanks

[2018-06-21 15:15] #162 closed

[2018-06-21 15:19] jomuel opened #1616 "Failing matrix integration tests with eth-tester"
Some integration tests fail when run with the options `--transport=matrix --blockchain-type=tester`. This is probably caused by further concurrency issues in `MatrixTransport`. Examine them next as soon as #1525 is merged.

[2018-06-21 16:23] loredanacirstea opened #1617 "Remove logic for closing the channel if a secret is about to expire"
(work in progress)

- [ ] Remove tests that don't make sense anymore
- https://github.com/raiden-network/raiden/pull/1610#discussion_r197102207

Parent issue: https://github.com/raiden-network/raiden/issues/1496

[2018-06-21 17:11] palango opened #1618 "Add test for #1615"
## Problem Definition

The fix in #1615 should be tested.

[2018-06-21 17:51] #1584 closed

[2018-06-21 18:03] loredanacirstea opened #1619 "Prepare close channel logic for new proxies"
`handle_contract_send_channelclose` - we could add a duplicated function which uses the new proxy & `balance_hash`

https://github.com/raiden-network/raiden/blob/e5817b598028afce52d7a1bcf07e2fef67ed035e/raiden/raiden_event_handler.py#L174

[2018-06-21 18:04] loredanacirstea opened #1620 "Prepare update channel logic for new proxies"
`- handle_contract_send_channelupdate` - duplicate function with new proxy method & `balance_hash`

https://github.com/raiden-network/raiden/blob/e5817b598028afce52d7a1bcf07e2fef67ed035e/raiden/raiden_event_handler.py#L208

[2018-06-21 18:05] loredanacirstea opened #1621 "Make the action of Opening a channel recoverable"
Add `ActionChannelOpen` and process the state change in the WAL

[2018-06-21 18:09] loredanacirstea opened #1622 "Prepare settle logic for new proxies"
- [ ] add settlement data in `ContractSendChannelSettle` (old contracts would only need `channel_identifier`, now we need the entire balance data for both participants)
- [ ] `handle_contract_send_channelsettle` - duplicated, use new proxies, use new state change
https://github.com/raiden-network/raiden/blob/e5817b598028afce52d7a1bcf07e2fef67ed035e/raiden/raiden_event_handler.py#L251

[2018-06-21 18:16] loredanacirstea opened #1623 "Handle old balance proofs used for settlement by the channel partner"
Raiden client keeps the last balance proof data in the channel state.
If the partner uses an older balance proof, there is currently no implemented way to find that data.

As @hackaugusto pointed out, we can either iterate through all the WAL data (bytes encoded) and decode it and check if it is what we are looking for, or change the current storage layout and add an additional table.

The same is

[2018-06-21 18:21] loredanacirstea opened #1624 "Move batch unlock data encoding to the proxy"
`get_batch_unlock` should return a list of locks. The encoding in the proper format needed for the smart contract transaction should be done inside the proxy.

https://github.com/raiden-network/raiden/blob/cd1bd281dfeaa5b6390e1470e9e7545292f3c338/raiden/transfer/channel.py#L693

[2018-06-21 18:25] loredanacirstea opened #1625 "Wait for confirmation of the settle channel transaction before sending the batch unlock transaction"
Now we send the batch unlock transaction after the `settleChannel` event is emitted.
Consider sending it after we receive the number of confirmations needed by the Raiden client.

https://github.com/raiden-network/raiden/blob/cd1bd281dfeaa5b6390e1470e9e7545292f3c338/raiden/transfer/channel.py#L1555

[2018-06-21 18:26] loredanacirstea opened #1626 "Handle on-chain secret reveal for the refund transfer"
We currently already handle the on-chain secret reveal (when no balance proof is provided off-chain) for the `mediator` and `target`.
We need to check if the refund transfer also needs to handle this.

[2018-06-21 18:27] loredanacirstea opened #1627 "Refund transfer needs to also be handled by the mediator"
WIP issue, maybe @hackaugusto can give more details.

[2018-06-21 18:30] loredanacirstea opened #1628 "Off-chain unlock locks that have an on-chain revealed secret, to free up channel balance"
We can remove locks with secrets that have been revealed on-chain and provide proper messages to retrieve an updated balance proof from the channel partner (with the lock amount included in the new transferred amount)

[2018-06-21 21:34] LefterisJP commented on #1625
This is trying to protect us in case of a reorg? If yes then this should be a strategy applied to everything and not just settleChannel

[2018-06-22 09:49] andrevmatos commented on #1627
We've been hitting this error:
[code]

[2018-06-22 10:01] andrevmatos commented on #1575
Fixed in 6242a9be6171415353fee8057624467a226457d7

[2018-06-22 10:01] #1575 closed

[2018-06-22 15:13] #1243 closed

[2018-06-22 15:55] #1579 closed

[2018-06-22 16:33] #1619 closed

[2018-06-22 16:49] LefterisJP opened #1645 "Smoke tests should deploy the contracts and not use precompiled ones"
Since the smoketest is supposed to be the minimal integration tests we have and will always be running, it should be deploying the contracts on its own and not use precompiled contracts stored in the genesis file.

When we do this we can also get rid of the [hacky patch function](https://github.com/raiden-network/raiden/blob/da745f5eff87f4e81ed7b2be5a2ff5cc1d76c359/raiden/tests/utils/smoketest.py#

[2018-06-22 19:30] LefterisJP commented on #1529
@hackaugusto. Thank you for the detailed analysis and the links to the client code where the proper checks are happening. Along with the changes done in the smart contracts in https://github.com/raiden-network/raiden-contracts/pull/123 shouldn't we consider this issue done? Or have I misunderstood something in the scope?

cc @loredanacirstea

[2018-06-22 19:49] #1620 closed

[2018-06-23 00:36] cpurta commented on #1426
Just got some time to work on this one. Picking up where I left off on this.

[2018-06-23 13:22] paradisensei commented on #1422
I'm not sure that replacing `[un]hexlify` is in the scope of the current issue because these functions are not from `raiden.utils` module. And maybe it will be better to create a separate issue for this task for the sake of clarity and not to overflow current issue. @palango @andrevmatos what do you think?

[2018-06-24 23:20] LefterisJP commented on #1627
@andrevmatos That's a nice catch. I looked into our code and indeed that's incorrect and rather funny the tests have not caught it. I am looking into it [here](https://github.com/raiden-network/raiden/pull/1653) but I am not sure if this is the issue @hackaugusto had in mind.

[2018-06-25 06:42] loredanacirstea commented on #1529
The above analysis has outdated parts after https://github.com/raiden-network/raiden-contracts/pull/131.
However, overflows should be handled properly in the smart contracts after the aforementioned PRs.

Overflow limit `transferred_amount + locked_amount < UINT256_MAX` has also been added in the Raiden client in https://github.com/raiden-network/raiden/pull/1567

We can close this issue from my p

[2018-06-25 09:53] palango opened #1654 "Replace [un]hexlify with eth_utils.(en|de)code_hex"
## Problem Definition

Replace `[un]hexlify` with `eth_utils.(en|de)code_hex` wherever possible and ensure hex-encoded strings are kept 0x-prefixed

[2018-06-25 09:54] palango commented on #1422
@paradisensei I opened a follow up in #1654 . Thanks for your help on this issue!

[2018-06-25 09:54] #1422 closed

[2018-06-25 10:02] #1622 closed

[2018-06-25 11:11] LefterisJP commented on #205
Closing this issue in favour of its sub-issues.

Also at least for the Red Eyes scope, snapshot and restartable token swaps are not included so judging by the bullet points this issue is done for red eyes.

[2018-06-25 11:11] #205 closed

[2018-06-25 12:00] loredanacirstea opened #1656 "Re-add check_contract_version"
`check_contract_version`  must be added to the new `ContractManager` and re-enabled in all proxies. E.g.

https://github.com/raiden-network/raiden/blob/55973a312be3138a667f649e6e3032bba9e0717f/raiden/network/proxies/secret_registry.py#L53-L57

[2018-06-25 13:07] palango opened #1658 "Implement BlockchainService.payment_channel(...) function"
## Problem Definition

We need to implement the `BlockchainService.payment_channel(channel_id)` function.

[2018-06-25 13:12] LefterisJP commented on #1603
Since this is an optimization and only client side removed it from the milestone

[2018-06-25 17:07] #1593 closed

[2018-06-26 08:03] hackaugusto commented on #1562
implemented by https://github.com/raiden-network/raiden/pull/1583

[2018-06-26 08:03] #1562 closed

[2018-06-26 08:20] LefterisJP commented on #1529
Since nobody else disagrees with this I am closing the issue as having been handled by:

https://github.com/raiden-network/raiden-contracts/pull/123
https://github.com/raiden-network/raiden-contracts/pull/131
https://github.com/raiden-network/raiden/pull/1567

[2018-06-26 08:20] #1529 closed

[2018-06-26 09:50] #1645 closed

[2018-06-26 11:40] loredanacirstea opened #1663 "Deploy new contracts - tetstnet & test fixtures"
Add deployment logic for new contracts.

We might need duplicated functions & fixtures.

Old contracts are deployed using:
https://github.com/raiden-network/raiden/blob/a8a223b20f6e583b06af7314c945a30a4eef36e2/raiden/network/blockchain_service.py#L214

https://github.com/raiden-network/raiden/blob/a8a223b20f6e583b06af7314c945a30a4eef36e2/raiden/network/rpc/client.py#L336

We already have a test fi

[2018-06-26 13:42] andrevmatos commented on #1616
For completude, what we've found so far about this issue:

Matrix tests sometimes fails and there's no clear information about why.

To debug it, we added changes both to the synapse build and to the smoketest and pytest arguments to allow to run the tests in a self-running synapse server, with `--local-matrix=none`, as well as enabling the webclient to allow peaking in the rooms between test clie