[2019-09-24 08:26] #4937 closed

[2019-09-24 08:29] #3758 closed

[2019-09-24 08:40] czepluch opened #4969 "Add scenario for imbalance fees"
As part of https://github.com/raiden-network/raiden/issues/4748 we need to write a scenario for the imbalance fees.

[2019-09-24 09:47] ulope commented on #4927
Current working theory is that some sort of problem is happening with federation requests between (at least) `transport03` and `transport01`.

As mentioned in chat to help track down the cause please run the following command if you see this issue while running scenarios:
[code]
(please substitute the correct values in the angle brackets).

[2019-09-24 09:55] Dominik1999 opened #4970 "Price Info from PFS not shown correctly or handled correctly"
## Issue checklist

To help us more easily debug your issue please check the boxes for which requirements for safe usage or Raiden were followed:

- [ ] The Ethereum node was always up to date with the chain tip and never stopped running.
- [ ] No Ethereum transaction was sent for the account that Raiden manages by another app.
- [ ] The Ethereum account used by Raiden always had sufficient ETH.
-

[2019-09-24 09:57] palango commented on #4927
[code]

[2019-09-24 10:04] karlb commented on #4970
The numbers are 100 RAI and 1e-16 RDN. 1e18 RAI = 1 RDN, so 100 RAI = 1e-16 RDN.

To me the numbers are right. Do you agree? Do we need a different presentation?

[2019-09-24 10:05] LefterisJP commented on #4970
Perhaps the scientific representation is confusing?

[2019-09-24 10:06] Dominik1999 commented on #4927
[code]

[2019-09-24 10:09] karlb commented on #4970
Yes, no everyone is used to it. But if you are, 1e-16 is a lot easier to read correctly than 0.00000000000000001. We could print it in RAI and hope the the fees are small enough that it stays readable. But then we would expect that people can convert from RAI to RDN.

[2019-09-24 10:09] Dominik1999 commented on #4970
ah ok that was a stupid mistake. Nevermind. Leave it like this :)

[2019-09-24 10:11] #4970 closed

[2019-09-24 10:13] palango opened #4971 "Add scenario for combined mediation fees"
As part of #4748 we need to write a scenario for combined mediation fees.

[2019-09-24 10:17] LefterisJP commented on #4927
Got the same problem running PFS1.

[code]

[2019-09-24 10:46] konradkonrad commented on #4927
Same Problem for MS3.
[code]

[2019-09-24 11:49] agatsoh commented on #4927
I tested this today and on my local machine with the latest SP and latest raiden
[code]

[scenario-player-run_pfs5_too_low_capacity_2019-09-24T16:48:32.log](https://github.com/raiden-network/raiden/files/3646957/scenario-player-run_pfs5_too_low_capacity_2019-09-24T16.48.32.log)

[pfs5_too_low_capacity_node_logs.zip](https://github.com/raiden-network/raiden/files/3646961/pfs5_too_low_capacity_node_

[2019-09-24 12:33] err508 commented on #4927
I think these three logs are interesting, because all nodes are on transport3 here.
It's from a failed run of mfee1_flat_fee.
The user that causes problems is Alice, `cb64`, `16f0` are none of the other nodes, nor the scenario player.

Time line:
-  Scenario run starts at 10:10
-  at 10:11:30.75 Alice is online at transport3
-  at 10:11:30.76 transport1 learns that Alice is online
- at 10:12:10.07

[2019-09-24 12:35] err508 commented on #4927
@palango could you let me know what `cb64` and `16f0` are doing in the scenario, could this be the pfs/ms?

[2019-09-24 13:22] palango commented on #4927
@err508 What are the full addresses

[2019-09-24 14:13] err508 commented on #4927
@palango `0x16f090b46c9eea72478a21f00764e2798d966d0b` and `0xcb645ac5a359fb2c6dd2971cb5f556f6ceb1ea06` but nvm, these are two clients for the presence logging.

[2019-09-24 16:50] pirapira commented on #4763
I unassigned myself because I have some bottleneck work in the smart contracts.

[2019-09-24 16:52] pirapira commented on #4878
I've updated the documentation and it talks about when proxies can raise specific exceptions.  https://github.com/raiden-network/raiden/blob/bdc6aada475224b041d05e5268ced8d72a3e56f5/docs/proxies.rst#a-guide-for-implementing-proxies

[2019-09-24 16:52] #4878 closed

[2019-09-24 16:53] pirapira commented on #4792
I've unassigned myself because I have some bottleneck work in the smart contracts.

[2019-09-24 17:27] palango commented on #4971
Fixed by #4974

[2019-09-24 17:27] #4971 closed

[2019-09-25 08:40] LefterisJP opened #4976 "Stop using web3.txpool.inspect for geth"
## Problem Definition

We have had some special case handling of nonce both for [parity](https://github.com/raiden-network/raiden/pull/2943/files#diff-79ef917c2473698777a5474a23dc119fR42) and for [geth](https://github.com/raiden-network/raiden/pull/2943/files#diff-79ef917c2473698777a5474a23dc119fR52).

The reason for this can be seen in [this](https://github.com/raiden-network/raiden/issues/2933#i

[2019-09-25 08:46] ulope commented on #4866
This is a symptom of #4972 as @czepluch suspected.

I guess we can close it as a duplicate.

[2019-09-25 09:00] Dominik1999 commented on #4866
closed as duplicate

[2019-09-25 09:00] #4866 closed

[2019-09-25 09:00] ulope commented on #4927
After I did a purge of the test transport servers databases the situation seems to have improved for many of the testers but unfortunately not all (I know @czepluch is still seeing the issue).

What I've discovered so far:
- Raiden nodes that experience this issue appear to go offline because:
  - They perform the normal matrix `/sync` long polling http request
  - This triggers a federation reque

[2019-09-25 10:30] rakanalh commented on #4763
I will close the issue for now and consider this done. If any additional requires / asserts need to be checked in the proxies, we can create specific issues for them as we see them.

[2019-09-25 10:30] #4763 closed

[2019-09-25 11:33] #4690 closed

[2019-09-25 12:06] #4976 closed

[2019-09-25 12:43] rakanalh opened #4980 "pack_reward_proof should contain additional arguments"
PR: https://github.com/raiden-network/raiden-contracts/pull/1238

Introduces two additional arguments (`token_network_address` and `non_closing_participant`) which are required to verify the signature of the reward proof.

## Specification

The client has to sign the message according to the new format.
- [x] Update `raiden.utils.packing.pack_reward_proof` function signature
- [x] Update contracts

[2019-09-25 13:37] hackaugusto opened #4982 "Remove the local routing module"
## Abstract

Currently there are two ways for a node to find a route. With the local routing or with the path finding service. Since both do the same thing, and a user should be allowed to run a path finding service locally, there is very little use to the local routing.

## Motivation

There are a few reasons to remove the local routing:

- The path finding service does the same thing, so the loc

[2019-09-25 13:38] jomuel commented on #4613
@lullis I think this is done, is there more work required? Why is it in "Missing Documentation"?

[2019-09-26 09:03] christianbrb commented on #4969
Blocked by https://github.com/raiden-network/raiden-services/issues/554

[2019-09-26 09:20] christianbrb commented on #4739
Updated the issue description as discussed in the daily

[2019-09-26 11:30] #4980 closed

[2019-09-26 11:37] czepluch commented on #4962
But we would have noticed, right? Since the assertions after payments would have different values. I will go through the scenarios anyway to see if there are some places we can add some additional meaningful checks, but I think we have the necessary checks in place in most cases.

[2019-09-26 11:43] Dominik1999 commented on #4962
Thank you!
As far as I can see, in most scenarios, we have no assertion about channel balances after payments. At least in pfs1, pfs2, pfs3, pfs4, pfs5, pfs6, pfs8 and pfs9 we never check the final channel state / balance so we wouldn't see any deducted fees

[2019-09-26 14:59] agatsoh commented on #4739
I was testing on the scenario player for this particular case so I basically created a scenario which is a replica of `bf1_basic_functionality` except that now i specify a matrix server for each of the of the nodes.
My scenario is like [this](https://gist.github.com/agatsoh/8d6a3925ce9ee14cd6a60fd239c67190) and I get and [error](https://gist.github.com/agatsoh/ccd1cdd46796d1b6f039ce7aecf33f9e) in

[2019-09-27 06:42] rakanalh opened #4988 "MS1/MS2 scenarios failed"
Last night's SP run failed. Debug and figure out issues

## Issue checklist

- [ ] Investigate the failure by going through the run logs
- [ ] Write a unit / integration test to simulate the issue
- [ ] Fix
- [ ] Re-run scenarios to make sure the problem is fixed

[2019-09-27 06:42] rakanalh opened #4989 "PFS5 scenario failed"
Last night's SP run failed. Debug and figure out issues

## Issue checklist

- [ ] Investigate the failure by going through the run logs
- [ ] Write a unit / integration test to simulate the issue
- [ ] Fix
- [ ] Re-run scenarios to make sure the problem is fixed

[2019-09-27 06:43] rakanalh opened #4990 "BF1 scenario failed"
Last night's SP run failed. Debug and figure out issues

## Issue checklist

- [ ] Investigate the failure by going through the run logs
- [ ] Write a unit / integration test to simulate the issue
- [ ] Fix
- [ ] Re-run scenarios to make sure the problem is fixed

[2019-09-27 07:38] karlb opened #4991 "What to do with `LockedTransfer.fee`?"
It is in the code base and in the messages that are being sent. But I don’t see it actually being used anywhere. Although it does make sense to have such a field to prevent mediators from taking more fees than the target will allow. It’s better to fail early and provide clear error messages in such cases. Was this the original intention of the field?

Does anyone have a strong opinion on this?

-

[2019-09-27 07:44] LefterisJP commented on #4991
If I recall correctly the idea of the fee field was to determine earlier on the route (and not only at secret request) how much of the total amount is the actual payment and how much is allocated as fees.

I think we had even discussed that this should be called `remaining_fee` and that each mediator would also reduce it. Then perhaps we can fail the transfer at a particular hop and not only at th

[2019-09-27 08:09] agatsoh commented on #4739
Today I run the scenario once more and i get [this](https://gist.github.com/agatsoh/b586ea7ed81e8c0d3aadc677700b3621) exception.
[scenario-player-run_bf1_diff_matrix_node_2019-09-27T10:24:01.log](https://github.com/raiden-network/raiden/files/3661637/scenario-player-run_bf1_diff_matrix_node_2019-09-27T10.24.01.log)
[code]
Though this error might be specifically related to Scenario Player and not t

[2019-09-27 08:25] rakanalh commented on #4988
From the logs, here is the failure:
[code]

[2019-09-27 08:38] #4927 closed

[2019-09-27 08:48] rakanalh commented on #4989
Cause:
[code]

[2019-09-27 08:49] agatsoh commented on #4990
I am running a variant of the `bf1_basic_functionality` scenario in which i use a different matrix server for each node.
The scenario gist as well as all associated logs are attached in here.
1. https://github.com/raiden-network/raiden/issues/4739#issuecomment-535544695
2. https://github.com/raiden-network/raiden/issues/4739#issuecomment-535839266

[2019-09-27 09:33] christianbrb commented on #4990
The scenario @agatsoh is running is a different one

[2019-09-27 09:38] LefterisJP commented on #4990
isn't it the same exact scenario just with different matrix servers as per his comment?

[2019-09-27 09:51] LefterisJP commented on #4990
From the logs this is the assertion error:

[code]

and the exception in a more readable format:

[code]

which is the same as the MS1/MS2 scenarios (seen [here](https://github.com/raiden-network/raiden/issues/4988#issuecomment-535844716))

[2019-09-27 09:53] christianbrb opened #4993 "Raiden node 4 died with non-zero exit status in bf1 scenario with different matrix servers"
## Problem Definition

Running the scenario [bf1_diff_matrix_node](https://gist.github.com/agatsoh/8d6a3925ce9ee14cd6a60fd239c67190), which is the original [bf1 scenario](https://github.com/raiden-network/raiden/blob/develop/raiden/tests/scenarios/bf1_basic_functionality.yaml) with using different matrix servers

The following task started
[code]

...and errored:

`2019-09-26 14:24:51.474995 [erro

[2019-09-27 10:06] christianbrb opened #4994 "Expected number of events (1) did not match the number of events found (0) when running the bf1 scenario with different matrix servers"
## Problem Definition

Running the scenario [bf1_diff_matrix_node](https://gist.github.com/agatsoh/8d6a3925ce9ee14cd6a60fd239c67190), which is the original [bf1 scenario](https://github.com/raiden-network/raiden/blob/develop/raiden/tests/scenarios/bf1_basic_functionality.yaml) with using different matrix servers.

The following task started
`[scenario_player.tasks.base] task=<AssertBlockchainEvent

[2019-09-27 10:07] LefterisJP commented on #4994
This is a duplicate of: https://github.com/raiden-network/raiden/issues/4990#issuecomment-535873450

[2019-09-27 10:50] #4994 closed

[2019-09-27 13:31] karlb commented on #4988
The MS works, but the scenarios expect it to work earlier than it does. The settlement timeout is 500 blocks, but the scenarios only wait 400 blocks because they know that the MS will act as soon as it is allowed and the MSC allows monitoring at latest after 80% of the settlement period.

The problem with this is that the MSC can't actually know the real settlement period due to optimizations in t

[2019-09-27 20:11] #4988 closed

[2019-09-28 16:27] andrevmatos opened #4997 "On-chain ChannelOpen with settle_timeout smaller than configured reveal_timeout causes Raiden to crash"
## Problem Definition

Latest `raiden-contracts v0.32` were deployed on testnets with a smaller `settle_timeout_min=20`, than previous default of `500`, to make testing faster. The default values for `settle_timeout=500` & `reveal_timeout=50` are still hardcoded (which is ok, we can have defaults or configured values higher than minimum), but the problem is Raiden node crashing when a channel is o

[2019-09-28 16:28] andrevmatos commented on #4997
Related: #4905

[2019-09-28 16:41] andrevmatos commented on #4997
Node crash on startup now, account is unusable since even removing the database won't save it, as it'll crash when fetching this event.
Database (before cleanup attempt):
[node_aaaaaa21.tar.gz](https://github.com/raiden-network/raiden/files/3665751/node_aaaaaa21.tar.gz)

[2019-09-28 18:56] andrevmatos commented on #4997
Additionally, webUI doesn't allow to set a `settle_timeout` smaller than 100 when opening a channel. Not sure if it gets this value as double default value, or it's hardcoded, but should be adapted for consistency as well.

[2019-09-28 23:11] andrevmatos opened #4998 "Mediated transfers not working with low but valid settle/reveal timeouts"
## Problem Definition

Testing PFS mediated transfers from Light Client, with low timeouts, break mediated transfers. The confirmation blocks was reduced to 2 on all clients to avoid `2 * confirmation_blocks >= reveal_timeout`, but even then, mediated transfers simply aren't forwarded.
This was performed with 2 fresh raiden accounts on the full nodes, on Goerli, loaded with ETH and TTT tokens. Dir

[2019-09-30 08:19] #4989 closed

[2019-09-30 08:19] #4990 closed

[2019-09-30 15:26] hackaugusto commented on #2687
Note: Adding this would be a bit complicated because of how we handle restarts:

- When a user opt in a new network, we have to dispatch some sort of state change
- Right after the above, the node has to start querying the blockchain for all the events of that token network, since its deployment.

Here is the tricky part, once the node starts fetching the events, somehow it has to know when it is

[2019-09-30 16:38] andrevmatos commented on #4991
I'm starting to implement https://github.com/raiden-network/light-client/issues/246 , and just stumbled on this issue. I have strong opinions about it.
I start from the assumption that, in a payment system, it's a requirement from the sender's perspective that the receiver (target) of a payment/transfer receives exactly what they were supposed to. Not more, not less. I think this is essential for

[2019-10-01 07:55] agatsoh opened #5005 "ms2_simple_monitoring fail Assertion for event `NonClosingBalanceProofUpdated` fails"
Description
=========

[code]

[Scenario_player_Logs-ms2_simple_monitoring-1-latest-2019-10-01.tar.gz](https://github.com/raiden-network/scenario-player/files/3675244/Scenario_player_Logs-ms2_simple_monitoring-1-latest-2019-10-01.tar.gz)

Expected Behavior
===============
SP should be able to assert for the event `NonClosingBalanceProofUpdated`

[2019-10-01 07:57] agatsoh opened #5006 "ms1_simple_monitoring fail Assertion for NonClosingBalanceProofUpdated failed"
Description
=========

[code]

[Scenario_player_Logs-ms1_simple_monitoring-1-latest-2019-10-01.tar.gz](https://github.com/raiden-network/scenario-player/files/3675257/Scenario_player_Logs-ms1_simple_monitoring-1-latest-2019-10-01.tar.gz)

Expected Behavior
===============
Scenario player should be able to assert on the `NonClosingBalanceProofUpdated` event

[2019-10-01 07:58] agatsoh opened #5007 "bf1_basic_functionality fail"
Description
=========

[code]

[Scenario_player_Logs-bf1_basic_functionality-1-latest-2019-10-01.tar.gz](https://github.com/raiden-network/scenario-player/files/3675208/Scenario_player_Logs-bf1_basic_functionality-1-latest-2019-10-01.tar.gz)

Edit:
Individual node logs for yesterdays run can be downloaded from here
http://68.183.70.168/bf1-nodes.tar.gz
if above link does not work then download fro

[2019-10-01 07:59] agatsoh opened #5008 "pfs4_use_best_path fail Error in fee calculations"
Description
=========
Seems like an error in fee calculations

`
 f'Value mismatch for \"{field}\". '\nscenario_player.exceptions.legacy.ScenarioAssertionError: Value mismatch for \"balance\". Should: \"999000000000000000\" Is: \"1000000000000000000\" Channel: {'partner_address': '0xFA69302C97320a37b2317F95091dC101327299F0', 'channel_identifier': 547, 'reveal_timeout': 50, 'token_address': '0x6208

[2019-10-01 08:09] czepluch commented on #4963
Fixed with https://github.com/raiden-network/raiden/pull/4987

[2019-10-01 08:13] #4963 closed

[2019-10-01 08:14] czepluch commented on #4962
Fixed with https://github.com/raiden-network/raiden/pull/4987

[2019-10-01 08:14] #4962 closed

[2019-10-01 08:25] czepluch opened #5004 "PFS4 fails with wrong path"
The PFS4 scenario fails with this both locally and on the nightlies sometimes. It seems to not be deterministic which path is chosen in the scenario. I'd assume that the PFS would always choose the shortest path. But it could also be transport related.

The scenario is supposed to use the path with just one mediator, but in the failing case, a transfer goes through, but according to the failing as

[2019-10-01 09:03] #3387 closed

[2019-10-01 09:12] Dominik1999 commented on #5004
duplicate to #5008

[2019-10-01 09:12] #5004 closed

[2019-10-01 09:23] czepluch commented on #5004
Well technically it's the other way around, but no worries ;)

On Tue, 1 Oct 2019, 11:12 Dominik Schmid, <notifications@github.com> wrote:

[2019-10-01 09:55] rakanalh commented on #4982
Since we've discussed this before, i am going to bring up the question of what to use in integration tests if we don't have a fallback? I guess rather than removing local routing, we could make it a module of the tests package so that it is used to calculate routes for tests.

[2019-10-01 09:59] Dominik1999 commented on #5008
@agatsoh the logs of the nodes are empty. Can you please provide the correct logs and check every time if everything is there?

[2019-10-01 10:17] konradkonrad commented on #4991
I am not sure if I can follow:
- with source routing, there are no alternative routes, right?

- for a diverted transfer (i.e. multi-route transfer with a single lock), a node would need to send different locked transfers, right?
- for trying multiple routes, the initiator **must** use different locks, so of course the initiator would set different `fee` values for those, right?

With the three po

[2019-10-01 10:49] kilrau commented on #4298
Can we bump up prio on this one?

[2019-10-01 11:45] LefterisJP commented on #4298
Hey Kilian, this definitely won't be in Alderaan, but perhaps we can put it in a minor release after it.

Is it that important to you?

[2019-10-01 11:54] kilrau commented on #4298
That works.

Yes, directly after https://github.com/raiden-network/raiden/issues/3945 /  https://github.com/raiden-network/raiden-contracts/issues/1216 (which enables multi-hop channels for our use case).

Why is it important: our users are managing all ETH funds with *one* keystore file generated by `xud` and governed by raiden. Without above functionality there is just no clean way to move ETH f

[2019-10-01 11:59] Dominik1999 commented on #5008
ok so locally, it seems to run into a race condition.

- for the pfs the shorter path over node 4 does not have enough capacity
- this might be caused by the reason that the capacity update of node 4 is sent to the pfs only shortly before the path is requested
- this happened in my local run when node 4 was last in channel opening and depositing

I added a `wait_blocks: 2` before the transfer and

[2019-10-01 12:02] ulope commented on #4634
We upgraded to synapse 1.4.0rc1 for now.

Once 1.4.0 is released we can switch to that.

[2019-10-01 12:02] #4634 closed

[2019-10-01 12:13] #5008 closed

[2019-10-01 12:30] LefterisJP commented on #4298
All right.

But one question that also @rakanalh brought up.

Why do you need the unlocking of the account as a separate action? That will have no benefit for you.

[2019-10-01 12:33] andrevmatos commented on #4991
@konradkonrad the `result` from a PFS request is an array, which can contain multiple routes, and the `metadata.routes` passed in the `LockedTransfer` also is an array which can contain multiple routes to be _tried_. I'm not sure if it's used right now, but as per protocol, it seems we allow multiple routes to be passed and tried on each mediator (if transfer is refunded there), but there's no spe

[2019-10-01 12:54] rakanalh commented on #4998
I am seeing the exact same issue in my PR: for #4999 when decreasing the reveal timeout * settle timeout. I am currently investigating this one.

[2019-10-01 13:15] kilrau commented on #4298
Fair question. Let's look at the facts: the raiden client can't use the eth keystore/account after start, it has to be "unlocked" first. The question is *how* we want to unlock.

Reasons why we think a separate `unlock` api call similar to https://api.lightning.community/#unlockwallet makes sense:
* Storing a password file with the password to unlock the keystore file in the same directories is no

[2019-10-01 13:21] Dominik1999 commented on #5007
@agatsoh can you also here please provide the logs with the logs of nodes? also here the folders are empty and we need that for debugging. Can you please make sure that we have everything together in the morning when there is a scenario fail?

Thank you for taking care of that

[2019-10-01 13:23] Dominik1999 commented on #5007
and the first error in the issue you created seems not to be an error

[code]

We expect that there is no route available, right? you can see that in the `task:` we expect a `409`

[2019-10-01 13:31] agatsoh commented on #5007
I will try to update the node logs here.

[2019-10-01 13:35] Dominik1999 opened #5011 "Raiden Settings Management - to be able to set fees and monitoring during run time"
## Abstract

As a user I want to be able to set fees and enable monitoring per channel on my Raiden node. A user wants to set those settings while Raiden is running via the command line and via the WebUI. The user also wants to see how much she earned with fees.

This is a meta issue and needs to be divided into several sub-issues to be tracked on the Raiden Client project board.

## Motivation

A

[2019-10-01 13:43] LefterisJP commented on #4298
Raiden has no concept of unlocking a key during the run. Once it starts it unlocks and keeps the unlocked private key in memory.

And from then and on raiden signs all transactions, and messages itself and then broadcasts it to either the ethereum network or sends its to its off-chain partners via matrix.

[2019-10-01 14:25] Dominik1999 commented on #5007
@agatsoh can you change the title of the scenario and the initial post to delete the first error (which is intended behavior)?

[2019-10-01 14:48] rakanalh commented on #4998
Investigated the issue and figured out the following:

Setting lower reveal timeouts(say 20) on a node level means that this node will use the reveal timeout to calculate the lock expiry for any outgoing transfer. However, for the receiving node, the default value is used (50 in settings.py). This means that as soon as the receiving node gets the transfer, it will not send a `SecretRequest` becaus

[2019-10-01 14:51] rakanalh commented on #4997
#4999 will resolve this issue because the condition which crashes the node was removed. However, having a settle timeout that is smaller than the reveal timeout will make the channel unusable for mediating transfers. (See: `is_channel_usable_for_new_transfer`)

[2019-10-01 19:22] #4905 closed

[2019-10-01 19:22] #4997 closed

[2019-10-01 19:25] andrevmatos commented on #4998
@rakanalh I'm not sure this was specifically the issue that happened here. The mediating and target nodes were configured with same timeouts, and also the receiver actually never got the message, as you can see in the mediator logs, `ActionInitMediator` is fired but no `LockedTransfer` is ever sent.
Funny enough, I hit this issue again today, with default confirmation blocks (`5`), `settle_timeout

[2019-10-01 19:30] rakanalh commented on #4998
One thing you can do is run `python tools/debugging/replay_wal.py` and see what events were emitted when the `ActionInitMediator` is received. I suspect that it has something to do with `is_safe_to_wait`. You can PDB in the state machine and follow the logic to figure out what happens. If you're able to do this, let us know what you find please.

[2019-10-01 20:27] andrevmatos commented on #3390
Update: seems like `eth-account` already has almost the exact interface we came with on the `LocalSigner`: https://eth-account.readthedocs.io/en/stable/eth_account.signers.html#module-eth_account.signers.base
So, instead, I propose we should remove our `Signer` & `LocalSigner` completely, replace them with `eth-account` accounts, which expose exactly `address`, `sign_message` & `sign_transaction`

[2019-10-02 06:05] agatsoh commented on #5007
@Dominik1999 I updated my original comment for the Issue with what I found as well as a link to download the logs.

[2019-10-02 08:22] agatsoh opened #5012 "PFS4 use best path fail, Value mismatch error"
## Problem Definition

Scenario Player fails with the `Value Mismatch` error
`Value mismatch for \"balance\". Should: \"999000000000000000\" Is: \"1000000000000000000\" `
[code]

[Scenario_player_Logs-pfs4_use_best_path-1-latest-2019-10-02.tar.gz](https://github.com/raiden-network/raiden/files/3680103/Scenario_player_Logs-pfs4_use_best_path-1-latest-2019-10-02.tar.gz)

[2019-10-02 08:30] pirapira opened #5013 "Proxies should perform precondition checks only when gas estimation fails?"
Currently, proxies make many RPC calls for precondition checks, even when the operation eventually succeeds.  However, since proxies trust the smart contracts, when gas estimation succeeds at the given block, the proxies can believe that the given block satisfies the preconditions.

So, we can perform precondition checks only when the gas estimation fails.  That saves some RPC calls.

[2019-10-02 08:37] agatsoh opened #5014 "PFS5 too low capacity fail, Value mismatch error"
## Problem Definition
Scenario fails Assertion for Value mismatch
`Value mismatch for \"balance\". Should: \"500000000000000\" Is: \"1500000000000000\"`
[code]

[Scenario_player_Logs-pfs5_too_low_capacity-1-latest-2019-10-02.tar.gz](https://github.com/raiden-network/raiden/files/3680178/Scenario_player_Logs-pfs5_too_low_capacity-1-latest-2019-10-02.tar.gz)

[2019-10-02 08:39] czepluch commented on #5012
That makes very little sense. So the payment in the scenario should be successful since we assert that it returns status code `200` [here](https://github.com/raiden-network/raiden/blob/develop/raiden/tests/scenarios/pfs4_use_best_path.yaml#L57), but still the first assert after that is successful from 0 to 4, but 4 to 3 does not assert correctly [here](https://github.com/raiden-network/raiden/blob

[2019-10-02 08:42] agatsoh opened #5015 "PFS6 simple path rewards fails, Value mismatch"
## Problem Definition

Scenario fails the Assertion due to value mismatch
`Value mismatch for \"balance\". Should: \"1001000000000000000\" Is: \"999000000000000000\" `

[code]

[Scenario_player_Logs-pfs6_simple_path_rewards-1-latest-2019-10-02.tar.gz](https://github.com/raiden-network/raiden/files/3680193/Scenario_player_Logs-pfs6_simple_path_rewards-1-latest-2019-10-02.tar.gz)

[2019-10-02 09:01] czepluch commented on #5005
This passed locally yesterday and in the scenario run this night. All the problems related to this seems to have been fixed. Closing until we potentially see this again

[2019-10-02 09:01] #5005 closed

[2019-10-02 09:03] czepluch commented on #5006
Passed locally and in the nightlies. Closing for now

[2019-10-02 09:03] #5006 closed

[2019-10-02 09:12] agatsoh opened #5016 "PFS3 multiple paths fail, Value Mismatch Error"
## Problem Definition
PFS3 scenario fails in Assertion for Value Mismatch

`Value mismatch for \"balance\". Should: \"999000000000000000\" Is: \"1000000000000000000\"`

[code]
[pfs3_multiple_paths.zip](https://github.com/raiden-network/raiden/files/3680318/pfs3_multiple_paths.zip)

[2019-10-02 09:25] palango commented on #5011
Just two links:
- https://github.com/raiden-network/raiden/issues/4951
- https://github.com/raiden-network/raiden/issues/4755

[2019-10-02 09:49] agatsoh opened #5019 "PFS1 get simple path fail, Value Mismatch Error"
## Problem Definition
Scenario fails Assertion for Value Mismatch Error

`Value mismatch for \"balance\". Should: \"999000000000000000\" Is: \"1000000000000000000\" `

[code]

[pfs1_get_a_simple_path-2019-10-2.zip](https://github.com/raiden-network/raiden/files/3680497/pfs1_get_a_simple_path-2019-10-2.zip)

[2019-10-02 09:58] rakanalh opened #5022 "Write thorough tests for the resolver functionality"
## Acceptance Criteria:
- [ ] Write tests for the resolver to cover 3 cases:
  - Should return `False` if `resolver_endpoint` is not specified
  - Should return `False` when the lock expires
  - Should return `False` when secret is not found in the resolver.
  - Should dispatch `SecretReveal` when the request succeeds.

[2019-10-02 12:01] LefterisJP commented on #5012
PFS4 passes for me with latest develop locally after merging https://github.com/raiden-network/raiden/pull/5018

[2019-10-02 12:23] LefterisJP commented on #5014
PFS5 passes for me with latest develop locally after merging #5018

[2019-10-02 12:34] czepluch commented on #5012
I don't see how that PR is relevant for the PFS scenarios though.

[2019-10-02 12:45] hackaugusto commented on #4369
Not all tests were covered. Example: https://circleci.com/gh/raiden-network/raiden/82547#artifacts/containers/2

[2019-10-02 12:51] LefterisJP commented on #5015
PFS6 passes for me with latest develop locally after merging #5018

[2019-10-02 13:00] LefterisJP commented on #5012
Hmm you are right. It changes nothing PFS related. So maybe this is a false equivalency on our side. Perhaps the best thing to say is I can't reproduce this anymore.

[2019-10-02 16:09] palango opened #5026 "Overflow in imabalance fee calculation"
[code]

[2019-10-02 16:10] palango commented on #5026
@kelsos This is the same bug you ran into.

[2019-10-02 16:12] palango commented on #5026
Can the case `o == 0`  happen?

[2019-10-03 12:05] czepluch commented on #5016
Passed in the nightly run, but still fails locally for me as of October 3rd.

[2019-10-03 12:06] czepluch commented on #5019
Passed in the nightly run, but still fails locally for me as of October 3rd.

[2019-10-03 12:06] czepluch commented on #5015
Passed in the nightly run, but still fails locally for me as of October 3rd.

[2019-10-03 13:15] LefterisJP commented on #5015
Are you sure you are using latest raiden locally?

[2019-10-03 13:15] LefterisJP commented on #5019
@czepluch Perhaps we should keep only 1 issue open for these PFS stuff? It's the same reason obviously and it seems only you and @agatsoh get it now since the nightly run passed.

[2019-10-04 06:47] czepluch commented on #5019
@LefterisJP good point. @agatsoh can you take care of combining them into one issue?

[2019-10-04 10:40] agatsoh opened #5028 "PFS3 multiple paths - Value mismatch for \"balance\""
## Problem Definition

`Value mismatch for \"balance\". Should: \"999000000000000000\" Is: \"1000000000000000000\"`

[code]

The SP should be able to Assert the correct values

[2019-10-04 10:54] agatsoh commented on #5016
Duplicate of #5019

[2019-10-04 10:54] #5016 closed

[2019-10-04 10:54] agatsoh commented on #5015
Duplicate of #5019

[2019-10-04 10:54] #5015 closed

[2019-10-04 10:54] agatsoh commented on #5014
Duplicate of #5019

[2019-10-04 10:54] #5014 closed

[2019-10-04 10:55] agatsoh commented on #5012
Duplicate of #5019

[2019-10-04 10:55] #5012 closed

[2019-10-04 12:43] pirapira opened #5029 "Why does TokenNetwork deployment involve a staticcall?"
https://goerli.etherscan.io/tx/0x5c5075573ae834538fcab2ed00a9e07f87529ff458baff28f361e1fae85db8d2#internal shows some staticcall.  I thought staticcall was somewhat deprecated favoring delegatecall.  Why is staticcall still being used?

[2019-10-04 12:43] pirapira commented on #5029
This belongs to contracts.

[2019-10-04 12:43] #5029 closed

[2019-10-04 14:13] andrevmatos commented on #4991
@Dominik1999 I think the accumulated fee approach doesn't need the 5% increase on the mediators. Each of them can simply add and forward exactly their fee, which may or may not be larger than initial estimation due to imbalance fees, and upon SecretRequest, despite the total fee being -5, 0, 5 or 10% larger than PFS's estimation, the initiator can evaluate and decide to pay exactly the value it re

[2019-10-04 14:14] Dominik1999 commented on #4991
@karlb @andrevmatos @rakanalh let's have a call about this on Monday 07.10.

Can you @andrevmatos describe in 3 bullet points what exactly your problem at the light client is that you try to solve?

[2019-10-04 14:28] andrevmatos commented on #4991
I'd say our problem is more conceptual than technical:
- From light-client/payer's perspective in a payment system, it should be a requirement to be able to pay an exact amount to a target, not more, not less.
- It's preferable a payment fails earlier (to avoid locking funds unnecessarily along the route) than be "completed" with wrong amount, or failing later because it ended being a different va

[2019-10-04 15:05] karlb commented on #5026
We worked around this by further decreasing the maximum exponent. But we should still verify that
* this does not cause bad curves in some cases
* prevents overflow in all cases

[2019-10-04 16:23] Dominik1999 commented on #4969
closed by #5031

[2019-10-04 16:24] #4748 closed

[2019-10-04 16:24] #4969 closed

[2019-10-04 16:25] Dominik1999 commented on #5007
@rakan you fixed that, right?

[2019-10-06 12:31] #3696 closed

[2019-10-07 07:45] Dominik1999 commented on #4993
@rakanalh can you close this issue if it is already solved (which I believe so) or assign someone to investigate

[2019-10-07 07:46] Dominik1999 commented on #5028
@christianbrb here we need the logs together with the logs of the nodes to investigate

[2019-10-07 07:47] Dominik1999 commented on #5019
@rakanalh can you close this issue if it is already solved (which I believe so) or assign someone to investigate

[2019-10-07 08:11] rakanalh commented on #5007
yup

[2019-10-07 08:11] #5007 closed

[2019-10-07 08:12] rakanalh commented on #4993
Closing.

[2019-10-07 08:12] #4993 closed

[2019-10-07 08:27] Dominik1999 commented on #5026
closed by #5024

[2019-10-07 08:27] #5026 closed

[2019-10-07 08:38] rakanalh commented on #5019
This was fixed.

[2019-10-07 08:38] #5019 closed

[2019-10-07 09:50] #4739 closed

[2019-10-07 10:02] #539 closed

[2019-10-07 10:06] rakanalh commented on #1544
Closing. At the moment, Raiden has one transport as UDP was removed. This could be done as part of integrating a new transport into Raiden.

[2019-10-07 10:06] #1544 closed

[2019-10-07 10:09] rakanalh commented on #1726
@ulope do we still need to do this?

[2019-10-07 10:22] rakanalh commented on #1861
Going back to the issue's description, Raiden currently fails with `InsufficientFunds` if the transaction's gas estimation fails because of lack of funds. This will cause the node to crash if the proxy is used in the event handler because the exception is not handled there. In some Rest API handlers, the exception is handled but the context is wrong (example: deposit also raises `InsufficientFunds

[2019-10-07 10:30] rakanalh commented on #3205
Closing this because it hasn't popped up recently.

[2019-10-07 10:30] #3205 closed

[2019-10-07 10:37] rakanalh commented on #3614
@palango is this issue still valid?

[2019-10-07 10:39] rakanalh commented on #3645
`BrokenPreconditionError` was introduced.

[2019-10-07 10:39] #3645 closed

[2019-10-07 10:40] konradkonrad commented on #3535
@BOR4 is this still an issue for you? from here https://hub.docker.com/r/raidennetwork/raiden looks alright

[2019-10-07 10:48] rakanalh commented on #3693
Is this still the case? @pirapira could you please advise here?

[2019-10-07 11:44] palango commented on #3614
If nobody did this then yes.

[2019-10-07 12:08] konradkonrad commented on #3535
@BOR4 feel free to re-open, if this issue still exists!

[2019-10-07 12:08] #3535 closed

[2019-10-07 12:21] andrevmatos commented on #3614
Just FYI, related: https://github.com/raiden-network/light-client/pull/194#discussion_r298202190
In the LightClient, current implementation uses `io-ts` schemas which declare the BigNumber types and support decoding them both from JSON numbers or strings.

[2019-10-07 12:39] BOR4 commented on #3535
no need now it looks great!

[2019-10-07 13:10] agatsoh opened #5042 "Falling back to eth_sync api"
## Problem Definition

While starting raiden get this
[code]
These logs are seen both while using the brainbot eth nodes as well as on infura.

Though it has absolutely no effect and raiden seems to work fine with respect to all its functions.

[2019-10-07 13:11] taleldayekh opened #5043 "Payment could not be completed"
I tried to pay via a channel that was opened automatically when I joined the TestToken token network and kept getting a message saying: “Payment could not be completed because there is no route available”.

I also tried to make a payment to another of my own nodes that I had opened a channel directly with and got the same message on the first couple of tries before the payment went through. This s

[2019-10-07 13:15] taleldayekh opened #5044 "Nonce too low"
My Raiden node just shut down after approx 1h 20 min throwing this error: `FATAL: An unexpected exception occured. A traceback has been written to /tmp/raiden-exception-2019-10-07T12-49p_by1i8n.txt
{'code': -32000, 'message': 'nonce too low'}`

Raiden 0.200.0rc1
[raiden-debug_2019-10-07T11:28:06.284028.log.zip](https://github.com/raiden-network/raiden/files/3697553/raiden-debug_2019-10-07T11.28.06

[2019-10-07 14:45] #5042 closed

[2019-10-07 15:04] agatsoh opened #5047 "Mediated transfer failing on stopping a mediated node"
## Problem Definition

I am doing mediated transfers through a script which does 10 mediated trasnfers one after the other in a loop. if even for one mediated transfer it does not get the correct response(ie 200) it breaks off.
`A --> B --> C`
After doing atleast 5 or 6 I stop node B. And my script also breaks off.

[code]

The script which I use

[code]
The failure for the initiating node to wait

[2019-10-07 15:38] taleldayekh opened #5048 "Insufficient ETH crashes node when channel is closed via another node"
I'm running two nodes that have a channel open with each other. One has ETH the other has no ETH. When I close the channel from the node that has ETH it crashes the node that has no ETH.

```ValueError: {'code': -32000, 'message': 'insufficient funds for gas * price + value'}```

[node_83beef70.zip](https://github.com/raiden-network/raiden/files/3698262/node_83beef70.zip)
[raiden-debug_2019-10-07T

[2019-10-07 16:28] agatsoh commented on #5043
I am getting the same error in mediated transfers. After a few hours of letting the nodes stay idle and then restarting them. Direct transfers work. but in case of one hop or two hop mediated transfers we get the following messages.
`Payment couldn't be completed because: there is no route available`
`A payment of 10 of the token 0x95B2d84De40a0121061b105E6B54016a49621B44 is being sent to the part

[2019-10-07 16:50] palango commented on #5048
Besides that crash there's also this scary message in the logs:
[code]

[2019-10-07 19:10] pirapira commented on #3693
0.5.9 didn't work https://github.com/raiden-network/raiden-contracts/issues/1155#issuecomment-520518080  I don't know why.

[2019-10-08 08:24] Dominik1999 commented on #5028
@christianbrb can you provide us with the node logs here? I think this issue was already resolved but I want to check

[2019-10-08 08:32] nephix opened #5049 "Docker hub tags outdated raiden version as latest"
## Problem Definition

When pulling the docker image `raidennetwork/raiden:nightly`, `raidennetwork/raiden:latest` or `raidennetwork/raiden:v0.200.0-rc1` I would expect to get the latest RC.

## Actual result
Docker pulled the version `0.100.5a1.dev504+g68448ac97`:
[code]

### System Description

[code]

[2019-10-08 09:21] rakanalh commented on #5044
Talel did an on-chain transaction through metamask while the Raiden node is running causing the nonce to increase outside of Raiden making Raiden's local nonce invalid. This breaks the exclusive access rule to the Raiden client.

[2019-10-08 09:21] #5044 closed

[2019-10-08 09:21] konradkonrad commented on #5044
@taleldayekh Did you read and comply with:
https://raiden-network.readthedocs.io/en/stable/overview_and_guide.html#requirements-for-safe-usage

I am asking, because I see this transaction:

https://rinkeby.etherscan.io/tx/0x75e6008de6d1dac57402229599d7985dd2fdefd707e665c59867d5b380524327 at Oct-07-2019 12:29:18 PM +UTC (block explorer time)

[2019-10-08 09:22] nephix commented on #5043
I'm having the exact same issue

[2019-10-08 09:25] rakanalh commented on #5047
Duplicate of https://github.com/raiden-network/raiden/issues/5043

[2019-10-08 09:25] #5047 closed

[2019-10-08 10:02] taleldayekh opened #5050 "Raiden tries to put log files in root on macOS Catalina"
After updating to macOS Catalina Raiden is trying to write log files to root resulting in this error on startup:

```[Errno 30] Read-only file system: '/raiden-debug_2019-10-08T09:54:50.200291.log'```

[2019-10-08 10:06] konradkonrad commented on #5049
It seems, that the container was build from the `develop` branch, since on the master branch `python setup.py --develop` [returns the correct RAIDENVERSION](https://github.com/raiden-network/raiden/blob/cdffdde4a66f7eacec97ee77d3f39954f0b857ed/.circleci/config.yml#L103).

[2019-10-08 10:20] taleldayekh commented on #5050
To circumvent this error that happens in Catalina user has to add the Raiden binary to "Full Disk Access" in the "Security & Privacy" settings. **System Preferences -> Security & Privacy -> Privacy**

Raiden also needs to be started with the --log-file flag and --debug-logfile-name flag.

This should be documented if no better solution is found to handle the security changes in Catalina.

[2019-10-08 10:25] rakanalh commented on #5043
As far as i could see in the logs for target node `0x83BEef7079F3cb453CF96d8Dac04F4E199D888F6`:

The node's last known presence state was REACHABLE:

[code]

Once the payment is initialized, Raiden queries the PFS for routes to be able to send the payment forward. However, the PFS returns **zero** routes for the payment.
[code]

Making the payment ffail because of the lack of routes.

[2019-10-08 10:43] rakanalh commented on #5047
@agatsoh could you please attach the database for the initiator node?

[2019-10-08 10:49] rakanalh commented on #5049
@konradkonrad where do we build/push the docker container?

[2019-10-08 11:08] taleldayekh commented on #5050
I got another PermissionError. Have successfullt started two nodes using the solution in the previous comment. When I try to start a third node I get:

```PermissionError: [Errno 13] Permission denied: '/Users/taleldayekh/.raiden/node_0faa9bcd/netid_4/network_07147fe0/.lock'```

However, if i delete the database and start Raiden again using the same setting it works.

[2019-10-08 11:51] konradkonrad commented on #5049
circleCI has a [`docker` stage](https://github.com/raiden-network/raiden/blob/cdffdde4a66f7eacec97ee77d3f39954f0b857ed/.circleci/config.yml#L648-L656) for nightly builds. still trying to figure out, where the release builds are generated

[2019-10-08 11:56] konradkonrad commented on #5049
the version tagged releases are auto-build from dockerhub. I disabled the "build caching" for the release builds and try to retrigger a build

[2019-10-08 12:04] konradkonrad commented on #5049
I found the culprit in the build logs from dockerhub for `Build in 'v0.200.0-rc1:/docker/Dockerfile' `:
[code]

[2019-10-08 12:06] konradkonrad commented on #5049
this "fails", because on dockerhub, there is no build argument provided, and instead the [default is used](https://github.com/raiden-network/raiden/blob/develop/docker/Dockerfile#L13-L15):

[code]

[2019-10-08 12:37] konradkonrad commented on #5049
We will need to optionally set `Build Environment Variables` (on dockerhub build settings) for tagged releases, so that `RAIDENVERSION=${SOURCE_BRANCH}` (see https://docs.docker.com/docker-hub/builds/advanced/), when building a tagged commit.

I am not sure if this is going to work (or break other things), but I will try.

[2019-10-08 12:41] taleldayekh opened #5051 "Node crashes when closing channels"
Tried closing channels that were automatically opened when joining a token network and it resulted in my node crashing with this error:

```FATAL: The channel was not open at the provided block (b'\xe8\xe9\x0b\xf4i`j\xd91!\xfc\xbb\x0f2`\xbe(\x0b\xb7S\x82\xf4\xa88\xf7\xe7\xf6X\xb0\x1a"\x13'). This call should never have been attempted.```

Not sure if this is somehow related to issue #5048 and perh

[2019-10-08 13:01] konradkonrad commented on #5049
okay, it seems that we need to add a build hook in order to pass `SOURCE_BRANCH` as `RAIDENVERSION`. See: https://github.com/docker/hub-feedback/issues/508 especially https://github.com/docker/hub-feedback/issues/508#issuecomment-222520720

[2019-10-08 13:02] agatsoh commented on #5047
@rakanalh updated my original comment with the database.

[2019-10-08 13:18] palango opened #5053 "Limit sum of mediation fee components to be non-negative"
Currently the overall mediation fee (sum of all mediation fee components) can get negative, which leads to some counter-intuitive behavior.

We want the default behavior of mediations fees to be non-negative, but allow negative mediation fees through a flag.

[2019-10-08 13:32] Dominik1999 commented on #5051
I think this might be an error of the geth node not working on Rinkeby. We try to reproduce that with other clients.

Please do not use the bb geth node for now

[2019-10-08 13:46] rakanalh commented on #5051
@taleldayekh please try to reproduce the issue on another eth node. If not reproducible, please close the issue.

[2019-10-08 13:48] rakanalh commented on #5050
Please provide steps to reproduce.

[2019-10-08 14:02] taleldayekh commented on #5050
Running macOS version 10.15

1. Started Raiden with the following configuration and newly created Ethereum accounts:
```/Users/taleldayekh/Desktop/RaidenTesting/raiden-v0.200.0-rc1-macOS-x86_64 --pathfinding-service-address=https://pfs-rinkeby.services-dev.raiden.network --eth-rpc-endpoint http://geth.rinkeby.ethnodes.brainbot.com:8545 --api-address "http://localhost:5001" --keystore-path /Users/t

[2019-10-08 14:10] taleldayekh commented on #5051
I could close the channels using a Infura node without the node crashing.

[2019-10-08 14:50] Dominik1999 commented on #5043
I also have this issue almost all the time now. I tried with scenarios and triggering transfers manually via the WebUI.

The PFS returns 0 routes most of the time, because it does not see all nodes of the route <Reachable>. There is probably some matrix error. The reachability of the nodes fluctuated a lot according to the pfs even if from my perspective the Raiden node was running stable.

I have

[2019-10-08 18:28] taleldayekh commented on #5050
Perhaps related to these changes in macOS, ["macOS Catalina Protects the OS in its Own Read-only Volume"](https://www.macobserver.com/analysis/macos-catalina-protects-os-read-only-volume/).

[2019-10-09 08:12] Dominik1999 commented on #5043
Maybe it is not a matrix issue afterall ...

- I have here a payment that expired
[code]
- the pfs provided a correct route
[code]
- the sender node had all it's neighbours available at the time being
[code]
- and also the mediating node
[code]

[2019-10-09 08:32] #5049 closed

[2019-10-09 09:03] manuelwedler opened #5055 "SerializationError: Can't deserialize"
## Problem Definition
I can't start my Raiden node due to the following error.
Before I did a withdraw that did not succeed because of the channel partner being offline. I restarted Raiden and this error occurred.

[code]

Log & DB files + JSON, that was not deserializable in the above error:
[log-db-json.zip](https://github.com/raiden-network/raiden/files/3706450/log-db-json.zip)

### System Desc

[2019-10-09 09:23] rakanalh commented on #5043
From the case that Talel posted above, what we know so far is:

- We tried to send more than we have deposited
  - Deposit: 100000000000000
  - Transfer: 500000000000000
- The direct channel did not have capacity so we ask PFS.
- The PFS also sees no capacity for this transfer
- Raiden dispatches the transfer and fails

Looking at the code for the transfer, we are lacking a check to make sure bala

[2019-10-09 10:23] palango commented on #4689
This is

[2019-10-09 10:23] #4689 closed

[2019-10-09 11:49] #4960 closed

[2019-10-09 12:27] Dominik1999 commented on #5043
@nephix can you provide the logs and tell us when exactly this issue occurs?

[2019-10-09 12:27] rakanalh commented on #5043
It appears that Dominik's issue was that the BF1 scenario was setting `settle_timeout` and `reveal_timeout` to 40/20 respectively. However, his outdated SP version did not have the code which passes `lock_timeout` param along with the transfer. Which meant that the default lock_timeout value will be larger than the decreased value here in the BF1 nodes therefore the mediator will fail to move the

[2019-10-09 12:32] palango commented on #5053
This only works for the channel fees yet, not the overall fees.

[2019-10-09 12:44] rakanalh commented on #5043
I'll close this issue as the context seems to be separate between Dominik's case and Talel's one.

[2019-10-09 12:44] #5043 closed

[2019-10-09 12:51] nephix commented on #5043
@Dominik1999 sorry I don't have my logs anymore. I will try to same them if I encounter the same issue again

[2019-10-09 14:52] rakanalh opened #5059 "Matrix / Synapse presence is flaky"
During testing, we have had multiple instances of the same failure in both the client and the PFS while making a transfer:

- The client could fail to mediate a transfer due to it's knowledge that a channel's partner is offline.
- The PFS could fail to provide route also due to seeing one of the channel participants being offline.

While running the BF1 scenario, all 5 nodes were up:
- 0x90aafBeEb

[2019-10-09 15:32] christianbrb commented on #4991
Lightning is also adding the fee to the amount sent (see https://bitcoin.stackexchange.com/questions/84934/why-does-my-c-lightning-node-pay-more-than-the-invoice-plus-routing-fees), but has got two different fields to distinguish the payment amount sent and the value of the transfer.

Maybe @renepickhardt can explain this in more detail?

[2019-10-10 08:21] palango commented on #5055
Here's a small script Konrad and I wrote yesterday that triggers the exception

[m.py.zip](https://github.com/raiden-network/raiden/files/3711273/m.py.zip)

[2019-10-10 08:22] Dominik1999 opened #5060 "A user needs to know, when their ETH client doesn't work properly"
## Abstract

We were manual testing with a broken geth Ethereum client and Raiden showed a lot of different errors
- https://github.com/raiden-network/raiden/issues/5048
- https://github.com/raiden-network/raiden/issues/5051
- https://github.com/raiden-network/raiden/issues/5044

We need the Raiden Client to be predictable, so we need more checks. If the Ethereum client is somehow broken, the Raid

[2019-10-10 08:24] rakanalh commented on #5055
@palango the script doesn't raise any exceptions in my case.

[2019-10-10 08:48] christianbrb commented on #5042
@rakanalh Would that have prevented the other issues like #5044 ? Did eth_sync did not discover the issues the Geth node had?

[2019-10-10 08:54] christianbrb commented on #5047
Duplicate of #5059

[2019-10-10 09:00] rakanalh commented on #5047
Just to give a bit more details here, the error for this issue was:

[code]

This is because the PFS filtered out the route based on the node's presence. The node was `UNREACHABLE` in this case and we've seen the same issue pop up in other places. #5059's fix (if any) should resolve this problem.

[2019-10-10 09:11] konradkonrad commented on #4998
So the issue seems to arise here:
[code]

Even though there are 20 Blocks left, the mediator fires `events_for_expired_pairs`.

[2019-10-10 09:43] rakanalh commented on #4998
Ok, since you're talking about expirations, here's what i think:

https://github.com/raiden-network/raiden/blob/af1050b5bd1872517d4c70e06d9d532cbe69d42f/raiden/transfer/channel.py#L238-L241

The above makes sure that the `lock_timeout` is between `reveal_timeout` and `settle_timeout`. I would check the logs to see what `lock_timeout` value was passed to the transfer API call. If it was None, then

[2019-10-10 09:45] rakanalh commented on #4998
I've had an issue in the scenarios that prevented mediators from sending the transfer forward because the lock timeout was invalid. The solution we added into the scenario was to send the `lock_timeout` param to `30` provided that the scenario used `20` for reveal_timeout and `40` for settle_timeout.

[2019-10-10 09:50] rakanalh commented on #5042
No this is totally unrelated. The above was just a warning saying we could not check that the eth node was in sync. We do this initially by requesting the latest block number from etherscan.
The request to etherscan failed because they recently started serving through CloudFlare and `user-agent` seemed to be necessary for the request to go through.

But even with the fix, our request to etherscan

[2019-10-10 09:50] rakanalh commented on #5042
#5044 documents what was wrong

[2019-10-10 10:00] rakanalh commented on #4719
`production` mode is used by default:

https://github.com/raiden-network/raiden/blob/2f6703e154438bd44ad2bfd6fb734d58ce6df856/raiden/ui/cli.py#L197

We should re-word this issue to run with `development` configuration.

[2019-10-10 10:04] Dominik1999 commented on #4719
True, but we set in every scenario the environment type to
[code]

[2019-10-10 10:10] rakanalh commented on #4719
Ok makes sense in this case to also run them in production

[2019-10-10 10:11] konradkonrad commented on #4998
The mediator seems to fail this transfer due to incompatible timeout settings:
https://github.com/raiden-network/raiden/blob/2f6703e154438bd44ad2bfd6fb734d58ce6df856/raiden/transfer/channel.py#L238-L241
fails because
[code]
Therefore
https://github.com/raiden-network/raiden/blob/2f6703e154438bd44ad2bfd6fb734d58ce6df856/raiden/transfer/channel.py#L207-L209
fails.
Therefore
https://github.com/raiden

[2019-10-10 10:38] konradkonrad commented on #4998
So the explanation for the failure is as follows:
- By default, the `lock_expiration` on sender side is configured as `current_block + 2 * reveal_timeout`, in your case `current_initiator_block + 20`.
- It seems, that the mediator, at the time of receiving the transfer, is 1 block behind. So it calculates the `lock_timeout` from the `expiration` as `21`.

A solution, if you need to use such low ti

[2019-10-10 11:03] Dominik1999 opened #5064 "PFS error message is not meaningfull"
## Problem Definition

`There is an error with the pathfinding service with address https://pfs-goerli-with-fee.services-dev.raiden.network. Error Message: Expecting value: line 1 column 1 (char 0). Raiden will shut down.`

This happened at the same time that the pfs didn't start because of the matrix server being down

## Actual Outcome

## Expected Outcome
I would expect a meaningful error messa

[2019-10-10 11:14] #5055 closed

[2019-10-10 11:26] christianbrb opened #5062 "Scenario to reproduce flaky matrix presence"
## Problem

During manual testing we have discovered the following bug: https://github.com/raiden-network/raiden/issues/5059

During the nightly scenario player runs the error hasn't been discovered.

## Solution

Create a scenario or a set-up in which the error can be reproduced.

Potential solutions/ideas:
- Hosting the scenario player in a remote data center
- Use external Raiden nodes, which a

[2019-10-10 11:34] ulope opened #5063 "make_client utility fails with unreachable servers"
## Problem Definition

The `make_client()` utility (from `raiden.network.transport.matrix.utils`) fails to exclude unreachable servers and instead leads to a crash.

Recently seen in the pfs while the test matrix servers were being rebuilt (see log below).

First assumption from quickly scanning the log: The unreachable exception isn't bubbled up and instead retried and then re-raised as an except

[2019-10-10 12:29] jomuel commented on #5048
The nonce mismatches were caused by processing the same `ActionInitMediator` message multiple times with different message identifiers. Apparently the same `LockedTransfer` was sent multiple times by the partner. The first time is processed correctly in wal reply and the partner's database is lost, so it is difficult to tell why that happened.

For the crash itself, refer to issue #5060

[2019-10-10 12:58] andrevmatos commented on #4998
@konradkonrad I'd say this is a workaround, not a fix. These checks should be done before accepting the transfer, and proper error logged/reported. Once `ActionInitMediator` is emitted, it should be acted upon. If  `Processed` was sent, it's expected the mediator will forward the transfer. If the check dropped the transfer before sending this, retry mechanism would send it again later once the med

[2019-10-10 13:05] konradkonrad commented on #4998
I can follow your argument, and I think it is valid to re-open this. However, this will need some discussion, as to what properties of a `LockedTransfer` define the pre-`Processed` acceptance criteria.

[2019-10-10 13:44] rakanalh commented on #4998
This is already done. Candidate routes are filtered according to whether a certain channel is usable or not:

https://github.com/raiden-network/raiden/blob/df45b930714456aaed3fa2910850b7f08b017fa7/raiden/transfer/mediated_transfer/initiator.py#L265-L273

Which means that the initiator will just filter out the route if the lock_timeout value is invalid (not within the range `reveal_timeout < {lock_

[2019-10-10 13:54] rakanalh opened #5065 "Decide cases where mediator's `waiting_transfer` needs to be acted upon"
## Abstract

Right now, Raiden's mediator state machine has an attribute called `waiting_transfer` which basically holds the transfer temporarily if the transfer cannot be moved neither forward(capacity / partner availability) nor backward(capacity).

## Motivation

Raiden only acts upon this `waiting_transfer` in case the forward channel partner becomes online. There are cases where the mediator

[2019-10-10 13:55] rakanalh commented on #4998
The above issue was created to decide how to move forward.

[2019-10-10 14:03] christianbrb opened #5066 "Add transport04 to bf1 scenario"
As we have got 4 transport servers now we need to add transport04 to the bf1 scenario

[2019-10-10 14:17] rakanalh commented on #4719
Alright another question:

Should we run all scenarios? this would considerably increase the nightly build time and probably additional server resources. Or, should we select a few scenarios (1 MS, 1 PFS and 1 BF) which can be cloned and set to run with production configs?

[2019-10-10 14:18] palango commented on #4719
That also means we need to have services running on production. At the moment we don't have those running.

[2019-10-10 14:21] Dominik1999 commented on #4719
I would run all the scenarios, With the decreased settle timeout it only takes 3 hours or so

[2019-10-10 14:33] Dominik1999 commented on #5060
ok, that makes sense. Thanks @konradkonrad

However, Talel was testing with a broken Geth Node, right? He did not notice this as a user. The client should somehow recognize that and inform the user in my perspective.

[2019-10-10 15:49] palango opened #5068 "Update to mypy 0.750"
Update to mypy 0.740 to get the latest improvements for type checking.

[2019-10-10 16:25] #5066 closed

[2019-10-10 16:51] lullis opened #5069 "Add token_network_settings and channel_settings tables to database"
As part of the #5011, we should be able to store user-defined values for some of the settings parameters. Non-exhaustive list of examples:

 - `FeeSchedule` per `Channel`
 - `FeeSchedule` per `TokenNetwork`
 - List of Matrix Services that the node should try to connect
 - Minimum REI Balance for node operation
 - Maximum Gas Price/Gas Limit
 - Maximum fee to pay to PFS
 - Transport Parameters

##

[2019-10-10 16:56] lullis opened #5070 "Store all default parameters into settings table"
Depends on #5069.

Values defined on settings.py should be taken as default values and stored on the database on initialization. Subsequent access to these values should come from the database

## Motivation

The settings.py module contains a good number of parameters that can not be easily modified after the node has started. The settings database should be the place to control this information.

[2019-10-10 17:39] lullis opened #5071 "Fails to initialize raiden console"
## Problem Definition

Running `raiden --config-file=/home/raphael/.local/share/raiden/config-4fc827dd1f22cf0ae042e79c3d71b959c25039a8-goerli.toml --console
` from latest develop, raiden starts but throws an exception shortly after and exits.

The contents of the exception file:

[code]

Tracing down the error seems to indicate that there is an access to `raiden_service.chain`

[2019-10-10 17:55] lullis opened #5072 "Add "set_fee_schedule" to channel API"
Relates to #5011.

api/python.py already provides some methods to set attributes from a channel. It also needs to have a method to create a FeeSchedule.

It needs to be able to create FeeSchedule all of its possible attributes:

 - Flat fee
 - Proportional fee
 - Imbalance fees

[2019-10-10 17:59] lullis opened #5073 "Expose FeeSchedule attribute of channel in REST API"
Depends on #5072.

In order to give the WebUI the possibility to customize fees of a channel at run-time, the schema representation of a channel needs to include information about its FeeSchedule.

[2019-10-10 21:21] rakanalh commented on #5071
Console doesn't work and isn't a supported feature of Raiden at the moment.

[2019-10-11 04:02] ulope commented on #5063
Actually I'm now not sure this issue exists. For debugging purposes the PFS had manually constrained it's server selection to only one. This seems to be the reason why no server could be found.

However we should probably reduce (or even remove) the retries during the initial server 'scan'.

[2019-10-11 08:19] rakanalh commented on #5011
My thoughts on this issue:

- We have a table in the DB that looks like:
[code]

- On raiden's bootstrap, all settings in `settings.py` would be populated into that table.
- Query function would look like this:
[code]

The idea behind this is that, it enables us to query a certain value for a channel. If the value for a specific channel does not exist, then we remove the channel identifier and try

[2019-10-11 08:23] rakanalh commented on #4224
Closing in favor of #5011

[2019-10-11 08:23] #4224 closed

[2019-10-11 10:10] lullis commented on #5011
After some quick discussion with @rakanalh, we are considering instead to use the {Chain,TokenNetwork,Channel}State classes as the store of information about the resources themselves and just expose these attributes in the endpoints. The settings values as defined on `settings.py` should also be migrated to settings table on the database and treated as default parameters that are to be used when c

[2019-10-11 12:57] christianbrb opened #5075 "Not enough balance to deposit on ms1"
## Problem Definition

Bug in ms1_simple_monitoring

```scenario_player.exceptions.legacy.RESTAPIStatusMismatchError: HTTP status code "402" while fetching http://127.0.0.1:40877/api/v1/channels. Expected 2..: {"errors": "Not enough balance to deposit. 0x62083c80353Df771426D209eF578619EE68D5C7A Available=0 Needed=1000000000000000000"}```

### System Description

Scenario Player nightly

[2019-10-11 15:36] rakanalh opened #5078 "Scenario balance sum flakiness"
## Intro

When running BF1, the balance sum **sometimes** fails:

https://github.com/raiden-network/raiden/blob/e34025fd39504da04697cc3a84f76b0b3086d0d1/raiden/tests/scenarios/bf1_basic_functionality.yaml#L231

[code]

Investigation required:
- Why does it fail even though all transfers have been successful?
- Could it be because the payment followed a different route and paid different fees?

[2019-10-14 07:43] Dominik1999 commented on #5078
I can pick this up. I think this is due to some latency for the assessment. If all payments go through, the sum of all channels of node 0 must be exactly that.

[2019-10-14 07:58] agatsoh opened #5080 "MS2 simple monitoring scenario fail Expected number of events (1) did not match the number of events found (0)"
## Problem Definition
The MS2 scenario failed in the SP runs
[code]
[Scenario_player_Logs-ms2_simple_monitoring-1-latest-2019-10-14.tar.gz](https://github.com/raiden-network/raiden/files/3723478/Scenario_player_Logs-ms2_simple_monitoring-1-latest-2019-10-14.tar.gz)

[2019-10-14 08:20] palango opened #5082 "Check if all code in raiden/ui/console.py is used"
In https://github.com/raiden-network/raiden/pull/5074#discussion_r334008527 it was pointed out that some code seems to be unused. However it is unclaer if that is true or if the code is used via the decorator.

We should look this up and remove the code if it is unused.

https://github.com/raiden-network/raiden/blob/e34025fd39504da04697cc3a84f76b0b3086d0d1/raiden/ui/console.py#L55-L82

[2019-10-14 08:21] #5071 closed

[2019-10-14 08:22] #4991 closed

[2019-10-14 10:23] rakanalh commented on #5051
Let's look at the logs and summarize why Raiden raised this exception.

[2019-10-14 10:30] rakanalh commented on #5048
We have to also figure out why Raiden crashed and summarize the result here. This has to be done so that we can handle potential failures early on even if the eth node is not "behaving well"

[2019-10-14 11:20] jomuel commented on #5048
There are two strange things happening in this log, which seem to not even be related:

- The crash due to an uncaught Geth exception, which is covered in #5060. (We know that the Geth node was not working probably and the problem is most likely not in Raiden here. However, Raiden should not just crash with no explanation if the underlying Eth node does unexpected things.)

- The failed transfers

[2019-10-14 16:28] jomuel commented on #5060
As @konradkonrad said, everything we can do about unexpected exceptions will be speculative. What we could do is link to a troubleshooting page and/or provide a more elaborate error message with possible reasons:

- In case of an Eth node exception, state that the problem may be in the underlying Eth node like in #5048

- In the specific case of an Eth nonce mismatch like #5044, remind that Raiden

[2019-10-14 18:23] jomuel opened #5091 "Use Factory Boy or a similiar tool for unit and integration tests"
Currently we use a homegrown solution with property classes and `create()` functions to create objects for unit and integration testing (see issue #3025). It was implemented before the switch from named tuples to dataclasses. Now that we have dataclasses, it is possible to write simpler and better maintainable factories using an external tool.

[Factory Boy](https://factoryboy.readthedocs.io/en/la

[2019-10-15 06:51] agatsoh opened #5092 "BF1 basic functionality fail Payment couldn't be completed because: there is no route available"
The `bf1_basic_functionality ` scenario fails with
`Payment couldn't be completed because: there is no route available`

[code]
[Scenario_player_Logs-bf1_basic_functionality-1-latest-2019-10-14.tar.gz](https://github.com/raiden-network/raiden/files/3727697/Scenario_player_Logs-bf1_basic_functionality-1-latest-2019-10-14.tar.gz)

[2019-10-15 07:05] agatsoh opened #5093 "PFS7 Simple Path, SP not able to Assert the correct sum value"
## Problem Definition

Scenario Player is not able to properly assert on the scenario
**` Expected sum value \"500000000000000000\" for channel fields \"balance\". Actual value: \"499685000000000000\".`**

`
{"task": "<AssertSumTask: {'from': 0, 'balance_sum': 500000000000000000}>", "event": "Task errored", "logger": "scenario_player.tasks.base", "level": "error", "timestamp": "2019-10-14 03:07:01

[2019-10-15 07:52] christianbrb opened #5094 "Add description for mfee3_only_imbalance_fees.yaml to scenario readme"
Add description for mfee3_only_imbalance_fees.yaml to scenario readme

[2019-10-15 08:06] palango opened #5095 "Use enums for state fields"
In the state machine we have multiple states that use state fields with limited options. They are however just strings, which makes it harder to read and hard to check that all options are exhausted.

We should convert those to `Enum`s.

States with str state fields:
- [ ] `WaitingTransferState`
- [ ] `InitiatorTransferState`
- [ ] `MediationPairState`
- [ ] `TargetTransferState`

[2019-10-15 11:26] rakanalh commented on #5092
Caused by #5059.

Closing.

[2019-10-15 11:26] #5092 closed

[2019-10-15 12:28] rakanalh commented on #5051
My guess for this is that the database has a `pending_transaction` that Raiden tries to execute (maybe a deposit transaction?). While this is happening the channel is closed so the previous pending transaction fails or the channel might have been closed by the partner while we're trying to deposit.

If that's the case, receiving the state change for `ChannelClosed` should have invalidated any pend

[2019-10-15 13:14] LefterisJP commented on #5051
Will have a look here. Unassigned Jochen as this may not be the same as the issue he is working on

[2019-10-16 08:44] rakanalh commented on #5093
Duplicate of #5078

[2019-10-16 08:44] #5093 closed

[2019-10-16 09:17] manuelwedler opened #5099 "Address not correctly formatted for already existing channel error message"
## Problem Definition

When trying to add an already existing channel, the returned error message contains the Addresses of the token and the partner not correctly formatted.

[code]

### System Description
Raiden v0.200.0rc1

[2019-10-16 09:37] Dominik1999 commented on #5051
can we label this as a bug? Or is it something else?

[2019-10-16 09:40] LefterisJP commented on #5051
The label is "investigating" at the moment. Which means trying to figure out what it is and why it happened.

[2019-10-16 09:59] Dominik1999 opened #5100 "Enrolling BBLE to the Apple Developer Program"
We need to get a paid Apple Developer Account such that our software is seen as eligible for macOS.

We have seen that problem in #5050 and when installing the Raiden Wizard.

- We will do that for our final products (Alderaan and the Wizard)
- We will not do that for Release Candidates

So for internal testing, the workaround described by @taleldayekh in #5050 is the way to go

I start the proces

[2019-10-16 10:00] Dominik1999 commented on #5050
We will close that because we have the issue https://github.com/raiden-network/raiden/issues/5100
We will try to apply to the Apple Developer Program

[2019-10-16 10:05] #4998 closed

[2019-10-16 10:07] konradkonrad commented on #5065
The case from #4998 was already addressed in #5084.

[2019-10-16 10:12] LefterisJP commented on #5050
There is a way around this for MacOS. You are getting hit by [OSX translocation](https://lapcatsoftware.com/articles/app-translocation.html) as it sandboxes the raiden app.

I had the same exact problem with Rotki: https://github.com/rotkehlchenio/rotkehlchen/issues/426

The proper way to store files in OSX is to just change the default directory of files for OSX to be the directory that the opera

[2019-10-16 10:14] Dominik1999 commented on #5050
thanks! We can use both approaches when we test our software on Mac.

We will try to go for the clean way with respect to usability and try to get enrolled. This can happen in parallel and for only 100$ per year.

[2019-10-16 10:19] Dominik1999 commented on #5100
That link might help with Apple and PyInstaller
https://forums.developer.apple.com/thread/114943

[2019-10-16 10:22] Dominik1999 commented on #5080
The logs of this file are from June 2019. There seem to be something broken with the Scenario Player. We cannot debug nor reprocude.

[2019-10-16 10:24] LefterisJP commented on #5050
Yeah sure that makes sense. For whoever looks into this here is a relevant SO answer: https://stackoverflow.com/questions/16744382/sandboxed-applications-where-to-save-files-without-user-interaction

[2019-10-16 10:24] Dominik1999 commented on #5075
Please provide the logs of the nodes.
From this error message it looks like a bug in the Scenario Player

[2019-10-16 10:25] agatsoh opened #5101 "mfee 4 fail, Payment couldn't be completed because: bad secret request message from target"
## Problem Definition

The mfee4 scenario fails due to error
**Payment couldn't be completed because: bad secret request message from target**

`
{"task": "<TransferTask: {'from': 0, 'to': 3, 'amount': 500000000000000000, 'expected_http_status': 200}>", "event": "Task errored", "logger": "scenario_player.tasks.base", "level": "error", "timestamp": "2019-10-16 06:17:16.341146", "exception": "Traceb

[2019-10-16 10:31] Dominik1999 commented on #5028
caused by #5078

[2019-10-16 10:31] #5028 closed

[2019-10-16 10:31] Dominik1999 commented on #5101
Can you please provide us with the logs, we cannot debug without that information

[2019-10-16 10:50] palango commented on #4445
This is fixed.

[2019-10-16 10:50] #4445 closed

[2019-10-16 11:06] agatsoh commented on #5101
Just updated the Intial comment with the logs

[2019-10-16 11:12] Dominik1999 commented on #5101
Can you please provide the logs of that fail together with logs of the nodes of that fail.

The logs of the nodes are from the 26th September.
[code]

[2019-10-16 11:15] agatsoh opened #5103 "mfee3 fail, Value mismatch for \"balance\". Should: \"519999960000040000\" Is: \"500000000000000000\"
## Problem Definition

The mfee4 scenario fails because of a failure in an AssertTask

`
{"task": "<AssertTask: {'from': 0, 'to': 1, 'total_deposit': 1000000000000000000, 'balance': 519999960000040000, 'state': 'opened'}>", "event": "Task errored", "logger": "scenario_player.tasks.base", "level": "error", "timestamp": "2019-10-16 05:38:57.733130", "exception": "Traceback (most recent call last):\n

[2019-10-16 11:49] agatsoh commented on #5101
@Dominik1999. There is a serious issue with the scenario player  I just uploaded the logs as I got them from the monitoring channel. I just checked the scenario logs but not the node logs. which means the SP is using the raiden packaged on the 26th of September.

As a sample I ran the bf1 scenario on my local machine and the `run-000.log` file from my local machine shows something like this

`
{"r

[2019-10-16 13:08] palango opened #5106 ""Uploading artifacts" step in CI unit tests is slow"
The step "Uploading artifacts" in the CI takes long, especially for the unit tests where there are lots of small files.

For example in https://circleci.com/gh/raiden-network/raiden/84582 the tests itself take 1:15min and the the upload step takes 1:03 min, nearly doubling the test runtime.

[2019-10-16 13:21] LefterisJP commented on #5099
That should be easy to fix. I will pick it up, fix and write a test.

[2019-10-16 13:49] Dominik1999 commented on #5103
caused by #5078

[2019-10-16 13:49] #5103 closed

[2019-10-16 15:03] Dominik1999 commented on #5011
After the first demo on 16th October:

Stefan wants that a hub can upgrade 1 channel or 500 channels with any parameter information at once per token network

Parameter information is fee settings (flat, prop and imbalance fee), monitoring and more (to be specified)

One important point is to think about the data structure that can reflect that general goal of setting many channels at once and als

[2019-10-16 16:01] LefterisJP commented on #5051
It's rather difficult to analyze this only via etherscan since the TokenNetwork is not verified on Rinkeby, and since our own nodes are not archive nodes and as such can't do queries for a specific block due to pruning.

I think my theory holds as a problem which needs solving but for this issue my theory of the partner closing seems to not hold as I can't see any close transaction sent by the par

[2019-10-16 16:32] LefterisJP commented on #5051
Okay looking onchain it does not seem to be any form of race.

- token_network_address: `0x11e5a4247AE70f790fEAb91d6eEbe6fE89D84161`
- channel_identifier: `2`
- our_address: `0x0faA9bCdFcC07E9cCD94c4CC7d799fcCAf22c0C2`
- partner_address: `0x9fB5E3610D635ca2d1409B8DEDBB96fe38B2d36E`

Channel lifetime

- Opened at: 5220593
- Closed at:  5220678
- The error happens due to a channel close triggered mu

[2019-10-16 19:10] LefterisJP commented on #5051
@taleldayekh Do you have logs/DB from an earlier run where this channel was opened?

[2019-10-16 19:39] taleldayekh commented on #5051
Hi @LefterisJP  unfortunately I don't have any of the logs on my machine anymore.

[2019-10-16 20:38] Kaitou786 commented on #5068
Hi, @palango can you please elaborate on what I need to update. Actually, it's my first time contributing, really looking forward to helping in any way

[2019-10-16 21:15] #5099 closed

[2019-10-17 06:09] LefterisJP commented on #5068
@Kaitou786 you just need to change the mypy version in the requirements files here: https://github.com/raiden-network/raiden/blob/develop/requirements/

And then run `make lint` and fix errors if any are found.

Actually mypy 0.740 is already out: https://pypi.org/project/mypy/ so it makes sense to upgrade directly to that.

[2019-10-17 06:23] agatsoh opened #5110 "All Scenarios Fail, Failed to start Raiden node 0"
## Problem Definition
All Scenarios fail with the same
**scenario_player.exceptions.legacy.ScenarioError: Failed to start Raiden node 0**  exception.

Sample traceback
[code]

Sample logs of mfee4, though scenarios fail due to one reason only.
[Scenario_player_Logs-mfee4_combined_fees-1-latest-2019-10-17.tar.gz](https://github.com/raiden-network/raiden/files/3737648/Scenario_player_Logs-mfee4_comb

[2019-10-17 07:04] rakanalh commented on #5065
Closing. Thanks @konradkonrad

[2019-10-17 07:04] #5065 closed

[2019-10-17 08:24] rakanalh commented on #5051
We have:

https://github.com/raiden-network/raiden/blob/a8f16643016b6f638ee698a052c65988929229d3/raiden/transfer/node.py#L985-L992

That invalidated a transaction based on the state change that was incoming. Maybe after batch state change dispatch was implemented, we did not take into account this scenario.
I think the suggested approach to place blockchain transaction at the beginning or introduc

[2019-10-17 08:45] palango commented on #5068
@Kaitou786 As Lefteris said the task is to update `mypy` and then check if new warnings occur and fix them.

For updating you need to run `requirements/deps upgrade mypy` from the raiden directory.

Let us know if you have any questions.

[2019-10-17 08:52] Dominik1999 commented on #5110
Thank you Sohan for creating this issue.

This issue again has the wrong logs of the nodes. Those again are from the 26th of September.

@christianbrb @agatsoh can you please make sure somehow that you provide us every morning with the correct logs of the nightly failures

[2019-10-17 10:48] LefterisJP commented on #5051
@rakanalh As I wrote above the problem is that the `ContractReceiveChannelClosed` has not been seen by the node for this issue. It's not the race I theorized about in the beginning.

I think that we need to close this issue since there is no logs from the run where the close happened so we can try to see why the event was not turned into a state change.

Perhaps we can re-open once we see this hap

[2019-10-17 10:55] agatsoh commented on #5110
@Dominik1999 The wrong logs are because of this issue https://github.com/raiden-network/scenario-player/issues/364.

[2019-10-17 12:57] rakanalh commented on #5051
I think we can close it.

My question before we do is: assuming that the node was running when the channel was opened and it received the `OPENED` event. But it was offline when the channel was closed and the block at which the channel was closed was pruned. Do we still get the event?

[2019-10-17 13:34] pirapira commented on #4055
I think this has been fixed by now.  Closing.

[2019-10-17 13:34] #4055 closed

[2019-10-17 13:47] Dominik1999 commented on #5110
I see, but we still cannot use that issue here then until we get the real logs.
Please do not provide the wrong logs to an issue though. This creates more work for everyone. In case you cannot access the real logs, please escalate to @christianbrb

However, I have already seen the correct logs on the server. The reason for the failure described here, is that the client is upgraded to [contracts 0.

[2019-10-17 13:47] Dominik1999 commented on #5110
Thank you for creating those issues every day! That part is really helpful!

[2019-10-17 14:05] LefterisJP commented on #5051
We should according to the code since we query from the last seen state change block.

@taleldayekh Can you try the following? Use the same account in Rinkeby: `0x0faA9bCdFcC07E9cCD94c4CC7d799fcCAf22c0C2` but with a deleted database and once it's up and running and all events are queried from the blockchain close it and send us the DB and logs?

I want to see if the channel close event for [this](

[2019-10-17 14:15] LefterisJP opened #5112 "Race condition of event invalidating state change at same processing iteration"
I am making this issue to document and also assess how possible or correct the race condition described [here](https://github.com/raiden-network/raiden/issues/5051#issuecomment-542727450) is.

One example is with the channel close blockchain event and ActionChannelClose racing.

1. Someone else closes the channel outside of our node. Most probably our partner.
2. We initiate our own node closing a

[2019-10-17 14:30] taleldayekh commented on #5051
Sorry guys it's gone with the logs, removed all excess accounts that was not used after updating my os, though it was enough to upload the logs. Will remember to keep them for the next time.

[2019-10-17 14:35] #5051 closed

[2019-10-18 08:19] Dominik1999 commented on #5101
[node_24_00.zip](https://github.com/raiden-network/raiden/files/3742915/node_24_00.zip)

[2019-10-18 08:40] #5110 closed

[2019-10-18 10:45] Kaitou786 commented on #5068
@palango when i run the script  deps upgrade mypy....it is showing some errors. So i upgraded mypy using pip, so do i need to remove the errors which arises running deps upgrade mypy?

[2019-10-18 12:19] rakanalh commented on #5078
The way to reproduce this issue is by making sure:
1. The PFS is connected to transport04 (this is currently the case as transport04 is the only active transport for testing)
2. Update BF1 to use only transport04 for each client node as well.
3. Run BF1 and wait until the transfers from 3 -> 0 finish.
4. Balance summation should fail.

[2019-10-18 12:20] Dominik1999 commented on #5078
Small things to add:

- that happened with a lot of scenarios since we put the scenario player nodes and the transport server on servers on different locations (worldwide, e.g. Toronto and Bangladesh)
- when I have seen this error locally, I was able to solve this with introducing `wait` before the assertion

[2019-10-18 12:45] LefterisJP commented on #5078
That seems to already be the case right?
https://github.com/raiden-network/raiden/blob/4bed4d7ba504f011a92bb331cd200240c213aa09/raiden/tests/scenarios/bf1_basic_functionality.yaml#L43-L52

[2019-10-18 12:50] Dominik1999 commented on #5078
yes

[2019-10-18 13:04] karlb opened #5120 "`cap_fees` is per mediator, not per channel"
Currently, `cap_fees` is stored in the `FeeScheduleState` because it relates to the fees and it gets transferred to the PFS this way. But capping fees does not actually happen on a per channel basis, but per mediator. So the right thing to do would be to also save this value per mediator.

In the Raiden client this would be a single global setting, since the client only has to know if it is cappin

[2019-10-21 06:20] christianbrb commented on #5075
The logs are not available

[2019-10-21 06:20] #5075 closed

[2019-10-21 06:45] christianbrb commented on #5080
The logs are not available

[2019-10-21 06:45] #5080 closed

[2019-10-21 07:00] LefterisJP commented on #5078
In order to be able to reproduce and debug this I need releases for raiden, contracts and services that are on the same page and use same contracts. At the moment and since Friday afternoon that is not the case and running this scenario (and I guess any other) with latest develop/dev fails with:

`[TokenNetworkRegistry]Address 0x62436bbadB629498107278486C2A367FfdFEb2f3 has wrong code.. Please upda

[2019-10-21 08:18] christianbrb commented on #5094
@Dominik1999 mfee3 is getting changed

Can be closed, when the issue for mfee3 update is created.

[2019-10-21 09:28] LefterisJP opened #5122 "Raiden can't run in Goerli"
Raiden fails to run in Goerli with the following error:

[code]

As seen [here](https://github.com/raiden-network/raiden/issues/5078#issuecomment-544377177)

[2019-10-21 11:14] pirapira commented on #5122
I think 0.33.2 is broken. https://github.com/raiden-network/raiden-contracts/issues/1298

[2019-10-21 11:34] palango opened #5127 "flaky test `test_matrix_multi_user_roaming`"
In my recent PRs I see an teardown error in `test_matrix_multi_user_roaming`.

As it happens in two independent PRs I think it's not related to them.

- https://circleci.com/gh/raiden-network/raiden/85374#tests/containers/13
- https://circleci.com/gh/raiden-network/raiden/85382#tests/containers/13
- https://circleci.com/gh/raiden-network/raiden/85533#tests/containers/13
- https://circleci.com/gh/r

[2019-10-21 12:21] jomuel commented on #4073
Closing this now, I have no idea why it has been reopened. A coverage configuration to measure unit tests has been added, and the remaining problem (adding it to CodeCov too, despite their problem with the flag feature) is tracked in #4664.

[2019-10-21 12:21] #4073 closed

[2019-10-21 12:57] jomuel commented on #5127
Definitely unrelated to your PRs, the same happened in my build for PR #5124.

[2019-10-21 13:43] pirapira commented on #5122
@LefterisJP how do I reproduce this issue locally?  I believe I have a fix https://github.com/raiden-network/raiden-contracts/pull/1299 so I want to try.

[2019-10-21 13:45] karlb commented on #5122
I've seen it in the scenarios, but just starting the Raiden client should be enough.

[2019-10-21 13:51] LefterisJP commented on #5122
@pirapira @karlb yes just start raiden using 0.33.2 contracts and goerli. It will happen immediately.

[2019-10-21 14:01] pirapira commented on #5122
Yes, I see the problem with:
[code]

[2019-10-21 14:04] pirapira commented on #5122
After installing `raiden-contracts` on this branch https://github.com/raiden-network/raiden-contracts/pull/1299

I don't see the problem, and the API starts.

[2019-10-21 15:02] LefterisJP commented on #5078
Now I am blocked by the PFS not being able to connect to matrix and as such not being able to function.

This in turn makes Raiden fail to start ...

[code]

[2019-10-21 15:42] Dominik1999 commented on #5078
but you might be blocked by the matrix presence bug anyway ...

[2019-10-22 06:52] christianbrb opened #5130 "Update bf1 to transport01..03 once the environment is fully functional again"
For testing the matrix servers in bf1 have been switched to transport04. Once the transport server are available again the scenario needs to be reverted to use transport01..03

CC @err508 @ulope @Dominik1999

[2019-10-22 07:02] LefterisJP commented on #5078
@Dominik1999 How does the presence bug manifest in a scenario? Route not found I guess? Because this is what I am getting when I run it now.

[2019-10-22 08:16] Dominik1999 commented on #5059
@rakanalh @err508
I suggest the following procedure to reproduce the Matrix Bug:

- [x] Set up matrix setup locally, that provides us with logs
- [ ] Reproducing the bug
  - [x] Locally Rakans script succeeds on federated servers
  - [ ] Locally BF1 succeeds on federated servers
  - [ ] Remotely Rakans script succeeds on federated servers
  - [ ] Remotely BF1 succeeds on federated servers
- [ ] Pr

[2019-10-22 08:18] Dominik1999 commented on #5078
exactly

[2019-10-22 08:19] Dominik1999 commented on #5078
there must be a route, the scenario is designed like that. It can also manifest in an expired transfer since the Matrix bug is also affecting the local view of the nodes ... they start sending the transfer, but it gets stuck

[2019-10-22 09:50] Dominik1999 opened #5131 "Update mfee3 scenario (only imbalance fees) according to new calculation"
After #5053 we need to update the mfee3 scenario.
We want to test the correct calculation of the imbalance fees as well as the function to enable and disable overall negative fees.

- We want to have 4 nodes and 3 channels in a line A - B - C - D
- B does not allow overall negative fees
- D does allow overall negative fees
- All channels are perfectly balanced at the beginning
- A sends several tr

[2019-10-22 09:55] LefterisJP commented on #5078
As per our talk with @rakanalh during standup I set all transports to server 01 instead of 04 and ran again.

Now the scenario failed in a different place:

https://github.com/raiden-network/raiden/blob/e34025fd39504da04697cc3a84f76b0b3086d0d1/raiden/tests/scenarios/bf1_basic_functionality.yaml#L126

```scenario_player.exceptions.legacy.ScenarioAssertionError: Expected request_count 11 but got 10

[2019-10-22 10:02] Dominik1999 commented on #5078
haha fuck, that is another bug. We had this before @palango can help there is already an issue for that

[2019-10-22 10:09] christianbrb commented on #5094
Is going to be implemented here: https://github.com/raiden-network/raiden/issues/5131

[2019-10-22 10:09] #5094 closed

[2019-10-22 10:35] palango opened #5132 "Flaky test `test_matrix_multi_user_roaming`"
The test `test_matrix_multi_user_roaming` is flaky.

https://circleci.com/gh/raiden-network/raiden/85533#tests/containers/13

[2019-10-22 10:39] Dominik1999 commented on #5078
ok if it helps, I had this fail now
[code]

`Expected sum value \"1905000000000000000\" for channel fields \"balance\". Actual value: \"1904976900000000000\"`

All transfers are green but the balance check fails even after 100s (so 31 transfers succeeded but the balance was not updated)

[BF1 fail Assert Sum.zip](https://github.com/raiden-network/raiden/files/3754991/BF1.fail.Assert.Sum.zip)

[2019-10-22 11:51] palango opened #5133 "Flaky test `test_recovery_happy_case`"
The test `test_recovery_happy_case` is flaky.

https://circleci.com/gh/raiden-network/raiden/85536#tests/containers/19

[2019-10-22 11:53] Dominik1999 commented on #5078
Now with a second try it failed with an even weirder value
`│scenario_player.exceptions.legacy.ScenarioAssertionError: Expected sum value "1995000000000000000" for channel fields "balance". Actual value: "1105000000000000000".`

[Bf1-fail- Assert Sum.zip](https://github.com/raiden-network/raiden/files/3755375/Bf1-fail-.Assert.Sum.zip)

[2019-10-22 12:20] palango commented on #5132
Same as #5127

[2019-10-22 12:20] #5132 closed

[2019-10-22 12:32] Dominik1999 commented on #5059
Since Rakan's Script does not work on the remote federated servers:

- [ ] does federation work on the remote servers?
- [ ] does presence syncing work on remote servers? (to be proven by Rakan's script)

[2019-10-22 13:06] #5064 closed

[2019-10-22 13:20] LefterisJP opened #5134 "Scenario bf1 failed with RequestCount assertion"
As seen [here](https://github.com/raiden-network/raiden/issues/5078#issuecomment-544887822).

The scenario failed here:
https://github.com/raiden-network/raiden/blob/e34025fd39504da04697cc3a84f76b0b3086d0d1/raiden/tests/scenarios/bf1_basic_functionality.yaml#L126

with

```scenario_player.exceptions.legacy.ScenarioAssertionError: Expected request_count 11 but got 10 ```

Logs and DB for the scenar

[2019-10-22 13:55] palango commented on #5134
The PFS logs are gone for this issue, so we need to reproduce it to find out more.

[2019-10-23 05:47] christianbrb commented on #5131
We should test, that rebalancing actually works within this scenario.

[2019-10-23 06:46] LefterisJP commented on #5068
@Kaitou786 what do you mean? What errors? Once you upgrade to mypy 0.740, it's possible that there will be type errors which you will have to fix.

[2019-10-23 08:50] konradkonrad opened #5141 "Ensure cli argument for transport server is respected"
While debugging federation, @err508 reported, that scenario settings for transport servers may not be fully respected, and available transports from `settings.py` were still contacted (`GET transportxx....`). This hints to, that the cli setting may not be fully propagated everywhere.

### What can be done
- [ ] Provide an integration test to reproduce it
- [ ] Add a guard around accessing the `set

[2019-10-23 09:43] konradkonrad commented on #5141
@err508 could you provide me logs of what you saw and what made you suspect the issue?

[2019-10-23 10:26] err508 commented on #5141
I saw it in a local synapse instance yesterday, I'll reproduce it

[2019-10-23 12:33] pirapira opened #5143 "Private net tutorial seems out of date"
at least the constant for the `CONTRACTS_VERSION` is different https://raiden-network.readthedocs.io/en/stable/private_net_tutorial.html

## Problem Definition

Provide a description of what is the current problem and why you are raising this issue.
If it's a bug please describe what was the unexpected thing that occured and what was the
expected behaviour.

Raiden also logs debug information to t

[2019-10-23 12:38] pirapira commented on #5143
[code]
shows
[code]

[2019-10-23 13:15] LefterisJP commented on #5133
Also seen it here: https://circleci.com/gh/raiden-network/raiden/85721#tests/containers/19 during a test run for https://github.com/raiden-network/raiden/pull/5142

[2019-10-23 13:51] LefterisJP commented on #5078
## Some thoughts after analyzing Dominik's logs

@Dominik1999 @rakanalh I think we see two different issues here.

I took a look at the logs given by Dominik in the comment just above this one [here](https://github.com/raiden-network/raiden/issues/5078#issuecomment-544925753).

Looking at past logs and the issue description the error **always** seems to happen at [this](https://github.com/raiden-n

[2019-10-23 14:07] LefterisJP commented on #5078
### Addendum

Hmm wait there is more. The scenarios' expected balances seem wrong to me at exactly the point of the failure

[code]

With the above network layout in mind let's look at the timeline of the scenario for Node 0.

#### T0 - Start

[code]

#### T1 - Make 10 transfers from 3 to 0

[code]
Scenario assertion for Node0's total balance at time `T1` is here:

https://github.com/raiden-networ

[2019-10-23 14:30] pirapira opened #5145 "test_recovery_happy_case is flaky"
I saw a [failure in this test](https://circleci.com/gh/raiden-network/raiden/85734#tests/containers/19) when I changed documentation only.

________ test_recovery_happy_case[matrix-False-3-channels_per_node0-10] ________

[2019-10-23 14:31] #5145 closed

[2019-10-23 14:44] christianbrb commented on #5008
Related and going to be fixed by https://github.com/raiden-network/raiden/issues/5078

[2019-10-23 16:14] err508 commented on #5059
Current status of this issue:

- the problem was not reproducible locally with a local matrix federation and a local PFS, where the scenario ran successfully
- due to some changes in the client, we now have the raiden nodes update each others presence consistently throughout multiple scenario runs. However, we still see` "errors": "Payment couldn't be completed because: there is no route available

[2019-10-24 07:42] rakanalh commented on #5078
So if the channel is pending close (or closed, not sure), that means that the API called here:

https://github.com/raiden-network/scenario-player/blob/7b64540a050b1e351c9c4dab78ca021bbaae583d/scenario_player/tasks/channels.py#L163-L165

Would be called and the closed channel would be returned along with the the response?

If so, which is a more suitable solution?
1. Not return pending close or clo

[2019-10-24 07:46] agatsoh opened #5146 "Remove **mode: managed** from all the scenarios"
## Abstract
Copying from https://github.com/raiden-network/scenario-player/issues/360 Issue 360 of the scenario player each scenario has a `mode: managed` config in most or all of the scenarios.
[code]
## Motivation
Though this is pretty harmless since we do not use this feature any longer it is advised to remove it so that it doesnt create any confusion

## Specification
Removal of `mode: managed

[2019-10-24 12:22] rakanalh opened #5149 "Matrix room availability test"
## Abstract

When a transport server has a room `xyz:transport-host, messages and presence updates taking place in this room would be propagated to servers inside the federation. However, if this room-owning server goes down, we are not certain that this room would still be usable on the other servers.

## Specification
A test should be written such that:

- [ ] Write a test that spawns a transpor

[2019-10-24 12:36] rakanalh commented on #5141
This is not what i've been able to gather. Also, when it comes to the servers list, the transport does not interact with `settings.py`. IMO, the issue description is invalid and the issue should be closed.

We can re-open if any logs and steps to reproduce can prove me otherwise.

[2019-10-24 12:36] #5141 closed

[2019-10-24 12:39] palango opened #5150 "Balance mismatches in scenarios (single channel)"
Related #5078

This issue is the result of seeing some errors like the following in scenarios (this is from mfee1):
[code]

From the logs it seems like the balances are consistent for the nodes itself. However, in the scenario we assert the same channels state from two nodes:
https://github.com/raiden-network/raiden/blob/c15867186e93c00490cb9407c120208e137a4b9e/raiden/tests/scenarios/mfee1_flat_fe

[2019-10-24 12:48] LefterisJP commented on #5150
Hey @palango.

As also discussed in pm via rocketchat:

I don't think that adding `wait`, essentially sleeping, in any test is a proper solution. We need proper synchronization primitives implemented inside the SP for this.

That's a very good question. Something slowing things down could also explain why the scenario [here](https://github.com/raiden-network/raiden/issues/5078#issuecomment-5458241

[2019-10-24 13:10] karlb commented on #5101
From the logs, the payment is actually successful:
[code]
but for some reason it still runs into
[code]

[2019-10-24 13:22] Dominik1999 commented on #5101
Can someone potentially lose money due to this bug? When a successful payment is not recognized as being successful it might be tried again by the initiator.

[2019-10-24 13:35] pirapira opened #5151 "An AssertionFailure is reachable ("Should not get here without a service registry")"
After I deploy contracts on a private network and launch `raiden` without `--service-registry-contract-address`, I [get an assertion failure](https://github.com/raiden-network/raiden/pull/5148#issuecomment-545918837).

`AssertionFailure` indicates a bug in the codebase, but in this case, `raiden` should request the user to specify `--service-registry-contract-address` or choose a different PFS URL

[2019-10-24 13:45] pirapira opened #5152 "A better error message when OneToN address is not available"
When I deploy contracts on a private network and launch `raiden` without `--one-to-n-contract-address`, I see a `KeyError`. https://github.com/raiden-network/raiden/pull/5148#issuecomment-545923434

Instead, the code should request the user to give `--one-to-n-contract-address`.

[2019-10-24 13:45] karlb commented on #5101
Since @agatsoh's has wrong logs due to a log server bug and @Dominik1999 packed run 24 instead of 25, I was looking at the wrong data. Disregard my comment above.

[2019-10-24 13:50] Dominik1999 commented on #5150
Why is that? I just want to understand. The initiator will send another message after revealing the secret, right? At least one unlock to its direct channel partner from what I understand. So there are tasks missing even from the perspective of the initiator and not only from a global coordinator perspective.

So why do we not define the transfer as final when all steps/tasks of the transfer were

[2019-10-24 13:52] pirapira opened #5153 "A better error message when Monitoring Service address is not available"
When I deploy contracts on a private network and run `raiden` without `--monitoring-service-contract-address` I see a bare `KeyError` https://github.com/raiden-network/raiden/pull/5148#issuecomment-545927164.  Instead the code should instruct the user to give `--monitoring-service-address`.

[2019-10-24 14:16] karlb commented on #5101
The Initiator does not reveal the secret because the following requirement is violated:
[code]
This happened because the Initiator only sent 500000000000000000 but the mediators took mediation fees, not leaving enough tokens for the target. This is related to the mediation fee capping which did not work as intended between https://github.com/raiden-network/raiden/pull/5054 and https://github.com/r

[2019-10-24 14:16] #5101 closed

[2019-10-24 14:36] rakanalh commented on #5150
It's because the protocol as it is right now doesn't introduce any message that notifies the initiator that the target received the unlock. IMO, there shouldn't be one because it's an informative message and does not add much value other than convenience.

I agree, but this primitive is going to look like `wait_balance {"timeout": 10}` or something like that which is essentially a wait. Otherwise,

[2019-10-24 17:07] Dominik1999 commented on #5150
Thanks Rakan.

I understood we send the 200 the moment the secret reveal is sent. Not when the unlock is sent. Or is that understanding incorrect?

[2019-10-24 18:42] LefterisJP commented on #5150
Your understanding is correct Dominik. The API is essentially waiting on the event `EventPaymentSentSuccess` I posted about [above](https://github.com/raiden-network/raiden/issues/5150#issuecomment-545901728).

Once that event is seen the API returns.

[2019-10-24 19:00] LefterisJP commented on #4292
Is this scheduled for Alderaan?

If not ... I would like to point out that at this point the matrix library we are using is considered deprecated.

From their [readme](https://github.com/matrix-org/matrix-python-sdk):

Are we sure we want to take a product to production with an active bug bounty using a non-supported library as the transport system's backbone?

[2019-10-25 08:51] karlb commented on #5131
The work for this is done, I'm just waiting for a working SP setup, so that I can test the scenarios once before requesting a review.

[2019-10-25 13:41] karlb opened #5156 "Rely on PFS for presence information"
Currently, the Raiden client filters all routes returned from the PFS in `try_new_route` -> `reachable_route_states = routes.filter_reachable_routes(...)`. Routes which contain unavailable nodes are discarded. The PFS already did that work and the client's presence information is not accurate at the moment.

Solution:
Remove that filtering

Side effect:
Routes from internal routing won't be filter

[2019-10-28 08:20] nlsdfnbch opened #5158 "Update click options to reflect supported flags for services"
Current state
-----------------
The scenario player uses `raiden.ui.cli` to read supported flags for the raiden binary.
We obtain the flags as follows::

[code]

Problem
----------
The parameters defined in `cli_run`are *not* up-to-date with the real-world, and stops users from making use of newer features in the scenario player (an example of this would be the `--no-cap-mediation-fees` flagm whic

[2019-10-28 08:45] Dominik1999 opened #5159 "Lock expires constantly in BF1 scenario"
## Issue checklist

To help us more easily debug your issue please check the boxes for which requirements for safe usage or Raiden were followed:

- [x] The Ethereum node was always up to date with the chain tip and never stopped running.
- [x] No Ethereum transaction was sent for the account that Raiden manages by another app.
- [x] The Ethereum account used by Raiden always had sufficient ETH.
-

[2019-10-28 08:50] rakanalh commented on #5059
Closing this issue as the solution was deemed to be in: https://github.com/raiden-network/raiden-services/pull/609

[2019-10-28 08:50] #5059 closed

[2019-10-28 09:03] karlb commented on #5158
`raiden.ui.cli` looks fine to me, see https://github.com/raiden-network/scenario-player/pull/372#issuecomment-546852925

[2019-10-28 10:42] hackaugusto commented on #5159
node3: `0xFa206b6Cf9EAc08dD15E13c7F54174C31C895246`
failed task: `TransferTask from: 3 to: 0 amount: 1000000000000000 lock_timeout: 30`
node3: `SendLockedTransfer recipient: 0x7a5c66E108F7Aa1E45272B81AC0f951501D44140`

running `grep RetryQueue | jq .event | sort -u` gives:

[code]

So the problem seems to be with the presence of the nodes

[2019-10-28 11:09] Dominik1999 commented on #5159
@err508 this seems to be same problem you are working on

[2019-10-28 13:43] nlsdfnbch commented on #5158
In response to https://github.com/raiden-network/scenario-player/pull/372#issuecomment-546852925:

I disagree. The entire idea of having two options to toggle a state makes very little sense to me. One of those states is the default, the other is the exception. The exception should be listed in those parameters, and the default shouldn't even exist as a flag.

So, `--no-cap-mediation-fees` is eith

[2019-10-28 13:58] karlb commented on #5158
Allowing both makes it possible to change the default without breaking calls that use the flag.

I also think it is more straightforward to see the world as click does instead of adopting a different world view and converting back and forth. Consistency is important and we do use click quite a lot.

I can certainly provide you with a list of expected flags, but I would do the same thing to create

[2019-10-28 14:09] nlsdfnbch commented on #5158
Great, thanks! The important part is that these options are provided by `raiden`. I should not be doing any magic to generate any "missing" ones on the SP side for exactly the reason you stated: it will get out of date otherwise.

[2019-10-28 14:42] #5053 closed

[2019-10-28 15:29] #5158 closed

[2019-10-29 07:33] nlsdfnbch opened #5167 "Raiden Client connected to Goerli infura Node tries to deploy to mainnet"
While implementing the smoketests for the SP (https://github.com/raiden-network/scenario-player/issues/350), I ran into a curios problem when running a scenario against raiden clients using infura nodes:
[code]

The Scenario player was called as follows:
[code]

and the underlying nodes all report having connected to `goerli` after being started with the following command (example from node2's std

[2019-10-29 07:49] LefterisJP commented on #5167
Okay so this is because of a small number of things:

1. The scenario run did not provide `--environment-type development` so it defaulted to `production`. In production users are not supposed to deploy their own token. Even though this limitation I thought should have been only for production + mainnet.

2. The error string is incorrect.

https://github.com/raiden-network/raiden/blob/f832fe9027f0

[2019-10-29 08:55] Dominik1999 commented on #5167
I would go for the latter, on production environment token deployment is not activated

[2019-10-29 09:22] hackaugusto commented on #5159
I'm closing this since my PR was merged and the problem from the issue was fixed. The presence still has to be fixed for the scenario to pass

[2019-10-29 11:12] Dominik1999 commented on #3254
@rakanalh @hackaugusto what is the outcome of this issue? Can we close it? Can we provide what was requested?

[2019-10-29 11:16] rakanalh commented on #3254
This is to be implemented in our next milestone.

[2019-10-29 11:31] #5167 closed

[2019-10-29 12:55] konradkonrad opened #5171 "Optimize cli options"
## Abstract

There is a ToDo comment that depends on https://github.com/pallets/click/issues/926 here: https://github.com/raiden-network/raiden/blob/4e6ad2a2abe2c7ae528f5a1ff8df680f848397bf/raiden/ui/cli.py#L80-L81

The linked issue claims to be resolved.

[2019-10-29 13:26] Dominik1999 commented on #5078
that might be related

I can locally reprocude the error when all nodes use `transport03` (since the pfs goerli with fee is currently using that)

[2019-10-29 15:21] hackaugusto opened #5176 "`test_matrix_discovery_room_offline_server` is flaky"
https://circleci.com/gh/raiden-network/raiden/86817#tests/containers/20

[2019-10-29 16:32] #4679 closed

[2019-10-29 18:08] ulope commented on #5050
I think this issue was closed prematurely.
Talel said that he's running on on macOS Catalina (10.15.) which has a lot of changes regarding permissions etc.

Also it's interesting that the error message says raiden tries to write the log file into the root fs.

[2019-10-30 08:45] agatsoh opened #5177 "Long Running Scenario which is more aligned with UAT and distributed environment"
## Abstract
A long running scenario needs to be created which tests complete raiden stack along with contracts, transport, Raiden client, blockchain, eth-client, monitoring service, pathfinding service and service contracts

## Motivation
1. https://github.com/raiden-network/team/issues/643
2. https://github.com/raiden-network/raiden/pull/2763

As mentioned in the issue [643](https://github.com/ra

[2019-10-30 10:12] LefterisJP commented on #5050
So I tried to reproduce with my OSX machine (High Sierra - 10.13) and I can't reproduce. The problem does not exist in that version of OSX.

The sandoxing I mentioned [above](https://github.com/raiden-network/raiden/issues/5050#issuecomment-542630851) happens in 10.13 but only for bundled apps (app with GUI like Rotki). But it does not happen for CLI apps like Raiden. So for 10.13 (and from what I

[2019-10-30 10:57] LefterisJP commented on #5050
All right so I can't reproduce this with my current hardware. My macbook air is from 2010 and High Sierra (10.13) is the last upgrade I can install on it.

Someone else will need to try and fix this or provide me with a machine that can have 10.15 installed.

[2019-10-30 13:26] czepluch opened #5178 "Add scenario to check for onchain unlocks"
### Introduction
In order to make sure that we cover as many parts of the functionality as possible we want to have a scenario that checks if on-chain unlocks have taken place.

### Description
This scenario must somehow in a predictable way assure that there will be locks that have to be unlocked on-chain. Currently there is no predictable way of doing so. One idea is to initiate a mediated trans

[2019-10-30 13:56] Dominik1999 opened #5179 "Tackling the testing issue in Q4"
# The goal
One key result of this quarter is to ensure that "Unit, Integration and scenario tests enable two weeks release cycle". We want to have tests on several layers - unit, integration/scenario-player tests that catch bugs early and ensure a stable environment.

# The situation
At the moment we cannot release frequently. Since two months we try to release and simply find too many bugs or too

[2019-10-30 15:32] #5048 closed

[2019-10-30 15:54] LefterisJP commented on #5078
All right I managed to reproduce this in a local scenario run. I found out exactly what is happening but not sure why.

## What we know so far

As we have seen for far the scenario fails consistently here:

https://github.com/raiden-network/raiden/blob/e34025fd39504da04697cc3a84f76b0b3086d0d1/raiden/tests/scenarios/bf1_basic_functionality.yaml#L231

As we have seen [above](https://github.com/raide

[2019-10-30 16:40] LefterisJP commented on #5078
## Checking all PFSFeeUpdates sent from nodes

Continuing from the above findings I checked the `PFSFeeUpdates` of logs of all nodes of the scenario in case for some reason a node sent a non-zero fee update.

### Node 0

[code]

## Node 1

[code]

## Node 2

[code]

## Node 3

[code]

## Node 4

[code]

## Checking conclusion

By checking the `flat`, `proportional` and `imbalance_penalty` of all t

[2019-10-30 17:02] jomuel opened #5181 "Ethereum nonce mismatches with low ETH balance and Geth <= 1.9.1"
This is a follow-up issue to #5048.

After the main issue has been fixed in PR #5124, the question remains why the nonce mismatches (`"Invalid LockedTransfer message. Nonce did not change sequentially, expected: 7 got: 3."`) in the log of #5048 happened.

As @LefterisJP noticed, these nonce mismatches also happen in the new integration test (`long_running/test_settlement.py::test_handle_insufficie

[2019-10-30 17:16] jomuel opened #5182 "Handle InsufficientEth errors during withdraws"
If a withdraw fails due to insufficient eth to pay for the gas, the `InsufficientEth` exception is currently not properly handled. It should be bubbled up to `RestAPI._withdraw` and handled there like in `RestAPI._close`.

[2019-10-30 18:15] Dominik1999 commented on #5078
I like your bug descriptions @LefterisJP it is a good read

[2019-10-31 09:10] christianbrb commented on #5178
@Dominik1999 please check with the Raiden client and services team how if an integration test needs to be done and how (balance updates)

[2019-10-31 11:21] rakanalh commented on #5178
To have unlocking happen on-chain, you would need the initiator to send the secret to the target. However, the target should not be able to unlock off-chain with the previous hop (mediator) as the mediator is offline.

The way this is tested in the Raiden client is that we listen for messages and we can trigger certain code to execute when a message is received. In this example, we could stop a me

[2019-10-31 12:08] LefterisJP opened #5184 "Allow disabling internal routing for tests and SP"
As we saw in https://github.com/raiden-network/raiden/issues/5078 internal routing can be really tricky and lead to very hard to debug problems in testing. So I would like to propose:

- Add a way to disable internal routing for the purposes of tests and for the purpose of the SP
- Add specific tests/scenarios that test internal routing

This way we will not have any unexpected surprises and/or ha

[2019-10-31 12:16] LefterisJP opened #5185 "Allow customization of the max mediation fee."
## Problem Definition

At the moment we have a max mediation fee pecentage as seen below:

https://github.com/raiden-network/raiden/blob/1ff6e6e22017b16a22fcef0e23535d5c41c617cc/raiden/transfer/mediated_transfer/initiator.py#L258-L263

If the transfer exceeds the amount + mediation fee percentage then we simply don't do it.

## Task

That max fee is hard-coded. As a user of an ethereum layer 2 sca

[2019-10-31 12:21] LefterisJP opened #5186 "Add `amount_for_fees` to `EventPaymentSentSuccess`"
## Problem Definition

As also seen from this [issue](https://github.com/raiden-network/raiden/issues/5078#issuecomment-547977286) when a payment is succesfully sent and has had fees paid the `amount` of the event is only the amount transferred without the fees.

That is really confusing. When the user sees this he think okay I spent 1000 tokens. But then his balance got reduced by 1012 tokens and

[2019-10-31 12:34] christianbrb commented on #5178
@rakanalh Thanks for your answer : )

Is there an interaction between PFS, MS and the Raiden client regarding unlock? If yes, we could just test it with the scenario player.

CC @karlb

[2019-10-31 12:48] karlb commented on #5178
@christianbrb Neither the PFS nor MS have anything directly to do with unlocks. Unlocks happen between Raiden nodes or on-chain.

[2019-10-31 13:37] Dominik1999 opened #5187 "Provide a stable Raiden Demo environment - Defining a plan"
# Goal
The goal is to have a stable Raiden Demo environment, defined as a set of Raiden components, that consistently works every time we want to show Raiden to external people.

Raiden components are defined as
- the Raiden Client
- the Raiden Services
- the Matrix Server
- the Raiden Contracts
- the Raiden Wizard

We want someone to download the Raiden Wizard and it should work. It does not need

[2019-10-31 13:38] Dominik1999 commented on #5187
@christianbrb can you tell us the requirement about "how long should that demo environment work/ be online"?

After that answer:

@pirapira @lullis can you comment here in the issue and post the plans you had in mind?

@karlb @pirapira @lullis we meet again Monday morning to define the plan

[2019-10-31 13:39] karlb commented on #5156
Presence is needed to send matrix messages, so this is not a viable approach.

[2019-10-31 13:39] #5156 closed

[2019-10-31 13:40] LefterisJP commented on #5078
We had a look at the PFS logs with @karlb.

Turns out that for this particular request there is not even a log entry at the PFS side. That means that the request never made it to the PFS but timed out instead.

The theory for that is that since many requests are sent to the PFS at the same time and the pathfinding timeout is only 1 second

https://github.com/raiden-network/raiden/blob/1ff6e6e22017

[2019-10-31 13:46] pirapira commented on #5187
* the goal should be, anybody performing the demo can press a button any time and it works.
    * this requires a fixed version of the whole codebase (or a docker image)
    * this also requires working servers (PFS & Matrix & Ethereum node)
        * I believe a self-contained local private-network setting would be much less prone to environmental changes (oh now the server is running a different

[2019-10-31 13:47] rakanalh commented on #5151
The AssertionFailure mentioned is:

[code]

[2019-10-31 13:59] rakanalh commented on #5184
@karlb @palango could you guys please explain why we fallback to internal routing if the request to PFS fails? I think the better approach would be to fail early as @LefterisJP suggested in case the PFS is unable to provide the route.
Also, from a UX perspective, i think this unexpected behaviour is going to be confusing if i setup to use my own PFS and it fails then Raiden falls back to something

[2019-10-31 14:03] LefterisJP commented on #303
@Dominik1999 @rakanalh I think we can close this issue. As far as I understand we don't plan to implement this, but instead will rely on xud.

[2019-10-31 14:22] #303 closed

[2019-10-31 14:27] hackaugusto opened #5189 "Add synchronization for setting the room listener and the fecthing of new messages."
## Overview

This is a rough outline of how the synchronization is performed in the matrix transport:

1. During start up, if it is not the first run, the previous created user account is reused. Because there may be new invites a [call to `sync` is performed](https://github.com/raiden-network/raiden/blob/1ff6e6e22017b16a22fcef0e23535d5c41c617cc/raiden/network/transport/matrix/utils.py#L445), this

[2019-10-31 14:27] LefterisJP commented on #522
@hackaugusto The xfailed test is still there:

https://github.com/raiden-network/raiden/blob/1ff6e6e22017b16a22fcef0e23535d5c41c617cc/raiden/tests/unit/transfer/mediated_transfer/test_targetstate.py#L696-L705

What exactly is the issue asking for? We now generate an `EventPaymentReceivedSuccess` for the target when we get a valid unlock.

https://github.com/raiden-network/raiden/blob/1ff6e6e22017b

[2019-10-31 14:38] LefterisJP commented on #5184
We discussed with Rakan and think it may make sense to disable falling back to internal routing all-together. What do you guys think? Why do we even fall back to internal routing now?

[2019-10-31 14:43] hackaugusto opened #5190 "Don't rely on undocumented HTTP response codes."
The `_get_public_room` code is checking the HTTP status code when [an error happens](https://github.com/raiden-network/raiden/blob/1ff6e6e22017b16a22fcef0e23535d5c41c617cc/raiden/network/transport/matrix/transport.py#L1062-L1067), [which is not documented](https://matrix.org/docs/spec/client_server/r0.5.0#post-matrix-client-r0-rooms-roomid-join). On top of that there are additional error codes tha

[2019-10-31 14:43] LefterisJP commented on #1142
Do we ever plan to implement this? At the moment there is no reachability check at opening a channel.

[2019-10-31 14:46] karlb commented on #5184
I agree that we should not fall back to internal routing. It just makes things more complicated and harder to predict/debug. If someone wants to use the internal routing, it should be done explicitly.

[2019-10-31 14:53] LefterisJP commented on #2096
This is tested here: https://github.com/raiden-network/raiden/blob/1ff6e6e22017b16a22fcef0e23535d5c41c617cc/raiden/tests/unit/utils/test_functions.py#L7-L19

[2019-10-31 14:53] #2096 closed

[2019-10-31 14:53] rakanalh commented on #5190
According to what @hackaugusto explained to me, this is directly related to multiple rooms being created for a single channel between both participants.

[2019-10-31 14:54] LefterisJP commented on #2177
@kelsos Can we close this issue from here? Have you gotten all the feedback you require? Especially considering the webui is in its own repo right now.

[2019-10-31 14:58] kelsos commented on #2177
@LefterisJP yes I will go ahead and close the issue. If we have any specific requests for specific APIs and information we can open new issues for them with @manuelwedler

[2019-10-31 14:58] #2177 closed

[2019-10-31 15:23] LefterisJP commented on #5122
@pirapira since we run Raiden on Goerli now this can be closed, right?

[2019-10-31 15:25] LefterisJP commented on #3233
@Dominik1999 and @ulope should we keep this issue open? We have had other issues with matrix so far and I suppose fixing them will also address what was seen here?

[2019-10-31 15:28] LefterisJP commented on #3407
@ulope Is this still needed? I think I saw homebrew being updated with latest rcs

[2019-10-31 15:52] LefterisJP commented on #4018
@rakanalh I think most dataclasses are frozen right now, no?

[2019-10-31 16:18] LefterisJP opened #5195 "Flaky run of test_regression_unfiltered_route"
## Problem Definition

[code]

The full logs are here: https://gist.github.com/LefterisJP/69bda70c9e6aeff79a4516f823a8b733

[2019-10-31 16:50] Dominik1999 commented on #5187
So we could say, we want the demo environment for 3 month before we update it again?

[2019-10-31 19:52] #5127 closed

[2019-10-31 19:53] rakanalh commented on #4018
Not really, most of them are the non-frozen.

[2019-10-31 22:15] LefterisJP commented on #4018
Indeed, was looking at only a subset of files.

I started taking a look at this issue and doing some initial work.

 So one question here, do we really want to just blindly set all dataclasses to frozen even if the instances of the dataclasses are mutated often? Like with the pathfinding IOUs?

https://github.com/raiden-network/raiden/blob/8821730a2fc28642738dce08c9eac1351854dacb/raiden/network/pa

[2019-10-31 23:04] lullis commented on #5187
@pirapira, my understanding is that "demo environment" means more than "something that Christian can run on his laptop and show to other people". Rather, it needs to be a set of services that users can access and interact with anytime they want, only without the expectation of it being a production deployment.

My suggestion is simply to take what in our subsystems are protocol/version-defining:

[2019-11-01 07:24] christianbrb commented on #5187
Thanks for your questions 😊

The main goal for the demo environment is, that
1. A user can download the Wizard (nothing more) and run Raiden using Infura
2. This needs to be always doable on the latest stable versions (tested and released)

@lullis explained it in a different way in his first paragraph of the comment above

[2019-11-01 08:30] Dominik1999 commented on #5187
Ok, thanks for the clarification. I updated the goal above. What I understand now is that we need a "Wizard Testnet Environment"

So we want that everyone can download the testnet Wizard and it simply works fine.

[2019-11-01 08:38] Dominik1999 commented on #5178
@karlb there is no PFSCapacityUpdate being sent after the unlock?

[2019-11-01 08:55] karlb commented on #5178
There is. But the PFS does not know the PFSCapacityUpdate is caused by an unlock. If you want to draw conclusions about the unlocks indirectly, it is easier to ask the nodes for their channel balances than to intercept the PFSCapacityUpdates.

[2019-11-01 08:58] Dominik1999 commented on #5178
ok, thanks.

[2019-11-01 09:10] Dominik1999 commented on #61
@konradkonrad can we close this issue or should we somehow try to revive it?

[2019-11-01 09:21] rakanalh commented on #4018
I also started working on this a while ago and stopped because `replace`ing the objects is going to be ALOT of work. Also in the example you've given, there are objects which mutate theirselves so that also somehow needs to change.

[2019-11-01 09:27] LefterisJP commented on #4018
It's not hard to change that. You just return a mutated object, for example at the IOU's `sign()` function.

The question I have is basically does it make sense? Why do this? If a particular dataclass is used as immutable then should we force the `frozen=true` and go through all these hoops? If yes why? What do we gain?

And if it makes no sense let's just modify the issue to be to set `frozen=Tru

[2019-11-01 09:31] lullis commented on #5069
I am not really sure channel_settings will be needed after all. We can keep token_network settings as part of the state, and using the `settings` tables for configuring/storing the default values to be used as initial values.

[2019-11-01 09:31] #5069 closed

[2019-11-01 09:33] LefterisJP commented on #4695
@offerm Is my explanation sufficient? If yes can you close the issue?

[2019-11-01 09:42] Dominik1999 commented on #5134
closed until we see it in the nightlies to get the logs

[2019-11-01 09:45] #5134 closed

[2019-11-01 10:07] rakanalh commented on #4018
The general idea we want to achive here is have immutable objects especially in the state machine where any mutations would be performed on a copy of the object and this copy replaces the old value after the mutation happens. The gain would be:
1. We don't deepcopy chain state anymore.
2. This enables us to perform atomic changes where we can drop the state's copy after mutations if sanity checks

[2019-11-01 10:48] rakanalh opened #5199 "PFS scenarios fail with "No route found""
## Problem Description

Most scenarios are currently failing with "No route found". We've rebooted the testing synapse servers with a bootstrap script which creates discovery / path finding and monitoring rooms.

[2019-11-01 10:51] rakanalh commented on #5199
I ran PFS with PFS7 scenario using the SP and transfers pass locally.

However, because we did not restart the testing deployment of the PFS, i think that they might have joined global rooms prior to the reboot of the synapse server and the scenario nodes are joining the new rooms. This could lead to the PFS not being notified about presence information for nodes that are brought up by the SP.

@k

[2019-11-01 11:01] LefterisJP commented on #4018
So how will the new approach work though? At the moment we make a copy of the current state, name it next state and modify it during the state transition.

If we don't do that and all state classes end up being immutable we would need to be making multiple copies of each state object instance for each time any attribute is modified. So in a really deep state transition call from a state change tha

[2019-11-01 11:17] rakanalh commented on #5199
Issue is confirmed, restarting the PFS to join the new pathfinding room did the trick. Closing.

[2019-11-01 11:17] #5199 closed

[2019-11-01 11:35] LefterisJP commented on #5199
@rakanalh That's the classic case of "Did you try to turn it off and on again"? :smile:

[2019-11-01 11:40] rakanalh commented on #5199
hahaha yea... it would have been hard to reason about if not for the long hours of staring at logs a couple of weeks ago.

[2019-11-01 11:50] LefterisJP commented on #5150
From what I understand Is this issue solved by adding the small wait between the transfers completion and their assertion, right?

[2019-11-01 12:45] LefterisJP commented on #5181
@jomuel You wrote the `test_handle_insufficient_eth` test.

I tried running the latest develop version of that test with geth 1.9.1, 1.9.2 and 1.9.6 and I don't get any:

Do you remember when I told you that and in what situation the test was in? I would like to reproduce this to understand what happened.

Checking the previous PR: https://github.com/raiden-network/raiden/pull/5124/ it seems you c

[2019-11-01 12:57] #5151 closed

[2019-11-01 13:44] Dominik1999 commented on #5150
It happened again in pfs7

here are the logs

http://68.183.70.168/Scenario_player_Logs-pfs7_multiple_payments-1-latest-2019-11-01.tar.gz

Maybe this is caused due to internal routing was used due to a pfs timeout? @LefterisJP

[2019-11-01 13:47] Dominik1999 opened #5203 "Lock expired in pfs7 scenario"
I ran the pfs 7 scenario locally with remote pfs with fee on goerli) and got

`"Payment couldn't be completed because: lock expired"`

Full logs are available here:
[PFS7-Fail Lock expired.zip](https://github.com/raiden-network/raiden/files/3798163/PFS7-Fail.Lock.expired.zip)

[2019-11-01 13:52] LefterisJP commented on #5150
Looking at the logs right now @Dominik1999

[2019-11-01 14:01] LefterisJP commented on #5150
I don't think this can be due to the fallback to internal routing since the asserted amount is smaller and not bigger than expected.

[code]

Here is the failing assertion:

https://github.com/raiden-network/raiden/blob/3f76782be89459669cdec8065f2b7b4846113939/raiden/tests/scenarios/pfs7_multiple_payments.yaml#L82-L87

In a similar 100 transfers in bf1 we are waiting for 100 seconds and not only f

[2019-11-01 14:18] Dominik1999 commented on #5150
But when the sum on the sender side smaller is, that means he paid more than expected, right?
Which would happen when for some payments there are an additional 3% paid, right?

[2019-11-01 14:29] LefterisJP commented on #5150
Yes that is correct. My bad, did not notice it was on the sender's side.

But still no logs contain a `Could not connect to Pathfinding Service` entry, so there was no fallback to internal routing.

My theory is at the moment on the waiting not being enough. But will look further.

[2019-11-01 14:38] #5131 closed

[2019-11-01 15:37] LefterisJP commented on #5150
## Analysis of the logs provided by Dominik

Unfortunately that initial theory was wrong.

Here is a small analysis of the logs provided by Dominik [above](https://github.com/raiden-network/raiden/issues/5150#issuecomment-548792519)

The layout of the network is the following:

[code]

The node addresses are:

node 0: `0xB84D30b5b4C9Cb3c50c59B80B54d7fF175256d6D`
node 1: `0xc9494C4ba5A80F9a707846f5

[2019-11-01 16:02] Dominik1999 commented on #5150
so there was a fee deducted even if fees were set to 0?

[2019-11-01 16:10] LefterisJP commented on #5150
Yeah, the PFS returned non-zero estimated fees for some routes. In the logs above it's `-2`.

@karlb  in rocketchat theorized this may be due to floating point inaccuracies on the PFS side.

He said:

[2019-11-01 16:10] #5153 closed

[2019-11-01 16:54] karlb commented on #5150
Now that https://github.com/raiden-network/raiden/pull/5197 is merged, I get a green PFS7.

[2019-11-01 16:57] LefterisJP commented on #5150
That's good. So the reason the PFS returned `-2` as per my findings could have been indeed a floating point accuracy. Let's let few nightlies run and then we can close this issue.

[2019-11-02 20:20] #2728 closed

[2019-11-04 09:09] christianbrb commented on #5177
The long-running scenario is working

[2019-11-04 09:45] #5150 closed

[2019-11-04 09:56] agatsoh opened #5204 "Unexpected Balance in bf1 Scenario"
## Problem Definition
The scenario player logs shows the presence issue again

`{"json": {"errors": "Payment couldn't be completed because: there is no route available"}, "event": "Received response", "logger": "scenario_player.tasks.api_base", "level": "debug", "timestamp": "2019-11-03 03:48:43.194562"}`

The  `AssertSumTask` task also

`{"task": "<AssertSumTask: {'from': 0, 'balance_sum': 110500

[2019-11-04 10:35] czepluch opened #5205 "Scenario for multi directional mediated transfers"
### Introduction
During manual release testing for Red Eyes back in 2018, one of the tests that was carried out was to do mediated transfers between [0, 1, 2, 3] in both directions simultaneously. Currently there is no scenario that tests this.

### Spec
Add a scenario that sets up a topology of [0, 1, 2, 3, 4] and deposits in both directions between all nodes. When all channels are opened and dep

[2019-11-04 10:41] karlb commented on #5187
Looking at the services we need up to four simultaneous deployments to satisfy all requirements:
* Services master branch for the nightly scenario player runs
* One compatible with the latest Raiden RC for the testers
* One compatible with the current Raiden stable release for the testnet Wizard
* One compatible with the previous Raiden stable release, so that people won't have broken installation

[2019-11-04 10:47] hackaugusto opened #5206 "Remove `self._getroom_lock` from the `MatrixTransport` hot path"
## Abstract

The function `_send_raw` is used to send messages to the matrix rooms, this is shared across all message queues from all users and currently it has a lock that is serializing all calls to the function:

https://github.com/raiden-network/raiden/blob/b9940c019c245459d342374412132f9f6de0da4c/raiden/network/transport/matrix/transport.py#L932-L934

## Motivation

ATM there is no documentat

[2019-11-04 11:08] lovasoa commented on #4833
The new version of marshmallow-dataclass is now released, and supports the definition of custom types that you may find useful. Feel free to close this issue if you want.

[2019-11-04 11:39] err508 commented on #5204
The node logs are from 27.10. please provide the logs from the right run. Also the scenario failed for an balance assertion error and all transfers went through, so please change the title accordingly.

[2019-11-04 12:38] hackaugusto opened #5207 "Write assumption tests for the matrix APIs"
## Abstract

As it is describe on https://github.com/raiden-network/raiden/issues/5190 there are some undocumented behavior that is being relied on by the transport class. These should have integration tests written to make sure the behavior is not broken across matrix releases.

[2019-11-04 13:07] agatsoh commented on #5204
@err508 @rakanalh @karlb Updated the issue with the correct log files

[2019-11-04 13:09] lullis commented on #5187
@rakanalh mentioned that we current do not have a way to version our protocol and that it does have any immediate reason to change frequently. In practice this means that the only component that is constantly varying and needs to be agreed upon for all systems to function correctly are the raiden contracts. These are already properly versioned.

With that in mind, the following plan would be estab

[2019-11-04 13:39] czepluch opened #5208 "Scenario for sending mediated payments to several different recipients in parallel"
### Introduction
During manual release testing for Red Eyes back in 2018, one of the tests that was carried out was to do mediated transfers to several different recipients at the same time from the same node. Currently this is not done in any of the scenarios and hence, a scenario doing this should be added.

### Specification
A topology of [ [0, 1, 2], [0, 1, 3], [0, 4, 5] ] should be setup with

[2019-11-04 14:05] karlb commented on #5204
This is not caused by presence problems:
[code]

Here's the output for the route request from the PFS:
[code]

The `Invalid fee calculation` might be the cause of the problem, but I have to check more details before drawing any conclusion.

[2019-11-04 14:21] manuelwedler opened #5209 "Opening channel with null address causes crash"
## Problem Definition

When trying to open a channel with address `0x0000000000000000000000000000000000000000` Raiden crashes. The API should respond with an error in that case.
[code]

### System Description

Raiden v0.200.0rc1

[2019-11-04 14:22] czepluch opened #5210 "Scenario for different non allowed operations"
### Introduction
During manual release testing for Red Eyes back in 2018, one of the tests that was carried out was to do try to do different non allowed actions such as opening the a channel with the same partner twice, depositing after close was called and trying to close the same channel twice. Currently this is not done in any of the scenarios and hence, a scenario doing this should be added.

[2019-11-04 14:37] LefterisJP commented on #5209
I will take that one.

[2019-11-04 14:53] hackaugusto opened #5212 "Remove `force_resync` from `Room.get_joined_members`"
## Abstract

That flag existed to force context-switches in a hot loop. This should be unnecessary after https://github.com/raiden-network/raiden/pull/4836/ , additionally, if the need for it comes back, one can just use `gevent.sleep` to give control back to the hub, and remove the extra lines of code.

## Motivation

This is just a small simplification.

[2019-11-04 15:02] ulope commented on #5195
I've just had the same in `test_regression_payment_complete_after_refund_to_the_initiator[matrix-False-0-5]`.

Looks like the `raise_on_failure` helper is the common factor.

[2019-11-04 15:11] karlb commented on #5204
The missing route happens for
[code]
and is an expected part of the scenario. So the only unexplained problem is the wrong balance.

[2019-11-04 15:38] LefterisJP commented on #5181
I was told by Jochen that the previous version of the test had a withdraw by `app1`, right after the eth is burned and `app1.raiden` restarted

I tried this with geth v1.9.1 and I still saw no nonce mismatch.

I am closing this issue as not reproducible. If this pops up again we can reopen.

[2019-11-04 15:38] #5181 closed

[2019-11-04 16:06] karlb commented on #5204
The relevant part of the scenario is https://github.com/raiden-network/raiden/blob/develop/raiden/tests/scenarios/bf1_basic_functionality.yaml#L202-L234

The time range to the 100 transfers is `select(.timestamp > "2019-11-03 04:53:41.863518" and .timestamp < "2019-11-03 05:10:28.268332")`.

The channel 0->1 starts with a transferred amount of 11_000_000_000_000_000 and ends with 111_000_000_000_0

[2019-11-05 07:28] LefterisJP opened #5217 "Fully support Infura"
## Problem Definition

In the past we have had problems when using Raiden with Infura. See: https://github.com/raiden-network/raiden/issues/2933

Since then geth has fixed `getTransactionCount("pending") ` and Infura has this exposed for their nodes. Additionally we learned that Infura does not use parity nodes. That means that we can officially support Infura right now.

## Task

- [ ] Test that

[2019-11-05 09:00] agatsoh opened #5219 "BF1: AssertSumTask error"
## Problem Definition

`{"json": {"errors": "Payment couldn't be completed because: there is no route available"}, "event": "Received response", "logger": "scenario_player.tasks.api_base", "level": "debug", "timestamp": "2019-11-05 04:12:14.505142"}`

Also assert sum failures

`{"task": "<AssertSumTask: {'from': 0, 'balance_sum': 1105000000000000000}>", "event": "Task errored", "logger": "scenario

[2019-11-05 11:09] #5209 closed

[2019-11-05 11:53] christianbrb commented on #4369
Is this related to #5178 ?

[2019-11-05 11:58] agatsoh commented on #5219
Closer inspection of the node logs
**MatrixRequestError** For nodes 0, 1 ,2 , 4
[code]
**ServiceRequestIOURejected** for node 3
[code]

[2019-11-05 12:26] #5206 closed

[2019-11-05 12:34] jomuel commented on #4369
No, it is not related. If I understand #5178 correctly, it is about verifying an onchain unlock happens in a certain situation. This issue is about making integration tests more predictable by asserting no _unexpected_ unlock failures happen.

[2019-11-05 13:35] lullis opened #5227 "Raiden Wizard releases need to be correspondent to Client releases"
Original issue is here: https://github.com/raiden-network/raiden-installer/issues/73

[2019-11-05 15:32] #4923 closed

[2019-11-05 16:05] hackaugusto opened #5230 "Write assumption tests for the transactions failures."
## Abstract

The error number and messages are not standardize and differ across Ethereum clients, because of this there is some custom logic which tries to figure out what is the root cause of an error:

https://github.com/raiden-network/raiden/blob/a5e29b2ed0f9d0b283d1ef8168ac95c33655df26/raiden/network/rpc/smartcontract_proxy.py#L35-L69

The problem is that the above code was modified as new is

[2019-11-05 16:52] hackaugusto commented on #5230
Most of these were tested already:

3. A transaction that has been sent and is currently waiting in the pool, is sent again to the client. Tested by [test_duplicated_transaction_same_gas_price_raises](https://github.com/raiden-network/raiden/blob/a5e29b2ed0f9d0b283d1ef8168ac95c33655df26/raiden/tests/integration/rpc/assumptions/test_rpc_gas_price_assumptions.py#L31)
4. A new transaction is sent, us

[2019-11-05 20:05] #5205 closed

[2019-11-06 09:16] rakanalh commented on #5219
@agatsoh:
[code]
Could be because the first transfer intentionally triggers this. This is obvious to me because you reached the summation assert which means that subsequent transfers passed.

[code]

This is part of what the transport does to join / create a room and create it's alias on a specific server and is not considered a faulty behaviour (yet).

You're posting alot of stuff but none of the

[2019-11-06 10:33] palango commented on #5187
A few questions from my side:

Should this work on the testnet(s) and/or mainnet, if testnet which?

Why would we show any other release other than the latest stable release?

What about just setting up a instance of the Raiden service bundle on agiven domain and use that for the demo and update it when we release a new raiden version?

[2019-11-06 10:40] Dominik1999 commented on #5187
This should work on Görli

That would also work, we just do not have a latest stable release. For the purposes of the demo environment, we only want to have a stable environment that does not change when we introduce new bugs/features/contracts in any of the modules. So it must be a isolated set of Raiden Modules. Does that make sense?

[2019-11-06 10:44] palango commented on #5187
Kind of. So currenty we want a stable environment for the wizard. The service bundle defaults to the services 0.4.0: https://github.com/raiden-network/raiden-transport/blob/master/docker-compose.yml#L4

So setting this up somewhere and using the RC1 raiden client should be stable as far as I understand? Or am I missing something?

[2019-11-06 10:47] Dominik1999 commented on #5187
I think at the moment we don't have a sub-set of Raiden components - Client, Contracts, Services, Matrix, Wizard - that is stable.

Goal of this issue is to define a plan, how we can achieve this.

The "User-Story" is:

Franz wants to be able to download the Wizard, and it works in a version of Raiden all the time. It is not important that this version is the latest.

[2019-11-06 10:51] Dominik1999 commented on #5187
Is this stable? RC1, Services 0.4.0, Matrix-Server (version?, how many?), contracts?

I would understand as stable: The Wizard opens the WebUI and mediated payments to a random online node are possible.

[2019-11-06 11:06] agatsoh commented on #5219
@rakanalh

Scenario in a nutshell
node 0 => `0x8cE96fd8241E28e075983F75E4C67D6663ed4216`
node 1 => `0xD0660c58b9B1aaB52b7Ea96156756AA442082f14`
node 2 => `0x78690120B063b234b7ed8540Afc3e948dd10B2ec`
node 3 => `0xB0F7eCB3DBC8474dF29e0501d576A25b71d8ED0e`
node 4 => `0xa26F98EF27077066Cca77cA7cA601358F55bB739`

The Scenario fails at this point

<pre>
{
  "task": "<AssertSumTask: {'from': 0, 'balance_

[2019-11-06 11:07] #5217 closed

[2019-11-06 11:07] palango commented on #5187
I think so.

It would work for all random online nodes on the same matrix server.

[2019-11-06 11:10] Dominik1999 commented on #5187
Ok if we already have a sub-set of Raiden components that is stable, we can use that for a demo environment.

[2019-11-06 11:39] palango opened #5235 "Switching user presence"
I saw this while debugging another scenario:
[code]

This seems a bit strange, as the presence is changing quick. I'm not sure whether or not this is a bug and would like someone else to have a look.

The real logs (line 2768 to 2781 from the file below)
[code]

[run-004.log](https://github.com/raiden-network/raiden/files/3814203/run-004.log)

- check if it is present, if then put it in next week

[2019-11-06 12:26] ulope commented on #5235
It would be helpful to see the logs of `0x054EBf559cd96e1c815EE7263018644D754c3890`.

[2019-11-06 12:28] palango commented on #5235
Here are all the node logs

[Archive.zip](https://github.com/raiden-network/raiden/files/3814383/Archive.zip)

[2019-11-06 13:04] rakanalh commented on #5219
Thanks @agatsoh. Will look into it.

[2019-11-06 14:46] palango opened #5236 "Invite to matrix room takes 9 minutes"
## Problem Definition

While working on #5204 and running the BF1 scenario again I constantly run into an expiring lock on the first transfer.

After debugging this with @hackaugusto we found out that the problem is related to the invite to the matrix taking ~10 mins to reach the mediator.

## Detailed information

In the scenario (https://github.com/raiden-network/raiden/blob/develop/raiden/tests

[2019-11-06 15:01] konradkonrad commented on #5236
Clarification question:
Title says

Description says

[2019-11-06 15:09] palango commented on #5236
@konradkonrad  It's 9+ minutes.

[2019-11-06 15:17] Dominik1999 commented on #5236
Wow, thanks for digging into it. Damn

[2019-11-06 15:36] andrevmatos commented on #5236
A possible reason for this is that, if somehow the "inviter" has some room for "invitee" on `account_data`, it may not invite immediately. I've seen this happening with the Light Client. A way to trigger the reinvite from the invitee perspective is going offline and after e.g. 30s coming back online. The status change should trigger the re-invite. A proper fix is the inviter checking in more event

[2019-11-06 15:39] hackaugusto opened #5237 "Matrix logging should redact the logs"
[`_send_raw` logs the data sent to the server](https://github.com/raiden-network/raiden/blob/develop/raiden/network/transport/matrix/transport.py#L941), but that data is not being redacted. It should do the same as the `RaidenService` class, [print the pure dictionary with the data redacted](https://github.com/raiden-network/raiden/blob/960c4749a41f4b1c99254a79f8922615c7ab5d5c/raiden/raiden_servic

[2019-11-06 15:44] Dominik1999 commented on #5187
during my 2 days of sickness, we are 2 days late.

Our draft plan for the demo environment:
- [ ] We need to have a demo “service bundle” environment deployed (PFS, MS, Matrix)
- [ ] We change the Wizard to hardcode the version of Raiden client to X (whenever we have a stable version X)
- [ ] Wizard runs, downloads Raiden and configures it to use the service bundle that is compatible with version

[2019-11-06 15:50] ulope commented on #5237
We have the log redactor to do that automatically:
https://github.com/raiden-network/raiden/blob/583e4fff55f8cb4467c29065bcd7451218e5aaf3/raiden/log_config.py#L14-L19

https://github.com/raiden-network/raiden/blob/583e4fff55f8cb4467c29065bcd7451218e5aaf3/raiden/log_config.py#L166-L166

[2019-11-06 16:07] hackaugusto commented on #5203
@Dominik1999 Every single node has a gap of 20 minutes in the log files:

log | gap
--- | ---
node_1_000/run-001.log | 0:19:59.326674
node_1_001/run-001.log | 0:19:59.365394
node_1_002/run-001.log | 0:19:59.546466
node_1_003/run-001.log | 0:19:59.475730
node_1_004/run-001.log | 0:19:59.409263

Did your computer go to sleep while the scenario was being executed? That would explain the problem we ar

[2019-11-06 16:10] Dominik1999 commented on #5203
@hackaugusto I do not know to be honest. I can try to reproduce this and prevent hibernation.

[2019-11-06 16:14] Dominik1999 commented on #5203
Sure it is not related to this issue? https://github.com/raiden-network/raiden/issues/5236

[2019-11-06 16:15] Dominik1999 commented on #5203
But if it cannot be analyzed by the logs, then just close it. @jomuel

[2019-11-06 16:16] LefterisJP commented on #5112
Sooo .... this issue was invalid from the get-go.

Looking at `_callback_new_block()` the list of state changes that is mentioned in the original problem definition can never have anything else other than blockchain state changes. So this is not really a problem and we can close it.

[2019-11-06 16:16] #5112 closed

[2019-11-06 16:19] #5203 closed

[2019-11-06 16:21] hackaugusto commented on #5203
These are different things, the issue #5236 does not have a huge gap in the logs, here are the gaps for **#5236**, which is on the time scale of seconds, not minutes:

log | start time | end time | total gap
--- | --- | --- | ---
node_4_000/run-004.log | 10:48:58.237749 | 10:49:07.415377 | 0:00:09.177628
node_4_001/run-004.log | 10:48:56.608643 | 10:49:07.275406 | 0:00:10.666763
node_4_002/run-004

[2019-11-06 16:24] hackaugusto commented on #5236
The invite is done in the same RPC call that creates the room, here:

https://github.com/raiden-network/raiden/blob/960c4749a41f4b1c99254a79f8922615c7ab5d5c/raiden/network/transport/matrix/transport.py#L1083

If the room was created the the partner should have been invited.

[2019-11-06 16:38] hackaugusto commented on #5237
@ulope , sample log:

[code]

[2019-11-06 16:45] ulope commented on #5237
Sorry, I meant "we already have the infrastructure, just need to add a regex for this case".

[2019-11-06 18:46] hackaugusto opened #5240 "`UserAddressManager._address_to_userids` needs a lock to protect its concurrent usage"
## Abstract

The container `UserAddressManager._address_to_userids` is iterated by the [`refresh_presence` thread](https://github.com/raiden-network/raiden/blob/960c4749a41f4b1c99254a79f8922615c7ab5d5c/raiden/network/transport/matrix/transport.py#L424) here:

Line 273:
https://github.com/raiden-network/raiden/blob/960c4749a41f4b1c99254a79f8922615c7ab5d5c/raiden/network/transport/matrix/utils.py#L2

[2019-11-06 20:19] #5230 closed

[2019-11-07 09:40] hackaugusto commented on #3263
This was fixed by https://github.com/raiden-network/raiden/pull/4909 , the strategy changed. The PR introduced assumption tests for reusing the nonce https://github.com/raiden-network/raiden/issues/5230 that should cover all cases, and because of consistency issues instead of looking into the transaction pool a generic transaction is raised. (It would be hard to support geth/parity/infura for this

[2019-11-07 09:40] #3263 closed

[2019-11-07 10:15] palango commented on #5236
@ulope I don't see the mediator going offline from the initiators view:
[code]

Any other ideas?

[2019-11-07 10:23] #5240 closed

[2019-11-07 10:28] agatsoh opened #5242 "MS1, MS3, MS4, MFEE4 Error Message: Selected Pathfinding Service returned unexpected reply"
## Problem Definition
The node logs for MS1, MS3, MS4, MFEE4 scenarios give us this

[code]

Due to this error the raiden nodes fail to start
More Analysis and logs will follow.
[ms1_simple_monitoring.tar.gz](https://github.com/raiden-network/raiden/files/3819076/ms1_simple_monitoring.tar.gz)

[ms3_simple_monitoring.tar.gz](https://github.com/raiden-network/raiden/files/3819145/ms3_simple_monitori

[2019-11-07 10:33] ulope commented on #5236
You could look for the following log events on the inviters side:

- `Waiting for peer to join from invite`
- `Peer has not joined from invite yet, should join eventually`
- `Inviting` (I wouldn't expect this one to appear, it only happens when a peer we're interested in comes back online)

[2019-11-07 10:39] agatsoh opened #5243 "MS2 Expected number of events (1) did not match the number of events found (0)"
## Problem Definition
The MS2 scenario fails due to this error
[code]
More Analysis to follow.
[ms2_simple_monitoring.tar.gz](https://github.com/raiden-network/raiden/files/3819125/ms2_simple_monitoring.tar.gz)

[2019-11-07 10:47] palango commented on #5236
[code]

[2019-11-07 10:49] hackaugusto commented on #5207
Write a the availability of the `displayname`value.

- What is the format of the json if the user does not have a `displayname`? Is it `null` or the key is not available in the mapping?
- Which APIs have this behavior? `search_user_directory`, `_handle_invite`, `_presence_listener`

[2019-11-07 10:58] hackaugusto opened #5244 "Check `search_user_directory` return format"
## Abstract

`search_user_directory` has a very broad try-except for a `KeyError` exception:

https://github.com/raiden-network/raiden/blob/f18e64cdbdd36f72c087a80186aabd0098c0af23/raiden/network/transport/matrix/client.py#L333-L340

Currently it is undocumented what this except is protecting for, any of the keys `results`, `user_id`, or `display_name` could be the motivation for the try-except.

[2019-11-07 11:01] hackaugusto commented on #5207
Write assumption tests for the return format of the Matrix APIs:

Here the key is named `display_name`:

https://github.com/raiden-network/raiden/blob/f18e64cdbdd36f72c087a80186aabd0098c0af23/raiden/network/transport/matrix/client.py#L333-L340

Bellow they are `displayname`:

https://github.com/raiden-network/raiden/blob/f18e64cdbdd36f72c087a80186aabd0098c0af23/raiden/network/transport/matrix/tran

[2019-11-07 11:08] ulope commented on #5244
Without a display name a node isn't functional since the displayname contains the verification signature.

If a node crashes in the exact spot that it didn't get to setting the displayname it will do so on the next restart (since the re-usable access token is only stored after the displayname has been set).

[2019-11-07 11:21] hackaugusto opened #5245 "Lazy formatting for disable logging levels"
## Abstract

Raiden has a lot of logging to aid debugging, and some of these logging calls need to format values for human consumption, e.g. checksuming addresses and converting messages to dictionaries. These operations can be cpu intensive and have a measurable impact on performance

## Motivation

If a log level is disable, e.g. DEBUG is disable because the configured level is INFO, then the co

[2019-11-07 11:40] agatsoh opened #5246 "MFEE3 scenario fails assert_pfs_history"
## Problem Definition
The mfee3 scenario fails to assert the PFS history which is at line 62 in the scenario
https://github.com/raiden-network/raiden/blob/develop/raiden/tests/scenarios/mfee3_only_imbalance_fees.yaml#L62-L67

[code]
Expected request_count 1 but got 0.

[mfee3_only_imbalance.tar.gz](https://github.com/raiden-network/raiden/files/3819381/mfee3_only_imbalance.tar.gz)

[2019-11-07 12:05] agatsoh opened #5247 "MFEE2 gets 404 while fetching a route from the PFS"
## Problem Definition
Scenario in a nutshell
node 0 => `0x8201E3878D83c44645e4317AFF3674B6773fc77e`
node 1 => `0x001026412FD1b7Af1beA06bc4649c61c19745066`
node 2 => `0x8BB8a0C187900510b259D82A4A43B13ec1a3527e`
node 3 => `0xFa1B1e5AF004dEb277296a84b9cC955f4d05Afc5`

In the scenario Log
[code]

while fetching this request the `node 0` gets `404` error from the PFS
`https://pfs-goerli-with-fee.servic

[2019-11-07 12:15] LefterisJP commented on #5219
[code]

The node addresses are:

[0] Alice   - 0x8cE96fd8241E28e075983F75E4C67D6663ed4216
[1] Bob     - 0xD0660c58b9B1aaB52b7Ea96156756AA442082f14
[2] Carol   - 0x78690120B063b234b7ed8540Afc3e948dd10B2ec
[3] Dan     - 0xB0F7eCB3DBC8474dF29e0501d576A25b71d8ED0e
[4] Erin    - 0xa26F98EF27077066Cca77cA7cA601358F55bB739

Hey @agatsoh I have a question. Is this from the SP nightly runs or is it somethi

[2019-11-07 12:17] LefterisJP commented on #5219
I wrote a question beforehand but I misread an address mapping so it's invalid, thus I deleted it.

[2019-11-07 12:28] agatsoh opened #5248 "MFEE1 scenario Node gets no route available answer from the PFS"
## Problem Definition

Scenario in a nutshell

node 0 => `0x4c26F6397eFD10C0dEf1B9969Ec83fB407fC7133`
node 1 => `0x2AC14a3F94Da8B3FEDE83c553d6B28Fb2d0ca22A`
node 2 => `0x5E2d31a49bd4e0F44D98784EDf9A1F6CD3d91D28`
node 3 => `0x5bD374500043EF4e962d8b65AF11FFC9DEc34688`

In the scenario logs we get the exception
[code]

What does the exception say:

1. Payment couldn't be completed because: there is n

[2019-11-07 13:09] Dominik1999 commented on #5227
Closed by raiden-network/raiden-installer#73

[2019-11-07 13:09] #5227 closed

[2019-11-07 13:12] Dominik1999 commented on #5242
This was caused by an error in the pfs itself. It did not start last night, see https://github.com/raiden-network/raiden-services/issues/616

Should be fixed

[2019-11-07 13:12] #5242 closed

[2019-11-07 13:47] jomuel commented on #4369
I made a follow-up PR that should cover all remaining integration tests.

Tests that were left out are:
- several tests in `test_blockchainservice.py`, `long_running/test_settlement.py`, `transfer/test_mediatedtransfer_invalid.py`, `transfer/test_refundtransfer_invalid.py`, in which the transfers are set up to not take the happy path,
- `test_integration_events.py::test_clear_close_queue`, which s

[2019-11-07 13:56] LefterisJP commented on #5219
## Explanation

All right so I kind of figured it.

There is nothing wrong with the  transfer right before the assertion:

https://github.com/raiden-network/raiden/blob/e42e1175f5089ea0f9410615c5d4dae337c68e35/raiden/tests/scenarios/bf1_basic_functionality.yaml#L224-L228

All of the 100 transfers are made fine.

And also since the assertion before closing the channel passed we know all transfers s

[2019-11-07 13:59] hackaugusto commented on #5207
Write an assumption test for batching of events:

- node1 sends two messages while node0 is offline
- node0 goes online and does a single fetch, all messages should be returned

[2019-11-07 14:06] Dominik1999 commented on #5219
nice analysis @czepluch or @christianbrb can you take over and address Lefteris' findings in the scenario somehow?

[2019-11-07 14:58] LefterisJP commented on #5184
I am picking this up.

[2019-11-07 15:41] agatsoh opened #5254 "BF1 scenario node gets No route available answer from the PFS"
## Problem Definition
Scenario in a nutshell
node 0 => `0x76F5bc06fC0b07865e04a245fC91A68D46Fb7d33`
node 1 => `0x2daE99bf7E29830AB2e529ac0A9a4aBce7e06f42`
node 2 => `0x481387D8855a1A105647348c9b9b279B80aA35AA`
node 3 => `0x444E2aCC6135Dc1e11E35f7a792c6fc3755BE40f`
node 4 => `0x549281a3a1c0de6b57933600AF1F09cD9034c597`

In the Scenario logs we get the exception here.

[code]

What does the exceptio

[2019-11-07 17:24] LefterisJP commented on #5247
This appears to be due to the same underlying issue with the PFS not running properly last night: https://github.com/raiden-network/raiden-services/issues/616

Closing this issue.

[2019-11-07 17:24] #5247 closed

[2019-11-07 17:24] LefterisJP commented on #5246
This appears to be due to the same underlying issue with the PFS not running properly last night: https://github.com/raiden-network/raiden-services/issues/616

Closing this issue.

[2019-11-07 17:24] #5246 closed

[2019-11-07 17:25] LefterisJP commented on #5254
This appears to be due to the same underlying issue with the PFS not running properly last night: https://github.com/raiden-network/raiden-services/issues/616

Closing this issue -- especially since the same scenario passed after the PFS was fixed.

[2019-11-07 17:25] #5254 closed

[2019-11-07 17:26] LefterisJP commented on #5248
This appears to be due to the same underlying issue with the PFS not running properly last night: https://github.com/raiden-network/raiden-services/issues/616

Closing this issue -- especially since the same scenario passed after the PFS was fixed.

[2019-11-07 17:26] #5248 closed

[2019-11-08 06:47] agatsoh opened #5259 "All Nodes on SP get a MatrixRequestError due to which none of the scenarios work"
## Problem Definition
A common error in all the node logs **run-xxx.stderr**
[code]

And the **node-xxx.log**
[code]
Logs of a few scenarios

[Scenario_player_Logs-mfee1_flat_fee-1-latest-2019-11-08.tar.gz](https://github.com/raiden-network/raiden/files/3823267/Scenario_player_Logs-mfee1_flat_fee-1-latest-2019-11-08.tar.gz)
[Scenario_player_Logs-pfs1_get_a_simple_path-1-latest-2019-11-08.tar.gz](h

[2019-11-08 08:03] LefterisJP commented on #5243
@agatsoh you wrote "more analysis to follow". Will you take up on that or should we schedule this issue for investigation?

[2019-11-08 10:36] #5184 closed

[2019-11-08 11:01] Dominik1999 opened #5260 "404: {"errcode":"M_NOT_FOUND","error":"Profile was not found"}"
Some Scenarios fail a traceback with
[code]

whereas the node logs show

[code]

here are some logs
- http://68.183.70.168/Scenario_player_Logs-pfs6_simple_path_rewards-1-latest-2019-11-08.tar.gz
- http://scenario-player.ci.raiden.network/Scenario_player_Logs-ms3_simple_monitoring-1-latest-2019-11-08.tar.gz
- http://scenario-player.ci.raiden.network/Scenario_player_Logs-ms2_simple_monitoring-1-lat

[2019-11-08 12:00] palango opened #5261 "BF1 fails because of presence issues"
I ran into this locally twice, @LefterisJP at least once.

The scenario fails with:

When looking at the PFS logs we see:
[code]
Only initiator and target are seen as online.

### Logs

SP logs:
[Archive 3.zip](https://github.com/raiden-network/raiden/files/3824457/Archive.3.zip)
PFS logs:
[paul.log](https://github.com/raiden-network/raiden/files/3824458/paul.log)

[2019-11-08 12:20] ulope commented on #5261
Presence state monitoring from the server's perspective:
[presence-monitoring.zip](https://github.com/raiden-network/raiden/files/3824518/presence-monitoring.zip)

[2019-11-08 14:51] hackaugusto opened #5263 "Matrix: Server selection and login should be done together"
## Abstract

Matrix becomes unresponsive if it runs out of disk. The problem is that a REST request won't fail if the it does not use storage. This means neither the [ranking function](https://github.com/raiden-network/raiden/blob/b87a348b7e9d8936e60ce42d120814287f58d3e0/raiden/network/utils.py#L106) nor the [health check](https://github.com/raiden-network/raiden/blob/b87a348b7e9d8936e60ce42d12081

[2019-11-08 15:10] ulope commented on #5263
The case we had today was out of RAM for the Postgres server, but out of disk will most likely show the same symptoms.

[2019-11-11 08:24] agatsoh opened #5264 "All Scenarios fail due to MatrixRequestError: 404 Profile was not found"
## Problem Definition
A common matrix problem affecting the raiden nodes at different point in their scenarios nonetheless this exception can be encountered in probably most of the nodes of the scenarios

[code]
The scenarios might fail at different points but generally the nodes eventually stop due to this exception
[Scenario_player_Logs-mfee4_combined_fees-1-latest-2019-11-11.tar.gz](https://git

[2019-11-11 08:59] agatsoh commented on #5264
Closing because it is duplicate of #5260

[2019-11-11 08:59] #5264 closed

[2019-11-11 09:13] rakanalh commented on #5204
Duplicate of #5219

[2019-11-11 09:13] #5204 closed

[2019-11-11 09:21] czepluch commented on #5210
Implemented, but need to discuss with @christianbrb to find out if it makes sense to merge according to the feedback on the PR

[2019-11-11 09:51] ulope commented on #5260
The error message is produced in synapse's [get_displayname](https://github.com/matrix-org/synapse/blob/782dd72037cf71fb3f9e4922b07c56df2f59de75/synapse/handlers/profile.py#L125) method.

[2019-11-11 10:15] rakanalh commented on #5261
Checking the offline nodes in presence monitoring logs posted by @ulope:

`0x32a42AF8d60Ac017dB769655d2e3559B2BA1DB14`:
[code]

`0xe10f509ad8be257E3288aD568809Cb3C09578fE2`:
[code]

`0x66246CD4098b9390EA2ac34237E8164154FCA60f`:
[code]

[2019-11-11 10:28] rakanalh commented on #5261
The following offline nodes were **tracked** by the PFS but have never been seen `reachable` by the PFS:
- `0x32a42AF8d60Ac017dB769655d2e3559B2BA1DB14`

The following offline nodes were never tracked by the PFS:
- `0xe10f509ad8be257E3288aD568809Cb3C09578fE2`
- `0x66246CD4098b9390EA2ac34237E8164154FCA60f`

[2019-11-11 10:38] rakanalh commented on #5261
For `0x32a42AF8d60Ac017dB769655d2e3559B2BA1DB14`

Searching for when `sync` was called:
[code]

Shows that the last sync was made at `10:50:25` while the channel open even seen by the PFS happened at `10:51:50` at which point, the PFS started tracking the presence of the node:
[code]
and it was found unreachable.

Although the node's last sync was at `10:50:25`, the node was actually running and t

[2019-11-11 11:02] rakanalh commented on #5261
For `0xe10f509ad8be257E3288aD568809Cb3C09578fE2`:
- Last `Sync called` log message was at: `10:50:25`
- PFS sees `ChannelOpened` at `10:51:50` and marks the node as offline
- Matrix for the node stopped at `11:07:06`

So also around 17 minutes if idle time where no calls to `sync` took place.

[2019-11-11 11:15] rakanalh commented on #5261
What kinda confirms my thesis here is the following:

https://github.com/raiden-network/raiden/blob/e7b75bc95e6c3d3b25e455bb4a84f6babff3fa8d/raiden/network/transport/matrix/client.py#L411-L426

On each `_sync` call, we wait for the previous handle_thread to finish before starting a new one. However, in the logs of the nodes provided, i can see that there is no log message that says: `Starting hand

[2019-11-11 12:28] palango commented on #5261
Nice find Rakan. Do we know what could block these calls? Is it enough to run those greenlets with some timeout?

[2019-11-11 12:29] rakanalh commented on #5261
Having a timeout means that we run multiple `handle_threads` at the same time. I don't think that's safe. I think the better solution is to find where the deadlock happens. Still trying to check where this could happen.

[2019-11-11 13:26] deepbrook opened #5267 "Config-file parsing fails on wallet address"
Given the following `docker-compose` file:
[code]
where `raidennetwork:v0.200.0-rc1` is a docker image built from the github repository at tag `v0.200.0-rc1`, using the dockerfile at https://github.com/raiden-network/raiden/blob/v0.200.0-rc1/docker/Dockerfile, using `ansible==2.8`:
[code]

Given the following config file with an invalid password file value:
[code]

Running `docker-compose up` yiel

[2019-11-11 14:24] LefterisJP opened #5270 "flaky test test_matrix_invite_private_room_happy_case during matrix setup"
## Problem Definition

It seems that the matrix setup failed at startup during a run of the test in Circle.

[code]

## Task

Possible solutions:
- Increase the matrix startup timeout to more than 10 seconds?
- Mark as hiccup in Circle and ignore.

[2019-11-11 14:34] palango commented on #5267
@nlsdfnbch I tried to reproduce this with my local installation from develop and wasn't able to get the error you see. Can you try with a nightly version instead of RC1?

[2019-11-11 15:02] palango commented on #5243
- The `MonitorRequest` was send properly
[code]

- The logs for MS and MSRC are lost, so I cannot debug this further.

[2019-11-11 15:03] #5243 closed

[2019-11-11 15:11] palango commented on #5243
For context: We cannot debug this further right now, if it happens again we can reopen.

[2019-11-12 07:18] nlsdfnbch commented on #5267
After further investiagtion, this appears to be related to misconfiguration. In my case, the password file did not exist. I have updated the expected result accordingly.

[2019-11-12 07:23] agatsoh opened #5274 "Most scenarios fail: No route available message from PFS"
## Problem Definition

A common message across most of the scenarios failures for today in both the scenarios and the node logs is
`{\"errors\": \"Payment couldn't be completed because: there is no route available\"}"}`

Usually occurs during a transfer task we will take the example of mfee1 scenario
Scenario in a nutshell

node 0 => `0xBd5BD6FA71d704C13092fCC41E9CbBf7d28FbfaA`
node 1 => `0x7bdE0d

[2019-11-12 08:46] Dominik1999 commented on #5274
nice thank you for the structured issue @agatsoh

[2019-11-12 10:08] #4369 closed

[2019-11-12 10:09] jomuel commented on #4803
Currently skipped again (PR #5231)

[2019-11-12 10:39] #5237 closed

[2019-11-12 11:11] LefterisJP commented on #5274
I think the reason is similar to https://github.com/raiden-network/raiden/issues/5261

Taking the bf1 scenario fail for example:

[code]

Node3 `"0x06Aff5478bcE325f90b574491548cb47E617708A"` is asking for a path to Node0 `"0x8C5Ed9DDdffC327E439C99787577850548FF50EC"` and the PFS says no route could be found.

Looking at the PFS logs of the same time

[code]

4 seconds before the request is made th

[2019-11-12 11:14] ulope commented on #5274
`UNAVAILABLE` is not `OFFLINE` and is still `REACHABLE`

[2019-11-12 11:17] LefterisJP commented on #5274
Okay my wording was bad since I am not familiar with the matrix lingo. The logs I quoted  above actually say `UNREACHABLE`

[code]

[2019-11-12 11:34] czepluch commented on #5219
I'd suggest to just move the close and settle of the channel [0, 4] to after the last balance assert. Currently I am just struggling to run scenarios locally, so can't verify that it still works this way.

[2019-11-12 11:41] agatsoh opened #5276 "MS2 Scenario fails in Transfertask due to error in Rest API call"
Scenario in a nutshell
node 0 => `0xE65b1a139BEF20d08F240a9EE53612beaF91C23d`
node 1 => `0x646a302dA255533e8A8C593c5476a6b8bc8bbcFC`

[code]

[code]

The exception there is an error performing the rest api call:
`Error performing REST-API call: transfer`

The underlying error can be checked in the node 0 logs here:

[code]
The greenlet that is spawned for the particular task
`GMatrixClient.listen_

[2019-11-12 12:36] palango commented on #5236
The synapse logs for 6th November for transport 01 and 02:
[tp1_synapse_19_11_06.log](https://github.com/raiden-network/raiden/files/3836127/tp1_synapse_19_11_06.log)
[tp2_synapse_19_11_06.log](https://github.com/raiden-network/raiden/files/3836128/tp2_synapse_19_11_06.log)

[2019-11-12 13:15] hackaugusto opened #5277 "Remove Semaphore from `GMatrixHttpApi`"
## Abstract

The Semaphore's used in the GMatrixAPI are not playing any useful role:

https://github.com/raiden-network/raiden/blob/ce7cc43c5e2b0b29b9bda4d3264f42f3ba90a622/raiden/network/transport/matrix/client.py#L144-L151

It is still possible to have throttling problems, these semaphores are just adding another place were this logic has to be checked (duplicating the throttling responsibility

[2019-11-12 14:03] hackaugusto commented on #4803
https://circleci.com/gh/raiden-network/raiden/89533#tests/containers/11

[2019-11-12 14:04] palango commented on #5236
I looked through the synchrotron logs and found this. It seems like the last `sync` request was made at **10:50** before the payment started, and then again at **11:13**. This would mean there was no request for 21mins.

[code]

[2019-11-12 15:25] rakanalh commented on #5274
This is probably a duplicate of #5261

[2019-11-12 16:33] palango commented on #5236
I ran the same scenario again on top of https://github.com/raiden-network/raiden/pull/5273 and this fixes the delay at the first sync.

[2019-11-13 08:18] nlsdfnbch opened #5281 "Supply /status endpoint to allow querying status of node"
## Abstract
During startup of a raiden node, there currently is no way to tell if the API is working but still starting up, or broken and not accepting connections.

Currently, we must query the API until a connection is accepted, to know whether or not the API
is up and running, and there is no distinction between the API still starting up and the node being broken.

## Proposed Feature
Supply a

[2019-11-13 15:27] LefterisJP commented on #5274
I will close this as duplicate since both @rakanalh and I agree on this.

[2019-11-13 15:27] #5274 closed

[2019-11-14 07:39] LefterisJP commented on #3341
I don't think this is anything we need to spend time on right now. And in the interest of consolidating our testing plan I would say this should be closed.

[2019-11-14 07:41] LefterisJP commented on #3342
I don't think this is anything we need to spend time on right now. And in the interest of consolidating our testing plan I would say this should be closed.

[2019-11-14 08:06] LefterisJP commented on #3346
This has been done for some fixtures. It personally did not help me much and I would not push for enforcing this further. To help in consolidating our testing plan I would close this issue.

[2019-11-14 08:15] christianbrb commented on #5178
@palango This seems to be not testable with the scenario player. I would close this. Is it ok for you? I am asking because it would be an integration test between the services and the client.

[2019-11-14 09:22] palango opened #5285 "Presence issue in BF1"
I ran the BF1 scenario on latest develop yesterday (2b6bcc233b5312788878e0d10f842ca425bb129b)

### Biggest difference between sync calls
`2019-11-13 16:50:35.618260 | 2019-11-13 16:50:55.791961 | 0:00:20.173701`

The `sync` calls now happen with a maximum difference of 20 seconds.

### Presence issues
However the PFS still has wrong presence information for the nodes:

[code]

### Logs

[Archive 4

[2019-11-14 09:26] #5260 closed

[2019-11-14 09:38] hackaugusto commented on #5261
#5273 fixed this problem, @rakanalh hypothesis was correct. This is what happened:

1. Matrix logged in
1. An initial sync was done, this fetched the inventory rooms, but no messages.
1. The sync thread was started.
   - It did the first sync call
   - It did the second sync call

The `sync` from step `2` was fast because the users from the broadcast room were not fetched. The first call to sync f

[2019-11-14 10:47] LefterisJP commented on #3345
I would suggest we schedule this issue in the interest of better understanding of what each of the integration tests do. Furthermore we should make it a rule for integration tests to have such a docstring.

[2019-11-14 10:52] hackaugusto commented on #5285
This is the request:
[code]
It was requested twice, and it failed at these times:
[code]
This is the first time the initiator becomes available to the PFS just after the PFS sees the channel open event:
[code]
And it goes offline at this time:
[code]
3 minutes before the first request.

[2019-11-14 10:57] LefterisJP commented on #3347
I am torn about this.

I don't see the benefit of implementing the original issue suggestion when compared with the amount of work it would take.

Doing what Augusto suggested above at least has a clear goal: **make integration test runs faster**. We don't need integration tests to have a clean slate each time. The scenario player already does that so we could go with the suggestion.

I would cons

[2019-11-14 10:59] LefterisJP commented on #3348
I would just close this issue with the advice of: "Try to keep tests small".

[2019-11-14 11:05] LefterisJP commented on #3351
I think there is an overlap between this issue and [this](https://github.com/raiden-network/raiden/issues/3347#issuecomment-458680220).

I would just keep one of them with the goal of "making integration tests faster". And also wonder whether we need them to be faster (with Circle's 11 mins).

[2019-11-14 11:09] LefterisJP commented on #3352
I would close this. Can't avoid the unused argument warning with fixtures as arguments.

[2019-11-14 11:10] LefterisJP commented on #3355
I would put this up for discussion in the team. My one remark is that whatever rule we set we should make sure that it's CI and linting enforceable.

[2019-11-14 11:39] jomuel commented on #4013
In the current fuzz test (`raiden.tests.fuzz.test_state_changes`), we use a single state machine instance and hand-craft messages/events for it. Using multiple state machine instances is a better approach, it will make the test both more realistic and easier to write. Let's rewrite the fuzz test accordingly before adding the remaining rules and use this issue to track it.

Issues for remaining rul

[2019-11-14 11:39] #5208 closed

[2019-11-14 12:01] LefterisJP commented on #3938
I don't think this is needed and I would close this issue. Looking at the module's coverage: https://codecov.io/gh/raiden-network/raiden/src/master/raiden/network/rpc/smartcontract_proxy.py

one function is unused: https://github.com/raiden-network/raiden/pull/5288

The rest are edge cases that are not really needed to test and would be results of incorrect usage of the initialization of the class

[2019-11-14 12:03] LefterisJP commented on #3937
This is already at 100%: https://codecov.io/gh/raiden-network/raiden/src/develop/raiden/network/rpc/middleware.py

[2019-11-14 12:03] #3937 closed

[2019-11-14 12:32] LefterisJP commented on #3935
The class has been moved around and is now the `ProxyManager`: https://codecov.io/gh/raiden-network/raiden/src/develop/raiden/network/proxies/proxy_manager.py

With https://github.com/raiden-network/raiden/pull/5289 I am removing dead code so the coverage will increase.

Looking at the remaining lines that are not covered they seem to be edge cases of invalid input and invalid usage which I don't

[2019-11-14 12:37] LefterisJP commented on #3924
This is already at 91% as of today: https://codecov.io/gh/raiden-network/raiden/src/develop/raiden/utils/runnable.py

[2019-11-14 12:37] #3924 closed

[2019-11-14 13:01] LefterisJP commented on #3905
This is not needed. Looking at https://codecov.io/gh/raiden-network/raiden/src/develop/raiden/api/objects.py it's just some marshmallow setup code

[2019-11-14 13:12] LefterisJP commented on #3886
This is almost not unit tested at all while it should be. As of this comment the coverage is even worse! It has dropped to ~42%.

[2019-11-14 13:13] LefterisJP commented on #3885
The solc functionality along with this file was removed from the repo.

[2019-11-14 13:13] #3885 closed

[2019-11-14 13:14] LefterisJP commented on #3882
Only some edge cases remain but they should be tested.

[2019-11-14 13:18] LefterisJP commented on #4477
Has this fixture setup error been seen again recently? If not can it be closed? The mentioned tests are not skipped.

[2019-11-14 13:20] LefterisJP commented on #4524
Hey @jomuel I do not understand the point of this issue. Can you maybe explain in a bit more detail?

Why would raiden transfers have to wait for blocks?

[2019-11-14 13:21] karlb commented on #4477
Let's close it until it is seen again.

[2019-11-14 13:21] #4477 closed

[2019-11-14 13:24] LefterisJP commented on #4568
This was fixed with: https://github.com/raiden-network/raiden/commit/b8a78fd3ca428abeab522c59dd3ca5370dd70c12

It has not been flaky since afaik.

[2019-11-14 13:24] #4568 closed

[2019-11-14 13:25] jomuel commented on #4524
If I recall correctly, the point was to set the transfer's expiration as timeout, so the test would not fail because of a transfer taking longer.

[2019-11-14 13:26] LefterisJP commented on #4605
@Dominik1999 @ulope after switching to synapse 1.0 has this flakiness been observed in the wild again? If not I would close this issue.

[2019-11-14 13:35] LefterisJP commented on #4804
duplicate of: https://github.com/raiden-network/raiden/issues/4694

[2019-11-14 13:35] #4804 closed

[2019-11-14 13:36] LefterisJP commented on #4638
The test has not failed since and is not skipped. You already theorized it may be due to #4642. Can we maybe close this issue since it seems to overlap with #4642?

[2019-11-14 13:48] Dominik1999 commented on #4605
I don't know. Good point, do we still have disabled integration tests because of flakiness?

[2019-11-14 13:52] jomuel commented on #5259
Closing this as it is obviously caused by a known and fixed issue.

All the given scenario runs are from the 8th of November, when there was trouble with the transport due to the now reverted/fixed #5225. A look into the logs confirms that every single request to the matrix servers resulted in a `MatrixRequestError`. All scenarios except for bf1 failed during node startup sync already, bf1 immedia

[2019-11-14 13:52] #5259 closed

[2019-11-14 13:56] LefterisJP commented on #4761
The test is not skipped and it seems to have been a timeout issue during setup. It is probably related to #4638 and #4642.

In the interest of not having open flaky issues that will be forgotten I would like to close this and focus on the action item from #4642.

[2019-11-14 13:58] LefterisJP commented on #4803
This is one of our most complicated and complete integration tests. It is currently skipped. No wonder we find problems only during the SP run.

[2019-11-14 14:06] LefterisJP commented on #5176
Hmm @hackaugusto the linked container shows `test_regression_payment_complete_after_refund_to_the_initiator[matrix-False-0-5] ` as having failed and not `test_matrix_discovery_room_offline_server`.

The failure seems to be `RuntimeError: dictionary changed size during iteration`

And the build seems to have had been canceled. Which test was the issue made for? How would you like to proceed?

1. Sk

[2019-11-14 14:10] LefterisJP commented on #5195
As per our flaky test workflow I skipped it as flaky with: https://github.com/raiden-network/raiden/issues/5195

[2019-11-14 14:25] LefterisJP opened #5292 "Fix and unskip test_try_secret_request_after_settle_channel"
Test is currently skipped but no reason is given:

https://github.com/raiden-network/raiden/blob/dca2128d6f8dca116bd4987cc9d71c6b875dff52/raiden/tests/fuzz/test_state_changes.py#L721-L732

Running it locally this is how the failure looks like:

[code]

[2019-11-14 14:33] LefterisJP commented on #4605
This test was never skipped afaik.

[2019-11-14 14:34] LefterisJP commented on #4524
Aha all right that makes sense.

[2019-11-14 14:39] LefterisJP commented on #5260
Why was this closed? How was it solved?

[2019-11-14 15:03] #5219 closed

[2019-11-14 20:47] #3888 closed

[2019-11-14 20:48] #3939 closed

[2019-11-14 23:15] palango commented on #5236
Fixed by #5273

[2019-11-14 23:15] #5236 closed

[2019-11-15 11:02] nlsdfnbch opened #5295 "Raiden Images contain outdated versions for `nightly`/`develop` tags."
Pulling the `nightly`/`develop` tag from `docker.io/raidennetwork/raiden` yields an outdated raiden version.

Logs
-------
[code]

[code]

These versions should be built from the latest commit on the `develop` branch of the github repository, which is [currently](https://github.com/raiden-network/raiden/blob/eb173064c8acd81e2b1b4999e4656bb8cd8a154b/setup.py#L60) at `v0.200.0rc1` and some commits.

[2019-11-15 11:54] nlsdfnbch commented on #5295
After some RC pingpong with @kelsos and @LefterisJP , it appears like the Dockerfile does not pull the latest tags for the repository, as the commit sha seems to be pointing to the latest `develop` commit, making this bug a cosmetical one.

The reason the tags are required is that the versioning during the `make install` command depend on the git tags, instead of a version constant.

I'm unassigni

[2019-11-15 12:22] czepluch opened #5297 "Add scenario for joining and leaving a network"
### Introduction
When going over the "old scenarios", we've found out that we are currently not testing `join_network` and `leave_network`. Therefore we need a new scenario that tests these two functionalities thoroughly.

### Description
Setup a topology [0, 1] and deposit in each direction.
Node2 calls `join_network` and should then open channels with node0 and node1.
Assert that channels are op

[2019-11-15 12:25] LefterisJP commented on #5295
I will have a look. It may not be from the tags.

[2019-11-15 14:11] LefterisJP commented on #5295
All right figured it out. It's the tags but also the commit we tagged as `v0.200.0-rc1`.

We currently use [setuptools_scm](https://pypi.org/project/setuptools-scm/) in order to determine the current raiden version. What is returned from `raiden version` is the same as `python setup.py --version`.
The rules are the following (taken from above link):

![2019-11-15-150647_791x607_scrot](https://user

[2019-11-15 14:54] Dominik1999 opened #5301 "Add testing information to Alderaan Release Doc p.23 and p.24"
We need some details for the section about testing in the Raiden Client in the Alderaan Release Doc.

https://docs.google.com/document/d/1l0N6UpkD-ctK3lfx31Pa9s6IfnWaufP6i-KXx_2flBc/edit#

Please add the missing information on pages 23 / 24.

As an example, please see the section about testing for the Raiden Services p. 25f

[2019-11-15 15:53] LefterisJP commented on #5295
Merging master into develop via a PR does not seem to work. The only way is to do the merge locally and push. But we are blocked by the branch protection.

We probably need to:

1. Remove the branch protection, push the “merging master to develop” develop and then reinstate it. This seems to be the only way to fix the wrong versions at the moment.

2. Additionally we will need to rethink this proc

[2019-11-15 16:26] Dominik1999 commented on #5295
Is this blocking our scenario runs? if so, is there a quickfix before the weekend?

[2019-11-15 16:30] LefterisJP commented on #5295
The quick fix is for me to do (1) but I want feedback on it. It's a bit heavy handed.

But I don't see why this would block the scenario runs since we have had this problem since the release was made. It's not new. I just realized it today thanks to this issue.

[2019-11-15 21:39] LefterisJP commented on #5301
Done.

[2019-11-15 21:39] #5301 closed

[2019-11-18 10:10] Dominik1999 commented on #5210
How can I help here? @christianbrb

[2019-11-18 11:10] palango opened #5303 "Update transport addresses"
The transport repository was renamed to the service bundle repository, so we need to change the urls to get the transport servers as well:
https://github.com/raiden-network/raiden/blob/88664b202291c4d594e7cebf55d91cd8f41cf862/raiden/settings.py#L28-L37

Blocked by https://github.com/raiden-network/raiden-service-bundle/issues/49

[2019-11-18 11:18] LefterisJP opened #5304 "Make sure that all tests of PR 5256 are reflected in our test suite"
Make sure that all tests that were added to the scenario of PR: https://github.com/raiden-network/raiden/pull/5256 are covered by our unit/integration test suite.

For the cases that are not covered add new tests.

[2019-11-18 16:22] rakanalh opened #5306 "Flaky test_fee_add_remove_invariant"
In my PR: https://github.com/raiden-network/raiden/pull/5278

`test_fee_add_remove_invariant` failed with the following message:

[code]
- Failing Build: https://circleci.com/gh/raiden-network/raiden/90889

- Running the test locally, it passed.
- Restarted the [build from failed](https://circleci.com/gh/raiden-network/raiden/90892): it passed

[2019-11-18 16:32] jomuel commented on #5292
I suggest to remove this test. It has been skipped since it was first commited, and the commit message gives no reason for it either. It was obviously just for getting something in the `InitiatorMixin` class right (the class now makes sure the channel is still open before it tries to do a `SecretRequest`)

The `TypeError` happens because the return type of `ChainStateStateMachine.initialize()` has

[2019-11-18 17:05] ulope opened #5308 "Prevent the transport from being spammed / DoSed"
## Abstract

With #5278 the condition that prevented accepting room invites from unknown peers was removed to allow room creation to happen earlier.

This check was in place to prevent a node from being spammed / DoSed by a rogue node.

A new mechanism needs to be implemented that prevents those attacks.

## Specification

The naive approach would be to ignore messages in rooms with unknown peers.

[2019-11-18 17:06] Dominik1999 opened #5309 "Payment couldn't be completed because: none of the available routes could be used"
I ran bf1 on top of Rakan's PR https://github.com/raiden-network/raiden/pull/5278

I changed bf1 like
[code]

So we use every transport server and increased the timeouts, see above.
It failed it the first transfer of this block https://github.com/raiden-network/raiden/blob/a220f4a59604d55c6095186b0d739f3cf1e93777/raiden/tests/scenarios/bf1_basic_functionality.yaml#L103

[code]

Here are all the lo

[2019-11-18 17:09] Dominik1999 opened #5310 "Outcome Matrix Focus Group - Remerge Services Rooms"
At the moment, there is no need for the PFS rooms to be global across all servers. The raiden nodes are not supposed to read those messages at all anyway and the PFS joins each room on every server.

We want to remerge all rooms into one. Hypothesis: This causes the problem of #5311

We want to do that now.

[2019-11-18 17:12] Dominik1999 opened #5311 "Outcome Matrix Focus Group - PFS doesn't get user directory"
Currently, the PFS (görli-with-fee) is on transport04 and doesn't see users on transport02.

@hackaugusto can you elaborate on that problem if needed

[2019-11-18 17:12] ulope commented on #5310
Doing it

[2019-11-18 17:21] Dominik1999 opened #5312 "Outcome Matrix Focus Group - Decrease reveal timeout in integration tests"
I did not really understand what @rakanalh wants to do, but here is an issue as a reminder

Please don't forget the label the issues

[2019-11-18 17:34] ulope commented on #5310
Done. Now there can only be one (room) again.

[2019-11-18 17:35] Dominik1999 commented on #5310
ok so should we restart the services? Or do we remove some code from the services before that?

[2019-11-18 17:36] ulope commented on #5310
Paul said receiving messages multiple times shouldn't hurt. So a restart should be enough for now.

[2019-11-19 10:40] LefterisJP commented on #5295
Okay so after thinking on this the way we make releases from develop is currently broken. At the moment when we make a normal release we merge develop into master and then tag the merge commit in master.

For nightly releases we make a release from develop. That means that it is always going to be missing the last tag as seen in this issue.

The suggested solution would be to also tag develop befo

[2019-11-19 11:35] ulope commented on #5285
Post-mortem:

- Presence updates were flaky
  - Some old and new bugs / changes in the transport caused delays in calling `/sync` which lead to nodes being considered offline by the servers
  - After fixing those problems presence was still flaky
    - Some nodes reverted to offline state even though they were regularly calling `/sync`.
    - Presence monitoring showed inconsistent presence state

[2019-11-19 14:33] #5292 closed

[2019-11-19 15:55] jomuel commented on #4803
This is a performance issue: The reason for the test failures are expired transfers. As a quick fix, we will try to relax the `reveal_timeout` parameter. In the long run, it may make sense to treat this test differently, as it is a stress test under very unrealistic circumstances (very short block time, multiple nodes plus synapse server and eth node running on the same machine, with in-memory dat

[2019-11-19 16:26] ulope commented on #3940
This is now obsolete since room creation is happening server side.

See raiden-network/raiden-service-bundle#47

[2019-11-19 16:26] #3940 closed

[2019-11-19 19:11] LefterisJP commented on #4803
As discussed over RC increasing timeouts or block times is not a proper solution as it would just circumvent and possibly hide the problem.

Seeing as the stress test used to pass for the same settings some time in the past we have to actually investigate what changed and what has slowed the transfers down that much.

[2019-11-20 07:37] rakanalh commented on #5312
Increasing reveal timeout was reverted in the same PR that introduced it.

[2019-11-20 07:37] #5312 closed

[2019-11-20 07:56] Dominik1999 commented on #5311
closed by https://github.com/raiden-network/raiden/issues/5285#issuecomment-555468428

[2019-11-20 07:56] #5311 closed

[2019-11-20 07:56] #5310 closed

[2019-11-20 08:28] nlsdfnbch opened #5323 "Installing Raiden w/ other packages breaks raiden executable."
For our nightliy scenario runs, it's important to install the latest `raiden` version.
On top of this, we install our scenario-player package.

We do this using a dockerfile which looks like this:
[code]

the folders `/raiden-upstream` and `/scenario-player` are git repositories which are updated like so before building the image:

[code]

This has been working until yesterday, when `raiden` start

[2019-11-20 09:36] #5285 closed

[2019-11-20 09:38] #5261 closed

[2019-11-20 09:54] ulope commented on #5295
Doesn't look like master was merged back into develop:

![Screenshot 2019-11-20 at 10 51 57](https://user-images.githubusercontent.com/55078/69228591-1ee2f380-0b84-11ea-92c7-ac4e22d10036.png)

[2019-11-20 10:47] LefterisJP commented on #5295
Then we need to find a suffix combination that works. Perhaps reverse rc and dev in our tags?

@ulope I think a PR to do so was made but closed: https://github.com/raiden-network/raiden/pull/5037

5 days ago I tried to do the same thing but it was a no-op: https://github.com/raiden-network/raiden/pull/5300

It seems merging master to develop via a PR does not work. It would have to be done manuall

[2019-11-20 10:49] ulope commented on #5295
@karlb Do you remember if you used "merge" or "rebase" when merging that PR?

Hm wait, didn't we even disable merge commits in the settings?

[2019-11-20 10:54] karlb commented on #5295
I used the default action. That should have been rebase, but I don't explicitly remember that.

[2019-11-20 10:57] ulope commented on #5295
Yes we did disable merge commits: ![](https://ds.ulo.pe/QHjNc0ECd2.png)
That's the problem. Rebase changes the commit ids therefore tags don't "come across".

[2019-11-20 10:57] LefterisJP commented on #5295
It must have been a rebase. All other options are disabled from the settings. That may explain it then.

[2019-11-20 10:58] LefterisJP commented on #5295
So the solution here would be to allow merge commits and ask for discipline from the team to choose the correct option? And then use a proper merge for merging master back into develop?

[2019-11-20 11:24] czepluch opened #5324 "Add scenario for stressing a hub node"
### Introduction
As part of https://github.com/raiden-network/team/issues/664 it was discovered that we need to have the https://github.com/raiden-network/raiden/blob/develop/raiden/tests/scenarios/ci/Scenario-Stress-Hub.yaml scenario updated to be run as part of the nigthly scenarios. This is done to make sure that nodes are able to handle high loads.

### Description
It should suffice to adjust

[2019-11-20 11:30] czepluch opened #5325 "Add scenario for testing long paths"
### Introduction
As part of raiden-network/team#664 it was discovered that we need to have the https://github.com/raiden-network/raiden/blob/develop/raiden/tests/scenarios/ci/long_path_mediated_transfers.yaml scenario updated to be run as part of the nigthly scenarios. This is done to make sure that transfers go through in cases where there are very long paths in the network topology.

### Descrip

[2019-11-20 11:34] #5304 closed

[2019-11-20 11:58] rakanalh commented on #5309
- The PFS did return a single route
- Raiden filtered out this route because:

[code]

[2019-11-20 12:01] rakanalh commented on #5309
This happens because the scenario had 3 params:
- default channel reveal timeout
- default channel settle timeout
- lock timeout parameter sent along with the transfer request

@Dominik1999 you changed the values to 40/80 for reveal & settle timeout respectively but did not also increase the lock timeout value for the transfers.

[2019-11-20 12:01] #5309 closed

[2019-11-20 12:08] Dominik1999 commented on #5309
ok makes sense thanks for the quick look

[2019-11-20 12:10] Dominik1999 opened #5326 "Copy Raiden Issue Labels to raiden-services repo"
As discussed with Jacob, we need the same labels for issues in the raiden-services repo that we have in the raiden repo.

Thanks!

[2019-11-20 12:13] LefterisJP opened #5327 "Shutting down Raiden throws a runnable related exception"
## Problem Definition

Shutting down Raiden after https://github.com/raiden-network/raiden/pull/5322/files seems to throw a `Runnable` related `AttributeErrror`.

[code]

That's since we are passing a non-real `greenlet` to `gevent.joinall()` and it fails inside
`_hub_primitives.py`:

[code]

## Task

We can simply add a no-op implementation of `rawlink()` so that the `Runnable` implementation adh

[2019-11-20 13:33] hackaugusto opened #5331 "Mediator should use `filter_used_routes`"
## Description

Commit d6269e48df31d4032cf1221657efd776e1da36d6 removed the call to `filter_used_routes`, that should be reintroduced and tested.

[2019-11-20 13:37] #5190 closed

[2019-11-20 14:54] #5050 closed

[2019-11-20 14:58] #5327 closed

[2019-11-20 15:33] #5303 closed

[2019-11-20 16:26] ulope commented on #5295
@konradkonrad and I just went through something very similar in the raiden-service-bundle repo.

Seems like even a merge commit is taking the tags along. Needs some more looking into.

[2019-11-20 16:35] LefterisJP commented on #5295
Perhaps the solution I suggested [above](https://github.com/raiden-network/raiden/issues/5295#issuecomment-555446320) but with more well thought out suffixes?

[2019-11-20 16:59] jomuel opened #5334 "watch_for_unlock_failures is too slow"
A profiling of some flaky integration tests show that they spend way too much time in the `watch_for_unlock_failures` context manager.

Proposed fix: Rather than recovering every event from the database, patch the WAL and count events as they happen.

Related issue: #4803 (Although there will be more problems with the stress test)

[2019-11-20 17:46] ulope commented on #5295
I would consider that a last resort.
A tag should uniquely identify a specific version of the code. The branch shouldn't matter.